/*---
id: commerce-interface-map-14-19
name: Commerce Interface Map 14-19
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 14
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 14-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #2f3237ff;
--bg-elevated: #4a4d59ff;
--bg-overlay: #646e7dff;
--border-subtle: #80899dff;
--border-strong: #a2a7b9ff;
--text-muted: #c4c8d4ff;
--text-base: #e7e9eeff;
--primary: #295099ff;
--primary-hover: #7827c4ff;
--secondary: #31e39aff;
--secondary-hover: #f0be4cff;
--accent: #df8d86ff;
--accent-soft: #2077a2ff;

/* CSS HSL */
--bg-canvas: hsla(213, 6%, 8%, 1);
--bg-surface: hsla(216, 8%, 20%, 1);
--bg-elevated: hsla(228, 9%, 32%, 1);
--bg-overlay: hsla(214, 11%, 44%, 1);
--border-subtle: hsla(222, 13%, 56%, 1);
--border-strong: hsla(227, 15%, 68%, 1);
--text-muted: hsla(224, 16%, 80%, 1);
--text-base: hsla(225, 18%, 92%, 1);
--primary: hsla(219, 58%, 38%, 1);
--primary-hover: hsla(271, 67%, 46%, 1);
--secondary: hsla(155, 76%, 54%, 1);
--secondary-hover: hsla(42, 85%, 62%, 1);
--accent: hsla(4, 58%, 70%, 1);
--accent-soft: hsla(200, 67%, 38%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #2f3237ff;
$bg-elevated: #4a4d59ff;
$bg-overlay: #646e7dff;
$border-subtle: #80899dff;
$border-strong: #a2a7b9ff;
$text-muted: #c4c8d4ff;
$text-base: #e7e9eeff;
$primary: #295099ff;
$primary-hover: #7827c4ff;
$secondary: #31e39aff;
$secondary-hover: #f0be4cff;
$accent: #df8d86ff;
$accent-soft: #2077a2ff;

/* SCSS HSL */
$bg-canvas: hsla(213, 6%, 8%, 1);
$bg-surface: hsla(216, 8%, 20%, 1);
$bg-elevated: hsla(228, 9%, 32%, 1);
$bg-overlay: hsla(214, 11%, 44%, 1);
$border-subtle: hsla(222, 13%, 56%, 1);
$border-strong: hsla(227, 15%, 68%, 1);
$text-muted: hsla(224, 16%, 80%, 1);
$text-base: hsla(225, 18%, 92%, 1);
$primary: hsla(219, 58%, 38%, 1);
$primary-hover: hsla(271, 67%, 46%, 1);
$secondary: hsla(155, 76%, 54%, 1);
$secondary-hover: hsla(42, 85%, 62%, 1);
$accent: hsla(4, 58%, 70%, 1);
$accent-soft: hsla(200, 67%, 38%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(47, 50, 55, 1);
$bg-elevated: rgba(74, 77, 89, 1);
$bg-overlay: rgba(100, 110, 125, 1);
$border-subtle: rgba(128, 137, 157, 1);
$border-strong: rgba(162, 167, 185, 1);
$text-muted: rgba(196, 200, 212, 1);
$text-base: rgba(231, 233, 238, 1);
$primary: rgba(41, 80, 153, 1);
$primary-hover: rgba(120, 39, 196, 1);
$secondary: rgba(49, 227, 154, 1);
$secondary-hover: rgba(240, 190, 76, 1);
$accent: rgba(223, 141, 134, 1);
$accent-soft: rgba(32, 119, 162, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-right: linear-gradient(90deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-left: linear-gradient(270deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);
$gradient-radial: radial-gradient(#131416ff, #2f3237ff, #4a4d59ff, #646e7dff, #80899dff, #a2a7b9ff, #c4c8d4ff, #e7e9eeff, #295099ff, #7827c4ff, #31e39aff, #f0be4cff, #df8d86ff, #2077a2ff);

/* SCSS Map */
$commerce-interface-map-14-19-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #2f3237ff,
    "bg-elevated": #4a4d59ff,
    "bg-overlay": #646e7dff,
    "border-subtle": #80899dff,
    "border-strong": #a2a7b9ff,
    "text-muted": #c4c8d4ff,
    "text-base": #e7e9eeff,
    "primary": #295099ff,
    "primary-hover": #7827c4ff,
    "secondary": #31e39aff,
    "secondary-hover": #f0be4cff,
    "accent": #df8d86ff,
    "accent-soft": #2077a2ff
);
