/*---
id: deep-river-843
name: Deep River
author: JaZeR-444
version: 1.0.0
category: Fantasy & Sci-Fi
count: 28
tags:
  mood:
  - muted
  - synthetic
  aesthetic:
  - Modern
  - Synthwave
  - Fantasy
intent: A vibrant 28-color palette inspired by Deep River 843.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/563317-513c18-634e19-73591f-774e1f-7b5e19-866e18-726b18-967819-a18b22
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--classic-beige: #563317ff;
--gold-ash: #513c18ff;
--light-red: #634e19ff;
--apricot-nebula: #73591fff;
--radiant-emerald: #774e1fff;
--orange-sands: #7b5e19ff;
--emerald-canyon: #866e18ff;
--future-amber: #726b18ff;
--apricot-sun: #967819ff;
--scarlet-nebula: #a18b22ff;
--oceanic-gray: #98a117ff;
--autumn-emerald: #8e931bff;
--royal-pink: #8b921bff;
--dark-lime: #b1b218ff;
--deep-purple: #9ba018ff;
--maroon-moon: #d2d819ff;
--deep-platinum: #96af18ff;
--peach-adventure: #8ddf1bff;
--industrial-gold: #77c712ff;
--vintage-apricot: #90da17ff;
--tan-wood: #78f313ff;
--lilac-planet: #99de0dff;
--retro-lime: #aff629ff;
--future-purple: #83f91aff;
--classic-cream: #52fb0dff;
--teal-river: #5df41bff;
--gold-twilight: #55fc2fff;
--neon-apricot: #5df933ff;

/* CSS HSL */
--classic-beige: hsla(26, 57%, 22%, 1);
--gold-ash: hsla(38, 54%, 21%, 1);
--light-red: hsla(43, 59%, 25%, 1);
--apricot-nebula: hsla(41, 57%, 29%, 1);
--radiant-emerald: hsla(32, 58%, 30%, 1);
--orange-sands: hsla(42, 66%, 29%, 1);
--emerald-canyon: hsla(47, 69%, 31%, 1);
--future-amber: hsla(55, 65%, 27%, 1);
--apricot-sun: hsla(45, 71%, 35%, 1);
--scarlet-nebula: hsla(50, 65%, 38%, 1);
--oceanic-gray: hsla(64, 75%, 36%, 1);
--autumn-emerald: hsla(62, 68%, 34%, 1);
--royal-pink: hsla(64, 69%, 34%, 1);
--dark-lime: hsla(60, 76%, 40%, 1);
--deep-purple: hsla(63, 73%, 36%, 1);
--maroon-moon: hsla(62, 79%, 47%, 1);
--deep-platinum: hsla(70, 75%, 39%, 1);
--peach-adventure: hsla(85, 78%, 49%, 1);
--industrial-gold: hsla(86, 83%, 43%, 1);
--vintage-apricot: hsla(83, 81%, 47%, 1);
--tan-wood: hsla(93, 91%, 52%, 1);
--lilac-planet: hsla(80, 89%, 46%, 1);
--retro-lime: hsla(81, 92%, 56%, 1);
--future-purple: hsla(92, 95%, 54%, 1);
--classic-cream: hsla(103, 97%, 52%, 1);
--teal-river: hsla(102, 91%, 53%, 1);
--gold-twilight: hsla(109, 98%, 59%, 1);
--neon-apricot: hsla(107, 95%, 59%, 1);
}

/* SCSS HEX */
$classic-beige: #563317ff;
$gold-ash: #513c18ff;
$light-red: #634e19ff;
$apricot-nebula: #73591fff;
$radiant-emerald: #774e1fff;
$orange-sands: #7b5e19ff;
$emerald-canyon: #866e18ff;
$future-amber: #726b18ff;
$apricot-sun: #967819ff;
$scarlet-nebula: #a18b22ff;
$oceanic-gray: #98a117ff;
$autumn-emerald: #8e931bff;
$royal-pink: #8b921bff;
$dark-lime: #b1b218ff;
$deep-purple: #9ba018ff;
$maroon-moon: #d2d819ff;
$deep-platinum: #96af18ff;
$peach-adventure: #8ddf1bff;
$industrial-gold: #77c712ff;
$vintage-apricot: #90da17ff;
$tan-wood: #78f313ff;
$lilac-planet: #99de0dff;
$retro-lime: #aff629ff;
$future-purple: #83f91aff;
$classic-cream: #52fb0dff;
$teal-river: #5df41bff;
$gold-twilight: #55fc2fff;
$neon-apricot: #5df933ff;

/* SCSS HSL */
$classic-beige: hsla(26, 57%, 22%, 1);
$gold-ash: hsla(38, 54%, 21%, 1);
$light-red: hsla(43, 59%, 25%, 1);
$apricot-nebula: hsla(41, 57%, 29%, 1);
$radiant-emerald: hsla(32, 58%, 30%, 1);
$orange-sands: hsla(42, 66%, 29%, 1);
$emerald-canyon: hsla(47, 69%, 31%, 1);
$future-amber: hsla(55, 65%, 27%, 1);
$apricot-sun: hsla(45, 71%, 35%, 1);
$scarlet-nebula: hsla(50, 65%, 38%, 1);
$oceanic-gray: hsla(64, 75%, 36%, 1);
$autumn-emerald: hsla(62, 68%, 34%, 1);
$royal-pink: hsla(64, 69%, 34%, 1);
$dark-lime: hsla(60, 76%, 40%, 1);
$deep-purple: hsla(63, 73%, 36%, 1);
$maroon-moon: hsla(62, 79%, 47%, 1);
$deep-platinum: hsla(70, 75%, 39%, 1);
$peach-adventure: hsla(85, 78%, 49%, 1);
$industrial-gold: hsla(86, 83%, 43%, 1);
$vintage-apricot: hsla(83, 81%, 47%, 1);
$tan-wood: hsla(93, 91%, 52%, 1);
$lilac-planet: hsla(80, 89%, 46%, 1);
$retro-lime: hsla(81, 92%, 56%, 1);
$future-purple: hsla(92, 95%, 54%, 1);
$classic-cream: hsla(103, 97%, 52%, 1);
$teal-river: hsla(102, 91%, 53%, 1);
$gold-twilight: hsla(109, 98%, 59%, 1);
$neon-apricot: hsla(107, 95%, 59%, 1);

/* SCSS RGB */
$classic-beige: rgba(86, 51, 23, 1);
$gold-ash: rgba(81, 60, 24, 1);
$light-red: rgba(99, 78, 25, 1);
$apricot-nebula: rgba(115, 89, 31, 1);
$radiant-emerald: rgba(119, 78, 31, 1);
$orange-sands: rgba(123, 94, 25, 1);
$emerald-canyon: rgba(134, 110, 24, 1);
$future-amber: rgba(114, 107, 24, 1);
$apricot-sun: rgba(150, 120, 25, 1);
$scarlet-nebula: rgba(161, 139, 34, 1);
$oceanic-gray: rgba(152, 161, 23, 1);
$autumn-emerald: rgba(142, 147, 27, 1);
$royal-pink: rgba(139, 146, 27, 1);
$dark-lime: rgba(177, 178, 24, 1);
$deep-purple: rgba(155, 160, 24, 1);
$maroon-moon: rgba(210, 216, 25, 1);
$deep-platinum: rgba(150, 175, 24, 1);
$peach-adventure: rgba(141, 223, 27, 1);
$industrial-gold: rgba(119, 199, 18, 1);
$vintage-apricot: rgba(144, 218, 23, 1);
$tan-wood: rgba(120, 243, 19, 1);
$lilac-planet: rgba(153, 222, 13, 1);
$retro-lime: rgba(175, 246, 41, 1);
$future-purple: rgba(131, 249, 26, 1);
$classic-cream: rgba(82, 251, 13, 1);
$teal-river: rgba(93, 244, 27, 1);
$gold-twilight: rgba(85, 252, 47, 1);
$neon-apricot: rgba(93, 249, 51, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-right: linear-gradient(90deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-bottom: linear-gradient(180deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-left: linear-gradient(270deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-top-right: linear-gradient(45deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-bottom-right: linear-gradient(135deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-top-left: linear-gradient(225deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-bottom-left: linear-gradient(315deg, #563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);
$gradient-radial: radial-gradient(#563317ff, #513c18ff, #634e19ff, #73591fff, #774e1fff, #7b5e19ff, #866e18ff, #726b18ff, #967819ff, #a18b22ff, #98a117ff, #8e931bff, #8b921bff, #b1b218ff, #9ba018ff, #d2d819ff, #96af18ff, #8ddf1bff, #77c712ff, #90da17ff, #78f313ff, #99de0dff, #aff629ff, #83f91aff, #52fb0dff, #5df41bff, #55fc2fff, #5df933ff);

/* SCSS Map */
$deep-river-843-map: (
    "classic-beige": #563317ff,
    "gold-ash": #513c18ff,
    "light-red": #634e19ff,
    "apricot-nebula": #73591fff,
    "radiant-emerald": #774e1fff,
    "orange-sands": #7b5e19ff,
    "emerald-canyon": #866e18ff,
    "future-amber": #726b18ff,
    "apricot-sun": #967819ff,
    "scarlet-nebula": #a18b22ff,
    "oceanic-gray": #98a117ff,
    "autumn-emerald": #8e931bff,
    "royal-pink": #8b921bff,
    "dark-lime": #b1b218ff,
    "deep-purple": #9ba018ff,
    "maroon-moon": #d2d819ff,
    "deep-platinum": #96af18ff,
    "peach-adventure": #8ddf1bff,
    "industrial-gold": #77c712ff,
    "vintage-apricot": #90da17ff,
    "tan-wood": #78f313ff,
    "lilac-planet": #99de0dff,
    "retro-lime": #aff629ff,
    "future-purple": #83f91aff,
    "classic-cream": #52fb0dff,
    "teal-river": #5df41bff,
    "gold-twilight": #55fc2fff,
    "neon-apricot": #5df933ff
);
