/*---
id: ember-mosaic-28-03
name: Ember Mosaic 28-03
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 28
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 28-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #18374eff;
--tone-02: #1b165cff;
--tone-03: #5d136bff;
--tone-04: #7b0e41ff;
--tone-05: #8c1b09ff;
--tone-06: #7a7127ff;
--tone-07: #598b22ff;
--tone-08: #1c9c42ff;
--tone-09: #15afafff;
--tone-10: #0c53c3ff;
--tone-11: #5935a7ff;
--tone-12: #b52dbaff;
--tone-13: #ce2451ff;
--tone-14: #e4821bff;
--tone-15: #c7f01aff;
--tone-16: #5ac74eff;
--tone-17: #4dd4a4ff;
--tone-18: #4db4e0ff;
--tone-19: #4f5deaff;
--tone-20: #c351f4ff;
--tone-21: #d57bbeff;
--tone-22: #df7d7fff;
--tone-23: #e8ca7fff;
--tone-24: #c6f083ff;
--tone-25: #88f7a4ff;
--tone-26: #a7e3dfff;
--tone-27: #acc7ebff;
--tone-28: #bdb1f1ff;

/* CSS HSL */
--tone-01: hsla(205, 52%, 20%, 1);
--tone-02: hsla(244, 61%, 22%, 1);
--tone-03: hsla(291, 70%, 25%, 1);
--tone-04: hsla(332, 79%, 27%, 1);
--tone-05: hsla(8, 88%, 29%, 1);
--tone-06: hsla(53, 52%, 31%, 1);
--tone-07: hsla(88, 61%, 34%, 1);
--tone-08: hsla(138, 70%, 36%, 1);
--tone-09: hsla(180, 79%, 38%, 1);
--tone-10: hsla(217, 88%, 41%, 1);
--tone-11: hsla(259, 52%, 43%, 1);
--tone-12: hsla(298, 61%, 45%, 1);
--tone-13: hsla(344, 70%, 48%, 1);
--tone-14: hsla(31, 79%, 50%, 1);
--tone-15: hsla(72, 88%, 52%, 1);
--tone-16: hsla(114, 52%, 54%, 1);
--tone-17: hsla(159, 61%, 57%, 1);
--tone-18: hsla(198, 70%, 59%, 1);
--tone-19: hsla(234, 79%, 61%, 1);
--tone-20: hsla(282, 88%, 64%, 1);
--tone-21: hsla(315, 52%, 66%, 1);
--tone-22: hsla(359, 61%, 68%, 1);
--tone-23: hsla(42, 70%, 71%, 1);
--tone-24: hsla(83, 79%, 73%, 1);
--tone-25: hsla(135, 88%, 75%, 1);
--tone-26: hsla(175, 52%, 77%, 1);
--tone-27: hsla(214, 61%, 80%, 1);
--tone-28: hsla(251, 70%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #18374eff;
$tone-02: #1b165cff;
$tone-03: #5d136bff;
$tone-04: #7b0e41ff;
$tone-05: #8c1b09ff;
$tone-06: #7a7127ff;
$tone-07: #598b22ff;
$tone-08: #1c9c42ff;
$tone-09: #15afafff;
$tone-10: #0c53c3ff;
$tone-11: #5935a7ff;
$tone-12: #b52dbaff;
$tone-13: #ce2451ff;
$tone-14: #e4821bff;
$tone-15: #c7f01aff;
$tone-16: #5ac74eff;
$tone-17: #4dd4a4ff;
$tone-18: #4db4e0ff;
$tone-19: #4f5deaff;
$tone-20: #c351f4ff;
$tone-21: #d57bbeff;
$tone-22: #df7d7fff;
$tone-23: #e8ca7fff;
$tone-24: #c6f083ff;
$tone-25: #88f7a4ff;
$tone-26: #a7e3dfff;
$tone-27: #acc7ebff;
$tone-28: #bdb1f1ff;

/* SCSS HSL */
$tone-01: hsla(205, 52%, 20%, 1);
$tone-02: hsla(244, 61%, 22%, 1);
$tone-03: hsla(291, 70%, 25%, 1);
$tone-04: hsla(332, 79%, 27%, 1);
$tone-05: hsla(8, 88%, 29%, 1);
$tone-06: hsla(53, 52%, 31%, 1);
$tone-07: hsla(88, 61%, 34%, 1);
$tone-08: hsla(138, 70%, 36%, 1);
$tone-09: hsla(180, 79%, 38%, 1);
$tone-10: hsla(217, 88%, 41%, 1);
$tone-11: hsla(259, 52%, 43%, 1);
$tone-12: hsla(298, 61%, 45%, 1);
$tone-13: hsla(344, 70%, 48%, 1);
$tone-14: hsla(31, 79%, 50%, 1);
$tone-15: hsla(72, 88%, 52%, 1);
$tone-16: hsla(114, 52%, 54%, 1);
$tone-17: hsla(159, 61%, 57%, 1);
$tone-18: hsla(198, 70%, 59%, 1);
$tone-19: hsla(234, 79%, 61%, 1);
$tone-20: hsla(282, 88%, 64%, 1);
$tone-21: hsla(315, 52%, 66%, 1);
$tone-22: hsla(359, 61%, 68%, 1);
$tone-23: hsla(42, 70%, 71%, 1);
$tone-24: hsla(83, 79%, 73%, 1);
$tone-25: hsla(135, 88%, 75%, 1);
$tone-26: hsla(175, 52%, 77%, 1);
$tone-27: hsla(214, 61%, 80%, 1);
$tone-28: hsla(251, 70%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(24, 55, 78, 1);
$tone-02: rgba(27, 22, 92, 1);
$tone-03: rgba(93, 19, 107, 1);
$tone-04: rgba(123, 14, 65, 1);
$tone-05: rgba(140, 27, 9, 1);
$tone-06: rgba(122, 113, 39, 1);
$tone-07: rgba(89, 139, 34, 1);
$tone-08: rgba(28, 156, 66, 1);
$tone-09: rgba(21, 175, 175, 1);
$tone-10: rgba(12, 83, 195, 1);
$tone-11: rgba(89, 53, 167, 1);
$tone-12: rgba(181, 45, 186, 1);
$tone-13: rgba(206, 36, 81, 1);
$tone-14: rgba(228, 130, 27, 1);
$tone-15: rgba(199, 240, 26, 1);
$tone-16: rgba(90, 199, 78, 1);
$tone-17: rgba(77, 212, 164, 1);
$tone-18: rgba(77, 180, 224, 1);
$tone-19: rgba(79, 93, 234, 1);
$tone-20: rgba(195, 81, 244, 1);
$tone-21: rgba(213, 123, 190, 1);
$tone-22: rgba(223, 125, 127, 1);
$tone-23: rgba(232, 202, 127, 1);
$tone-24: rgba(198, 240, 131, 1);
$tone-25: rgba(136, 247, 164, 1);
$tone-26: rgba(167, 227, 223, 1);
$tone-27: rgba(172, 199, 235, 1);
$tone-28: rgba(189, 177, 241, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-right: linear-gradient(90deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-bottom: linear-gradient(180deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-left: linear-gradient(270deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-top-right: linear-gradient(45deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-bottom-right: linear-gradient(135deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-top-left: linear-gradient(225deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-bottom-left: linear-gradient(315deg, #18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);
$gradient-radial: radial-gradient(#18374eff, #1b165cff, #5d136bff, #7b0e41ff, #8c1b09ff, #7a7127ff, #598b22ff, #1c9c42ff, #15afafff, #0c53c3ff, #5935a7ff, #b52dbaff, #ce2451ff, #e4821bff, #c7f01aff, #5ac74eff, #4dd4a4ff, #4db4e0ff, #4f5deaff, #c351f4ff, #d57bbeff, #df7d7fff, #e8ca7fff, #c6f083ff, #88f7a4ff, #a7e3dfff, #acc7ebff, #bdb1f1ff);

/* SCSS Map */
$ember-mosaic-28-03-map: (
    "tone-01": #18374eff,
    "tone-02": #1b165cff,
    "tone-03": #5d136bff,
    "tone-04": #7b0e41ff,
    "tone-05": #8c1b09ff,
    "tone-06": #7a7127ff,
    "tone-07": #598b22ff,
    "tone-08": #1c9c42ff,
    "tone-09": #15afafff,
    "tone-10": #0c53c3ff,
    "tone-11": #5935a7ff,
    "tone-12": #b52dbaff,
    "tone-13": #ce2451ff,
    "tone-14": #e4821bff,
    "tone-15": #c7f01aff,
    "tone-16": #5ac74eff,
    "tone-17": #4dd4a4ff,
    "tone-18": #4db4e0ff,
    "tone-19": #4f5deaff,
    "tone-20": #c351f4ff,
    "tone-21": #d57bbeff,
    "tone-22": #df7d7fff,
    "tone-23": #e8ca7fff,
    "tone-24": #c6f083ff,
    "tone-25": #88f7a4ff,
    "tone-26": #a7e3dfff,
    "tone-27": #acc7ebff,
    "tone-28": #bdb1f1ff
);
