/*---
id: emerald-span-28-12
name: Emerald Span Wide
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 28
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 28-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f1a11ff;
--charcoal: #142518ff;
--very-dark-green: #17321bff;
--evergreen: #1d3c23ff;
--pine-green: #1d4b28ff;
--pine: #21572eff;
--spruce: #24642dff;
--darkish-green: #237432ff;
--tree-green: #248433ff;
--kelley-green: #23953cff;
--kelly-green: #1fa939ff;
--green: #19be35ff;
--shamrock-green: #1bcc3bff;
--light-neon-green: #16e13eff;
--light-bright-green: #20e64cff;
--spearmint: #2fe85aff;
--lightish-green: #42e468ff;
--tealish-green: #55e273ff;
--dark-mint: #6adc82ff;
--soft-green: #79dd8eff;
--hospital-green: #8adc9dff;
--light-sea-green: #95e1a5ff;
--light-teal: #a7dfb1ff;
--pale-teal: #b6e0bdff;
--duck-egg-blue: #c3e2c9ff;
--ice: #d0e6d5ff;
--ice-blue: #dbeadfff;
--white: #e6efe8ff;

/* CSS HSL */
--almost-black: hsla(132, 26%, 8%, 1);
--charcoal: hsla(132, 30%, 11%, 1);
--very-dark-green: hsla(132, 37%, 14%, 1);
--evergreen: hsla(132, 35%, 17%, 1);
--pine-green: hsla(132, 44%, 20%, 1);
--pine: hsla(132, 45%, 24%, 1);
--spruce: hsla(132, 48%, 27%, 1);
--darkish-green: hsla(132, 53%, 30%, 1);
--tree-green: hsla(132, 57%, 33%, 1);
--kelley-green: hsla(132, 62%, 36%, 1);
--kelly-green: hsla(132, 69%, 39%, 1);
--green: hsla(132, 76%, 42%, 1);
--shamrock-green: hsla(132, 77%, 45%, 1);
--light-neon-green: hsla(132, 82%, 48%, 1);
--light-bright-green: hsla(132, 80%, 52%, 1);
--spearmint: hsla(132, 80%, 55%, 1);
--lightish-green: hsla(132, 75%, 58%, 1);
--tealish-green: hsla(132, 70%, 61%, 1);
--dark-mint: hsla(132, 62%, 64%, 1);
--soft-green: hsla(132, 60%, 67%, 1);
--hospital-green: hsla(132, 54%, 70%, 1);
--light-sea-green: hsla(132, 55%, 73%, 1);
--light-teal: hsla(132, 46%, 76%, 1);
--pale-teal: hsla(132, 40%, 80%, 1);
--duck-egg-blue: hsla(132, 35%, 83%, 1);
--ice: hsla(132, 31%, 86%, 1);
--ice-blue: hsla(132, 26%, 89%, 1);
--white: hsla(132, 21%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f1a11ff;
$charcoal: #142518ff;
$very-dark-green: #17321bff;
$evergreen: #1d3c23ff;
$pine-green: #1d4b28ff;
$pine: #21572eff;
$spruce: #24642dff;
$darkish-green: #237432ff;
$tree-green: #248433ff;
$kelley-green: #23953cff;
$kelly-green: #1fa939ff;
$green: #19be35ff;
$shamrock-green: #1bcc3bff;
$light-neon-green: #16e13eff;
$light-bright-green: #20e64cff;
$spearmint: #2fe85aff;
$lightish-green: #42e468ff;
$tealish-green: #55e273ff;
$dark-mint: #6adc82ff;
$soft-green: #79dd8eff;
$hospital-green: #8adc9dff;
$light-sea-green: #95e1a5ff;
$light-teal: #a7dfb1ff;
$pale-teal: #b6e0bdff;
$duck-egg-blue: #c3e2c9ff;
$ice: #d0e6d5ff;
$ice-blue: #dbeadfff;
$white: #e6efe8ff;

/* SCSS HSL */
$almost-black: hsla(132, 26%, 8%, 1);
$charcoal: hsla(132, 30%, 11%, 1);
$very-dark-green: hsla(132, 37%, 14%, 1);
$evergreen: hsla(132, 35%, 17%, 1);
$pine-green: hsla(132, 44%, 20%, 1);
$pine: hsla(132, 45%, 24%, 1);
$spruce: hsla(132, 48%, 27%, 1);
$darkish-green: hsla(132, 53%, 30%, 1);
$tree-green: hsla(132, 57%, 33%, 1);
$kelley-green: hsla(132, 62%, 36%, 1);
$kelly-green: hsla(132, 69%, 39%, 1);
$green: hsla(132, 76%, 42%, 1);
$shamrock-green: hsla(132, 77%, 45%, 1);
$light-neon-green: hsla(132, 82%, 48%, 1);
$light-bright-green: hsla(132, 80%, 52%, 1);
$spearmint: hsla(132, 80%, 55%, 1);
$lightish-green: hsla(132, 75%, 58%, 1);
$tealish-green: hsla(132, 70%, 61%, 1);
$dark-mint: hsla(132, 62%, 64%, 1);
$soft-green: hsla(132, 60%, 67%, 1);
$hospital-green: hsla(132, 54%, 70%, 1);
$light-sea-green: hsla(132, 55%, 73%, 1);
$light-teal: hsla(132, 46%, 76%, 1);
$pale-teal: hsla(132, 40%, 80%, 1);
$duck-egg-blue: hsla(132, 35%, 83%, 1);
$ice: hsla(132, 31%, 86%, 1);
$ice-blue: hsla(132, 26%, 89%, 1);
$white: hsla(132, 21%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 26, 17, 1);
$charcoal: rgba(20, 37, 24, 1);
$very-dark-green: rgba(23, 50, 27, 1);
$evergreen: rgba(29, 60, 35, 1);
$pine-green: rgba(29, 75, 40, 1);
$pine: rgba(33, 87, 46, 1);
$spruce: rgba(36, 100, 45, 1);
$darkish-green: rgba(35, 116, 50, 1);
$tree-green: rgba(36, 132, 51, 1);
$kelley-green: rgba(35, 149, 60, 1);
$kelly-green: rgba(31, 169, 57, 1);
$green: rgba(25, 190, 53, 1);
$shamrock-green: rgba(27, 204, 59, 1);
$light-neon-green: rgba(22, 225, 62, 1);
$light-bright-green: rgba(32, 230, 76, 1);
$spearmint: rgba(47, 232, 90, 1);
$lightish-green: rgba(66, 228, 104, 1);
$tealish-green: rgba(85, 226, 115, 1);
$dark-mint: rgba(106, 220, 130, 1);
$soft-green: rgba(121, 221, 142, 1);
$hospital-green: rgba(138, 220, 157, 1);
$light-sea-green: rgba(149, 225, 165, 1);
$light-teal: rgba(167, 223, 177, 1);
$pale-teal: rgba(182, 224, 189, 1);
$duck-egg-blue: rgba(195, 226, 201, 1);
$ice: rgba(208, 230, 213, 1);
$ice-blue: rgba(219, 234, 223, 1);
$white: rgba(230, 239, 232, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-right: linear-gradient(90deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-bottom: linear-gradient(180deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-left: linear-gradient(270deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-top-right: linear-gradient(45deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-bottom-right: linear-gradient(135deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-top-left: linear-gradient(225deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-bottom-left: linear-gradient(315deg, #0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);
$gradient-radial: radial-gradient(#0f1a11ff, #142518ff, #17321bff, #1d3c23ff, #1d4b28ff, #21572eff, #24642dff, #237432ff, #248433ff, #23953cff, #1fa939ff, #19be35ff, #1bcc3bff, #16e13eff, #20e64cff, #2fe85aff, #42e468ff, #55e273ff, #6adc82ff, #79dd8eff, #8adc9dff, #95e1a5ff, #a7dfb1ff, #b6e0bdff, #c3e2c9ff, #d0e6d5ff, #dbeadfff, #e6efe8ff);

/* SCSS Map */
$emerald-span-28-12-map: (
    "almost-black": #0f1a11ff,
    "charcoal": #142518ff,
    "very-dark-green": #17321bff,
    "evergreen": #1d3c23ff,
    "pine-green": #1d4b28ff,
    "pine": #21572eff,
    "spruce": #24642dff,
    "darkish-green": #237432ff,
    "tree-green": #248433ff,
    "kelley-green": #23953cff,
    "kelly-green": #1fa939ff,
    "green": #19be35ff,
    "shamrock-green": #1bcc3bff,
    "light-neon-green": #16e13eff,
    "light-bright-green": #20e64cff,
    "spearmint": #2fe85aff,
    "lightish-green": #42e468ff,
    "tealish-green": #55e273ff,
    "dark-mint": #6adc82ff,
    "soft-green": #79dd8eff,
    "hospital-green": #8adc9dff,
    "light-sea-green": #95e1a5ff,
    "light-teal": #a7dfb1ff,
    "pale-teal": #b6e0bdff,
    "duck-egg-blue": #c3e2c9ff,
    "ice": #d0e6d5ff,
    "ice-blue": #dbeadfff,
    "white": #e6efe8ff
);
