/*---
id: honey-span-28-10
name: Honey Span Wide
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 28
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 28-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #191710ff;
--dark-brown: #252114ff;
--charcoal: #302b18ff;
--chocolate: #3b341dff;
--mud-brown: #4b3e1eff;
--green-brown: #5a4d1eff;
--dirt-brown: #655423ff;
--mud: #775e21ff;
--hazel: #867122ff;
--yellowish-brown: #987d1fff;
--yellowy-brown: #ad881bff;
--ochre: #be931aff;
--burnt-yellow: #cfaa18ff;
--squash: #e3a814ff;
--macaroni-and-cheese: #ecb21bff;
--yellow-ochre: #e5b432ff;
--maize: #e1bf46ff;
--light-mustard: #e1ba55ff;
--sand: #dec068ff;
--tan: #dbc37bff;
--beige: #e0cd86ff;
--very-light-brown: #dccc9aff;
--light-peach: #ded0a7ff;
--pale: #e0d7b5ff;
--off-white: #e2d9c4ff;
--very-light-pink: #e7e2cfff;
--white: #ebe7daff;
--ice-blue: #f0ede5ff;

/* CSS HSL */
--almost-black: hsla(45, 22%, 8%, 1);
--dark-brown: hsla(45, 30%, 11%, 1);
--charcoal: hsla(45, 34%, 14%, 1);
--chocolate: hsla(45, 34%, 17%, 1);
--mud-brown: hsla(45, 43%, 20%, 1);
--green-brown: hsla(45, 50%, 24%, 1);
--dirt-brown: hsla(45, 49%, 27%, 1);
--mud: hsla(45, 57%, 30%, 1);
--hazel: hsla(45, 60%, 33%, 1);
--yellowish-brown: hsla(45, 66%, 36%, 1);
--yellowy-brown: hsla(45, 73%, 39%, 1);
--ochre: hsla(45, 76%, 42%, 1);
--burnt-yellow: hsla(45, 79%, 45%, 1);
--squash: hsla(45, 83%, 48%, 1);
--macaroni-and-cheese: hsla(45, 85%, 52%, 1);
--yellow-ochre: hsla(45, 77%, 55%, 1);
--maize: hsla(45, 72%, 58%, 1);
--light-mustard: hsla(45, 70%, 61%, 1);
--sand: hsla(45, 64%, 64%, 1);
--tan: hsla(45, 57%, 67%, 1);
--beige: hsla(45, 60%, 70%, 1);
--very-light-brown: hsla(45, 49%, 73%, 1);
--light-peach: hsla(45, 46%, 76%, 1);
--pale: hsla(45, 41%, 80%, 1);
--off-white: hsla(45, 34%, 83%, 1);
--very-light-pink: hsla(45, 33%, 86%, 1);
--white: hsla(45, 30%, 89%, 1);
--ice-blue: hsla(45, 27%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #191710ff;
$dark-brown: #252114ff;
$charcoal: #302b18ff;
$chocolate: #3b341dff;
$mud-brown: #4b3e1eff;
$green-brown: #5a4d1eff;
$dirt-brown: #655423ff;
$mud: #775e21ff;
$hazel: #867122ff;
$yellowish-brown: #987d1fff;
$yellowy-brown: #ad881bff;
$ochre: #be931aff;
$burnt-yellow: #cfaa18ff;
$squash: #e3a814ff;
$macaroni-and-cheese: #ecb21bff;
$yellow-ochre: #e5b432ff;
$maize: #e1bf46ff;
$light-mustard: #e1ba55ff;
$sand: #dec068ff;
$tan: #dbc37bff;
$beige: #e0cd86ff;
$very-light-brown: #dccc9aff;
$light-peach: #ded0a7ff;
$pale: #e0d7b5ff;
$off-white: #e2d9c4ff;
$very-light-pink: #e7e2cfff;
$white: #ebe7daff;
$ice-blue: #f0ede5ff;

/* SCSS HSL */
$almost-black: hsla(45, 22%, 8%, 1);
$dark-brown: hsla(45, 30%, 11%, 1);
$charcoal: hsla(45, 34%, 14%, 1);
$chocolate: hsla(45, 34%, 17%, 1);
$mud-brown: hsla(45, 43%, 20%, 1);
$green-brown: hsla(45, 50%, 24%, 1);
$dirt-brown: hsla(45, 49%, 27%, 1);
$mud: hsla(45, 57%, 30%, 1);
$hazel: hsla(45, 60%, 33%, 1);
$yellowish-brown: hsla(45, 66%, 36%, 1);
$yellowy-brown: hsla(45, 73%, 39%, 1);
$ochre: hsla(45, 76%, 42%, 1);
$burnt-yellow: hsla(45, 79%, 45%, 1);
$squash: hsla(45, 83%, 48%, 1);
$macaroni-and-cheese: hsla(45, 85%, 52%, 1);
$yellow-ochre: hsla(45, 77%, 55%, 1);
$maize: hsla(45, 72%, 58%, 1);
$light-mustard: hsla(45, 70%, 61%, 1);
$sand: hsla(45, 64%, 64%, 1);
$tan: hsla(45, 57%, 67%, 1);
$beige: hsla(45, 60%, 70%, 1);
$very-light-brown: hsla(45, 49%, 73%, 1);
$light-peach: hsla(45, 46%, 76%, 1);
$pale: hsla(45, 41%, 80%, 1);
$off-white: hsla(45, 34%, 83%, 1);
$very-light-pink: hsla(45, 33%, 86%, 1);
$white: hsla(45, 30%, 89%, 1);
$ice-blue: hsla(45, 27%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(25, 23, 16, 1);
$dark-brown: rgba(37, 33, 20, 1);
$charcoal: rgba(48, 43, 24, 1);
$chocolate: rgba(59, 52, 29, 1);
$mud-brown: rgba(75, 62, 30, 1);
$green-brown: rgba(90, 77, 30, 1);
$dirt-brown: rgba(101, 84, 35, 1);
$mud: rgba(119, 94, 33, 1);
$hazel: rgba(134, 113, 34, 1);
$yellowish-brown: rgba(152, 125, 31, 1);
$yellowy-brown: rgba(173, 136, 27, 1);
$ochre: rgba(190, 147, 26, 1);
$burnt-yellow: rgba(207, 170, 24, 1);
$squash: rgba(227, 168, 20, 1);
$macaroni-and-cheese: rgba(236, 178, 27, 1);
$yellow-ochre: rgba(229, 180, 50, 1);
$maize: rgba(225, 191, 70, 1);
$light-mustard: rgba(225, 186, 85, 1);
$sand: rgba(222, 192, 104, 1);
$tan: rgba(219, 195, 123, 1);
$beige: rgba(224, 205, 134, 1);
$very-light-brown: rgba(220, 204, 154, 1);
$light-peach: rgba(222, 208, 167, 1);
$pale: rgba(224, 215, 181, 1);
$off-white: rgba(226, 217, 196, 1);
$very-light-pink: rgba(231, 226, 207, 1);
$white: rgba(235, 231, 218, 1);
$ice-blue: rgba(240, 237, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-right: linear-gradient(90deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-bottom: linear-gradient(180deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-left: linear-gradient(270deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-top-right: linear-gradient(45deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-bottom-right: linear-gradient(135deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-top-left: linear-gradient(225deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-bottom-left: linear-gradient(315deg, #191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);
$gradient-radial: radial-gradient(#191710ff, #252114ff, #302b18ff, #3b341dff, #4b3e1eff, #5a4d1eff, #655423ff, #775e21ff, #867122ff, #987d1fff, #ad881bff, #be931aff, #cfaa18ff, #e3a814ff, #ecb21bff, #e5b432ff, #e1bf46ff, #e1ba55ff, #dec068ff, #dbc37bff, #e0cd86ff, #dccc9aff, #ded0a7ff, #e0d7b5ff, #e2d9c4ff, #e7e2cfff, #ebe7daff, #f0ede5ff);

/* SCSS Map */
$honey-span-28-10-map: (
    "almost-black": #191710ff,
    "dark-brown": #252114ff,
    "charcoal": #302b18ff,
    "chocolate": #3b341dff,
    "mud-brown": #4b3e1eff,
    "green-brown": #5a4d1eff,
    "dirt-brown": #655423ff,
    "mud": #775e21ff,
    "hazel": #867122ff,
    "yellowish-brown": #987d1fff,
    "yellowy-brown": #ad881bff,
    "ochre": #be931aff,
    "burnt-yellow": #cfaa18ff,
    "squash": #e3a814ff,
    "macaroni-and-cheese": #ecb21bff,
    "yellow-ochre": #e5b432ff,
    "maize": #e1bf46ff,
    "light-mustard": #e1ba55ff,
    "sand": #dec068ff,
    "tan": #dbc37bff,
    "beige": #e0cd86ff,
    "very-light-brown": #dccc9aff,
    "light-peach": #ded0a7ff,
    "pale": #e0d7b5ff,
    "off-white": #e2d9c4ff,
    "very-light-pink": #e7e2cfff,
    "white": #ebe7daff,
    "ice-blue": #f0ede5ff
);
