/*---
id: indigo-mosaic-28-02
name: Indigo Mosaic Broad
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 28
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 28-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--evergreen: #184e2bff;
--dark-green-blue: #165c4eff;
--petrol: #135c6bff;
--blueberry: #0e257bff;
--indigo: #2c098cff;
--royal-purple: #57277aff;
--warm-purple: #8b2288ff;
--berry: #9c1c54ff;
--darkish-red: #af1518ff;
--orange-brown: #c3680cff;
--dark-mustard: #a79a35ff;
--leaf-green: #70ba2dff;
--toxic-green: #2ace24ff;
--spearmint: #1be457ff;
--aqua-marine: #1af0c5ff;
--dusty-blue: #4e9fc7ff;
--cornflower-blue: #4d6cd4ff;
--blurple: #694de0ff;
--bright-lilac: #c84feaff;
--candy-pink: #f451d7ff;
--muted-pink: #d57b97ff;
--blush: #df8e7dff;
--fawn: #e8b97fff;
--manila: #ebf083ff;
--pistachio: #b6f788ff;
--light-sage: #abe3a7ff;
--light-teal: #acebc8ff;
--duck-egg-blue: #b1f1edff;

/* CSS HSL */
--evergreen: hsla(141, 52%, 20%, 1);
--dark-green-blue: hsla(168, 61%, 22%, 1);
--petrol: hsla(190, 70%, 25%, 1);
--blueberry: hsla(227, 79%, 27%, 1);
--indigo: hsla(256, 88%, 29%, 1);
--royal-purple: hsla(275, 52%, 31%, 1);
--warm-purple: hsla(301, 61%, 34%, 1);
--berry: hsla(334, 70%, 36%, 1);
--darkish-red: hsla(359, 79%, 38%, 1);
--orange-brown: hsla(30, 88%, 41%, 1);
--dark-mustard: hsla(53, 52%, 43%, 1);
--leaf-green: hsla(92, 61%, 45%, 1);
--toxic-green: hsla(118, 70%, 48%, 1);
--spearmint: hsla(138, 79%, 50%, 1);
--aqua-marine: hsla(168, 88%, 52%, 1);
--dusty-blue: hsla(200, 52%, 54%, 1);
--cornflower-blue: hsla(226, 61%, 57%, 1);
--blurple: hsla(251, 70%, 59%, 1);
--bright-lilac: hsla(287, 79%, 61%, 1);
--candy-pink: hsla(310, 88%, 64%, 1);
--muted-pink: hsla(342, 52%, 66%, 1);
--blush: hsla(11, 61%, 68%, 1);
--fawn: hsla(33, 70%, 71%, 1);
--manila: hsla(63, 79%, 73%, 1);
--pistachio: hsla(95, 88%, 75%, 1);
--light-sage: hsla(117, 52%, 77%, 1);
--light-teal: hsla(147, 61%, 80%, 1);
--duck-egg-blue: hsla(176, 70%, 82%, 1);
}

/* SCSS HEX */
$evergreen: #184e2bff;
$dark-green-blue: #165c4eff;
$petrol: #135c6bff;
$blueberry: #0e257bff;
$indigo: #2c098cff;
$royal-purple: #57277aff;
$warm-purple: #8b2288ff;
$berry: #9c1c54ff;
$darkish-red: #af1518ff;
$orange-brown: #c3680cff;
$dark-mustard: #a79a35ff;
$leaf-green: #70ba2dff;
$toxic-green: #2ace24ff;
$spearmint: #1be457ff;
$aqua-marine: #1af0c5ff;
$dusty-blue: #4e9fc7ff;
$cornflower-blue: #4d6cd4ff;
$blurple: #694de0ff;
$bright-lilac: #c84feaff;
$candy-pink: #f451d7ff;
$muted-pink: #d57b97ff;
$blush: #df8e7dff;
$fawn: #e8b97fff;
$manila: #ebf083ff;
$pistachio: #b6f788ff;
$light-sage: #abe3a7ff;
$light-teal: #acebc8ff;
$duck-egg-blue: #b1f1edff;

/* SCSS HSL */
$evergreen: hsla(141, 52%, 20%, 1);
$dark-green-blue: hsla(168, 61%, 22%, 1);
$petrol: hsla(190, 70%, 25%, 1);
$blueberry: hsla(227, 79%, 27%, 1);
$indigo: hsla(256, 88%, 29%, 1);
$royal-purple: hsla(275, 52%, 31%, 1);
$warm-purple: hsla(301, 61%, 34%, 1);
$berry: hsla(334, 70%, 36%, 1);
$darkish-red: hsla(359, 79%, 38%, 1);
$orange-brown: hsla(30, 88%, 41%, 1);
$dark-mustard: hsla(53, 52%, 43%, 1);
$leaf-green: hsla(92, 61%, 45%, 1);
$toxic-green: hsla(118, 70%, 48%, 1);
$spearmint: hsla(138, 79%, 50%, 1);
$aqua-marine: hsla(168, 88%, 52%, 1);
$dusty-blue: hsla(200, 52%, 54%, 1);
$cornflower-blue: hsla(226, 61%, 57%, 1);
$blurple: hsla(251, 70%, 59%, 1);
$bright-lilac: hsla(287, 79%, 61%, 1);
$candy-pink: hsla(310, 88%, 64%, 1);
$muted-pink: hsla(342, 52%, 66%, 1);
$blush: hsla(11, 61%, 68%, 1);
$fawn: hsla(33, 70%, 71%, 1);
$manila: hsla(63, 79%, 73%, 1);
$pistachio: hsla(95, 88%, 75%, 1);
$light-sage: hsla(117, 52%, 77%, 1);
$light-teal: hsla(147, 61%, 80%, 1);
$duck-egg-blue: hsla(176, 70%, 82%, 1);

/* SCSS RGB */
$evergreen: rgba(24, 78, 43, 1);
$dark-green-blue: rgba(22, 92, 78, 1);
$petrol: rgba(19, 92, 107, 1);
$blueberry: rgba(14, 37, 123, 1);
$indigo: rgba(44, 9, 140, 1);
$royal-purple: rgba(87, 39, 122, 1);
$warm-purple: rgba(139, 34, 136, 1);
$berry: rgba(156, 28, 84, 1);
$darkish-red: rgba(175, 21, 24, 1);
$orange-brown: rgba(195, 104, 12, 1);
$dark-mustard: rgba(167, 154, 53, 1);
$leaf-green: rgba(112, 186, 45, 1);
$toxic-green: rgba(42, 206, 36, 1);
$spearmint: rgba(27, 228, 87, 1);
$aqua-marine: rgba(26, 240, 197, 1);
$dusty-blue: rgba(78, 159, 199, 1);
$cornflower-blue: rgba(77, 108, 212, 1);
$blurple: rgba(105, 77, 224, 1);
$bright-lilac: rgba(200, 79, 234, 1);
$candy-pink: rgba(244, 81, 215, 1);
$muted-pink: rgba(213, 123, 151, 1);
$blush: rgba(223, 142, 125, 1);
$fawn: rgba(232, 185, 127, 1);
$manila: rgba(235, 240, 131, 1);
$pistachio: rgba(182, 247, 136, 1);
$light-sage: rgba(171, 227, 167, 1);
$light-teal: rgba(172, 235, 200, 1);
$duck-egg-blue: rgba(177, 241, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-right: linear-gradient(90deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-bottom: linear-gradient(180deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-left: linear-gradient(270deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-top-right: linear-gradient(45deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-bottom-right: linear-gradient(135deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-top-left: linear-gradient(225deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-bottom-left: linear-gradient(315deg, #184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);
$gradient-radial: radial-gradient(#184e2bff, #165c4eff, #135c6bff, #0e257bff, #2c098cff, #57277aff, #8b2288ff, #9c1c54ff, #af1518ff, #c3680cff, #a79a35ff, #70ba2dff, #2ace24ff, #1be457ff, #1af0c5ff, #4e9fc7ff, #4d6cd4ff, #694de0ff, #c84feaff, #f451d7ff, #d57b97ff, #df8e7dff, #e8b97fff, #ebf083ff, #b6f788ff, #abe3a7ff, #acebc8ff, #b1f1edff);

/* SCSS Map */
$indigo-mosaic-28-02-map: (
    "evergreen": #184e2bff,
    "dark-green-blue": #165c4eff,
    "petrol": #135c6bff,
    "blueberry": #0e257bff,
    "indigo": #2c098cff,
    "royal-purple": #57277aff,
    "warm-purple": #8b2288ff,
    "berry": #9c1c54ff,
    "darkish-red": #af1518ff,
    "orange-brown": #c3680cff,
    "dark-mustard": #a79a35ff,
    "leaf-green": #70ba2dff,
    "toxic-green": #2ace24ff,
    "spearmint": #1be457ff,
    "aqua-marine": #1af0c5ff,
    "dusty-blue": #4e9fc7ff,
    "cornflower-blue": #4d6cd4ff,
    "blurple": #694de0ff,
    "bright-lilac": #c84feaff,
    "candy-pink": #f451d7ff,
    "muted-pink": #d57b97ff,
    "blush": #df8e7dff,
    "fawn": #e8b97fff,
    "manila": #ebf083ff,
    "pistachio": #b6f788ff,
    "light-sage": #abe3a7ff,
    "light-teal": #acebc8ff,
    "duck-egg-blue": #b1f1edff
);
