/*---
id: saas-interface-map-28-20
name: SaaS Interface Map 28-20
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 28
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 28-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #242629ff;
--bg-elevated: #34373dff;
--bg-overlay: #434651ff;
--border-subtle: #535965ff;
--border-strong: #62687aff;
--text-muted: #707a8fff;
--text-base: #838ea0ff;
--text-strong: #969cb0ff;
--text-inverse: #aab0c0ff;
--neutral-11: #bec5d0ff;
--neutral-12: #d2d8dfff;
--neutral-13: #e7e9eeff;
--primary: #294999ff;
--primary-hover: #7627c4ff;
--secondary: #31e3a6ff;
--secondary-hover: #f0bb4cff;
--accent: #df9986ff;
--accent-soft: #208ba2ff;
--success: #ce1c82ff;
--warning: #2661edff;
--danger: #b166d6ff;
--info: #7fe6baff;
--link: #ab7217ff;
--focus-ring: #d93c12ff;
--support-13: #46b2ceff;
--support-14: #df5d95ff;
--support-15: #789bedff;

/* CSS HSL */
--bg-canvas: hsla(219, 6%, 8%, 1);
--bg-surface: hsla(217, 7%, 15%, 1);
--bg-elevated: hsla(219, 8%, 22%, 1);
--bg-overlay: hsla(227, 9%, 29%, 1);
--border-subtle: hsla(218, 10%, 36%, 1);
--border-strong: hsla(224, 11%, 43%, 1);
--text-muted: hsla(221, 12%, 50%, 1);
--text-base: hsla(217, 13%, 57%, 1);
--text-strong: hsla(227, 14%, 64%, 1);
--text-inverse: hsla(224, 15%, 71%, 1);
--neutral-11: hsla(217, 16%, 78%, 1);
--neutral-12: hsla(214, 17%, 85%, 1);
--neutral-13: hsla(225, 18%, 92%, 1);
--primary: hsla(223, 58%, 38%, 1);
--primary-hover: hsla(270, 67%, 46%, 1);
--secondary: hsla(160, 76%, 54%, 1);
--secondary-hover: hsla(41, 85%, 62%, 1);
--accent: hsla(12, 58%, 70%, 1);
--accent-soft: hsla(190, 67%, 38%, 1);
--success: hsla(326, 76%, 46%, 1);
--warning: hsla(222, 85%, 54%, 1);
--danger: hsla(280, 58%, 62%, 1);
--info: hsla(155, 67%, 70%, 1);
--link: hsla(37, 76%, 38%, 1);
--focus-ring: hsla(13, 85%, 46%, 1);
--support-13: hsla(192, 58%, 54%, 1);
--support-14: hsla(334, 67%, 62%, 1);
--support-15: hsla(222, 76%, 70%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #242629ff;
$bg-elevated: #34373dff;
$bg-overlay: #434651ff;
$border-subtle: #535965ff;
$border-strong: #62687aff;
$text-muted: #707a8fff;
$text-base: #838ea0ff;
$text-strong: #969cb0ff;
$text-inverse: #aab0c0ff;
$neutral-11: #bec5d0ff;
$neutral-12: #d2d8dfff;
$neutral-13: #e7e9eeff;
$primary: #294999ff;
$primary-hover: #7627c4ff;
$secondary: #31e3a6ff;
$secondary-hover: #f0bb4cff;
$accent: #df9986ff;
$accent-soft: #208ba2ff;
$success: #ce1c82ff;
$warning: #2661edff;
$danger: #b166d6ff;
$info: #7fe6baff;
$link: #ab7217ff;
$focus-ring: #d93c12ff;
$support-13: #46b2ceff;
$support-14: #df5d95ff;
$support-15: #789bedff;

/* SCSS HSL */
$bg-canvas: hsla(219, 6%, 8%, 1);
$bg-surface: hsla(217, 7%, 15%, 1);
$bg-elevated: hsla(219, 8%, 22%, 1);
$bg-overlay: hsla(227, 9%, 29%, 1);
$border-subtle: hsla(218, 10%, 36%, 1);
$border-strong: hsla(224, 11%, 43%, 1);
$text-muted: hsla(221, 12%, 50%, 1);
$text-base: hsla(217, 13%, 57%, 1);
$text-strong: hsla(227, 14%, 64%, 1);
$text-inverse: hsla(224, 15%, 71%, 1);
$neutral-11: hsla(217, 16%, 78%, 1);
$neutral-12: hsla(214, 17%, 85%, 1);
$neutral-13: hsla(225, 18%, 92%, 1);
$primary: hsla(223, 58%, 38%, 1);
$primary-hover: hsla(270, 67%, 46%, 1);
$secondary: hsla(160, 76%, 54%, 1);
$secondary-hover: hsla(41, 85%, 62%, 1);
$accent: hsla(12, 58%, 70%, 1);
$accent-soft: hsla(190, 67%, 38%, 1);
$success: hsla(326, 76%, 46%, 1);
$warning: hsla(222, 85%, 54%, 1);
$danger: hsla(280, 58%, 62%, 1);
$info: hsla(155, 67%, 70%, 1);
$link: hsla(37, 76%, 38%, 1);
$focus-ring: hsla(13, 85%, 46%, 1);
$support-13: hsla(192, 58%, 54%, 1);
$support-14: hsla(334, 67%, 62%, 1);
$support-15: hsla(222, 76%, 70%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(36, 38, 41, 1);
$bg-elevated: rgba(52, 55, 61, 1);
$bg-overlay: rgba(67, 70, 81, 1);
$border-subtle: rgba(83, 89, 101, 1);
$border-strong: rgba(98, 104, 122, 1);
$text-muted: rgba(112, 122, 143, 1);
$text-base: rgba(131, 142, 160, 1);
$text-strong: rgba(150, 156, 176, 1);
$text-inverse: rgba(170, 176, 192, 1);
$neutral-11: rgba(190, 197, 208, 1);
$neutral-12: rgba(210, 216, 223, 1);
$neutral-13: rgba(231, 233, 238, 1);
$primary: rgba(41, 73, 153, 1);
$primary-hover: rgba(118, 39, 196, 1);
$secondary: rgba(49, 227, 166, 1);
$secondary-hover: rgba(240, 187, 76, 1);
$accent: rgba(223, 153, 134, 1);
$accent-soft: rgba(32, 139, 162, 1);
$success: rgba(206, 28, 130, 1);
$warning: rgba(38, 97, 237, 1);
$danger: rgba(177, 102, 214, 1);
$info: rgba(127, 230, 186, 1);
$link: rgba(171, 114, 23, 1);
$focus-ring: rgba(217, 60, 18, 1);
$support-13: rgba(70, 178, 206, 1);
$support-14: rgba(223, 93, 149, 1);
$support-15: rgba(120, 155, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-right: linear-gradient(90deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-left: linear-gradient(270deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);
$gradient-radial: radial-gradient(#131416ff, #242629ff, #34373dff, #434651ff, #535965ff, #62687aff, #707a8fff, #838ea0ff, #969cb0ff, #aab0c0ff, #bec5d0ff, #d2d8dfff, #e7e9eeff, #294999ff, #7627c4ff, #31e3a6ff, #f0bb4cff, #df9986ff, #208ba2ff, #ce1c82ff, #2661edff, #b166d6ff, #7fe6baff, #ab7217ff, #d93c12ff, #46b2ceff, #df5d95ff, #789bedff);

/* SCSS Map */
$saas-interface-map-28-20-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #242629ff,
    "bg-elevated": #34373dff,
    "bg-overlay": #434651ff,
    "border-subtle": #535965ff,
    "border-strong": #62687aff,
    "text-muted": #707a8fff,
    "text-base": #838ea0ff,
    "text-strong": #969cb0ff,
    "text-inverse": #aab0c0ff,
    "neutral-11": #bec5d0ff,
    "neutral-12": #d2d8dfff,
    "neutral-13": #e7e9eeff,
    "primary": #294999ff,
    "primary-hover": #7627c4ff,
    "secondary": #31e3a6ff,
    "secondary-hover": #f0bb4cff,
    "accent": #df9986ff,
    "accent-soft": #208ba2ff,
    "success": #ce1c82ff,
    "warning": #2661edff,
    "danger": #b166d6ff,
    "info": #7fe6baff,
    "link": #ab7217ff,
    "focus-ring": #d93c12ff,
    "support-13": #46b2ceff,
    "support-14": #df5d95ff,
    "support-15": #789bedff
);
