/*---
id: summer-galaxy-107
name: Summer Galaxy
author: JaZeR-444
version: 1.0.0
category: Urban & Industrial
count: 28
tags:
  mood:
  - dark
  - natural
  aesthetic:
  - Modern
  - Retro
intent: A vibrant 28-color palette inspired by Summer Galaxy 107.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/ac1a08-d94009-d8220a-bc0207-cd0d1b-dc0839-f2042c-df0415-e60652-f20651
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--crystal-emerald: #ac1a08ff;
--green-peak: #d94009ff;
--olive-dawn: #d8220aff;
--industrial-yellow: #bc0207ff;
--urban-silver: #cd0d1bff;
--amber-moon: #dc0839ff;
--teal-wood: #f2042cff;
--beige-noir: #df0415ff;
--dark-blue: #e60652ff;
--lime-adventure: #f20651ff;
--tan-sun: #d5044cff;
--vintage-amber: #f20968ff;
--teal-mountain: #f00b76ff;
--apricot-city: #fc1b8fff;
--forest-maroon: #f20fd2ff;
--turquoise-quest: #ed08a0ff;
--ivory-mist: #f52edaff;
--red-canyon: #e509f0ff;
--amber-dawn: #ea0df0ff;
--blue-alley: #d537f8ff;
--crimson-moon: #cb30f7ff;
--sapphire-ocean: #b23bfbff;
--lavender-illusion: #b333f1ff;
--sapphire-flare: #b02cf3ff;
--sapphire-snow: #a039f8ff;
--burgundy-fire: #9548f9ff;
--solar-violet: #763cfcff;
--forest-salmon: #8132faff;

/* CSS HSL */
--crystal-emerald: hsla(7, 91%, 35%, 1);
--green-peak: hsla(16, 91%, 45%, 1);
--olive-dawn: hsla(7, 91%, 44%, 1);
--industrial-yellow: hsla(358, 98%, 37%, 1);
--urban-silver: hsla(356, 88%, 43%, 1);
--amber-moon: hsla(346, 93%, 45%, 1);
--teal-wood: hsla(350, 96%, 49%, 1);
--beige-noir: hsla(355, 96%, 45%, 1);
--dark-blue: hsla(340, 94%, 46%, 1);
--lime-adventure: hsla(341, 95%, 49%, 1);
--tan-sun: hsla(339, 95%, 43%, 1);
--vintage-amber: hsla(335, 93%, 49%, 1);
--teal-mountain: hsla(332, 91%, 49%, 1);
--apricot-city: hsla(329, 98%, 55%, 1);
--forest-maroon: hsla(308, 90%, 51%, 1);
--turquoise-quest: hsla(320, 93%, 48%, 1);
--ivory-mist: hsla(308, 92%, 57%, 1);
--red-canyon: hsla(297, 93%, 49%, 1);
--amber-dawn: hsla(299, 89%, 50%, 1);
--blue-alley: hsla(289, 94%, 60%, 1);
--crimson-moon: hsla(287, 93%, 58%, 1);
--sapphire-ocean: hsla(277, 96%, 61%, 1);
--lavender-illusion: hsla(280, 88%, 58%, 1);
--sapphire-flare: hsla(280, 89%, 56%, 1);
--sapphire-snow: hsla(272, 94%, 60%, 1);
--burgundy-fire: hsla(266, 94%, 63%, 1);
--solar-violet: hsla(258, 98%, 61%, 1);
--forest-salmon: hsla(264, 95%, 59%, 1);
}

/* SCSS HEX */
$crystal-emerald: #ac1a08ff;
$green-peak: #d94009ff;
$olive-dawn: #d8220aff;
$industrial-yellow: #bc0207ff;
$urban-silver: #cd0d1bff;
$amber-moon: #dc0839ff;
$teal-wood: #f2042cff;
$beige-noir: #df0415ff;
$dark-blue: #e60652ff;
$lime-adventure: #f20651ff;
$tan-sun: #d5044cff;
$vintage-amber: #f20968ff;
$teal-mountain: #f00b76ff;
$apricot-city: #fc1b8fff;
$forest-maroon: #f20fd2ff;
$turquoise-quest: #ed08a0ff;
$ivory-mist: #f52edaff;
$red-canyon: #e509f0ff;
$amber-dawn: #ea0df0ff;
$blue-alley: #d537f8ff;
$crimson-moon: #cb30f7ff;
$sapphire-ocean: #b23bfbff;
$lavender-illusion: #b333f1ff;
$sapphire-flare: #b02cf3ff;
$sapphire-snow: #a039f8ff;
$burgundy-fire: #9548f9ff;
$solar-violet: #763cfcff;
$forest-salmon: #8132faff;

/* SCSS HSL */
$crystal-emerald: hsla(7, 91%, 35%, 1);
$green-peak: hsla(16, 91%, 45%, 1);
$olive-dawn: hsla(7, 91%, 44%, 1);
$industrial-yellow: hsla(358, 98%, 37%, 1);
$urban-silver: hsla(356, 88%, 43%, 1);
$amber-moon: hsla(346, 93%, 45%, 1);
$teal-wood: hsla(350, 96%, 49%, 1);
$beige-noir: hsla(355, 96%, 45%, 1);
$dark-blue: hsla(340, 94%, 46%, 1);
$lime-adventure: hsla(341, 95%, 49%, 1);
$tan-sun: hsla(339, 95%, 43%, 1);
$vintage-amber: hsla(335, 93%, 49%, 1);
$teal-mountain: hsla(332, 91%, 49%, 1);
$apricot-city: hsla(329, 98%, 55%, 1);
$forest-maroon: hsla(308, 90%, 51%, 1);
$turquoise-quest: hsla(320, 93%, 48%, 1);
$ivory-mist: hsla(308, 92%, 57%, 1);
$red-canyon: hsla(297, 93%, 49%, 1);
$amber-dawn: hsla(299, 89%, 50%, 1);
$blue-alley: hsla(289, 94%, 60%, 1);
$crimson-moon: hsla(287, 93%, 58%, 1);
$sapphire-ocean: hsla(277, 96%, 61%, 1);
$lavender-illusion: hsla(280, 88%, 58%, 1);
$sapphire-flare: hsla(280, 89%, 56%, 1);
$sapphire-snow: hsla(272, 94%, 60%, 1);
$burgundy-fire: hsla(266, 94%, 63%, 1);
$solar-violet: hsla(258, 98%, 61%, 1);
$forest-salmon: hsla(264, 95%, 59%, 1);

/* SCSS RGB */
$crystal-emerald: rgba(172, 26, 8, 1);
$green-peak: rgba(217, 64, 9, 1);
$olive-dawn: rgba(216, 34, 10, 1);
$industrial-yellow: rgba(188, 2, 7, 1);
$urban-silver: rgba(205, 13, 27, 1);
$amber-moon: rgba(220, 8, 57, 1);
$teal-wood: rgba(242, 4, 44, 1);
$beige-noir: rgba(223, 4, 21, 1);
$dark-blue: rgba(230, 6, 82, 1);
$lime-adventure: rgba(242, 6, 81, 1);
$tan-sun: rgba(213, 4, 76, 1);
$vintage-amber: rgba(242, 9, 104, 1);
$teal-mountain: rgba(240, 11, 118, 1);
$apricot-city: rgba(252, 27, 143, 1);
$forest-maroon: rgba(242, 15, 210, 1);
$turquoise-quest: rgba(237, 8, 160, 1);
$ivory-mist: rgba(245, 46, 218, 1);
$red-canyon: rgba(229, 9, 240, 1);
$amber-dawn: rgba(234, 13, 240, 1);
$blue-alley: rgba(213, 55, 248, 1);
$crimson-moon: rgba(203, 48, 247, 1);
$sapphire-ocean: rgba(178, 59, 251, 1);
$lavender-illusion: rgba(179, 51, 241, 1);
$sapphire-flare: rgba(176, 44, 243, 1);
$sapphire-snow: rgba(160, 57, 248, 1);
$burgundy-fire: rgba(149, 72, 249, 1);
$solar-violet: rgba(118, 60, 252, 1);
$forest-salmon: rgba(129, 50, 250, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-right: linear-gradient(90deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-bottom: linear-gradient(180deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-left: linear-gradient(270deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-top-right: linear-gradient(45deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-bottom-right: linear-gradient(135deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-top-left: linear-gradient(225deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-bottom-left: linear-gradient(315deg, #ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);
$gradient-radial: radial-gradient(#ac1a08ff, #d94009ff, #d8220aff, #bc0207ff, #cd0d1bff, #dc0839ff, #f2042cff, #df0415ff, #e60652ff, #f20651ff, #d5044cff, #f20968ff, #f00b76ff, #fc1b8fff, #f20fd2ff, #ed08a0ff, #f52edaff, #e509f0ff, #ea0df0ff, #d537f8ff, #cb30f7ff, #b23bfbff, #b333f1ff, #b02cf3ff, #a039f8ff, #9548f9ff, #763cfcff, #8132faff);

/* SCSS Map */
$summer-galaxy-107-map: (
    "crystal-emerald": #ac1a08ff,
    "green-peak": #d94009ff,
    "olive-dawn": #d8220aff,
    "industrial-yellow": #bc0207ff,
    "urban-silver": #cd0d1bff,
    "amber-moon": #dc0839ff,
    "teal-wood": #f2042cff,
    "beige-noir": #df0415ff,
    "dark-blue": #e60652ff,
    "lime-adventure": #f20651ff,
    "tan-sun": #d5044cff,
    "vintage-amber": #f20968ff,
    "teal-mountain": #f00b76ff,
    "apricot-city": #fc1b8fff,
    "forest-maroon": #f20fd2ff,
    "turquoise-quest": #ed08a0ff,
    "ivory-mist": #f52edaff,
    "red-canyon": #e509f0ff,
    "amber-dawn": #ea0df0ff,
    "blue-alley": #d537f8ff,
    "crimson-moon": #cb30f7ff,
    "sapphire-ocean": #b23bfbff,
    "lavender-illusion": #b333f1ff,
    "sapphire-flare": #b02cf3ff,
    "sapphire-snow": #a039f8ff,
    "burgundy-fire": #9548f9ff,
    "solar-violet": #763cfcff,
    "forest-salmon": #8132faff
);
