/*---
id: teal-span-28-13
name: Teal Span Wide
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 28
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 28-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #101917ff;
--charcoal: #142522ff;
--dark: #19302aff;
--dark-teal: #1b3e38ff;
--dark-blue-green: #1f4942ff;
--dark-green-blue: #1f594cff;
--dark-turquoise: #226659ff;
--blue-green: #237561ff;
--teal: #248472ff;
--greeny-blue: #1c9b87ff;
--tealish: #20a791ff;
--green-blue: #19bf96ff;
--aquamarine: #1ccba6ff;
--aqua-marine: #16e1b1ff;
--bright-teal: #1cebbdff;
--aqua: #35e2b9ff;
--light-turquoise: #41e6c1ff;
--tiffany-blue: #55e2c9ff;
--seafoam-blue: #6adcc6ff;
--light-teal: #79ddc9ff;
--pale-teal: #87dfd0ff;
--pale-aqua: #97dfcdff;
--duck-egg-blue: #a7dfd1ff;
--light-light-blue: #b6e0d7ff;
--ice: #c1e5dcff;
--ice-blue: #cde8e4ff;
--very-pale-blue: #daebe8ff;
--white: #e5f0eeff;

/* CSS HSL */
--almost-black: hsla(168, 24%, 8%, 1);
--charcoal: hsla(168, 29%, 11%, 1);
--dark: hsla(168, 31%, 14%, 1);
--dark-teal: hsla(168, 40%, 17%, 1);
--dark-blue-green: hsla(168, 40%, 20%, 1);
--dark-green-blue: hsla(168, 49%, 24%, 1);
--dark-turquoise: hsla(168, 49%, 27%, 1);
--blue-green: hsla(168, 54%, 30%, 1);
--teal: hsla(168, 57%, 33%, 1);
--greeny-blue: hsla(168, 69%, 36%, 1);
--tealish: hsla(168, 68%, 39%, 1);
--green-blue: hsla(168, 77%, 42%, 1);
--aquamarine: hsla(168, 75%, 45%, 1);
--aqua-marine: hsla(168, 82%, 48%, 1);
--bright-teal: hsla(168, 84%, 52%, 1);
--aqua: hsla(168, 75%, 55%, 1);
--light-turquoise: hsla(168, 77%, 58%, 1);
--tiffany-blue: hsla(168, 71%, 61%, 1);
--seafoam-blue: hsla(168, 62%, 64%, 1);
--light-teal: hsla(168, 60%, 67%, 1);
--pale-teal: hsla(168, 58%, 70%, 1);
--pale-aqua: hsla(168, 53%, 73%, 1);
--duck-egg-blue: hsla(168, 46%, 76%, 1);
--light-light-blue: hsla(168, 40%, 80%, 1);
--ice: hsla(168, 41%, 83%, 1);
--ice-blue: hsla(168, 37%, 86%, 1);
--very-pale-blue: hsla(168, 31%, 89%, 1);
--white: hsla(168, 27%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #101917ff;
$charcoal: #142522ff;
$dark: #19302aff;
$dark-teal: #1b3e38ff;
$dark-blue-green: #1f4942ff;
$dark-green-blue: #1f594cff;
$dark-turquoise: #226659ff;
$blue-green: #237561ff;
$teal: #248472ff;
$greeny-blue: #1c9b87ff;
$tealish: #20a791ff;
$green-blue: #19bf96ff;
$aquamarine: #1ccba6ff;
$aqua-marine: #16e1b1ff;
$bright-teal: #1cebbdff;
$aqua: #35e2b9ff;
$light-turquoise: #41e6c1ff;
$tiffany-blue: #55e2c9ff;
$seafoam-blue: #6adcc6ff;
$light-teal: #79ddc9ff;
$pale-teal: #87dfd0ff;
$pale-aqua: #97dfcdff;
$duck-egg-blue: #a7dfd1ff;
$light-light-blue: #b6e0d7ff;
$ice: #c1e5dcff;
$ice-blue: #cde8e4ff;
$very-pale-blue: #daebe8ff;
$white: #e5f0eeff;

/* SCSS HSL */
$almost-black: hsla(168, 24%, 8%, 1);
$charcoal: hsla(168, 29%, 11%, 1);
$dark: hsla(168, 31%, 14%, 1);
$dark-teal: hsla(168, 40%, 17%, 1);
$dark-blue-green: hsla(168, 40%, 20%, 1);
$dark-green-blue: hsla(168, 49%, 24%, 1);
$dark-turquoise: hsla(168, 49%, 27%, 1);
$blue-green: hsla(168, 54%, 30%, 1);
$teal: hsla(168, 57%, 33%, 1);
$greeny-blue: hsla(168, 69%, 36%, 1);
$tealish: hsla(168, 68%, 39%, 1);
$green-blue: hsla(168, 77%, 42%, 1);
$aquamarine: hsla(168, 75%, 45%, 1);
$aqua-marine: hsla(168, 82%, 48%, 1);
$bright-teal: hsla(168, 84%, 52%, 1);
$aqua: hsla(168, 75%, 55%, 1);
$light-turquoise: hsla(168, 77%, 58%, 1);
$tiffany-blue: hsla(168, 71%, 61%, 1);
$seafoam-blue: hsla(168, 62%, 64%, 1);
$light-teal: hsla(168, 60%, 67%, 1);
$pale-teal: hsla(168, 58%, 70%, 1);
$pale-aqua: hsla(168, 53%, 73%, 1);
$duck-egg-blue: hsla(168, 46%, 76%, 1);
$light-light-blue: hsla(168, 40%, 80%, 1);
$ice: hsla(168, 41%, 83%, 1);
$ice-blue: hsla(168, 37%, 86%, 1);
$very-pale-blue: hsla(168, 31%, 89%, 1);
$white: hsla(168, 27%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(16, 25, 23, 1);
$charcoal: rgba(20, 37, 34, 1);
$dark: rgba(25, 48, 42, 1);
$dark-teal: rgba(27, 62, 56, 1);
$dark-blue-green: rgba(31, 73, 66, 1);
$dark-green-blue: rgba(31, 89, 76, 1);
$dark-turquoise: rgba(34, 102, 89, 1);
$blue-green: rgba(35, 117, 97, 1);
$teal: rgba(36, 132, 114, 1);
$greeny-blue: rgba(28, 155, 135, 1);
$tealish: rgba(32, 167, 145, 1);
$green-blue: rgba(25, 191, 150, 1);
$aquamarine: rgba(28, 203, 166, 1);
$aqua-marine: rgba(22, 225, 177, 1);
$bright-teal: rgba(28, 235, 189, 1);
$aqua: rgba(53, 226, 185, 1);
$light-turquoise: rgba(65, 230, 193, 1);
$tiffany-blue: rgba(85, 226, 201, 1);
$seafoam-blue: rgba(106, 220, 198, 1);
$light-teal: rgba(121, 221, 201, 1);
$pale-teal: rgba(135, 223, 208, 1);
$pale-aqua: rgba(151, 223, 205, 1);
$duck-egg-blue: rgba(167, 223, 209, 1);
$light-light-blue: rgba(182, 224, 215, 1);
$ice: rgba(193, 229, 220, 1);
$ice-blue: rgba(205, 232, 228, 1);
$very-pale-blue: rgba(218, 235, 232, 1);
$white: rgba(229, 240, 238, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-right: linear-gradient(90deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-bottom: linear-gradient(180deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-left: linear-gradient(270deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-top-right: linear-gradient(45deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-bottom-right: linear-gradient(135deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-top-left: linear-gradient(225deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-bottom-left: linear-gradient(315deg, #101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);
$gradient-radial: radial-gradient(#101917ff, #142522ff, #19302aff, #1b3e38ff, #1f4942ff, #1f594cff, #226659ff, #237561ff, #248472ff, #1c9b87ff, #20a791ff, #19bf96ff, #1ccba6ff, #16e1b1ff, #1cebbdff, #35e2b9ff, #41e6c1ff, #55e2c9ff, #6adcc6ff, #79ddc9ff, #87dfd0ff, #97dfcdff, #a7dfd1ff, #b6e0d7ff, #c1e5dcff, #cde8e4ff, #daebe8ff, #e5f0eeff);

/* SCSS Map */
$teal-span-28-13-map: (
    "almost-black": #101917ff,
    "charcoal": #142522ff,
    "dark": #19302aff,
    "dark-teal": #1b3e38ff,
    "dark-blue-green": #1f4942ff,
    "dark-green-blue": #1f594cff,
    "dark-turquoise": #226659ff,
    "blue-green": #237561ff,
    "teal": #248472ff,
    "greeny-blue": #1c9b87ff,
    "tealish": #20a791ff,
    "green-blue": #19bf96ff,
    "aquamarine": #1ccba6ff,
    "aqua-marine": #16e1b1ff,
    "bright-teal": #1cebbdff,
    "aqua": #35e2b9ff,
    "light-turquoise": #41e6c1ff,
    "tiffany-blue": #55e2c9ff,
    "seafoam-blue": #6adcc6ff,
    "light-teal": #79ddc9ff,
    "pale-teal": #87dfd0ff,
    "pale-aqua": #97dfcdff,
    "duck-egg-blue": #a7dfd1ff,
    "light-light-blue": #b6e0d7ff,
    "ice": #c1e5dcff,
    "ice-blue": #cde8e4ff,
    "very-pale-blue": #daebe8ff,
    "white": #e5f0eeff
);
