/*---
id: vintage-vibe
name: Vintage Vibe
author: JaZeR-444
version: 1.0.0
category: Retro & Nostalgia
count: 5
tags:
  mood:
  - retro
  aesthetic:
  - Retro
intent: A vibrant 5-color palette inspired by Vintage Vibe.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/
created: '2026-05-18'
updated: '2026-05-18'
---*/

:root {
/* CSS HEX */
--mustard: #d2a92dff;
--burnt-orange: #d05e25ff;
--retro-teal: #31817bff;
--cream: #eee5d3ff;
--chocolate-brown: #5c3b23ff;

/* CSS HSL */
--mustard: hsla(45, 65%, 50%, 1);
--burnt-orange: hsla(20, 70%, 48%, 1);
--retro-teal: hsla(176, 45%, 35%, 1);
--cream: hsla(40, 44%, 88%, 1);
--chocolate-brown: hsla(25, 45%, 25%, 1);
}

/* SCSS HEX */
$mustard: #d2a92dff;
$burnt-orange: #d05e25ff;
$retro-teal: #31817bff;
$cream: #eee5d3ff;
$chocolate-brown: #5c3b23ff;

/* SCSS HSL */
$mustard: hsla(45, 65%, 50%, 1);
$burnt-orange: hsla(20, 70%, 48%, 1);
$retro-teal: hsla(176, 45%, 35%, 1);
$cream: hsla(40, 44%, 88%, 1);
$chocolate-brown: hsla(25, 45%, 25%, 1);

/* SCSS RGB */
$mustard: rgba(210, 169, 45, 1);
$burnt-orange: rgba(208, 94, 37, 1);
$retro-teal: rgba(49, 129, 123, 1);
$cream: rgba(238, 229, 211, 1);
$chocolate-brown: rgba(92, 59, 35, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-right: linear-gradient(90deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-bottom: linear-gradient(180deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-left: linear-gradient(270deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-top-right: linear-gradient(45deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-bottom-right: linear-gradient(135deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-top-left: linear-gradient(225deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-bottom-left: linear-gradient(315deg, #d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);
$gradient-radial: radial-gradient(#d2a92dff, #d05e25ff, #31817bff, #eee5d3ff, #5c3b23ff);

/* SCSS Map */
$vintage-vibe-map: (
    "mustard": #d2a92dff,
    "burnt-orange": #d05e25ff,
    "retro-teal": #31817bff,
    "cream": #eee5d3ff,
    "chocolate-brown": #5c3b23ff
);
