/*---
id: indigo-span-18-14
name: Indigo Span Mini
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 18
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 18-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #110f19ff;
--dark: #1a162cff;
--navy: #241b40ff;
--navy-blue: #281e57ff;
--dark-indigo: #32236aff;
--dark-royal-blue: #382285ff;
--royal: #3a229eff;
--indigo-blue: #421cbdff;
--ultramarine-blue: #3611e2ff;
--light-royal-blue: #4420ebff;
--bluish-purple: #613de7ff;
--purpley: #7a5ce2ff;
--lavender-blue: #8f7cdcff;
--pale-purple: #a092dfff;
--light-periwinkle: #b6a9e0ff;
--cloudy-blue: #c5bfe3ff;
--powder-blue: #d7d3e9ff;
--very-light-pink: #e8e6efff;

/* CSS HSL */
--almost-black: hsla(252, 25%, 8%, 1);
--dark: hsla(252, 34%, 13%, 1);
--navy: hsla(252, 41%, 18%, 1);
--navy-blue: hsla(252, 49%, 23%, 1);
--dark-indigo: hsla(252, 50%, 28%, 1);
--dark-royal-blue: hsla(252, 60%, 33%, 1);
--royal: hsla(252, 65%, 38%, 1);
--indigo-blue: hsla(252, 74%, 43%, 1);
--ultramarine-blue: hsla(252, 86%, 48%, 1);
--light-royal-blue: hsla(252, 84%, 52%, 1);
--bluish-purple: hsla(252, 78%, 57%, 1);
--purpley: hsla(252, 70%, 62%, 1);
--lavender-blue: hsla(252, 57%, 67%, 1);
--pale-purple: hsla(252, 54%, 72%, 1);
--light-periwinkle: hsla(252, 47%, 77%, 1);
--cloudy-blue: hsla(252, 39%, 82%, 1);
--powder-blue: hsla(252, 33%, 87%, 1);
--very-light-pink: hsla(252, 22%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #110f19ff;
$dark: #1a162cff;
$navy: #241b40ff;
$navy-blue: #281e57ff;
$dark-indigo: #32236aff;
$dark-royal-blue: #382285ff;
$royal: #3a229eff;
$indigo-blue: #421cbdff;
$ultramarine-blue: #3611e2ff;
$light-royal-blue: #4420ebff;
$bluish-purple: #613de7ff;
$purpley: #7a5ce2ff;
$lavender-blue: #8f7cdcff;
$pale-purple: #a092dfff;
$light-periwinkle: #b6a9e0ff;
$cloudy-blue: #c5bfe3ff;
$powder-blue: #d7d3e9ff;
$very-light-pink: #e8e6efff;

/* SCSS HSL */
$almost-black: hsla(252, 25%, 8%, 1);
$dark: hsla(252, 34%, 13%, 1);
$navy: hsla(252, 41%, 18%, 1);
$navy-blue: hsla(252, 49%, 23%, 1);
$dark-indigo: hsla(252, 50%, 28%, 1);
$dark-royal-blue: hsla(252, 60%, 33%, 1);
$royal: hsla(252, 65%, 38%, 1);
$indigo-blue: hsla(252, 74%, 43%, 1);
$ultramarine-blue: hsla(252, 86%, 48%, 1);
$light-royal-blue: hsla(252, 84%, 52%, 1);
$bluish-purple: hsla(252, 78%, 57%, 1);
$purpley: hsla(252, 70%, 62%, 1);
$lavender-blue: hsla(252, 57%, 67%, 1);
$pale-purple: hsla(252, 54%, 72%, 1);
$light-periwinkle: hsla(252, 47%, 77%, 1);
$cloudy-blue: hsla(252, 39%, 82%, 1);
$powder-blue: hsla(252, 33%, 87%, 1);
$very-light-pink: hsla(252, 22%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(17, 15, 25, 1);
$dark: rgba(26, 22, 44, 1);
$navy: rgba(36, 27, 64, 1);
$navy-blue: rgba(40, 30, 87, 1);
$dark-indigo: rgba(50, 35, 106, 1);
$dark-royal-blue: rgba(56, 34, 133, 1);
$royal: rgba(58, 34, 158, 1);
$indigo-blue: rgba(66, 28, 189, 1);
$ultramarine-blue: rgba(54, 17, 226, 1);
$light-royal-blue: rgba(68, 32, 235, 1);
$bluish-purple: rgba(97, 61, 231, 1);
$purpley: rgba(122, 92, 226, 1);
$lavender-blue: rgba(143, 124, 220, 1);
$pale-purple: rgba(160, 146, 223, 1);
$light-periwinkle: rgba(182, 169, 224, 1);
$cloudy-blue: rgba(197, 191, 227, 1);
$powder-blue: rgba(215, 211, 233, 1);
$very-light-pink: rgba(232, 230, 239, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-right: linear-gradient(90deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-bottom: linear-gradient(180deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-left: linear-gradient(270deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-top-right: linear-gradient(45deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-bottom-right: linear-gradient(135deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-top-left: linear-gradient(225deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-bottom-left: linear-gradient(315deg, #110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);
$gradient-radial: radial-gradient(#110f19ff, #1a162cff, #241b40ff, #281e57ff, #32236aff, #382285ff, #3a229eff, #421cbdff, #3611e2ff, #4420ebff, #613de7ff, #7a5ce2ff, #8f7cdcff, #a092dfff, #b6a9e0ff, #c5bfe3ff, #d7d3e9ff, #e8e6efff);

/* SCSS Map */
$indigo-span-18-14-map: (
    "almost-black": #110f19ff,
    "dark": #1a162cff,
    "navy": #241b40ff,
    "navy-blue": #281e57ff,
    "dark-indigo": #32236aff,
    "dark-royal-blue": #382285ff,
    "royal": #3a229eff,
    "indigo-blue": #421cbdff,
    "ultramarine-blue": #3611e2ff,
    "light-royal-blue": #4420ebff,
    "bluish-purple": #613de7ff,
    "purpley": #7a5ce2ff,
    "lavender-blue": #8f7cdcff,
    "pale-purple": #a092dfff,
    "light-periwinkle": #b6a9e0ff,
    "cloudy-blue": #c5bfe3ff,
    "powder-blue": #d7d3e9ff,
    "very-light-pink": #e8e6efff
);
