/*---
id: aurora-mosaic-25-07
name: Aurora Mosaic Compact
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 25
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 25-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--pine-green: #184e24ff;
--dark-green-blue: #165d54ff;
--dark-slate-blue: #134e6dff;
--dark-royal-blue: #0f1d7fff;
--indigo: #450991ff;
--darkish-purple: #772880ff;
--mulberry: #922356ff;
--carmine: #a5251dff;
--orangish-brown: #ba6616ff;
--bile: #c3cf0dff;
--grass: #67b238ff;
--shamrock-green: #30c74dff;
--aquamarine: #2bdab1ff;
--bright-sky-blue: #2bb2e6ff;
--azul: #2d60f2ff;
--light-indigo: #805fcdff;
--light-purple: #c160d9ff;
--pale-magenta: #e363b1ff;
--carnation: #ed6679ff;
--apricot: #f6a76bff;
--light-khaki: #dbdc91ff;
--pale-olive-green: #c3e595ff;
--light-sea-green: #9beda4ff;
--pale-turquoise: #a1f4ccff;
--robins-egg-blue: #a9f1f9ff;

/* CSS HSL */
--pine-green: hsla(133, 52%, 20%, 1);
--dark-green-blue: hsla(172, 61%, 23%, 1);
--dark-slate-blue: hsla(201, 70%, 25%, 1);
--dark-royal-blue: hsla(232, 79%, 28%, 1);
--indigo: hsla(266, 88%, 30%, 1);
--darkish-purple: hsla(294, 52%, 33%, 1);
--mulberry: hsla(333, 61%, 36%, 1);
--carmine: hsla(3, 70%, 38%, 1);
--orangish-brown: hsla(29, 79%, 41%, 1);
--bile: hsla(64, 88%, 43%, 1);
--grass: hsla(97, 52%, 46%, 1);
--shamrock-green: hsla(131, 61%, 48%, 1);
--aquamarine: hsla(166, 70%, 51%, 1);
--bright-sky-blue: hsla(197, 79%, 54%, 1);
--azul: hsla(224, 88%, 56%, 1);
--light-indigo: hsla(258, 52%, 59%, 1);
--light-purple: hsla(288, 61%, 61%, 1);
--pale-magenta: hsla(324, 70%, 64%, 1);
--carnation: hsla(352, 79%, 66%, 1);
--apricot: hsla(26, 88%, 69%, 1);
--light-khaki: hsla(61, 52%, 72%, 1);
--pale-olive-green: hsla(86, 61%, 74%, 1);
--light-sea-green: hsla(127, 70%, 77%, 1);
--pale-turquoise: hsla(151, 79%, 79%, 1);
--robins-egg-blue: hsla(186, 88%, 82%, 1);
}

/* SCSS HEX */
$pine-green: #184e24ff;
$dark-green-blue: #165d54ff;
$dark-slate-blue: #134e6dff;
$dark-royal-blue: #0f1d7fff;
$indigo: #450991ff;
$darkish-purple: #772880ff;
$mulberry: #922356ff;
$carmine: #a5251dff;
$orangish-brown: #ba6616ff;
$bile: #c3cf0dff;
$grass: #67b238ff;
$shamrock-green: #30c74dff;
$aquamarine: #2bdab1ff;
$bright-sky-blue: #2bb2e6ff;
$azul: #2d60f2ff;
$light-indigo: #805fcdff;
$light-purple: #c160d9ff;
$pale-magenta: #e363b1ff;
$carnation: #ed6679ff;
$apricot: #f6a76bff;
$light-khaki: #dbdc91ff;
$pale-olive-green: #c3e595ff;
$light-sea-green: #9beda4ff;
$pale-turquoise: #a1f4ccff;
$robins-egg-blue: #a9f1f9ff;

/* SCSS HSL */
$pine-green: hsla(133, 52%, 20%, 1);
$dark-green-blue: hsla(172, 61%, 23%, 1);
$dark-slate-blue: hsla(201, 70%, 25%, 1);
$dark-royal-blue: hsla(232, 79%, 28%, 1);
$indigo: hsla(266, 88%, 30%, 1);
$darkish-purple: hsla(294, 52%, 33%, 1);
$mulberry: hsla(333, 61%, 36%, 1);
$carmine: hsla(3, 70%, 38%, 1);
$orangish-brown: hsla(29, 79%, 41%, 1);
$bile: hsla(64, 88%, 43%, 1);
$grass: hsla(97, 52%, 46%, 1);
$shamrock-green: hsla(131, 61%, 48%, 1);
$aquamarine: hsla(166, 70%, 51%, 1);
$bright-sky-blue: hsla(197, 79%, 54%, 1);
$azul: hsla(224, 88%, 56%, 1);
$light-indigo: hsla(258, 52%, 59%, 1);
$light-purple: hsla(288, 61%, 61%, 1);
$pale-magenta: hsla(324, 70%, 64%, 1);
$carnation: hsla(352, 79%, 66%, 1);
$apricot: hsla(26, 88%, 69%, 1);
$light-khaki: hsla(61, 52%, 72%, 1);
$pale-olive-green: hsla(86, 61%, 74%, 1);
$light-sea-green: hsla(127, 70%, 77%, 1);
$pale-turquoise: hsla(151, 79%, 79%, 1);
$robins-egg-blue: hsla(186, 88%, 82%, 1);

/* SCSS RGB */
$pine-green: rgba(24, 78, 36, 1);
$dark-green-blue: rgba(22, 93, 84, 1);
$dark-slate-blue: rgba(19, 78, 109, 1);
$dark-royal-blue: rgba(15, 29, 127, 1);
$indigo: rgba(69, 9, 145, 1);
$darkish-purple: rgba(119, 40, 128, 1);
$mulberry: rgba(146, 35, 86, 1);
$carmine: rgba(165, 37, 29, 1);
$orangish-brown: rgba(186, 102, 22, 1);
$bile: rgba(195, 207, 13, 1);
$grass: rgba(103, 178, 56, 1);
$shamrock-green: rgba(48, 199, 77, 1);
$aquamarine: rgba(43, 218, 177, 1);
$bright-sky-blue: rgba(43, 178, 230, 1);
$azul: rgba(45, 96, 242, 1);
$light-indigo: rgba(128, 95, 205, 1);
$light-purple: rgba(193, 96, 217, 1);
$pale-magenta: rgba(227, 99, 177, 1);
$carnation: rgba(237, 102, 121, 1);
$apricot: rgba(246, 167, 107, 1);
$light-khaki: rgba(219, 220, 145, 1);
$pale-olive-green: rgba(195, 229, 149, 1);
$light-sea-green: rgba(155, 237, 164, 1);
$pale-turquoise: rgba(161, 244, 204, 1);
$robins-egg-blue: rgba(169, 241, 249, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-right: linear-gradient(90deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-bottom: linear-gradient(180deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-left: linear-gradient(270deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-top-right: linear-gradient(45deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-bottom-right: linear-gradient(135deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-top-left: linear-gradient(225deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-bottom-left: linear-gradient(315deg, #184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);
$gradient-radial: radial-gradient(#184e24ff, #165d54ff, #134e6dff, #0f1d7fff, #450991ff, #772880ff, #922356ff, #a5251dff, #ba6616ff, #c3cf0dff, #67b238ff, #30c74dff, #2bdab1ff, #2bb2e6ff, #2d60f2ff, #805fcdff, #c160d9ff, #e363b1ff, #ed6679ff, #f6a76bff, #dbdc91ff, #c3e595ff, #9beda4ff, #a1f4ccff, #a9f1f9ff);

/* SCSS Map */
$aurora-mosaic-25-07-map: (
    "pine-green": #184e24ff,
    "dark-green-blue": #165d54ff,
    "dark-slate-blue": #134e6dff,
    "dark-royal-blue": #0f1d7fff,
    "indigo": #450991ff,
    "darkish-purple": #772880ff,
    "mulberry": #922356ff,
    "carmine": #a5251dff,
    "orangish-brown": #ba6616ff,
    "bile": #c3cf0dff,
    "grass": #67b238ff,
    "shamrock-green": #30c74dff,
    "aquamarine": #2bdab1ff,
    "bright-sky-blue": #2bb2e6ff,
    "azul": #2d60f2ff,
    "light-indigo": #805fcdff,
    "light-purple": #c160d9ff,
    "pale-magenta": #e363b1ff,
    "carnation": #ed6679ff,
    "apricot": #f6a76bff,
    "light-khaki": #dbdc91ff,
    "pale-olive-green": #c3e595ff,
    "light-sea-green": #9beda4ff,
    "pale-turquoise": #a1f4ccff,
    "robins-egg-blue": #a9f1f9ff
);
