/*---
id: cosmic-flame-704
name: Cosmic Flame Emerald Green
author: JaZeR-444
version: 1.0.0
category: Space & Cosmic
count: 25
tags:
  mood:
  - vibrant
  - playful
  aesthetic:
  - Cyberpunk
  - Minimalist
  - Geometric
intent: A vibrant 25-color palette inspired by Cosmic Flame 704.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/789011-567a11-648911-4f7011-668211-5c8611-5d7e12-4d720f-397a0d-3b710a
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--vintage-gray: #789011ff;
--ivory-quest: #567a11ff;
--green-flame: #648911ff;
--neon-olive: #4f7011ff;
--rose-road: #668211ff;
--deep-emerald: #5c8611ff;
--urban-green: #5d7e12ff;
--lavender-twilight: #4d720fff;
--gold-ocean: #397a0dff;
--midnight-plum: #3b710aff;
--salmon-twilight: #2d820dff;
--lilac-echo: #438c0bff;
--warm-coral: #2d7008ff;
--fiery-silver: #206908ff;
--tropical-amber: #218b0bff;
--summer-black: #0a6b0eff;
--lavender-light: #1c7008ff;
--silver-jade: #148406ff;
--amber-cloud: #0a710bff;
--summer-turquoise: #085d0fff;
--red-storm: #048315ff;
--olive-vibe: #057a06ff;
--soft-burgundy: #07611aff;
--cool-cream: #057310ff;
--chartreuse-twilight: #035a15ff;

/* CSS HSL */
--vintage-gray: hsla(71, 78%, 32%, 1);
--ivory-quest: hsla(80, 75%, 27%, 1);
--green-flame: hsla(78, 78%, 30%, 1);
--neon-olive: hsla(81, 73%, 26%, 1);
--rose-road: hsla(75, 77%, 29%, 1);
--deep-emerald: hsla(81, 77%, 30%, 1);
--urban-green: hsla(78, 74%, 28%, 1);
--lavender-twilight: hsla(82, 77%, 25%, 1);
--gold-ocean: hsla(96, 81%, 27%, 1);
--midnight-plum: hsla(92, 83%, 24%, 1);
--salmon-twilight: hsla(104, 82%, 28%, 1);
--lilac-echo: hsla(94, 85%, 30%, 1);
--warm-coral: hsla(98, 86%, 24%, 1);
--fiery-silver: hsla(105, 85%, 22%, 1);
--tropical-amber: hsla(110, 84%, 30%, 1);
--summer-black: hsla(123, 82%, 23%, 1);
--lavender-light: hsla(108, 86%, 24%, 1);
--silver-jade: hsla(114, 90%, 27%, 1);
--amber-cloud: hsla(120, 83%, 24%, 1);
--summer-turquoise: hsla(125, 84%, 20%, 1);
--red-storm: hsla(128, 93%, 27%, 1);
--olive-vibe: hsla(120, 91%, 25%, 1);
--soft-burgundy: hsla(133, 86%, 21%, 1);
--cool-cream: hsla(126, 91%, 24%, 1);
--chartreuse-twilight: hsla(133, 93%, 18%, 1);
}

/* SCSS HEX */
$vintage-gray: #789011ff;
$ivory-quest: #567a11ff;
$green-flame: #648911ff;
$neon-olive: #4f7011ff;
$rose-road: #668211ff;
$deep-emerald: #5c8611ff;
$urban-green: #5d7e12ff;
$lavender-twilight: #4d720fff;
$gold-ocean: #397a0dff;
$midnight-plum: #3b710aff;
$salmon-twilight: #2d820dff;
$lilac-echo: #438c0bff;
$warm-coral: #2d7008ff;
$fiery-silver: #206908ff;
$tropical-amber: #218b0bff;
$summer-black: #0a6b0eff;
$lavender-light: #1c7008ff;
$silver-jade: #148406ff;
$amber-cloud: #0a710bff;
$summer-turquoise: #085d0fff;
$red-storm: #048315ff;
$olive-vibe: #057a06ff;
$soft-burgundy: #07611aff;
$cool-cream: #057310ff;
$chartreuse-twilight: #035a15ff;

/* SCSS HSL */
$vintage-gray: hsla(71, 78%, 32%, 1);
$ivory-quest: hsla(80, 75%, 27%, 1);
$green-flame: hsla(78, 78%, 30%, 1);
$neon-olive: hsla(81, 73%, 26%, 1);
$rose-road: hsla(75, 77%, 29%, 1);
$deep-emerald: hsla(81, 77%, 30%, 1);
$urban-green: hsla(78, 74%, 28%, 1);
$lavender-twilight: hsla(82, 77%, 25%, 1);
$gold-ocean: hsla(96, 81%, 27%, 1);
$midnight-plum: hsla(92, 83%, 24%, 1);
$salmon-twilight: hsla(104, 82%, 28%, 1);
$lilac-echo: hsla(94, 85%, 30%, 1);
$warm-coral: hsla(98, 86%, 24%, 1);
$fiery-silver: hsla(105, 85%, 22%, 1);
$tropical-amber: hsla(110, 84%, 30%, 1);
$summer-black: hsla(123, 82%, 23%, 1);
$lavender-light: hsla(108, 86%, 24%, 1);
$silver-jade: hsla(114, 90%, 27%, 1);
$amber-cloud: hsla(120, 83%, 24%, 1);
$summer-turquoise: hsla(125, 84%, 20%, 1);
$red-storm: hsla(128, 93%, 27%, 1);
$olive-vibe: hsla(120, 91%, 25%, 1);
$soft-burgundy: hsla(133, 86%, 21%, 1);
$cool-cream: hsla(126, 91%, 24%, 1);
$chartreuse-twilight: hsla(133, 93%, 18%, 1);

/* SCSS RGB */
$vintage-gray: rgba(120, 144, 17, 1);
$ivory-quest: rgba(86, 122, 17, 1);
$green-flame: rgba(100, 137, 17, 1);
$neon-olive: rgba(79, 112, 17, 1);
$rose-road: rgba(102, 130, 17, 1);
$deep-emerald: rgba(92, 134, 17, 1);
$urban-green: rgba(93, 126, 18, 1);
$lavender-twilight: rgba(77, 114, 15, 1);
$gold-ocean: rgba(57, 122, 13, 1);
$midnight-plum: rgba(59, 113, 10, 1);
$salmon-twilight: rgba(45, 130, 13, 1);
$lilac-echo: rgba(67, 140, 11, 1);
$warm-coral: rgba(45, 112, 8, 1);
$fiery-silver: rgba(32, 105, 8, 1);
$tropical-amber: rgba(33, 139, 11, 1);
$summer-black: rgba(10, 107, 14, 1);
$lavender-light: rgba(28, 112, 8, 1);
$silver-jade: rgba(20, 132, 6, 1);
$amber-cloud: rgba(10, 113, 11, 1);
$summer-turquoise: rgba(8, 93, 15, 1);
$red-storm: rgba(4, 131, 21, 1);
$olive-vibe: rgba(5, 122, 6, 1);
$soft-burgundy: rgba(7, 97, 26, 1);
$cool-cream: rgba(5, 115, 16, 1);
$chartreuse-twilight: rgba(3, 90, 21, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-right: linear-gradient(90deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-bottom: linear-gradient(180deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-left: linear-gradient(270deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-top-right: linear-gradient(45deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-bottom-right: linear-gradient(135deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-top-left: linear-gradient(225deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-bottom-left: linear-gradient(315deg, #789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);
$gradient-radial: radial-gradient(#789011ff, #567a11ff, #648911ff, #4f7011ff, #668211ff, #5c8611ff, #5d7e12ff, #4d720fff, #397a0dff, #3b710aff, #2d820dff, #438c0bff, #2d7008ff, #206908ff, #218b0bff, #0a6b0eff, #1c7008ff, #148406ff, #0a710bff, #085d0fff, #048315ff, #057a06ff, #07611aff, #057310ff, #035a15ff);

/* SCSS Map */
$cosmic-flame-704-map: (
    "vintage-gray": #789011ff,
    "ivory-quest": #567a11ff,
    "green-flame": #648911ff,
    "neon-olive": #4f7011ff,
    "rose-road": #668211ff,
    "deep-emerald": #5c8611ff,
    "urban-green": #5d7e12ff,
    "lavender-twilight": #4d720fff,
    "gold-ocean": #397a0dff,
    "midnight-plum": #3b710aff,
    "salmon-twilight": #2d820dff,
    "lilac-echo": #438c0bff,
    "warm-coral": #2d7008ff,
    "fiery-silver": #206908ff,
    "tropical-amber": #218b0bff,
    "summer-black": #0a6b0eff,
    "lavender-light": #1c7008ff,
    "silver-jade": #148406ff,
    "amber-cloud": #0a710bff,
    "summer-turquoise": #085d0fff,
    "red-storm": #048315ff,
    "olive-vibe": #057a06ff,
    "soft-burgundy": #07611aff,
    "cool-cream": #057310ff,
    "chartreuse-twilight": #035a15ff
);
