/*---
id: healthcare-interface-map-25-19
name: Healthcare Interface Map Extended
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 25
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 25-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #27292dff;
--bg-elevated: #3a3d45ff;
--bg-overlay: #4d515dff;
--border-subtle: #5f6676ff;
--border-strong: #707d8fff;
--text-muted: #8793a3ff;
--text-base: #9ea4b7ff;
--text-strong: #b6bfcaff;
--text-inverse: #ced1dcff;
--neutral-11: #e7e9eeff;
--primary: #295399ff;
--primary-hover: #8d27c4ff;
--secondary: #31e3b8ff;
--secondary-hover: #f0ba4cff;
--accent: #df9686ff;
--accent-soft: #208da2ff;
--success: #ce1c82ff;
--warning: #265cedff;
--danger: #a666d6ff;
--info: #7fe6c9ff;
--link: #ab7e17ff;
--focus-ring: #d91f12ff;
--support-13: #46b1ceff;
--support-14: #df5da1ff;

/* CSS HSL */
--bg-canvas: hsla(227, 6%, 8%, 1);
--bg-surface: hsla(219, 7%, 16%, 1);
--bg-elevated: hsla(223, 8%, 25%, 1);
--bg-overlay: hsla(224, 10%, 33%, 1);
--border-subtle: hsla(222, 11%, 42%, 1);
--border-strong: hsla(215, 12%, 50%, 1);
--text-muted: hsla(214, 13%, 58%, 1);
--text-base: hsla(227, 14%, 67%, 1);
--text-strong: hsla(213, 16%, 75%, 1);
--text-inverse: hsla(226, 17%, 84%, 1);
--neutral-11: hsla(225, 18%, 92%, 1);
--primary: hsla(218, 58%, 38%, 1);
--primary-hover: hsla(279, 67%, 46%, 1);
--secondary: hsla(166, 76%, 54%, 1);
--secondary-hover: hsla(40, 85%, 62%, 1);
--accent: hsla(11, 58%, 70%, 1);
--accent-soft: hsla(189, 67%, 38%, 1);
--success: hsla(326, 76%, 46%, 1);
--warning: hsla(224, 85%, 54%, 1);
--danger: hsla(274, 58%, 62%, 1);
--info: hsla(163, 67%, 70%, 1);
--link: hsla(42, 76%, 38%, 1);
--focus-ring: hsla(4, 85%, 46%, 1);
--support-13: hsla(193, 58%, 54%, 1);
--support-14: hsla(329, 67%, 62%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #27292dff;
$bg-elevated: #3a3d45ff;
$bg-overlay: #4d515dff;
$border-subtle: #5f6676ff;
$border-strong: #707d8fff;
$text-muted: #8793a3ff;
$text-base: #9ea4b7ff;
$text-strong: #b6bfcaff;
$text-inverse: #ced1dcff;
$neutral-11: #e7e9eeff;
$primary: #295399ff;
$primary-hover: #8d27c4ff;
$secondary: #31e3b8ff;
$secondary-hover: #f0ba4cff;
$accent: #df9686ff;
$accent-soft: #208da2ff;
$success: #ce1c82ff;
$warning: #265cedff;
$danger: #a666d6ff;
$info: #7fe6c9ff;
$link: #ab7e17ff;
$focus-ring: #d91f12ff;
$support-13: #46b1ceff;
$support-14: #df5da1ff;

/* SCSS HSL */
$bg-canvas: hsla(227, 6%, 8%, 1);
$bg-surface: hsla(219, 7%, 16%, 1);
$bg-elevated: hsla(223, 8%, 25%, 1);
$bg-overlay: hsla(224, 10%, 33%, 1);
$border-subtle: hsla(222, 11%, 42%, 1);
$border-strong: hsla(215, 12%, 50%, 1);
$text-muted: hsla(214, 13%, 58%, 1);
$text-base: hsla(227, 14%, 67%, 1);
$text-strong: hsla(213, 16%, 75%, 1);
$text-inverse: hsla(226, 17%, 84%, 1);
$neutral-11: hsla(225, 18%, 92%, 1);
$primary: hsla(218, 58%, 38%, 1);
$primary-hover: hsla(279, 67%, 46%, 1);
$secondary: hsla(166, 76%, 54%, 1);
$secondary-hover: hsla(40, 85%, 62%, 1);
$accent: hsla(11, 58%, 70%, 1);
$accent-soft: hsla(189, 67%, 38%, 1);
$success: hsla(326, 76%, 46%, 1);
$warning: hsla(224, 85%, 54%, 1);
$danger: hsla(274, 58%, 62%, 1);
$info: hsla(163, 67%, 70%, 1);
$link: hsla(42, 76%, 38%, 1);
$focus-ring: hsla(4, 85%, 46%, 1);
$support-13: hsla(193, 58%, 54%, 1);
$support-14: hsla(329, 67%, 62%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(39, 41, 45, 1);
$bg-elevated: rgba(58, 61, 69, 1);
$bg-overlay: rgba(77, 81, 93, 1);
$border-subtle: rgba(95, 102, 118, 1);
$border-strong: rgba(112, 125, 143, 1);
$text-muted: rgba(135, 147, 163, 1);
$text-base: rgba(158, 164, 183, 1);
$text-strong: rgba(182, 191, 202, 1);
$text-inverse: rgba(206, 209, 220, 1);
$neutral-11: rgba(231, 233, 238, 1);
$primary: rgba(41, 83, 153, 1);
$primary-hover: rgba(141, 39, 196, 1);
$secondary: rgba(49, 227, 184, 1);
$secondary-hover: rgba(240, 186, 76, 1);
$accent: rgba(223, 150, 134, 1);
$accent-soft: rgba(32, 141, 162, 1);
$success: rgba(206, 28, 130, 1);
$warning: rgba(38, 92, 237, 1);
$danger: rgba(166, 102, 214, 1);
$info: rgba(127, 230, 201, 1);
$link: rgba(171, 126, 23, 1);
$focus-ring: rgba(217, 31, 18, 1);
$support-13: rgba(70, 177, 206, 1);
$support-14: rgba(223, 93, 161, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-right: linear-gradient(90deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-left: linear-gradient(270deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);
$gradient-radial: radial-gradient(#131416ff, #27292dff, #3a3d45ff, #4d515dff, #5f6676ff, #707d8fff, #8793a3ff, #9ea4b7ff, #b6bfcaff, #ced1dcff, #e7e9eeff, #295399ff, #8d27c4ff, #31e3b8ff, #f0ba4cff, #df9686ff, #208da2ff, #ce1c82ff, #265cedff, #a666d6ff, #7fe6c9ff, #ab7e17ff, #d91f12ff, #46b1ceff, #df5da1ff);

/* SCSS Map */
$healthcare-interface-map-25-19-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #27292dff,
    "bg-elevated": #3a3d45ff,
    "bg-overlay": #4d515dff,
    "border-subtle": #5f6676ff,
    "border-strong": #707d8fff,
    "text-muted": #8793a3ff,
    "text-base": #9ea4b7ff,
    "text-strong": #b6bfcaff,
    "text-inverse": #ced1dcff,
    "neutral-11": #e7e9eeff,
    "primary": #295399ff,
    "primary-hover": #8d27c4ff,
    "secondary": #31e3b8ff,
    "secondary-hover": #f0ba4cff,
    "accent": #df9686ff,
    "accent-soft": #208da2ff,
    "success": #ce1c82ff,
    "warning": #265cedff,
    "danger": #a666d6ff,
    "info": #7fe6c9ff,
    "link": #ab7e17ff,
    "focus-ring": #d91f12ff,
    "support-13": #46b1ceff,
    "support-14": #df5da1ff
);
