/*---
id: metro-mosaic-25-08
name: Metro Mosaic Compact
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 25
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 25-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-teal: #18474eff;
--marine: #16285dff;
--dark-blue: #28136dff;
--royal-purple: #630f7fff;
--red-violet: #910968ff;
--bordeaux: #802836ff;
--sepia: #925223ff;
--dark-mustard: #a5901dff;
--kermit-green: #6cba16ff;
--vibrant-green: #0dcf14ff;
--seaweed-green: #38b272ff;
--turquoise-blue: #30c2c7ff;
--dark-sky-blue: #2b81daff;
--purple-blue: #462be6ff;
--vibrant-purple: #b12df2ff;
--purplish-pink: #cd5fbaff;
--pinkish: #d96087ff;
--dark-peach: #e37863ff;
--pale-gold: #edd566ff;
--pear: #d2f66bff;
--washed-out-green: #9ddc91ff;
--light-teal: #95e5bbff;
--light-cyan: #9bedebff;
--light-blue: #a1d1f4ff;
--pastel-blue: #a9b0f9ff;

/* CSS HSL */
--dark-teal: hsla(188, 52%, 20%, 1);
--marine: hsla(225, 61%, 23%, 1);
--dark-blue: hsla(254, 70%, 25%, 1);
--royal-purple: hsla(285, 79%, 28%, 1);
--red-violet: hsla(318, 88%, 30%, 1);
--bordeaux: hsla(350, 52%, 33%, 1);
--sepia: hsla(26, 61%, 36%, 1);
--dark-mustard: hsla(51, 70%, 38%, 1);
--kermit-green: hsla(88, 79%, 41%, 1);
--vibrant-green: hsla(122, 88%, 43%, 1);
--seaweed-green: hsla(149, 52%, 46%, 1);
--turquoise-blue: hsla(182, 61%, 48%, 1);
--dark-sky-blue: hsla(210, 70%, 51%, 1);
--purple-blue: hsla(249, 79%, 54%, 1);
--vibrant-purple: hsla(280, 88%, 56%, 1);
--purplish-pink: hsla(310, 52%, 59%, 1);
--pinkish: hsla(341, 61%, 61%, 1);
--dark-peach: hsla(10, 70%, 64%, 1);
--pale-gold: hsla(49, 79%, 66%, 1);
--pear: hsla(75, 88%, 69%, 1);
--washed-out-green: hsla(111, 52%, 72%, 1);
--light-teal: hsla(148, 61%, 74%, 1);
--light-cyan: hsla(179, 70%, 77%, 1);
--light-blue: hsla(205, 79%, 79%, 1);
--pastel-blue: hsla(234, 88%, 82%, 1);
}

/* SCSS HEX */
$dark-teal: #18474eff;
$marine: #16285dff;
$dark-blue: #28136dff;
$royal-purple: #630f7fff;
$red-violet: #910968ff;
$bordeaux: #802836ff;
$sepia: #925223ff;
$dark-mustard: #a5901dff;
$kermit-green: #6cba16ff;
$vibrant-green: #0dcf14ff;
$seaweed-green: #38b272ff;
$turquoise-blue: #30c2c7ff;
$dark-sky-blue: #2b81daff;
$purple-blue: #462be6ff;
$vibrant-purple: #b12df2ff;
$purplish-pink: #cd5fbaff;
$pinkish: #d96087ff;
$dark-peach: #e37863ff;
$pale-gold: #edd566ff;
$pear: #d2f66bff;
$washed-out-green: #9ddc91ff;
$light-teal: #95e5bbff;
$light-cyan: #9bedebff;
$light-blue: #a1d1f4ff;
$pastel-blue: #a9b0f9ff;

/* SCSS HSL */
$dark-teal: hsla(188, 52%, 20%, 1);
$marine: hsla(225, 61%, 23%, 1);
$dark-blue: hsla(254, 70%, 25%, 1);
$royal-purple: hsla(285, 79%, 28%, 1);
$red-violet: hsla(318, 88%, 30%, 1);
$bordeaux: hsla(350, 52%, 33%, 1);
$sepia: hsla(26, 61%, 36%, 1);
$dark-mustard: hsla(51, 70%, 38%, 1);
$kermit-green: hsla(88, 79%, 41%, 1);
$vibrant-green: hsla(122, 88%, 43%, 1);
$seaweed-green: hsla(149, 52%, 46%, 1);
$turquoise-blue: hsla(182, 61%, 48%, 1);
$dark-sky-blue: hsla(210, 70%, 51%, 1);
$purple-blue: hsla(249, 79%, 54%, 1);
$vibrant-purple: hsla(280, 88%, 56%, 1);
$purplish-pink: hsla(310, 52%, 59%, 1);
$pinkish: hsla(341, 61%, 61%, 1);
$dark-peach: hsla(10, 70%, 64%, 1);
$pale-gold: hsla(49, 79%, 66%, 1);
$pear: hsla(75, 88%, 69%, 1);
$washed-out-green: hsla(111, 52%, 72%, 1);
$light-teal: hsla(148, 61%, 74%, 1);
$light-cyan: hsla(179, 70%, 77%, 1);
$light-blue: hsla(205, 79%, 79%, 1);
$pastel-blue: hsla(234, 88%, 82%, 1);

/* SCSS RGB */
$dark-teal: rgba(24, 71, 78, 1);
$marine: rgba(22, 40, 93, 1);
$dark-blue: rgba(40, 19, 109, 1);
$royal-purple: rgba(99, 15, 127, 1);
$red-violet: rgba(145, 9, 104, 1);
$bordeaux: rgba(128, 40, 54, 1);
$sepia: rgba(146, 82, 35, 1);
$dark-mustard: rgba(165, 144, 29, 1);
$kermit-green: rgba(108, 186, 22, 1);
$vibrant-green: rgba(13, 207, 20, 1);
$seaweed-green: rgba(56, 178, 114, 1);
$turquoise-blue: rgba(48, 194, 199, 1);
$dark-sky-blue: rgba(43, 129, 218, 1);
$purple-blue: rgba(70, 43, 230, 1);
$vibrant-purple: rgba(177, 45, 242, 1);
$purplish-pink: rgba(205, 95, 186, 1);
$pinkish: rgba(217, 96, 135, 1);
$dark-peach: rgba(227, 120, 99, 1);
$pale-gold: rgba(237, 213, 102, 1);
$pear: rgba(210, 246, 107, 1);
$washed-out-green: rgba(157, 220, 145, 1);
$light-teal: rgba(149, 229, 187, 1);
$light-cyan: rgba(155, 237, 235, 1);
$light-blue: rgba(161, 209, 244, 1);
$pastel-blue: rgba(169, 176, 249, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-right: linear-gradient(90deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-bottom: linear-gradient(180deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-left: linear-gradient(270deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-top-right: linear-gradient(45deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-bottom-right: linear-gradient(135deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-top-left: linear-gradient(225deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-bottom-left: linear-gradient(315deg, #18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);
$gradient-radial: radial-gradient(#18474eff, #16285dff, #28136dff, #630f7fff, #910968ff, #802836ff, #925223ff, #a5901dff, #6cba16ff, #0dcf14ff, #38b272ff, #30c2c7ff, #2b81daff, #462be6ff, #b12df2ff, #cd5fbaff, #d96087ff, #e37863ff, #edd566ff, #d2f66bff, #9ddc91ff, #95e5bbff, #9bedebff, #a1d1f4ff, #a9b0f9ff);

/* SCSS Map */
$metro-mosaic-25-08-map: (
    "dark-teal": #18474eff,
    "marine": #16285dff,
    "dark-blue": #28136dff,
    "royal-purple": #630f7fff,
    "red-violet": #910968ff,
    "bordeaux": #802836ff,
    "sepia": #925223ff,
    "dark-mustard": #a5901dff,
    "kermit-green": #6cba16ff,
    "vibrant-green": #0dcf14ff,
    "seaweed-green": #38b272ff,
    "turquoise-blue": #30c2c7ff,
    "dark-sky-blue": #2b81daff,
    "purple-blue": #462be6ff,
    "vibrant-purple": #b12df2ff,
    "purplish-pink": #cd5fbaff,
    "pinkish": #d96087ff,
    "dark-peach": #e37863ff,
    "pale-gold": #edd566ff,
    "pear": #d2f66bff,
    "washed-out-green": #9ddc91ff,
    "light-teal": #95e5bbff,
    "light-cyan": #9bedebff,
    "light-blue": #a1d1f4ff,
    "pastel-blue": #a9b0f9ff
);
