/*---
id: rainline-mosaic-25-02
name: Rainline Mosaic Wide
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 25
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 25-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-teal: #184e4bff;
--dark-slate-blue: #16455dff;
--dark-indigo: #13206dff;
--indigo: #2a0f7fff;
--purple: #6f0991ff;
--velvet: #802865ff;
--red-wine: #922344ff;
--burnt-umber: #a5421dff;
--mustard-brown: #ba8816ff;
--bile: #c7cf0dff;
--leaf: #72b238ff;
--green: #30c73cff;
--tealish-green: #2bda78ff;
--bright-aqua: #2be6daff;
--sky-blue: #2daaf2ff;
--cornflower-blue: #5f6ccdff;
--light-indigo: #8a60d9ff;
--pink-purple: #d963e3ff;
--purplish-pink: #ed66c3ff;
--rosy-pink: #f66b93ff;
--pinkish-tan: #dcaa91ff;
--very-light-brown: #e5c895ff;
--light-khaki: #dded9bff;
--washed-out-green: #c3f4a1ff;
--light-mint: #a9f9b7ff;

/* CSS HSL */
--dark-teal: hsla(177, 52%, 20%, 1);
--dark-slate-blue: hsla(200, 61%, 23%, 1);
--dark-indigo: hsla(231, 70%, 25%, 1);
--indigo: hsla(255, 79%, 28%, 1);
--purple: hsla(285, 88%, 30%, 1);
--velvet: hsla(318, 52%, 33%, 1);
--red-wine: hsla(342, 61%, 36%, 1);
--burnt-umber: hsla(16, 70%, 38%, 1);
--mustard-brown: hsla(42, 79%, 41%, 1);
--bile: hsla(63, 88%, 43%, 1);
--leaf: hsla(91, 52%, 46%, 1);
--green: hsla(125, 61%, 48%, 1);
--tealish-green: hsla(147, 70%, 51%, 1);
--bright-aqua: hsla(176, 79%, 54%, 1);
--sky-blue: hsla(202, 88%, 56%, 1);
--cornflower-blue: hsla(233, 52%, 59%, 1);
--light-indigo: hsla(261, 61%, 61%, 1);
--pink-purple: hsla(295, 70%, 64%, 1);
--purplish-pink: hsla(319, 79%, 66%, 1);
--rosy-pink: hsla(343, 88%, 69%, 1);
--pinkish-tan: hsla(20, 52%, 72%, 1);
--very-light-brown: hsla(38, 61%, 74%, 1);
--light-khaki: hsla(72, 70%, 77%, 1);
--washed-out-green: hsla(96, 79%, 79%, 1);
--light-mint: hsla(130, 88%, 82%, 1);
}

/* SCSS HEX */
$dark-teal: #184e4bff;
$dark-slate-blue: #16455dff;
$dark-indigo: #13206dff;
$indigo: #2a0f7fff;
$purple: #6f0991ff;
$velvet: #802865ff;
$red-wine: #922344ff;
$burnt-umber: #a5421dff;
$mustard-brown: #ba8816ff;
$bile: #c7cf0dff;
$leaf: #72b238ff;
$green: #30c73cff;
$tealish-green: #2bda78ff;
$bright-aqua: #2be6daff;
$sky-blue: #2daaf2ff;
$cornflower-blue: #5f6ccdff;
$light-indigo: #8a60d9ff;
$pink-purple: #d963e3ff;
$purplish-pink: #ed66c3ff;
$rosy-pink: #f66b93ff;
$pinkish-tan: #dcaa91ff;
$very-light-brown: #e5c895ff;
$light-khaki: #dded9bff;
$washed-out-green: #c3f4a1ff;
$light-mint: #a9f9b7ff;

/* SCSS HSL */
$dark-teal: hsla(177, 52%, 20%, 1);
$dark-slate-blue: hsla(200, 61%, 23%, 1);
$dark-indigo: hsla(231, 70%, 25%, 1);
$indigo: hsla(255, 79%, 28%, 1);
$purple: hsla(285, 88%, 30%, 1);
$velvet: hsla(318, 52%, 33%, 1);
$red-wine: hsla(342, 61%, 36%, 1);
$burnt-umber: hsla(16, 70%, 38%, 1);
$mustard-brown: hsla(42, 79%, 41%, 1);
$bile: hsla(63, 88%, 43%, 1);
$leaf: hsla(91, 52%, 46%, 1);
$green: hsla(125, 61%, 48%, 1);
$tealish-green: hsla(147, 70%, 51%, 1);
$bright-aqua: hsla(176, 79%, 54%, 1);
$sky-blue: hsla(202, 88%, 56%, 1);
$cornflower-blue: hsla(233, 52%, 59%, 1);
$light-indigo: hsla(261, 61%, 61%, 1);
$pink-purple: hsla(295, 70%, 64%, 1);
$purplish-pink: hsla(319, 79%, 66%, 1);
$rosy-pink: hsla(343, 88%, 69%, 1);
$pinkish-tan: hsla(20, 52%, 72%, 1);
$very-light-brown: hsla(38, 61%, 74%, 1);
$light-khaki: hsla(72, 70%, 77%, 1);
$washed-out-green: hsla(96, 79%, 79%, 1);
$light-mint: hsla(130, 88%, 82%, 1);

/* SCSS RGB */
$dark-teal: rgba(24, 78, 75, 1);
$dark-slate-blue: rgba(22, 69, 93, 1);
$dark-indigo: rgba(19, 32, 109, 1);
$indigo: rgba(42, 15, 127, 1);
$purple: rgba(111, 9, 145, 1);
$velvet: rgba(128, 40, 101, 1);
$red-wine: rgba(146, 35, 68, 1);
$burnt-umber: rgba(165, 66, 29, 1);
$mustard-brown: rgba(186, 136, 22, 1);
$bile: rgba(199, 207, 13, 1);
$leaf: rgba(114, 178, 56, 1);
$green: rgba(48, 199, 60, 1);
$tealish-green: rgba(43, 218, 120, 1);
$bright-aqua: rgba(43, 230, 218, 1);
$sky-blue: rgba(45, 170, 242, 1);
$cornflower-blue: rgba(95, 108, 205, 1);
$light-indigo: rgba(138, 96, 217, 1);
$pink-purple: rgba(217, 99, 227, 1);
$purplish-pink: rgba(237, 102, 195, 1);
$rosy-pink: rgba(246, 107, 147, 1);
$pinkish-tan: rgba(220, 170, 145, 1);
$very-light-brown: rgba(229, 200, 149, 1);
$light-khaki: rgba(221, 237, 155, 1);
$washed-out-green: rgba(195, 244, 161, 1);
$light-mint: rgba(169, 249, 183, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-right: linear-gradient(90deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-bottom: linear-gradient(180deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-left: linear-gradient(270deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-top-right: linear-gradient(45deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-bottom-right: linear-gradient(135deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-top-left: linear-gradient(225deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-bottom-left: linear-gradient(315deg, #184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);
$gradient-radial: radial-gradient(#184e4bff, #16455dff, #13206dff, #2a0f7fff, #6f0991ff, #802865ff, #922344ff, #a5421dff, #ba8816ff, #c7cf0dff, #72b238ff, #30c73cff, #2bda78ff, #2be6daff, #2daaf2ff, #5f6ccdff, #8a60d9ff, #d963e3ff, #ed66c3ff, #f66b93ff, #dcaa91ff, #e5c895ff, #dded9bff, #c3f4a1ff, #a9f9b7ff);

/* SCSS Map */
$rainline-mosaic-25-02-map: (
    "dark-teal": #184e4bff,
    "dark-slate-blue": #16455dff,
    "dark-indigo": #13206dff,
    "indigo": #2a0f7fff,
    "purple": #6f0991ff,
    "velvet": #802865ff,
    "red-wine": #922344ff,
    "burnt-umber": #a5421dff,
    "mustard-brown": #ba8816ff,
    "bile": #c7cf0dff,
    "leaf": #72b238ff,
    "green": #30c73cff,
    "tealish-green": #2bda78ff,
    "bright-aqua": #2be6daff,
    "sky-blue": #2daaf2ff,
    "cornflower-blue": #5f6ccdff,
    "light-indigo": #8a60d9ff,
    "pink-purple": #d963e3ff,
    "purplish-pink": #ed66c3ff,
    "rosy-pink": #f66b93ff,
    "pinkish-tan": #dcaa91ff,
    "very-light-brown": #e5c895ff,
    "light-khaki": #dded9bff,
    "washed-out-green": #c3f4a1ff,
    "light-mint": #a9f9b7ff
);
