/*---
id: sage-mosaic-25-04
name: Sage Mosaic Medium
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 25
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 25-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-olive: #414e18ff;
--deep-green: #185d16ff;
--spruce: #136d49ff;
--sea-blue: #0f687fff;
--royal: #090b91ff;
--royal-purple: #5d2880ff;
--reddish-purple: #922362ff;
--carmine: #a51d1eff;
--brown-yellow: #ba9b16ff;
--apple-green: #6fcf0dff;
--medium-green: #38b247ff;
--topaz: #30c7c1ff;
--cornflower-blue: #2b73daff;
--purple-blue: #582be6ff;
--fuchsia: #f22de9ff;
--pinkish: #cd5f86ff;
--dark-peach: #d98860ff;
--straw: #dde363ff;
--light-grass-green: #8ded66ff;
--seafoam-green: #6bf6aaff;
--robins-egg-blue: #91cedcff;
--carolina-blue: #95a0e5ff;
--lavender: #d19bedff;
--powder-pink: #f4a1d7ff;
--blush: #f9aea9ff;

/* CSS HSL */
--dark-olive: hsla(74, 52%, 20%, 1);
--deep-green: hsla(119, 61%, 23%, 1);
--spruce: hsla(156, 70%, 25%, 1);
--sea-blue: hsla(192, 79%, 28%, 1);
--royal: hsla(239, 88%, 30%, 1);
--royal-purple: hsla(276, 52%, 33%, 1);
--reddish-purple: hsla(326, 61%, 36%, 1);
--carmine: hsla(0, 70%, 38%, 1);
--brown-yellow: hsla(49, 79%, 41%, 1);
--apple-green: hsla(90, 88%, 43%, 1);
--medium-green: hsla(127, 52%, 46%, 1);
--topaz: hsla(178, 61%, 48%, 1);
--cornflower-blue: hsla(215, 70%, 51%, 1);
--purple-blue: hsla(254, 79%, 54%, 1);
--fuchsia: hsla(302, 88%, 56%, 1);
--pinkish: hsla(339, 52%, 59%, 1);
--dark-peach: hsla(20, 61%, 61%, 1);
--straw: hsla(63, 70%, 64%, 1);
--light-grass-green: hsla(103, 79%, 66%, 1);
--seafoam-green: hsla(147, 88%, 69%, 1);
--robins-egg-blue: hsla(192, 52%, 72%, 1);
--carolina-blue: hsla(232, 61%, 74%, 1);
--lavender: hsla(279, 70%, 77%, 1);
--powder-pink: hsla(321, 79%, 79%, 1);
--blush: hsla(4, 88%, 82%, 1);
}

/* SCSS HEX */
$dark-olive: #414e18ff;
$deep-green: #185d16ff;
$spruce: #136d49ff;
$sea-blue: #0f687fff;
$royal: #090b91ff;
$royal-purple: #5d2880ff;
$reddish-purple: #922362ff;
$carmine: #a51d1eff;
$brown-yellow: #ba9b16ff;
$apple-green: #6fcf0dff;
$medium-green: #38b247ff;
$topaz: #30c7c1ff;
$cornflower-blue: #2b73daff;
$purple-blue: #582be6ff;
$fuchsia: #f22de9ff;
$pinkish: #cd5f86ff;
$dark-peach: #d98860ff;
$straw: #dde363ff;
$light-grass-green: #8ded66ff;
$seafoam-green: #6bf6aaff;
$robins-egg-blue: #91cedcff;
$carolina-blue: #95a0e5ff;
$lavender: #d19bedff;
$powder-pink: #f4a1d7ff;
$blush: #f9aea9ff;

/* SCSS HSL */
$dark-olive: hsla(74, 52%, 20%, 1);
$deep-green: hsla(119, 61%, 23%, 1);
$spruce: hsla(156, 70%, 25%, 1);
$sea-blue: hsla(192, 79%, 28%, 1);
$royal: hsla(239, 88%, 30%, 1);
$royal-purple: hsla(276, 52%, 33%, 1);
$reddish-purple: hsla(326, 61%, 36%, 1);
$carmine: hsla(0, 70%, 38%, 1);
$brown-yellow: hsla(49, 79%, 41%, 1);
$apple-green: hsla(90, 88%, 43%, 1);
$medium-green: hsla(127, 52%, 46%, 1);
$topaz: hsla(178, 61%, 48%, 1);
$cornflower-blue: hsla(215, 70%, 51%, 1);
$purple-blue: hsla(254, 79%, 54%, 1);
$fuchsia: hsla(302, 88%, 56%, 1);
$pinkish: hsla(339, 52%, 59%, 1);
$dark-peach: hsla(20, 61%, 61%, 1);
$straw: hsla(63, 70%, 64%, 1);
$light-grass-green: hsla(103, 79%, 66%, 1);
$seafoam-green: hsla(147, 88%, 69%, 1);
$robins-egg-blue: hsla(192, 52%, 72%, 1);
$carolina-blue: hsla(232, 61%, 74%, 1);
$lavender: hsla(279, 70%, 77%, 1);
$powder-pink: hsla(321, 79%, 79%, 1);
$blush: hsla(4, 88%, 82%, 1);

/* SCSS RGB */
$dark-olive: rgba(65, 78, 24, 1);
$deep-green: rgba(24, 93, 22, 1);
$spruce: rgba(19, 109, 73, 1);
$sea-blue: rgba(15, 104, 127, 1);
$royal: rgba(9, 11, 145, 1);
$royal-purple: rgba(93, 40, 128, 1);
$reddish-purple: rgba(146, 35, 98, 1);
$carmine: rgba(165, 29, 30, 1);
$brown-yellow: rgba(186, 155, 22, 1);
$apple-green: rgba(111, 207, 13, 1);
$medium-green: rgba(56, 178, 71, 1);
$topaz: rgba(48, 199, 193, 1);
$cornflower-blue: rgba(43, 115, 218, 1);
$purple-blue: rgba(88, 43, 230, 1);
$fuchsia: rgba(242, 45, 233, 1);
$pinkish: rgba(205, 95, 134, 1);
$dark-peach: rgba(217, 136, 96, 1);
$straw: rgba(221, 227, 99, 1);
$light-grass-green: rgba(141, 237, 102, 1);
$seafoam-green: rgba(107, 246, 170, 1);
$robins-egg-blue: rgba(145, 206, 220, 1);
$carolina-blue: rgba(149, 160, 229, 1);
$lavender: rgba(209, 155, 237, 1);
$powder-pink: rgba(244, 161, 215, 1);
$blush: rgba(249, 174, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-right: linear-gradient(90deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-bottom: linear-gradient(180deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-left: linear-gradient(270deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-top-right: linear-gradient(45deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-bottom-right: linear-gradient(135deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-top-left: linear-gradient(225deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-bottom-left: linear-gradient(315deg, #414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);
$gradient-radial: radial-gradient(#414e18ff, #185d16ff, #136d49ff, #0f687fff, #090b91ff, #5d2880ff, #922362ff, #a51d1eff, #ba9b16ff, #6fcf0dff, #38b247ff, #30c7c1ff, #2b73daff, #582be6ff, #f22de9ff, #cd5f86ff, #d98860ff, #dde363ff, #8ded66ff, #6bf6aaff, #91cedcff, #95a0e5ff, #d19bedff, #f4a1d7ff, #f9aea9ff);

/* SCSS Map */
$sage-mosaic-25-04-map: (
    "dark-olive": #414e18ff,
    "deep-green": #185d16ff,
    "spruce": #136d49ff,
    "sea-blue": #0f687fff,
    "royal": #090b91ff,
    "royal-purple": #5d2880ff,
    "reddish-purple": #922362ff,
    "carmine": #a51d1eff,
    "brown-yellow": #ba9b16ff,
    "apple-green": #6fcf0dff,
    "medium-green": #38b247ff,
    "topaz": #30c7c1ff,
    "cornflower-blue": #2b73daff,
    "purple-blue": #582be6ff,
    "fuchsia": #f22de9ff,
    "pinkish": #cd5f86ff,
    "dark-peach": #d98860ff,
    "straw": #dde363ff,
    "light-grass-green": #8ded66ff,
    "seafoam-green": #6bf6aaff,
    "robins-egg-blue": #91cedcff,
    "carolina-blue": #95a0e5ff,
    "lavender": #d19bedff,
    "powder-pink": #f4a1d7ff,
    "blush": #f9aea9ff
);
