/*---
id: vintage-road-821
name: Vintage Road
author: JaZeR-444
version: 1.0.0
category: Nature & Earth
count: 25
tags:
  mood:
  - natural
  aesthetic:
  - Vintage
intent: A vibrant 25-color palette inspired by Vintage Road 821.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/e24f4d-dd684d-d84533-d23d5c-d23959-d1447a-d32f7a-d63479-d53a87-d5509f
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--lunar-violet: #e24f4dff;
--pink-day: #dd684dff;
--salmon-galaxy: #d84533ff;
--future-yellow: #d23d5cff;
--wine-alley: #d23959ff;
--desert-silver: #d1447aff;
--chartreuse-oasis: #d32f7aff;
--peach-path: #d63479ff;
--future-lilac: #d53a87ff;
--burgundy-path: #d5509fff;
--pale-magenta: #d64f93ff;
--yellow-light: #ca3891ff;
--coral-sands: #d352bcff;
--orange-wood: #d04dbaff;
--bronze-dawn: #d250beff;
--tan-vapor: #cf2ebaff;
--golden-silver: #b843c8ff;
--amber-void: #9f41c5ff;
--purple: #8b2ebdff;
--rust-shadow: #ab45cdff;
--maroon-quest: #913dc8ff;
--purple-magic: #8f33beff;
--turquoise-wood: #7738b6ff;
--spring-yellow: #6635b1ff;
--tan-forest: #6349c2ff;

/* CSS HSL */
--lunar-violet: hsla(1, 72%, 60%, 1);
--pink-day: hsla(11, 68%, 59%, 1);
--salmon-galaxy: hsla(6, 68%, 53%, 1);
--future-yellow: hsla(348, 62%, 53%, 1);
--wine-alley: hsla(348, 63%, 53%, 1);
--desert-silver: hsla(337, 61%, 55%, 1);
--chartreuse-oasis: hsla(332, 65%, 51%, 1);
--peach-path: hsla(334, 67%, 52%, 1);
--future-lilac: hsla(330, 65%, 53%, 1);
--burgundy-path: hsla(324, 62%, 58%, 1);
--pale-magenta: hsla(330, 63%, 58%, 1);
--yellow-light: hsla(323, 58%, 51%, 1);
--coral-sands: hsla(311, 60%, 58%, 1);
--orange-wood: hsla(310, 58%, 56%, 1);
--bronze-dawn: hsla(309, 59%, 57%, 1);
--tan-vapor: hsla(308, 63%, 50%, 1);
--golden-silver: hsla(293, 55%, 53%, 1);
--amber-void: hsla(283, 53%, 52%, 1);
--purple: hsla(279, 61%, 46%, 1);
--rust-shadow: hsla(285, 58%, 54%, 1);
--maroon-quest: hsla(276, 56%, 51%, 1);
--purple-magic: hsla(280, 58%, 47%, 1);
--turquoise-wood: hsla(270, 53%, 47%, 1);
--spring-yellow: hsla(264, 54%, 45%, 1);
--tan-forest: hsla(253, 50%, 53%, 1);
}

/* SCSS HEX */
$lunar-violet: #e24f4dff;
$pink-day: #dd684dff;
$salmon-galaxy: #d84533ff;
$future-yellow: #d23d5cff;
$wine-alley: #d23959ff;
$desert-silver: #d1447aff;
$chartreuse-oasis: #d32f7aff;
$peach-path: #d63479ff;
$future-lilac: #d53a87ff;
$burgundy-path: #d5509fff;
$pale-magenta: #d64f93ff;
$yellow-light: #ca3891ff;
$coral-sands: #d352bcff;
$orange-wood: #d04dbaff;
$bronze-dawn: #d250beff;
$tan-vapor: #cf2ebaff;
$golden-silver: #b843c8ff;
$amber-void: #9f41c5ff;
$purple: #8b2ebdff;
$rust-shadow: #ab45cdff;
$maroon-quest: #913dc8ff;
$purple-magic: #8f33beff;
$turquoise-wood: #7738b6ff;
$spring-yellow: #6635b1ff;
$tan-forest: #6349c2ff;

/* SCSS HSL */
$lunar-violet: hsla(1, 72%, 60%, 1);
$pink-day: hsla(11, 68%, 59%, 1);
$salmon-galaxy: hsla(6, 68%, 53%, 1);
$future-yellow: hsla(348, 62%, 53%, 1);
$wine-alley: hsla(348, 63%, 53%, 1);
$desert-silver: hsla(337, 61%, 55%, 1);
$chartreuse-oasis: hsla(332, 65%, 51%, 1);
$peach-path: hsla(334, 67%, 52%, 1);
$future-lilac: hsla(330, 65%, 53%, 1);
$burgundy-path: hsla(324, 62%, 58%, 1);
$pale-magenta: hsla(330, 63%, 58%, 1);
$yellow-light: hsla(323, 58%, 51%, 1);
$coral-sands: hsla(311, 60%, 58%, 1);
$orange-wood: hsla(310, 58%, 56%, 1);
$bronze-dawn: hsla(309, 59%, 57%, 1);
$tan-vapor: hsla(308, 63%, 50%, 1);
$golden-silver: hsla(293, 55%, 53%, 1);
$amber-void: hsla(283, 53%, 52%, 1);
$purple: hsla(279, 61%, 46%, 1);
$rust-shadow: hsla(285, 58%, 54%, 1);
$maroon-quest: hsla(276, 56%, 51%, 1);
$purple-magic: hsla(280, 58%, 47%, 1);
$turquoise-wood: hsla(270, 53%, 47%, 1);
$spring-yellow: hsla(264, 54%, 45%, 1);
$tan-forest: hsla(253, 50%, 53%, 1);

/* SCSS RGB */
$lunar-violet: rgba(226, 79, 77, 1);
$pink-day: rgba(221, 104, 77, 1);
$salmon-galaxy: rgba(216, 69, 51, 1);
$future-yellow: rgba(210, 61, 92, 1);
$wine-alley: rgba(210, 57, 89, 1);
$desert-silver: rgba(209, 68, 122, 1);
$chartreuse-oasis: rgba(211, 47, 122, 1);
$peach-path: rgba(214, 52, 121, 1);
$future-lilac: rgba(213, 58, 135, 1);
$burgundy-path: rgba(213, 80, 159, 1);
$pale-magenta: rgba(214, 79, 147, 1);
$yellow-light: rgba(202, 56, 145, 1);
$coral-sands: rgba(211, 82, 188, 1);
$orange-wood: rgba(208, 77, 186, 1);
$bronze-dawn: rgba(210, 80, 190, 1);
$tan-vapor: rgba(207, 46, 186, 1);
$golden-silver: rgba(184, 67, 200, 1);
$amber-void: rgba(159, 65, 197, 1);
$purple: rgba(139, 46, 189, 1);
$rust-shadow: rgba(171, 69, 205, 1);
$maroon-quest: rgba(145, 61, 200, 1);
$purple-magic: rgba(143, 51, 190, 1);
$turquoise-wood: rgba(119, 56, 182, 1);
$spring-yellow: rgba(102, 53, 177, 1);
$tan-forest: rgba(99, 73, 194, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-right: linear-gradient(90deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-bottom: linear-gradient(180deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-left: linear-gradient(270deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-top-right: linear-gradient(45deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-bottom-right: linear-gradient(135deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-top-left: linear-gradient(225deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-bottom-left: linear-gradient(315deg, #e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);
$gradient-radial: radial-gradient(#e24f4dff, #dd684dff, #d84533ff, #d23d5cff, #d23959ff, #d1447aff, #d32f7aff, #d63479ff, #d53a87ff, #d5509fff, #d64f93ff, #ca3891ff, #d352bcff, #d04dbaff, #d250beff, #cf2ebaff, #b843c8ff, #9f41c5ff, #8b2ebdff, #ab45cdff, #913dc8ff, #8f33beff, #7738b6ff, #6635b1ff, #6349c2ff);

/* SCSS Map */
$vintage-road-821-map: (
    "lunar-violet": #e24f4dff,
    "pink-day": #dd684dff,
    "salmon-galaxy": #d84533ff,
    "future-yellow": #d23d5cff,
    "wine-alley": #d23959ff,
    "desert-silver": #d1447aff,
    "chartreuse-oasis": #d32f7aff,
    "peach-path": #d63479ff,
    "future-lilac": #d53a87ff,
    "burgundy-path": #d5509fff,
    "pale-magenta": #d64f93ff,
    "yellow-light": #ca3891ff,
    "coral-sands": #d352bcff,
    "orange-wood": #d04dbaff,
    "bronze-dawn": #d250beff,
    "tan-vapor": #cf2ebaff,
    "golden-silver": #b843c8ff,
    "amber-void": #9f41c5ff,
    "purple": #8b2ebdff,
    "rust-shadow": #ab45cdff,
    "maroon-quest": #913dc8ff,
    "purple-magic": #8f33beff,
    "turquoise-wood": #7738b6ff,
    "spring-yellow": #6635b1ff,
    "tan-forest": #6349c2ff
);
