/*---
id: warm-ember-975
name: Warm Ember
author: JaZeR-444
version: 1.0.0
category: Nature & Earth
count: 25
tags:
  mood:
  - calm
  aesthetic:
  - Abstract
  - Vaporwave
intent: A vibrant 25-color palette inspired by Warm Ember 975.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/27da59-23d023-26ca30-22d622-32cf21-4eda32-56e033-62de34-51c321-6dbe28
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--warm-wine: #27da59ff;
--lunar-burgundy: #23d023ff;
--deep-red: #26ca30ff;
--platinum-vision: #22d622ff;
--chartreuse-vision: #32cf21ff;
--cosmic-silver: #4eda32ff;
--violet-street: #56e033ff;
--future-wine: #62de34ff;
--white-horizon: #51c321ff;
--desert-magenta: #6dbe28ff;
--modern-silver: #5fbc20ff;
--lime-dust: #92cc27ff;
--gray-night: #6fb322ff;
--emerald-canyon: #a0be2cff;
--rose-sky: #a9b521ff;
--cosmic-pink: #9bac24ff;
--plum-peak: #adcb2fff;
--industrial-red: #b9b620ff;
--emerald-jungle: #b59e26ff;
--lunar-scarlet: #b6a72bff;
--muted-plum: #bca727ff;
--pink-dusk: #b39122ff;
--cyber-sapphire: #b7842aff;
--golden-magenta: #bf8729ff;
--stellar-lime: #9f6a29ff;

/* CSS HSL */
--warm-wine: hsla(137, 71%, 50%, 1);
--lunar-burgundy: hsla(120, 71%, 48%, 1);
--deep-red: hsla(124, 68%, 47%, 1);
--platinum-vision: hsla(120, 73%, 49%, 1);
--chartreuse-vision: hsla(114, 72%, 47%, 1);
--cosmic-silver: hsla(110, 70%, 53%, 1);
--violet-street: hsla(108, 74%, 54%, 1);
--future-wine: hsla(104, 72%, 54%, 1);
--white-horizon: hsla(102, 71%, 45%, 1);
--desert-magenta: hsla(92, 65%, 45%, 1);
--modern-silver: hsla(96, 70%, 43%, 1);
--lime-dust: hsla(81, 67%, 48%, 1);
--gray-night: hsla(88, 68%, 42%, 1);
--emerald-canyon: hsla(72, 62%, 46%, 1);
--rose-sky: hsla(65, 69%, 42%, 1);
--cosmic-pink: hsla(68, 65%, 41%, 1);
--plum-peak: hsla(71, 62%, 49%, 1);
--industrial-red: hsla(59, 70%, 43%, 1);
--emerald-jungle: hsla(51, 65%, 43%, 1);
--lunar-scarlet: hsla(53, 61%, 44%, 1);
--muted-plum: hsla(52, 66%, 45%, 1);
--pink-dusk: hsla(46, 68%, 42%, 1);
--cyber-sapphire: hsla(39, 63%, 44%, 1);
--golden-magenta: hsla(38, 64%, 46%, 1);
--stellar-lime: hsla(33, 59%, 39%, 1);
}

/* SCSS HEX */
$warm-wine: #27da59ff;
$lunar-burgundy: #23d023ff;
$deep-red: #26ca30ff;
$platinum-vision: #22d622ff;
$chartreuse-vision: #32cf21ff;
$cosmic-silver: #4eda32ff;
$violet-street: #56e033ff;
$future-wine: #62de34ff;
$white-horizon: #51c321ff;
$desert-magenta: #6dbe28ff;
$modern-silver: #5fbc20ff;
$lime-dust: #92cc27ff;
$gray-night: #6fb322ff;
$emerald-canyon: #a0be2cff;
$rose-sky: #a9b521ff;
$cosmic-pink: #9bac24ff;
$plum-peak: #adcb2fff;
$industrial-red: #b9b620ff;
$emerald-jungle: #b59e26ff;
$lunar-scarlet: #b6a72bff;
$muted-plum: #bca727ff;
$pink-dusk: #b39122ff;
$cyber-sapphire: #b7842aff;
$golden-magenta: #bf8729ff;
$stellar-lime: #9f6a29ff;

/* SCSS HSL */
$warm-wine: hsla(137, 71%, 50%, 1);
$lunar-burgundy: hsla(120, 71%, 48%, 1);
$deep-red: hsla(124, 68%, 47%, 1);
$platinum-vision: hsla(120, 73%, 49%, 1);
$chartreuse-vision: hsla(114, 72%, 47%, 1);
$cosmic-silver: hsla(110, 70%, 53%, 1);
$violet-street: hsla(108, 74%, 54%, 1);
$future-wine: hsla(104, 72%, 54%, 1);
$white-horizon: hsla(102, 71%, 45%, 1);
$desert-magenta: hsla(92, 65%, 45%, 1);
$modern-silver: hsla(96, 70%, 43%, 1);
$lime-dust: hsla(81, 67%, 48%, 1);
$gray-night: hsla(88, 68%, 42%, 1);
$emerald-canyon: hsla(72, 62%, 46%, 1);
$rose-sky: hsla(65, 69%, 42%, 1);
$cosmic-pink: hsla(68, 65%, 41%, 1);
$plum-peak: hsla(71, 62%, 49%, 1);
$industrial-red: hsla(59, 70%, 43%, 1);
$emerald-jungle: hsla(51, 65%, 43%, 1);
$lunar-scarlet: hsla(53, 61%, 44%, 1);
$muted-plum: hsla(52, 66%, 45%, 1);
$pink-dusk: hsla(46, 68%, 42%, 1);
$cyber-sapphire: hsla(39, 63%, 44%, 1);
$golden-magenta: hsla(38, 64%, 46%, 1);
$stellar-lime: hsla(33, 59%, 39%, 1);

/* SCSS RGB */
$warm-wine: rgba(39, 218, 89, 1);
$lunar-burgundy: rgba(35, 208, 35, 1);
$deep-red: rgba(38, 202, 48, 1);
$platinum-vision: rgba(34, 214, 34, 1);
$chartreuse-vision: rgba(50, 207, 33, 1);
$cosmic-silver: rgba(78, 218, 50, 1);
$violet-street: rgba(86, 224, 51, 1);
$future-wine: rgba(98, 222, 52, 1);
$white-horizon: rgba(81, 195, 33, 1);
$desert-magenta: rgba(109, 190, 40, 1);
$modern-silver: rgba(95, 188, 32, 1);
$lime-dust: rgba(146, 204, 39, 1);
$gray-night: rgba(111, 179, 34, 1);
$emerald-canyon: rgba(160, 190, 44, 1);
$rose-sky: rgba(169, 181, 33, 1);
$cosmic-pink: rgba(155, 172, 36, 1);
$plum-peak: rgba(173, 203, 47, 1);
$industrial-red: rgba(185, 182, 32, 1);
$emerald-jungle: rgba(181, 158, 38, 1);
$lunar-scarlet: rgba(182, 167, 43, 1);
$muted-plum: rgba(188, 167, 39, 1);
$pink-dusk: rgba(179, 145, 34, 1);
$cyber-sapphire: rgba(183, 132, 42, 1);
$golden-magenta: rgba(191, 135, 41, 1);
$stellar-lime: rgba(159, 106, 41, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-right: linear-gradient(90deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-bottom: linear-gradient(180deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-left: linear-gradient(270deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-top-right: linear-gradient(45deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-bottom-right: linear-gradient(135deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-top-left: linear-gradient(225deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-bottom-left: linear-gradient(315deg, #27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);
$gradient-radial: radial-gradient(#27da59ff, #23d023ff, #26ca30ff, #22d622ff, #32cf21ff, #4eda32ff, #56e033ff, #62de34ff, #51c321ff, #6dbe28ff, #5fbc20ff, #92cc27ff, #6fb322ff, #a0be2cff, #a9b521ff, #9bac24ff, #adcb2fff, #b9b620ff, #b59e26ff, #b6a72bff, #bca727ff, #b39122ff, #b7842aff, #bf8729ff, #9f6a29ff);

/* SCSS Map */
$warm-ember-975-map: (
    "warm-wine": #27da59ff,
    "lunar-burgundy": #23d023ff,
    "deep-red": #26ca30ff,
    "platinum-vision": #22d622ff,
    "chartreuse-vision": #32cf21ff,
    "cosmic-silver": #4eda32ff,
    "violet-street": #56e033ff,
    "future-wine": #62de34ff,
    "white-horizon": #51c321ff,
    "desert-magenta": #6dbe28ff,
    "modern-silver": #5fbc20ff,
    "lime-dust": #92cc27ff,
    "gray-night": #6fb322ff,
    "emerald-canyon": #a0be2cff,
    "rose-sky": #a9b521ff,
    "cosmic-pink": #9bac24ff,
    "plum-peak": #adcb2fff,
    "industrial-red": #b9b620ff,
    "emerald-jungle": #b59e26ff,
    "lunar-scarlet": #b6a72bff,
    "muted-plum": #bca727ff,
    "pink-dusk": #b39122ff,
    "cyber-sapphire": #b7842aff,
    "golden-magenta": #bf8729ff,
    "stellar-lime": #9f6a29ff
);
