/*---
id: commerce-web-system-32-17
name: Commerce Web System Compact
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 32
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 32-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #222427ff;
--bg-elevated: #31343aff;
--bg-overlay: #40444cff;
--border-subtle: #4e525fff;
--border-strong: #5c6272ff;
--text-muted: #6a6f85ff;
--text-base: #798697ff;
--text-strong: #8a94a6ff;
--text-inverse: #9ca5b5ff;
--neutral-11: #afb6c4ff;
--neutral-12: #c1c6d2ff;
--neutral-13: #d4d9e0ff;
--neutral-14: #e7eaeeff;
--primary: #294899ff;
--primary-hover: #7e27c4ff;
--secondary: #31e3a6ff;
--secondary-hover: #f0bc4cff;
--accent: #df9586ff;
--accent-soft: #2078a2ff;
--success: #ce1c72ff;
--warning: #265dedff;
--danger: #9f66d6ff;
--info: #7fe6c0ff;
--link: #ab8717ff;
--focus-ring: #d93c12ff;
--support-13: #46aeceff;
--support-14: #df5d9dff;
--support-15: #789fedff;
--support-16: #620fb3ff;
--support-17: #31b97fff;
--support-18: #d89d3bff;

/* CSS HSL */
--bg-canvas: hsla(220, 6%, 8%, 1);
--bg-surface: hsla(220, 7%, 14%, 1);
--bg-elevated: hsla(218, 8%, 21%, 1);
--bg-overlay: hsla(217, 9%, 27%, 1);
--border-subtle: hsla(224, 10%, 34%, 1);
--border-strong: hsla(223, 11%, 40%, 1);
--text-muted: hsla(228, 12%, 47%, 1);
--text-base: hsla(214, 12%, 53%, 1);
--text-strong: hsla(219, 13%, 60%, 1);
--text-inverse: hsla(219, 14%, 66%, 1);
--neutral-11: hsla(220, 15%, 73%, 1);
--neutral-12: hsla(223, 16%, 79%, 1);
--neutral-13: hsla(214, 17%, 86%, 1);
--neutral-14: hsla(216, 18%, 92%, 1);
--primary: hsla(223, 58%, 38%, 1);
--primary-hover: hsla(273, 67%, 46%, 1);
--secondary: hsla(160, 76%, 54%, 1);
--secondary-hover: hsla(41, 85%, 62%, 1);
--accent: hsla(10, 58%, 70%, 1);
--accent-soft: hsla(199, 67%, 38%, 1);
--success: hsla(331, 76%, 46%, 1);
--warning: hsla(223, 85%, 54%, 1);
--danger: hsla(270, 58%, 62%, 1);
--info: hsla(158, 67%, 70%, 1);
--link: hsla(46, 76%, 38%, 1);
--focus-ring: hsla(13, 85%, 46%, 1);
--support-13: hsla(194, 58%, 54%, 1);
--support-14: hsla(330, 67%, 62%, 1);
--support-15: hsla(220, 76%, 70%, 1);
--support-16: hsla(270, 85%, 38%, 1);
--support-17: hsla(154, 58%, 46%, 1);
--support-18: hsla(38, 67%, 54%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #222427ff;
$bg-elevated: #31343aff;
$bg-overlay: #40444cff;
$border-subtle: #4e525fff;
$border-strong: #5c6272ff;
$text-muted: #6a6f85ff;
$text-base: #798697ff;
$text-strong: #8a94a6ff;
$text-inverse: #9ca5b5ff;
$neutral-11: #afb6c4ff;
$neutral-12: #c1c6d2ff;
$neutral-13: #d4d9e0ff;
$neutral-14: #e7eaeeff;
$primary: #294899ff;
$primary-hover: #7e27c4ff;
$secondary: #31e3a6ff;
$secondary-hover: #f0bc4cff;
$accent: #df9586ff;
$accent-soft: #2078a2ff;
$success: #ce1c72ff;
$warning: #265dedff;
$danger: #9f66d6ff;
$info: #7fe6c0ff;
$link: #ab8717ff;
$focus-ring: #d93c12ff;
$support-13: #46aeceff;
$support-14: #df5d9dff;
$support-15: #789fedff;
$support-16: #620fb3ff;
$support-17: #31b97fff;
$support-18: #d89d3bff;

/* SCSS HSL */
$bg-canvas: hsla(220, 6%, 8%, 1);
$bg-surface: hsla(220, 7%, 14%, 1);
$bg-elevated: hsla(218, 8%, 21%, 1);
$bg-overlay: hsla(217, 9%, 27%, 1);
$border-subtle: hsla(224, 10%, 34%, 1);
$border-strong: hsla(223, 11%, 40%, 1);
$text-muted: hsla(228, 12%, 47%, 1);
$text-base: hsla(214, 12%, 53%, 1);
$text-strong: hsla(219, 13%, 60%, 1);
$text-inverse: hsla(219, 14%, 66%, 1);
$neutral-11: hsla(220, 15%, 73%, 1);
$neutral-12: hsla(223, 16%, 79%, 1);
$neutral-13: hsla(214, 17%, 86%, 1);
$neutral-14: hsla(216, 18%, 92%, 1);
$primary: hsla(223, 58%, 38%, 1);
$primary-hover: hsla(273, 67%, 46%, 1);
$secondary: hsla(160, 76%, 54%, 1);
$secondary-hover: hsla(41, 85%, 62%, 1);
$accent: hsla(10, 58%, 70%, 1);
$accent-soft: hsla(199, 67%, 38%, 1);
$success: hsla(331, 76%, 46%, 1);
$warning: hsla(223, 85%, 54%, 1);
$danger: hsla(270, 58%, 62%, 1);
$info: hsla(158, 67%, 70%, 1);
$link: hsla(46, 76%, 38%, 1);
$focus-ring: hsla(13, 85%, 46%, 1);
$support-13: hsla(194, 58%, 54%, 1);
$support-14: hsla(330, 67%, 62%, 1);
$support-15: hsla(220, 76%, 70%, 1);
$support-16: hsla(270, 85%, 38%, 1);
$support-17: hsla(154, 58%, 46%, 1);
$support-18: hsla(38, 67%, 54%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(34, 36, 39, 1);
$bg-elevated: rgba(49, 52, 58, 1);
$bg-overlay: rgba(64, 68, 76, 1);
$border-subtle: rgba(78, 82, 95, 1);
$border-strong: rgba(92, 98, 114, 1);
$text-muted: rgba(106, 111, 133, 1);
$text-base: rgba(121, 134, 151, 1);
$text-strong: rgba(138, 148, 166, 1);
$text-inverse: rgba(156, 165, 181, 1);
$neutral-11: rgba(175, 182, 196, 1);
$neutral-12: rgba(193, 198, 210, 1);
$neutral-13: rgba(212, 217, 224, 1);
$neutral-14: rgba(231, 234, 238, 1);
$primary: rgba(41, 72, 153, 1);
$primary-hover: rgba(126, 39, 196, 1);
$secondary: rgba(49, 227, 166, 1);
$secondary-hover: rgba(240, 188, 76, 1);
$accent: rgba(223, 149, 134, 1);
$accent-soft: rgba(32, 120, 162, 1);
$success: rgba(206, 28, 114, 1);
$warning: rgba(38, 93, 237, 1);
$danger: rgba(159, 102, 214, 1);
$info: rgba(127, 230, 192, 1);
$link: rgba(171, 135, 23, 1);
$focus-ring: rgba(217, 60, 18, 1);
$support-13: rgba(70, 174, 206, 1);
$support-14: rgba(223, 93, 157, 1);
$support-15: rgba(120, 159, 237, 1);
$support-16: rgba(98, 15, 179, 1);
$support-17: rgba(49, 185, 127, 1);
$support-18: rgba(216, 157, 59, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-right: linear-gradient(90deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-left: linear-gradient(270deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);
$gradient-radial: radial-gradient(#131416ff, #222427ff, #31343aff, #40444cff, #4e525fff, #5c6272ff, #6a6f85ff, #798697ff, #8a94a6ff, #9ca5b5ff, #afb6c4ff, #c1c6d2ff, #d4d9e0ff, #e7eaeeff, #294899ff, #7e27c4ff, #31e3a6ff, #f0bc4cff, #df9586ff, #2078a2ff, #ce1c72ff, #265dedff, #9f66d6ff, #7fe6c0ff, #ab8717ff, #d93c12ff, #46aeceff, #df5d9dff, #789fedff, #620fb3ff, #31b97fff, #d89d3bff);

/* SCSS Map */
$commerce-web-system-32-17-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #222427ff,
    "bg-elevated": #31343aff,
    "bg-overlay": #40444cff,
    "border-subtle": #4e525fff,
    "border-strong": #5c6272ff,
    "text-muted": #6a6f85ff,
    "text-base": #798697ff,
    "text-strong": #8a94a6ff,
    "text-inverse": #9ca5b5ff,
    "neutral-11": #afb6c4ff,
    "neutral-12": #c1c6d2ff,
    "neutral-13": #d4d9e0ff,
    "neutral-14": #e7eaeeff,
    "primary": #294899ff,
    "primary-hover": #7e27c4ff,
    "secondary": #31e3a6ff,
    "secondary-hover": #f0bc4cff,
    "accent": #df9586ff,
    "accent-soft": #2078a2ff,
    "success": #ce1c72ff,
    "warning": #265dedff,
    "danger": #9f66d6ff,
    "info": #7fe6c0ff,
    "link": #ab8717ff,
    "focus-ring": #d93c12ff,
    "support-13": #46aeceff,
    "support-14": #df5d9dff,
    "support-15": #789fedff,
    "support-16": #620fb3ff,
    "support-17": #31b97fff,
    "support-18": #d89d3bff
);
