/*---
id: harbor-mosaic-32-06
name: Harbor Mosaic Extended
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 32
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 32-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-purple: #32184eff;
--plum-purple: #54165aff;
--grape-purple: #68124fff;
--wine-red: #770e21ff;
--reddish-brown: #862c09ff;
--mud: #746325ff;
--murky-green: #768320ff;
--grass-green: #3c931aff;
--kelly-green: #13a42fff;
--cool-green: #0cb662ff;
--sea: #319a9bff;
--flat-blue: #2a71acff;
--blurple: #222fbfff;
--violet-blue: #6719d2ff;
--hot-purple: #d20fe6ff;
--purplish-pink: #c23d8bff;
--deep-rose: #cf3a5bff;
--dusty-orange: #dc7838ff;
--dark-yellow: #e7c536ff;
--yellowy-green: #caf236ff;
--turtle-green: #84ce64ff;
--dark-mint: #63d97fff;
--light-turquoise: #63e3c0ff;
--robins-egg: #64daedff;
--dark-sky-blue: #66a3f5ff;
--pale-purple: #968bdaff;
--baby-purple: #b58ce3ff;
--lavender-pink: #e38eebff;
--pink: #f291c4ff;
--rose-pink: #f8969fff;
--light-peach: #e7cab1ff;
--beige: #ede2b5ff;

/* CSS HSL */
--dark-purple: hsla(269, 52%, 20%, 1);
--plum-purple: hsla(294, 61%, 22%, 1);
--grape-purple: hsla(318, 70%, 24%, 1);
--wine-red: hsla(349, 79%, 26%, 1);
--reddish-brown: hsla(17, 88%, 28%, 1);
--mud: hsla(47, 52%, 30%, 1);
--murky-green: hsla(68, 61%, 32%, 1);
--grass-green: hsla(103, 70%, 34%, 1);
--kelly-green: hsla(131, 79%, 36%, 1);
--cool-green: hsla(151, 88%, 38%, 1);
--sea: hsla(181, 52%, 40%, 1);
--flat-blue: hsla(207, 61%, 42%, 1);
--blurple: hsla(235, 70%, 44%, 1);
--violet-blue: hsla(265, 79%, 46%, 1);
--hot-purple: hsla(294, 88%, 48%, 1);
--purplish-pink: hsla(325, 52%, 50%, 1);
--deep-rose: hsla(347, 61%, 52%, 1);
--dusty-orange: hsla(24, 70%, 54%, 1);
--dark-yellow: hsla(49, 79%, 56%, 1);
--yellowy-green: hsla(73, 88%, 58%, 1);
--turtle-green: hsla(102, 52%, 60%, 1);
--dark-mint: hsla(134, 61%, 62%, 1);
--light-turquoise: hsla(163, 70%, 64%, 1);
--robins-egg: hsla(188, 79%, 66%, 1);
--dark-sky-blue: hsla(214, 88%, 68%, 1);
--pale-purple: hsla(249, 52%, 70%, 1);
--baby-purple: hsla(268, 61%, 72%, 1);
--lavender-pink: hsla(295, 70%, 74%, 1);
--pink: hsla(328, 79%, 76%, 1);
--rose-pink: hsla(354, 88%, 78%, 1);
--light-peach: hsla(27, 52%, 80%, 1);
--beige: hsla(48, 61%, 82%, 1);
}

/* SCSS HEX */
$dark-purple: #32184eff;
$plum-purple: #54165aff;
$grape-purple: #68124fff;
$wine-red: #770e21ff;
$reddish-brown: #862c09ff;
$mud: #746325ff;
$murky-green: #768320ff;
$grass-green: #3c931aff;
$kelly-green: #13a42fff;
$cool-green: #0cb662ff;
$sea: #319a9bff;
$flat-blue: #2a71acff;
$blurple: #222fbfff;
$violet-blue: #6719d2ff;
$hot-purple: #d20fe6ff;
$purplish-pink: #c23d8bff;
$deep-rose: #cf3a5bff;
$dusty-orange: #dc7838ff;
$dark-yellow: #e7c536ff;
$yellowy-green: #caf236ff;
$turtle-green: #84ce64ff;
$dark-mint: #63d97fff;
$light-turquoise: #63e3c0ff;
$robins-egg: #64daedff;
$dark-sky-blue: #66a3f5ff;
$pale-purple: #968bdaff;
$baby-purple: #b58ce3ff;
$lavender-pink: #e38eebff;
$pink: #f291c4ff;
$rose-pink: #f8969fff;
$light-peach: #e7cab1ff;
$beige: #ede2b5ff;

/* SCSS HSL */
$dark-purple: hsla(269, 52%, 20%, 1);
$plum-purple: hsla(294, 61%, 22%, 1);
$grape-purple: hsla(318, 70%, 24%, 1);
$wine-red: hsla(349, 79%, 26%, 1);
$reddish-brown: hsla(17, 88%, 28%, 1);
$mud: hsla(47, 52%, 30%, 1);
$murky-green: hsla(68, 61%, 32%, 1);
$grass-green: hsla(103, 70%, 34%, 1);
$kelly-green: hsla(131, 79%, 36%, 1);
$cool-green: hsla(151, 88%, 38%, 1);
$sea: hsla(181, 52%, 40%, 1);
$flat-blue: hsla(207, 61%, 42%, 1);
$blurple: hsla(235, 70%, 44%, 1);
$violet-blue: hsla(265, 79%, 46%, 1);
$hot-purple: hsla(294, 88%, 48%, 1);
$purplish-pink: hsla(325, 52%, 50%, 1);
$deep-rose: hsla(347, 61%, 52%, 1);
$dusty-orange: hsla(24, 70%, 54%, 1);
$dark-yellow: hsla(49, 79%, 56%, 1);
$yellowy-green: hsla(73, 88%, 58%, 1);
$turtle-green: hsla(102, 52%, 60%, 1);
$dark-mint: hsla(134, 61%, 62%, 1);
$light-turquoise: hsla(163, 70%, 64%, 1);
$robins-egg: hsla(188, 79%, 66%, 1);
$dark-sky-blue: hsla(214, 88%, 68%, 1);
$pale-purple: hsla(249, 52%, 70%, 1);
$baby-purple: hsla(268, 61%, 72%, 1);
$lavender-pink: hsla(295, 70%, 74%, 1);
$pink: hsla(328, 79%, 76%, 1);
$rose-pink: hsla(354, 88%, 78%, 1);
$light-peach: hsla(27, 52%, 80%, 1);
$beige: hsla(48, 61%, 82%, 1);

/* SCSS RGB */
$dark-purple: rgba(50, 24, 78, 1);
$plum-purple: rgba(84, 22, 90, 1);
$grape-purple: rgba(104, 18, 79, 1);
$wine-red: rgba(119, 14, 33, 1);
$reddish-brown: rgba(134, 44, 9, 1);
$mud: rgba(116, 99, 37, 1);
$murky-green: rgba(118, 131, 32, 1);
$grass-green: rgba(60, 147, 26, 1);
$kelly-green: rgba(19, 164, 47, 1);
$cool-green: rgba(12, 182, 98, 1);
$sea: rgba(49, 154, 155, 1);
$flat-blue: rgba(42, 113, 172, 1);
$blurple: rgba(34, 47, 191, 1);
$violet-blue: rgba(103, 25, 210, 1);
$hot-purple: rgba(210, 15, 230, 1);
$purplish-pink: rgba(194, 61, 139, 1);
$deep-rose: rgba(207, 58, 91, 1);
$dusty-orange: rgba(220, 120, 56, 1);
$dark-yellow: rgba(231, 197, 54, 1);
$yellowy-green: rgba(202, 242, 54, 1);
$turtle-green: rgba(132, 206, 100, 1);
$dark-mint: rgba(99, 217, 127, 1);
$light-turquoise: rgba(99, 227, 192, 1);
$robins-egg: rgba(100, 218, 237, 1);
$dark-sky-blue: rgba(102, 163, 245, 1);
$pale-purple: rgba(150, 139, 218, 1);
$baby-purple: rgba(181, 140, 227, 1);
$lavender-pink: rgba(227, 142, 235, 1);
$pink: rgba(242, 145, 196, 1);
$rose-pink: rgba(248, 150, 159, 1);
$light-peach: rgba(231, 202, 177, 1);
$beige: rgba(237, 226, 181, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-right: linear-gradient(90deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-bottom: linear-gradient(180deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-left: linear-gradient(270deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-top-right: linear-gradient(45deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-bottom-right: linear-gradient(135deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-top-left: linear-gradient(225deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-bottom-left: linear-gradient(315deg, #32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);
$gradient-radial: radial-gradient(#32184eff, #54165aff, #68124fff, #770e21ff, #862c09ff, #746325ff, #768320ff, #3c931aff, #13a42fff, #0cb662ff, #319a9bff, #2a71acff, #222fbfff, #6719d2ff, #d20fe6ff, #c23d8bff, #cf3a5bff, #dc7838ff, #e7c536ff, #caf236ff, #84ce64ff, #63d97fff, #63e3c0ff, #64daedff, #66a3f5ff, #968bdaff, #b58ce3ff, #e38eebff, #f291c4ff, #f8969fff, #e7cab1ff, #ede2b5ff);

/* SCSS Map */
$harbor-mosaic-32-06-map: (
    "dark-purple": #32184eff,
    "plum-purple": #54165aff,
    "grape-purple": #68124fff,
    "wine-red": #770e21ff,
    "reddish-brown": #862c09ff,
    "mud": #746325ff,
    "murky-green": #768320ff,
    "grass-green": #3c931aff,
    "kelly-green": #13a42fff,
    "cool-green": #0cb662ff,
    "sea": #319a9bff,
    "flat-blue": #2a71acff,
    "blurple": #222fbfff,
    "violet-blue": #6719d2ff,
    "hot-purple": #d20fe6ff,
    "purplish-pink": #c23d8bff,
    "deep-rose": #cf3a5bff,
    "dusty-orange": #dc7838ff,
    "dark-yellow": #e7c536ff,
    "yellowy-green": #caf236ff,
    "turtle-green": #84ce64ff,
    "dark-mint": #63d97fff,
    "light-turquoise": #63e3c0ff,
    "robins-egg": #64daedff,
    "dark-sky-blue": #66a3f5ff,
    "pale-purple": #968bdaff,
    "baby-purple": #b58ce3ff,
    "lavender-pink": #e38eebff,
    "pink": #f291c4ff,
    "rose-pink": #f8969fff,
    "light-peach": #e7cab1ff,
    "beige": #ede2b5ff
);
