/*---
id: lagoon-mosaic-32-02
name: Lagoon Mosaic 32-02
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 32
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 32-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #4e1a18ff;
--tone-02: #5a3316ff;
--tone-03: #686512ff;
--tone-04: #44770eff;
--tone-05: #1c8609ff;
--tone-06: #25743fff;
--tone-07: #20836eff;
--tone-08: #1a7c93ff;
--tone-09: #133ea4ff;
--tone-10: #370cb6ff;
--tone-11: #76319bff;
--tone-12: #ac2a94ff;
--tone-13: #bf2264ff;
--tone-14: #d2191dff;
--tone-15: #e6850fff;
--tone-16: #bac23dff;
--tone-17: #81cf3aff;
--tone-18: #53dc38ff;
--tone-19: #36e778ff;
--tone-20: #36f2e9ff;
--tone-21: #64aaceff;
--tone-22: #6385d9ff;
--tone-23: #8863e3ff;
--tone-24: #cf64edff;
--tone-25: #f566e4ff;
--tone-26: #da8bacff;
--tone-27: #e39c8cff;
--tone-28: #ebc18eff;
--tone-29: #e5f291ff;
--tone-30: #c1f896ff;
--tone-31: #b1e7b6ff;
--tone-32: #b5edcaff;

/* CSS HSL */
--tone-01: hsla(1, 52%, 20%, 1);
--tone-02: hsla(25, 61%, 22%, 1);
--tone-03: hsla(58, 70%, 24%, 1);
--tone-04: hsla(89, 79%, 26%, 1);
--tone-05: hsla(111, 88%, 28%, 1);
--tone-06: hsla(140, 52%, 30%, 1);
--tone-07: hsla(167, 61%, 32%, 1);
--tone-08: hsla(192, 70%, 34%, 1);
--tone-09: hsla(222, 79%, 36%, 1);
--tone-10: hsla(255, 88%, 38%, 1);
--tone-11: hsla(279, 52%, 40%, 1);
--tone-12: hsla(311, 61%, 42%, 1);
--tone-13: hsla(335, 70%, 44%, 1);
--tone-14: hsla(359, 79%, 46%, 1);
--tone-15: hsla(33, 88%, 48%, 1);
--tone-16: hsla(64, 52%, 50%, 1);
--tone-17: hsla(92, 61%, 52%, 1);
--tone-18: hsla(110, 70%, 54%, 1);
--tone-19: hsla(142, 79%, 56%, 1);
--tone-20: hsla(177, 88%, 58%, 1);
--tone-21: hsla(200, 52%, 60%, 1);
--tone-22: hsla(223, 61%, 62%, 1);
--tone-23: hsla(257, 70%, 64%, 1);
--tone-24: hsla(287, 79%, 66%, 1);
--tone-25: hsla(307, 88%, 68%, 1);
--tone-26: hsla(335, 52%, 70%, 1);
--tone-27: hsla(11, 61%, 72%, 1);
--tone-28: hsla(33, 70%, 74%, 1);
--tone-29: hsla(68, 79%, 76%, 1);
--tone-30: hsla(94, 88%, 78%, 1);
--tone-31: hsla(125, 52%, 80%, 1);
--tone-32: hsla(142, 61%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #4e1a18ff;
$tone-02: #5a3316ff;
$tone-03: #686512ff;
$tone-04: #44770eff;
$tone-05: #1c8609ff;
$tone-06: #25743fff;
$tone-07: #20836eff;
$tone-08: #1a7c93ff;
$tone-09: #133ea4ff;
$tone-10: #370cb6ff;
$tone-11: #76319bff;
$tone-12: #ac2a94ff;
$tone-13: #bf2264ff;
$tone-14: #d2191dff;
$tone-15: #e6850fff;
$tone-16: #bac23dff;
$tone-17: #81cf3aff;
$tone-18: #53dc38ff;
$tone-19: #36e778ff;
$tone-20: #36f2e9ff;
$tone-21: #64aaceff;
$tone-22: #6385d9ff;
$tone-23: #8863e3ff;
$tone-24: #cf64edff;
$tone-25: #f566e4ff;
$tone-26: #da8bacff;
$tone-27: #e39c8cff;
$tone-28: #ebc18eff;
$tone-29: #e5f291ff;
$tone-30: #c1f896ff;
$tone-31: #b1e7b6ff;
$tone-32: #b5edcaff;

/* SCSS HSL */
$tone-01: hsla(1, 52%, 20%, 1);
$tone-02: hsla(25, 61%, 22%, 1);
$tone-03: hsla(58, 70%, 24%, 1);
$tone-04: hsla(89, 79%, 26%, 1);
$tone-05: hsla(111, 88%, 28%, 1);
$tone-06: hsla(140, 52%, 30%, 1);
$tone-07: hsla(167, 61%, 32%, 1);
$tone-08: hsla(192, 70%, 34%, 1);
$tone-09: hsla(222, 79%, 36%, 1);
$tone-10: hsla(255, 88%, 38%, 1);
$tone-11: hsla(279, 52%, 40%, 1);
$tone-12: hsla(311, 61%, 42%, 1);
$tone-13: hsla(335, 70%, 44%, 1);
$tone-14: hsla(359, 79%, 46%, 1);
$tone-15: hsla(33, 88%, 48%, 1);
$tone-16: hsla(64, 52%, 50%, 1);
$tone-17: hsla(92, 61%, 52%, 1);
$tone-18: hsla(110, 70%, 54%, 1);
$tone-19: hsla(142, 79%, 56%, 1);
$tone-20: hsla(177, 88%, 58%, 1);
$tone-21: hsla(200, 52%, 60%, 1);
$tone-22: hsla(223, 61%, 62%, 1);
$tone-23: hsla(257, 70%, 64%, 1);
$tone-24: hsla(287, 79%, 66%, 1);
$tone-25: hsla(307, 88%, 68%, 1);
$tone-26: hsla(335, 52%, 70%, 1);
$tone-27: hsla(11, 61%, 72%, 1);
$tone-28: hsla(33, 70%, 74%, 1);
$tone-29: hsla(68, 79%, 76%, 1);
$tone-30: hsla(94, 88%, 78%, 1);
$tone-31: hsla(125, 52%, 80%, 1);
$tone-32: hsla(142, 61%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(78, 26, 24, 1);
$tone-02: rgba(90, 51, 22, 1);
$tone-03: rgba(104, 101, 18, 1);
$tone-04: rgba(68, 119, 14, 1);
$tone-05: rgba(28, 134, 9, 1);
$tone-06: rgba(37, 116, 63, 1);
$tone-07: rgba(32, 131, 110, 1);
$tone-08: rgba(26, 124, 147, 1);
$tone-09: rgba(19, 62, 164, 1);
$tone-10: rgba(55, 12, 182, 1);
$tone-11: rgba(118, 49, 155, 1);
$tone-12: rgba(172, 42, 148, 1);
$tone-13: rgba(191, 34, 100, 1);
$tone-14: rgba(210, 25, 29, 1);
$tone-15: rgba(230, 133, 15, 1);
$tone-16: rgba(186, 194, 61, 1);
$tone-17: rgba(129, 207, 58, 1);
$tone-18: rgba(83, 220, 56, 1);
$tone-19: rgba(54, 231, 120, 1);
$tone-20: rgba(54, 242, 233, 1);
$tone-21: rgba(100, 170, 206, 1);
$tone-22: rgba(99, 133, 217, 1);
$tone-23: rgba(136, 99, 227, 1);
$tone-24: rgba(207, 100, 237, 1);
$tone-25: rgba(245, 102, 228, 1);
$tone-26: rgba(218, 139, 172, 1);
$tone-27: rgba(227, 156, 140, 1);
$tone-28: rgba(235, 193, 142, 1);
$tone-29: rgba(229, 242, 145, 1);
$tone-30: rgba(193, 248, 150, 1);
$tone-31: rgba(177, 231, 182, 1);
$tone-32: rgba(181, 237, 202, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-right: linear-gradient(90deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-bottom: linear-gradient(180deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-left: linear-gradient(270deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-top-right: linear-gradient(45deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-bottom-right: linear-gradient(135deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-top-left: linear-gradient(225deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-bottom-left: linear-gradient(315deg, #4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);
$gradient-radial: radial-gradient(#4e1a18ff, #5a3316ff, #686512ff, #44770eff, #1c8609ff, #25743fff, #20836eff, #1a7c93ff, #133ea4ff, #370cb6ff, #76319bff, #ac2a94ff, #bf2264ff, #d2191dff, #e6850fff, #bac23dff, #81cf3aff, #53dc38ff, #36e778ff, #36f2e9ff, #64aaceff, #6385d9ff, #8863e3ff, #cf64edff, #f566e4ff, #da8bacff, #e39c8cff, #ebc18eff, #e5f291ff, #c1f896ff, #b1e7b6ff, #b5edcaff);

/* SCSS Map */
$lagoon-mosaic-32-02-map: (
    "tone-01": #4e1a18ff,
    "tone-02": #5a3316ff,
    "tone-03": #686512ff,
    "tone-04": #44770eff,
    "tone-05": #1c8609ff,
    "tone-06": #25743fff,
    "tone-07": #20836eff,
    "tone-08": #1a7c93ff,
    "tone-09": #133ea4ff,
    "tone-10": #370cb6ff,
    "tone-11": #76319bff,
    "tone-12": #ac2a94ff,
    "tone-13": #bf2264ff,
    "tone-14": #d2191dff,
    "tone-15": #e6850fff,
    "tone-16": #bac23dff,
    "tone-17": #81cf3aff,
    "tone-18": #53dc38ff,
    "tone-19": #36e778ff,
    "tone-20": #36f2e9ff,
    "tone-21": #64aaceff,
    "tone-22": #6385d9ff,
    "tone-23": #8863e3ff,
    "tone-24": #cf64edff,
    "tone-25": #f566e4ff,
    "tone-26": #da8bacff,
    "tone-27": #e39c8cff,
    "tone-28": #ebc18eff,
    "tone-29": #e5f291ff,
    "tone-30": #c1f896ff,
    "tone-31": #b1e7b6ff,
    "tone-32": #b5edcaff
);
