/*---
id: metro-mosaic-32-01
name: Metro Mosaic Large
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 32
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 32-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--chocolate: #4e2d18ff;
--green-brown: #5a5516ff;
--mud-green: #5b6812ff;
--tree-green: #37770eff;
--emerald-green: #098618ff;
--spruce: #257447ff;
--greenish-blue: #20837cff;
--ocean: #1a7893ff;
--blueberry: #134aa4ff;
--ultramarine: #230cb6ff;
--purple: #65319bff;
--barney-purple: #9e2aacff;
--magenta: #bf2293ff;
--cerise: #d2195cff;
--red: #e60f14ff;
--clay-brown: #c2773dff;
--olive-yellow: #cfc83aff;
--slime-green: #acdc38ff;
--toxic-green: #64e736ff;
--light-neon-green: #36f23fff;
--greenish-teal: #64ce94ff;
--seafoam-blue: #63d9cfff;
--sky: #63bee3ff;
--soft-blue: #6488edff;
--warm-blue: #6668f5ff;
--pale-purple: #af8bdaff;
--lavender-pink: #cf8ce3ff;
--bubblegum-pink: #eb8ed3ff;
--pinky: #f291b7ff;
--blush: #f89e96ff;
--light-peach: #e7c8b1ff;
--beige: #ede9b5ff;

/* CSS HSL */
--chocolate: hsla(23, 52%, 20%, 1);
--green-brown: hsla(55, 61%, 22%, 1);
--mud-green: hsla(69, 70%, 24%, 1);
--tree-green: hsla(97, 79%, 26%, 1);
--emerald-green: hsla(127, 88%, 28%, 1);
--spruce: hsla(146, 52%, 30%, 1);
--greenish-blue: hsla(175, 61%, 32%, 1);
--ocean: hsla(194, 70%, 34%, 1);
--blueberry: hsla(217, 79%, 36%, 1);
--ultramarine: hsla(248, 88%, 38%, 1);
--purple: hsla(269, 52%, 40%, 1);
--barney-purple: hsla(293, 61%, 42%, 1);
--magenta: hsla(317, 70%, 44%, 1);
--cerise: hsla(338, 79%, 46%, 1);
--red: hsla(358, 88%, 48%, 1);
--clay-brown: hsla(26, 52%, 50%, 1);
--olive-yellow: hsla(57, 61%, 52%, 1);
--slime-green: hsla(77, 70%, 54%, 1);
--toxic-green: hsla(105, 79%, 56%, 1);
--light-neon-green: hsla(123, 88%, 58%, 1);
--greenish-teal: hsla(147, 52%, 60%, 1);
--seafoam-blue: hsla(175, 61%, 62%, 1);
--sky: hsla(198, 70%, 64%, 1);
--soft-blue: hsla(224, 79%, 66%, 1);
--warm-blue: hsla(239, 88%, 68%, 1);
--pale-purple: hsla(267, 52%, 70%, 1);
--lavender-pink: hsla(286, 61%, 72%, 1);
--bubblegum-pink: hsla(316, 70%, 74%, 1);
--pinky: hsla(336, 79%, 76%, 1);
--blush: hsla(5, 88%, 78%, 1);
--light-peach: hsla(25, 52%, 80%, 1);
--beige: hsla(56, 61%, 82%, 1);
}

/* SCSS HEX */
$chocolate: #4e2d18ff;
$green-brown: #5a5516ff;
$mud-green: #5b6812ff;
$tree-green: #37770eff;
$emerald-green: #098618ff;
$spruce: #257447ff;
$greenish-blue: #20837cff;
$ocean: #1a7893ff;
$blueberry: #134aa4ff;
$ultramarine: #230cb6ff;
$purple: #65319bff;
$barney-purple: #9e2aacff;
$magenta: #bf2293ff;
$cerise: #d2195cff;
$red: #e60f14ff;
$clay-brown: #c2773dff;
$olive-yellow: #cfc83aff;
$slime-green: #acdc38ff;
$toxic-green: #64e736ff;
$light-neon-green: #36f23fff;
$greenish-teal: #64ce94ff;
$seafoam-blue: #63d9cfff;
$sky: #63bee3ff;
$soft-blue: #6488edff;
$warm-blue: #6668f5ff;
$pale-purple: #af8bdaff;
$lavender-pink: #cf8ce3ff;
$bubblegum-pink: #eb8ed3ff;
$pinky: #f291b7ff;
$blush: #f89e96ff;
$light-peach: #e7c8b1ff;
$beige: #ede9b5ff;

/* SCSS HSL */
$chocolate: hsla(23, 52%, 20%, 1);
$green-brown: hsla(55, 61%, 22%, 1);
$mud-green: hsla(69, 70%, 24%, 1);
$tree-green: hsla(97, 79%, 26%, 1);
$emerald-green: hsla(127, 88%, 28%, 1);
$spruce: hsla(146, 52%, 30%, 1);
$greenish-blue: hsla(175, 61%, 32%, 1);
$ocean: hsla(194, 70%, 34%, 1);
$blueberry: hsla(217, 79%, 36%, 1);
$ultramarine: hsla(248, 88%, 38%, 1);
$purple: hsla(269, 52%, 40%, 1);
$barney-purple: hsla(293, 61%, 42%, 1);
$magenta: hsla(317, 70%, 44%, 1);
$cerise: hsla(338, 79%, 46%, 1);
$red: hsla(358, 88%, 48%, 1);
$clay-brown: hsla(26, 52%, 50%, 1);
$olive-yellow: hsla(57, 61%, 52%, 1);
$slime-green: hsla(77, 70%, 54%, 1);
$toxic-green: hsla(105, 79%, 56%, 1);
$light-neon-green: hsla(123, 88%, 58%, 1);
$greenish-teal: hsla(147, 52%, 60%, 1);
$seafoam-blue: hsla(175, 61%, 62%, 1);
$sky: hsla(198, 70%, 64%, 1);
$soft-blue: hsla(224, 79%, 66%, 1);
$warm-blue: hsla(239, 88%, 68%, 1);
$pale-purple: hsla(267, 52%, 70%, 1);
$lavender-pink: hsla(286, 61%, 72%, 1);
$bubblegum-pink: hsla(316, 70%, 74%, 1);
$pinky: hsla(336, 79%, 76%, 1);
$blush: hsla(5, 88%, 78%, 1);
$light-peach: hsla(25, 52%, 80%, 1);
$beige: hsla(56, 61%, 82%, 1);

/* SCSS RGB */
$chocolate: rgba(78, 45, 24, 1);
$green-brown: rgba(90, 85, 22, 1);
$mud-green: rgba(91, 104, 18, 1);
$tree-green: rgba(55, 119, 14, 1);
$emerald-green: rgba(9, 134, 24, 1);
$spruce: rgba(37, 116, 71, 1);
$greenish-blue: rgba(32, 131, 124, 1);
$ocean: rgba(26, 120, 147, 1);
$blueberry: rgba(19, 74, 164, 1);
$ultramarine: rgba(35, 12, 182, 1);
$purple: rgba(101, 49, 155, 1);
$barney-purple: rgba(158, 42, 172, 1);
$magenta: rgba(191, 34, 147, 1);
$cerise: rgba(210, 25, 92, 1);
$red: rgba(230, 15, 20, 1);
$clay-brown: rgba(194, 119, 61, 1);
$olive-yellow: rgba(207, 200, 58, 1);
$slime-green: rgba(172, 220, 56, 1);
$toxic-green: rgba(100, 231, 54, 1);
$light-neon-green: rgba(54, 242, 63, 1);
$greenish-teal: rgba(100, 206, 148, 1);
$seafoam-blue: rgba(99, 217, 207, 1);
$sky: rgba(99, 190, 227, 1);
$soft-blue: rgba(100, 136, 237, 1);
$warm-blue: rgba(102, 104, 245, 1);
$pale-purple: rgba(175, 139, 218, 1);
$lavender-pink: rgba(207, 140, 227, 1);
$bubblegum-pink: rgba(235, 142, 211, 1);
$pinky: rgba(242, 145, 183, 1);
$blush: rgba(248, 158, 150, 1);
$light-peach: rgba(231, 200, 177, 1);
$beige: rgba(237, 233, 181, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-right: linear-gradient(90deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-bottom: linear-gradient(180deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-left: linear-gradient(270deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-top-right: linear-gradient(45deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-bottom-right: linear-gradient(135deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-top-left: linear-gradient(225deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-bottom-left: linear-gradient(315deg, #4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);
$gradient-radial: radial-gradient(#4e2d18ff, #5a5516ff, #5b6812ff, #37770eff, #098618ff, #257447ff, #20837cff, #1a7893ff, #134aa4ff, #230cb6ff, #65319bff, #9e2aacff, #bf2293ff, #d2195cff, #e60f14ff, #c2773dff, #cfc83aff, #acdc38ff, #64e736ff, #36f23fff, #64ce94ff, #63d9cfff, #63bee3ff, #6488edff, #6668f5ff, #af8bdaff, #cf8ce3ff, #eb8ed3ff, #f291b7ff, #f89e96ff, #e7c8b1ff, #ede9b5ff);

/* SCSS Map */
$metro-mosaic-32-01-map: (
    "chocolate": #4e2d18ff,
    "green-brown": #5a5516ff,
    "mud-green": #5b6812ff,
    "tree-green": #37770eff,
    "emerald-green": #098618ff,
    "spruce": #257447ff,
    "greenish-blue": #20837cff,
    "ocean": #1a7893ff,
    "blueberry": #134aa4ff,
    "ultramarine": #230cb6ff,
    "purple": #65319bff,
    "barney-purple": #9e2aacff,
    "magenta": #bf2293ff,
    "cerise": #d2195cff,
    "red": #e60f14ff,
    "clay-brown": #c2773dff,
    "olive-yellow": #cfc83aff,
    "slime-green": #acdc38ff,
    "toxic-green": #64e736ff,
    "light-neon-green": #36f23fff,
    "greenish-teal": #64ce94ff,
    "seafoam-blue": #63d9cfff,
    "sky": #63bee3ff,
    "soft-blue": #6488edff,
    "warm-blue": #6668f5ff,
    "pale-purple": #af8bdaff,
    "lavender-pink": #cf8ce3ff,
    "bubblegum-pink": #eb8ed3ff,
    "pinky": #f291b7ff,
    "blush": #f89e96ff,
    "light-peach": #e7c8b1ff,
    "beige": #ede9b5ff
);
