/*---
id: nebula-mosaic-32-04
name: Nebula Mosaic Extended
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 32
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 32-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-maroon: #4e1827ff;
--chocolate-brown: #5a2916ff;
--mud-brown: #684e12ff;
--murky-green: #63770eff;
--dark-grass-green: #3a8609ff;
--darkish-green: #257432ff;
--dark-sea-green: #208363ff;
--ocean: #1a8193ff;
--mid-blue: #135da4ff;
--cobalt-blue: #0c1bb6ff;
--sapphire: #58319bff;
--barney-purple: #a12aacff;
--magenta: #bf228eff;
--cherry: #d21936ff;
--deep-orange: #e64a0fff;
--brown-yellow: #c2b13dff;
--pea: #b8cf3aff;
--toxic-green: #6bdc38ff;
--spearmint: #36e75dff;
--bright-teal: #36f2bdff;
--turquoise-blue: #64c5ceff;
--faded-blue: #639bd9ff;
--dark-periwinkle: #6365e3ff;
--light-urple: #a364edff;
--light-magenta: #e766f5ff;
--dull-pink: #da8bb1ff;
--dusty-pink: #e38d8cff;
--pinkish-tan: #ebaa8eff;
--sand: #f2db91ff;
--light-khaki: #e1f896ff;
--light-sage: #bbe7b1ff;
--pale-turquoise: #b5edc1ff;

/* CSS HSL */
--dark-maroon: hsla(343, 52%, 20%, 1);
--chocolate-brown: hsla(17, 61%, 22%, 1);
--mud-brown: hsla(42, 70%, 24%, 1);
--murky-green: hsla(71, 79%, 26%, 1);
--dark-grass-green: hsla(97, 88%, 28%, 1);
--darkish-green: hsla(130, 52%, 30%, 1);
--dark-sea-green: hsla(160, 61%, 32%, 1);
--ocean: hsla(189, 70%, 34%, 1);
--mid-blue: hsla(209, 79%, 36%, 1);
--cobalt-blue: hsla(235, 88%, 38%, 1);
--sapphire: hsla(262, 52%, 40%, 1);
--barney-purple: hsla(295, 61%, 42%, 1);
--magenta: hsla(319, 70%, 44%, 1);
--cherry: hsla(350, 79%, 46%, 1);
--deep-orange: hsla(16, 88%, 48%, 1);
--brown-yellow: hsla(52, 52%, 50%, 1);
--pea: hsla(69, 61%, 52%, 1);
--toxic-green: hsla(101, 70%, 54%, 1);
--spearmint: hsla(133, 79%, 56%, 1);
--bright-teal: hsla(163, 88%, 58%, 1);
--turquoise-blue: hsla(185, 52%, 60%, 1);
--faded-blue: hsla(212, 61%, 62%, 1);
--dark-periwinkle: hsla(239, 70%, 64%, 1);
--light-urple: hsla(268, 79%, 66%, 1);
--light-magenta: hsla(294, 88%, 68%, 1);
--dull-pink: hsla(331, 52%, 70%, 1);
--dusty-pink: hsla(0, 61%, 72%, 1);
--pinkish-tan: hsla(18, 70%, 74%, 1);
--sand: hsla(46, 79%, 76%, 1);
--light-khaki: hsla(74, 88%, 78%, 1);
--light-sage: hsla(109, 52%, 80%, 1);
--pale-turquoise: hsla(133, 61%, 82%, 1);
}

/* SCSS HEX */
$dark-maroon: #4e1827ff;
$chocolate-brown: #5a2916ff;
$mud-brown: #684e12ff;
$murky-green: #63770eff;
$dark-grass-green: #3a8609ff;
$darkish-green: #257432ff;
$dark-sea-green: #208363ff;
$ocean: #1a8193ff;
$mid-blue: #135da4ff;
$cobalt-blue: #0c1bb6ff;
$sapphire: #58319bff;
$barney-purple: #a12aacff;
$magenta: #bf228eff;
$cherry: #d21936ff;
$deep-orange: #e64a0fff;
$brown-yellow: #c2b13dff;
$pea: #b8cf3aff;
$toxic-green: #6bdc38ff;
$spearmint: #36e75dff;
$bright-teal: #36f2bdff;
$turquoise-blue: #64c5ceff;
$faded-blue: #639bd9ff;
$dark-periwinkle: #6365e3ff;
$light-urple: #a364edff;
$light-magenta: #e766f5ff;
$dull-pink: #da8bb1ff;
$dusty-pink: #e38d8cff;
$pinkish-tan: #ebaa8eff;
$sand: #f2db91ff;
$light-khaki: #e1f896ff;
$light-sage: #bbe7b1ff;
$pale-turquoise: #b5edc1ff;

/* SCSS HSL */
$dark-maroon: hsla(343, 52%, 20%, 1);
$chocolate-brown: hsla(17, 61%, 22%, 1);
$mud-brown: hsla(42, 70%, 24%, 1);
$murky-green: hsla(71, 79%, 26%, 1);
$dark-grass-green: hsla(97, 88%, 28%, 1);
$darkish-green: hsla(130, 52%, 30%, 1);
$dark-sea-green: hsla(160, 61%, 32%, 1);
$ocean: hsla(189, 70%, 34%, 1);
$mid-blue: hsla(209, 79%, 36%, 1);
$cobalt-blue: hsla(235, 88%, 38%, 1);
$sapphire: hsla(262, 52%, 40%, 1);
$barney-purple: hsla(295, 61%, 42%, 1);
$magenta: hsla(319, 70%, 44%, 1);
$cherry: hsla(350, 79%, 46%, 1);
$deep-orange: hsla(16, 88%, 48%, 1);
$brown-yellow: hsla(52, 52%, 50%, 1);
$pea: hsla(69, 61%, 52%, 1);
$toxic-green: hsla(101, 70%, 54%, 1);
$spearmint: hsla(133, 79%, 56%, 1);
$bright-teal: hsla(163, 88%, 58%, 1);
$turquoise-blue: hsla(185, 52%, 60%, 1);
$faded-blue: hsla(212, 61%, 62%, 1);
$dark-periwinkle: hsla(239, 70%, 64%, 1);
$light-urple: hsla(268, 79%, 66%, 1);
$light-magenta: hsla(294, 88%, 68%, 1);
$dull-pink: hsla(331, 52%, 70%, 1);
$dusty-pink: hsla(0, 61%, 72%, 1);
$pinkish-tan: hsla(18, 70%, 74%, 1);
$sand: hsla(46, 79%, 76%, 1);
$light-khaki: hsla(74, 88%, 78%, 1);
$light-sage: hsla(109, 52%, 80%, 1);
$pale-turquoise: hsla(133, 61%, 82%, 1);

/* SCSS RGB */
$dark-maroon: rgba(78, 24, 39, 1);
$chocolate-brown: rgba(90, 41, 22, 1);
$mud-brown: rgba(104, 78, 18, 1);
$murky-green: rgba(99, 119, 14, 1);
$dark-grass-green: rgba(58, 134, 9, 1);
$darkish-green: rgba(37, 116, 50, 1);
$dark-sea-green: rgba(32, 131, 99, 1);
$ocean: rgba(26, 129, 147, 1);
$mid-blue: rgba(19, 93, 164, 1);
$cobalt-blue: rgba(12, 27, 182, 1);
$sapphire: rgba(88, 49, 155, 1);
$barney-purple: rgba(161, 42, 172, 1);
$magenta: rgba(191, 34, 142, 1);
$cherry: rgba(210, 25, 54, 1);
$deep-orange: rgba(230, 74, 15, 1);
$brown-yellow: rgba(194, 177, 61, 1);
$pea: rgba(184, 207, 58, 1);
$toxic-green: rgba(107, 220, 56, 1);
$spearmint: rgba(54, 231, 93, 1);
$bright-teal: rgba(54, 242, 189, 1);
$turquoise-blue: rgba(100, 197, 206, 1);
$faded-blue: rgba(99, 155, 217, 1);
$dark-periwinkle: rgba(99, 101, 227, 1);
$light-urple: rgba(163, 100, 237, 1);
$light-magenta: rgba(231, 102, 245, 1);
$dull-pink: rgba(218, 139, 177, 1);
$dusty-pink: rgba(227, 141, 140, 1);
$pinkish-tan: rgba(235, 170, 142, 1);
$sand: rgba(242, 219, 145, 1);
$light-khaki: rgba(225, 248, 150, 1);
$light-sage: rgba(187, 231, 177, 1);
$pale-turquoise: rgba(181, 237, 193, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-right: linear-gradient(90deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-bottom: linear-gradient(180deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-left: linear-gradient(270deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-top-right: linear-gradient(45deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-bottom-right: linear-gradient(135deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-top-left: linear-gradient(225deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-bottom-left: linear-gradient(315deg, #4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);
$gradient-radial: radial-gradient(#4e1827ff, #5a2916ff, #684e12ff, #63770eff, #3a8609ff, #257432ff, #208363ff, #1a8193ff, #135da4ff, #0c1bb6ff, #58319bff, #a12aacff, #bf228eff, #d21936ff, #e64a0fff, #c2b13dff, #b8cf3aff, #6bdc38ff, #36e75dff, #36f2bdff, #64c5ceff, #639bd9ff, #6365e3ff, #a364edff, #e766f5ff, #da8bb1ff, #e38d8cff, #ebaa8eff, #f2db91ff, #e1f896ff, #bbe7b1ff, #b5edc1ff);

/* SCSS Map */
$nebula-mosaic-32-04-map: (
    "dark-maroon": #4e1827ff,
    "chocolate-brown": #5a2916ff,
    "mud-brown": #684e12ff,
    "murky-green": #63770eff,
    "dark-grass-green": #3a8609ff,
    "darkish-green": #257432ff,
    "dark-sea-green": #208363ff,
    "ocean": #1a8193ff,
    "mid-blue": #135da4ff,
    "cobalt-blue": #0c1bb6ff,
    "sapphire": #58319bff,
    "barney-purple": #a12aacff,
    "magenta": #bf228eff,
    "cherry": #d21936ff,
    "deep-orange": #e64a0fff,
    "brown-yellow": #c2b13dff,
    "pea": #b8cf3aff,
    "toxic-green": #6bdc38ff,
    "spearmint": #36e75dff,
    "bright-teal": #36f2bdff,
    "turquoise-blue": #64c5ceff,
    "faded-blue": #639bd9ff,
    "dark-periwinkle": #6365e3ff,
    "light-urple": #a364edff,
    "light-magenta": #e766f5ff,
    "dull-pink": #da8bb1ff,
    "dusty-pink": #e38d8cff,
    "pinkish-tan": #ebaa8eff,
    "sand": #f2db91ff,
    "light-khaki": #e1f896ff,
    "light-sage": #bbe7b1ff,
    "pale-turquoise": #b5edc1ff
);
