/*---
id: prairie-mosaic-32-07
name: Prairie Mosaic Extended
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 32
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 32-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--forrest-green: #264e18ff;
--forest: #165a19ff;
--spruce: #126842ff;
--blue-green: #0e7761ff;
--sea-blue: #096486ff;
--twilight-blue: #253c74ff;
--dark-royal-blue: #212083ff;
--indigo: #531a93ff;
--barney-purple: #9b13a4ff;
--magenta: #b60c7dff;
--mulberry: #9b315eff;
--brick: #ac3d2aff;
--copper: #bf6a22ff;
--mustard-yellow: #d2bf19ff;
--lime: #97e60fff;
--apple: #65c23dff;
--lightish-green: #3acf49ff;
--seaweed: #38dc80ff;
--aqua: #36e7cdff;
--bright-sky-blue: #36c9f2ff;
--windows-blue: #6484ceff;
--dark-periwinkle: #6563d9ff;
--light-urple: #9e63e3ff;
--pink-purple: #d664edff;
--candy-pink: #f566dcff;
--dull-pink: #da8ba5ff;
--dusty-pink: #e38e8cff;
--very-light-brown: #ebb98eff;
--dark-cream: #f2e091ff;
--celery: #d7f896ff;
--light-sage: #c6e7b1ff;
--hospital-green: #b5edb7ff;

/* CSS HSL */
--forrest-green: hsla(104, 52%, 20%, 1);
--forest: hsla(123, 61%, 22%, 1);
--spruce: hsla(153, 70%, 24%, 1);
--blue-green: hsla(168, 79%, 26%, 1);
--sea-blue: hsla(197, 88%, 28%, 1);
--twilight-blue: hsla(223, 52%, 30%, 1);
--dark-royal-blue: hsla(241, 61%, 32%, 1);
--indigo: hsla(268, 70%, 34%, 1);
--barney-purple: hsla(296, 79%, 36%, 1);
--magenta: hsla(320, 88%, 38%, 1);
--mulberry: hsla(335, 52%, 40%, 1);
--brick: hsla(9, 61%, 42%, 1);
--copper: hsla(28, 70%, 44%, 1);
--mustard-yellow: hsla(54, 79%, 46%, 1);
--lime: hsla(82, 88%, 48%, 1);
--apple: hsla(102, 52%, 50%, 1);
--lightish-green: hsla(126, 61%, 52%, 1);
--seaweed: hsla(146, 70%, 54%, 1);
--aqua: hsla(171, 79%, 56%, 1);
--bright-sky-blue: hsla(193, 88%, 58%, 1);
--windows-blue: hsla(222, 52%, 60%, 1);
--dark-periwinkle: hsla(241, 61%, 62%, 1);
--light-urple: hsla(268, 70%, 64%, 1);
--pink-purple: hsla(290, 79%, 66%, 1);
--candy-pink: hsla(311, 88%, 68%, 1);
--dull-pink: hsla(340, 52%, 70%, 1);
--dusty-pink: hsla(1, 61%, 72%, 1);
--very-light-brown: hsla(28, 70%, 74%, 1);
--dark-cream: hsla(49, 79%, 76%, 1);
--celery: hsla(80, 88%, 78%, 1);
--light-sage: hsla(96, 52%, 80%, 1);
--hospital-green: hsla(122, 61%, 82%, 1);
}

/* SCSS HEX */
$forrest-green: #264e18ff;
$forest: #165a19ff;
$spruce: #126842ff;
$blue-green: #0e7761ff;
$sea-blue: #096486ff;
$twilight-blue: #253c74ff;
$dark-royal-blue: #212083ff;
$indigo: #531a93ff;
$barney-purple: #9b13a4ff;
$magenta: #b60c7dff;
$mulberry: #9b315eff;
$brick: #ac3d2aff;
$copper: #bf6a22ff;
$mustard-yellow: #d2bf19ff;
$lime: #97e60fff;
$apple: #65c23dff;
$lightish-green: #3acf49ff;
$seaweed: #38dc80ff;
$aqua: #36e7cdff;
$bright-sky-blue: #36c9f2ff;
$windows-blue: #6484ceff;
$dark-periwinkle: #6563d9ff;
$light-urple: #9e63e3ff;
$pink-purple: #d664edff;
$candy-pink: #f566dcff;
$dull-pink: #da8ba5ff;
$dusty-pink: #e38e8cff;
$very-light-brown: #ebb98eff;
$dark-cream: #f2e091ff;
$celery: #d7f896ff;
$light-sage: #c6e7b1ff;
$hospital-green: #b5edb7ff;

/* SCSS HSL */
$forrest-green: hsla(104, 52%, 20%, 1);
$forest: hsla(123, 61%, 22%, 1);
$spruce: hsla(153, 70%, 24%, 1);
$blue-green: hsla(168, 79%, 26%, 1);
$sea-blue: hsla(197, 88%, 28%, 1);
$twilight-blue: hsla(223, 52%, 30%, 1);
$dark-royal-blue: hsla(241, 61%, 32%, 1);
$indigo: hsla(268, 70%, 34%, 1);
$barney-purple: hsla(296, 79%, 36%, 1);
$magenta: hsla(320, 88%, 38%, 1);
$mulberry: hsla(335, 52%, 40%, 1);
$brick: hsla(9, 61%, 42%, 1);
$copper: hsla(28, 70%, 44%, 1);
$mustard-yellow: hsla(54, 79%, 46%, 1);
$lime: hsla(82, 88%, 48%, 1);
$apple: hsla(102, 52%, 50%, 1);
$lightish-green: hsla(126, 61%, 52%, 1);
$seaweed: hsla(146, 70%, 54%, 1);
$aqua: hsla(171, 79%, 56%, 1);
$bright-sky-blue: hsla(193, 88%, 58%, 1);
$windows-blue: hsla(222, 52%, 60%, 1);
$dark-periwinkle: hsla(241, 61%, 62%, 1);
$light-urple: hsla(268, 70%, 64%, 1);
$pink-purple: hsla(290, 79%, 66%, 1);
$candy-pink: hsla(311, 88%, 68%, 1);
$dull-pink: hsla(340, 52%, 70%, 1);
$dusty-pink: hsla(1, 61%, 72%, 1);
$very-light-brown: hsla(28, 70%, 74%, 1);
$dark-cream: hsla(49, 79%, 76%, 1);
$celery: hsla(80, 88%, 78%, 1);
$light-sage: hsla(96, 52%, 80%, 1);
$hospital-green: hsla(122, 61%, 82%, 1);

/* SCSS RGB */
$forrest-green: rgba(38, 78, 24, 1);
$forest: rgba(22, 90, 25, 1);
$spruce: rgba(18, 104, 66, 1);
$blue-green: rgba(14, 119, 97, 1);
$sea-blue: rgba(9, 100, 134, 1);
$twilight-blue: rgba(37, 60, 116, 1);
$dark-royal-blue: rgba(33, 32, 131, 1);
$indigo: rgba(83, 26, 147, 1);
$barney-purple: rgba(155, 19, 164, 1);
$magenta: rgba(182, 12, 125, 1);
$mulberry: rgba(155, 49, 94, 1);
$brick: rgba(172, 61, 42, 1);
$copper: rgba(191, 106, 34, 1);
$mustard-yellow: rgba(210, 191, 25, 1);
$lime: rgba(151, 230, 15, 1);
$apple: rgba(101, 194, 61, 1);
$lightish-green: rgba(58, 207, 73, 1);
$seaweed: rgba(56, 220, 128, 1);
$aqua: rgba(54, 231, 205, 1);
$bright-sky-blue: rgba(54, 201, 242, 1);
$windows-blue: rgba(100, 132, 206, 1);
$dark-periwinkle: rgba(101, 99, 217, 1);
$light-urple: rgba(158, 99, 227, 1);
$pink-purple: rgba(214, 100, 237, 1);
$candy-pink: rgba(245, 102, 220, 1);
$dull-pink: rgba(218, 139, 165, 1);
$dusty-pink: rgba(227, 142, 140, 1);
$very-light-brown: rgba(235, 185, 142, 1);
$dark-cream: rgba(242, 224, 145, 1);
$celery: rgba(215, 248, 150, 1);
$light-sage: rgba(198, 231, 177, 1);
$hospital-green: rgba(181, 237, 183, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-right: linear-gradient(90deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-bottom: linear-gradient(180deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-left: linear-gradient(270deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-top-right: linear-gradient(45deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-bottom-right: linear-gradient(135deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-top-left: linear-gradient(225deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-bottom-left: linear-gradient(315deg, #264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);
$gradient-radial: radial-gradient(#264e18ff, #165a19ff, #126842ff, #0e7761ff, #096486ff, #253c74ff, #212083ff, #531a93ff, #9b13a4ff, #b60c7dff, #9b315eff, #ac3d2aff, #bf6a22ff, #d2bf19ff, #97e60fff, #65c23dff, #3acf49ff, #38dc80ff, #36e7cdff, #36c9f2ff, #6484ceff, #6563d9ff, #9e63e3ff, #d664edff, #f566dcff, #da8ba5ff, #e38e8cff, #ebb98eff, #f2e091ff, #d7f896ff, #c6e7b1ff, #b5edb7ff);

/* SCSS Map */
$prairie-mosaic-32-07-map: (
    "forrest-green": #264e18ff,
    "forest": #165a19ff,
    "spruce": #126842ff,
    "blue-green": #0e7761ff,
    "sea-blue": #096486ff,
    "twilight-blue": #253c74ff,
    "dark-royal-blue": #212083ff,
    "indigo": #531a93ff,
    "barney-purple": #9b13a4ff,
    "magenta": #b60c7dff,
    "mulberry": #9b315eff,
    "brick": #ac3d2aff,
    "copper": #bf6a22ff,
    "mustard-yellow": #d2bf19ff,
    "lime": #97e60fff,
    "apple": #65c23dff,
    "lightish-green": #3acf49ff,
    "seaweed": #38dc80ff,
    "aqua": #36e7cdff,
    "bright-sky-blue": #36c9f2ff,
    "windows-blue": #6484ceff,
    "dark-periwinkle": #6563d9ff,
    "light-urple": #9e63e3ff,
    "pink-purple": #d664edff,
    "candy-pink": #f566dcff,
    "dull-pink": #da8ba5ff,
    "dusty-pink": #e38e8cff,
    "very-light-brown": #ebb98eff,
    "dark-cream": #f2e091ff,
    "celery": #d7f896ff,
    "light-sage": #c6e7b1ff,
    "hospital-green": #b5edb7ff
);
