/*---
id: autumn-leaves
name: Autumn Leaves
author: JaZeR-444
version: 1.0.0
category: Nature & Elemental
count: 7
tags:
  mood:
  - nature
  aesthetic:
  - Nature
intent: A vibrant 7-color palette inspired by Autumn Leaves.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/
created: '2026-05-18'
updated: '2026-05-18'
---*/

:root {
/* CSS HEX */
--maroon: #3d0000ff;
--rosewood: #5a1207ff;
--oxblood: #903112ff;
--rust: #bc5421ff;
--copper: #de7c3eff;
--apricot-orange: #f1a16dff;
--peach: #f8c291ff;

/* CSS HSL */
--maroon: hsla(0, 100%, 12%, 1);
--rosewood: hsla(8, 86%, 19%, 1);
--oxblood: hsla(15, 78%, 32%, 1);
--rust: hsla(20, 70%, 43%, 1);
--copper: hsla(23, 71%, 56%, 1);
--apricot-orange: hsla(24, 82%, 69%, 1);
--peach: hsla(29, 88%, 77%, 1);
}

/* SCSS HEX */
$maroon: #3d0000ff;
$rosewood: #5a1207ff;
$oxblood: #903112ff;
$rust: #bc5421ff;
$copper: #de7c3eff;
$apricot-orange: #f1a16dff;
$peach: #f8c291ff;

/* SCSS HSL */
$maroon: hsla(0, 100%, 12%, 1);
$rosewood: hsla(8, 86%, 19%, 1);
$oxblood: hsla(15, 78%, 32%, 1);
$rust: hsla(20, 70%, 43%, 1);
$copper: hsla(23, 71%, 56%, 1);
$apricot-orange: hsla(24, 82%, 69%, 1);
$peach: hsla(29, 88%, 77%, 1);

/* SCSS RGB */
$maroon: rgba(61, 0, 0, 1);
$rosewood: rgba(90, 18, 7, 1);
$oxblood: rgba(144, 49, 18, 1);
$rust: rgba(188, 84, 33, 1);
$copper: rgba(222, 124, 62, 1);
$apricot-orange: rgba(241, 161, 109, 1);
$peach: rgba(248, 194, 145, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-right: linear-gradient(90deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-bottom: linear-gradient(180deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-left: linear-gradient(270deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-top-right: linear-gradient(45deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-bottom-right: linear-gradient(135deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-top-left: linear-gradient(225deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-bottom-left: linear-gradient(315deg, #3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);
$gradient-radial: radial-gradient(#3d0000ff, #5a1207ff, #903112ff, #bc5421ff, #de7c3eff, #f1a16dff, #f8c291ff);

/* SCSS Map */
$autumn-leaves-map: (
    "maroon": #3d0000ff,
    "rosewood": #5a1207ff,
    "oxblood": #903112ff,
    "rust": #bc5421ff,
    "copper": #de7c3eff,
    "apricot-orange": #f1a16dff,
    "peach": #f8c291ff
);
