/*---
id: magenta-span-24-10
name: Magenta Span Medium
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 24
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 24-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #190f17ff;
--very-dark-brown: #271421ff;
--aubergine: #35192bff;
--eggplant: #431e39ff;
--plum: #551f46ff;
--grape-purple: #662054ff;
--velvet: #77215eff;
--rich-purple: #8b216bff;
--red-violet: #9f1e77ff;
--magenta: #b11f7fff;
--purpley-pink: #cb189bff;
--bright-pink: #de17aaff;
--shocking-pink: #ef1aa9ff;
--barbie-pink: #e734a9ff;
--purplish-pink: #e04eafff;
--pale-magenta: #df61b8ff;
--bubblegum-pink: #e271c4ff;
--lavender-pink: #dc8ac2ff;
--powder-pink: #e098c8ff;
--baby-pink: #e0abd0ff;
--very-light-purple: #e3bad8ff;
--light-pink: #e4ccdcff;
--pale-pink: #ead8e6ff;
--very-light-pink: #f0e6ecff;

/* CSS HSL */
--almost-black: hsla(318, 25%, 8%, 1);
--very-dark-brown: hsla(318, 32%, 12%, 1);
--aubergine: hsla(318, 35%, 15%, 1);
--eggplant: hsla(318, 39%, 19%, 1);
--plum: hsla(318, 47%, 23%, 1);
--grape-purple: hsla(318, 53%, 26%, 1);
--velvet: hsla(318, 57%, 30%, 1);
--rich-purple: hsla(318, 62%, 34%, 1);
--red-violet: hsla(318, 68%, 37%, 1);
--magenta: hsla(318, 70%, 41%, 1);
--purpley-pink: hsla(318, 79%, 45%, 1);
--bright-pink: hsla(318, 81%, 48%, 1);
--shocking-pink: hsla(318, 87%, 52%, 1);
--barbie-pink: hsla(318, 79%, 55%, 1);
--purplish-pink: hsla(318, 70%, 59%, 1);
--pale-magenta: hsla(318, 66%, 63%, 1);
--bubblegum-pink: hsla(318, 66%, 66%, 1);
--lavender-pink: hsla(318, 54%, 70%, 1);
--powder-pink: hsla(318, 53%, 74%, 1);
--baby-pink: hsla(318, 46%, 77%, 1);
--very-light-purple: hsla(318, 43%, 81%, 1);
--light-pink: hsla(318, 31%, 85%, 1);
--pale-pink: hsla(318, 30%, 88%, 1);
--very-light-pink: hsla(318, 24%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #190f17ff;
$very-dark-brown: #271421ff;
$aubergine: #35192bff;
$eggplant: #431e39ff;
$plum: #551f46ff;
$grape-purple: #662054ff;
$velvet: #77215eff;
$rich-purple: #8b216bff;
$red-violet: #9f1e77ff;
$magenta: #b11f7fff;
$purpley-pink: #cb189bff;
$bright-pink: #de17aaff;
$shocking-pink: #ef1aa9ff;
$barbie-pink: #e734a9ff;
$purplish-pink: #e04eafff;
$pale-magenta: #df61b8ff;
$bubblegum-pink: #e271c4ff;
$lavender-pink: #dc8ac2ff;
$powder-pink: #e098c8ff;
$baby-pink: #e0abd0ff;
$very-light-purple: #e3bad8ff;
$light-pink: #e4ccdcff;
$pale-pink: #ead8e6ff;
$very-light-pink: #f0e6ecff;

/* SCSS HSL */
$almost-black: hsla(318, 25%, 8%, 1);
$very-dark-brown: hsla(318, 32%, 12%, 1);
$aubergine: hsla(318, 35%, 15%, 1);
$eggplant: hsla(318, 39%, 19%, 1);
$plum: hsla(318, 47%, 23%, 1);
$grape-purple: hsla(318, 53%, 26%, 1);
$velvet: hsla(318, 57%, 30%, 1);
$rich-purple: hsla(318, 62%, 34%, 1);
$red-violet: hsla(318, 68%, 37%, 1);
$magenta: hsla(318, 70%, 41%, 1);
$purpley-pink: hsla(318, 79%, 45%, 1);
$bright-pink: hsla(318, 81%, 48%, 1);
$shocking-pink: hsla(318, 87%, 52%, 1);
$barbie-pink: hsla(318, 79%, 55%, 1);
$purplish-pink: hsla(318, 70%, 59%, 1);
$pale-magenta: hsla(318, 66%, 63%, 1);
$bubblegum-pink: hsla(318, 66%, 66%, 1);
$lavender-pink: hsla(318, 54%, 70%, 1);
$powder-pink: hsla(318, 53%, 74%, 1);
$baby-pink: hsla(318, 46%, 77%, 1);
$very-light-purple: hsla(318, 43%, 81%, 1);
$light-pink: hsla(318, 31%, 85%, 1);
$pale-pink: hsla(318, 30%, 88%, 1);
$very-light-pink: hsla(318, 24%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(25, 15, 23, 1);
$very-dark-brown: rgba(39, 20, 33, 1);
$aubergine: rgba(53, 25, 43, 1);
$eggplant: rgba(67, 30, 57, 1);
$plum: rgba(85, 31, 70, 1);
$grape-purple: rgba(102, 32, 84, 1);
$velvet: rgba(119, 33, 94, 1);
$rich-purple: rgba(139, 33, 107, 1);
$red-violet: rgba(159, 30, 119, 1);
$magenta: rgba(177, 31, 127, 1);
$purpley-pink: rgba(203, 24, 155, 1);
$bright-pink: rgba(222, 23, 170, 1);
$shocking-pink: rgba(239, 26, 169, 1);
$barbie-pink: rgba(231, 52, 169, 1);
$purplish-pink: rgba(224, 78, 175, 1);
$pale-magenta: rgba(223, 97, 184, 1);
$bubblegum-pink: rgba(226, 113, 196, 1);
$lavender-pink: rgba(220, 138, 194, 1);
$powder-pink: rgba(224, 152, 200, 1);
$baby-pink: rgba(224, 171, 208, 1);
$very-light-purple: rgba(227, 186, 216, 1);
$light-pink: rgba(228, 204, 220, 1);
$pale-pink: rgba(234, 216, 230, 1);
$very-light-pink: rgba(240, 230, 236, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-right: linear-gradient(90deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-bottom: linear-gradient(180deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-left: linear-gradient(270deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-top-right: linear-gradient(45deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-bottom-right: linear-gradient(135deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-top-left: linear-gradient(225deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-bottom-left: linear-gradient(315deg, #190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);
$gradient-radial: radial-gradient(#190f17ff, #271421ff, #35192bff, #431e39ff, #551f46ff, #662054ff, #77215eff, #8b216bff, #9f1e77ff, #b11f7fff, #cb189bff, #de17aaff, #ef1aa9ff, #e734a9ff, #e04eafff, #df61b8ff, #e271c4ff, #dc8ac2ff, #e098c8ff, #e0abd0ff, #e3bad8ff, #e4ccdcff, #ead8e6ff, #f0e6ecff);

/* SCSS Map */
$magenta-span-24-10-map: (
    "almost-black": #190f17ff,
    "very-dark-brown": #271421ff,
    "aubergine": #35192bff,
    "eggplant": #431e39ff,
    "plum": #551f46ff,
    "grape-purple": #662054ff,
    "velvet": #77215eff,
    "rich-purple": #8b216bff,
    "red-violet": #9f1e77ff,
    "magenta": #b11f7fff,
    "purpley-pink": #cb189bff,
    "bright-pink": #de17aaff,
    "shocking-pink": #ef1aa9ff,
    "barbie-pink": #e734a9ff,
    "purplish-pink": #e04eafff,
    "pale-magenta": #df61b8ff,
    "bubblegum-pink": #e271c4ff,
    "lavender-pink": #dc8ac2ff,
    "powder-pink": #e098c8ff,
    "baby-pink": #e0abd0ff,
    "very-light-purple": #e3bad8ff,
    "light-pink": #e4ccdcff,
    "pale-pink": #ead8e6ff,
    "very-light-pink": #f0e6ecff
);
