/*---
id: royal-frost-960
name: Royal Frost
author: JaZeR-444
version: 1.0.0
category: Abstract & Geometric
count: 24
tags:
  mood:
  - serious
  - synthetic
  - playful
  aesthetic:
  - Geometric
  - Nature
intent: A vibrant 24-color palette inspired by Royal Frost 960.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/d2f963-d8fa6c-f7fb5a-f7fb79-f4fb4f-fbdf4d-fbcd4f-f8a447-f7b548-f9983e
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--summer-crimson: #d2f963ff;
--midnight-rust: #d8fa6cff;
--cool-amber: #f7fb5aff;
--pastel-cyan: #f7fb79ff;
--plum-sea: #f4fb4fff;
--glow-lime: #fbdf4dff;
--neon-brown: #fbcd4fff;
--deep-turquoise: #f8a447ff;
--peach-star: #f7b548ff;
--chartreuse-wave: #f9983eff;
--midnight-amber: #f3a236ff;
--dark-brown: #f5704eff;
--royal-rust: #fb6e20ff;
--dark-sapphire: #f26734ff;
--green-snow: #f12b22ff;
--autumn-coral: #fc414aff;
--pastel-scarlet: #f61923ff;
--retro-ivory: #f82326ff;
--radiant-pink: #fb1553ff;
--green-light: #fd1441ff;
--brown-trail: #f51a6bff;
--silver-illusion: #ea0754ff;
--cyber-burgundy: #e10b86ff;
--lunar-blue: #e902a2ff;

/* CSS HSL */
--summer-crimson: hsla(76, 93%, 68%, 1);
--midnight-rust: hsla(75, 95%, 70%, 1);
--cool-amber: hsla(61, 96%, 67%, 1);
--pastel-cyan: hsla(62, 94%, 73%, 1);
--plum-sea: hsla(62, 96%, 65%, 1);
--glow-lime: hsla(50, 96%, 64%, 1);
--neon-brown: hsla(44, 96%, 65%, 1);
--deep-turquoise: hsla(32, 93%, 63%, 1);
--peach-star: hsla(37, 92%, 63%, 1);
--chartreuse-wave: hsla(29, 94%, 61%, 1);
--midnight-amber: hsla(34, 89%, 59%, 1);
--dark-brown: hsla(12, 90%, 64%, 1);
--royal-rust: hsla(21, 97%, 56%, 1);
--dark-sapphire: hsla(16, 89%, 58%, 1);
--green-snow: hsla(2, 89%, 54%, 1);
--autumn-coral: hsla(357, 97%, 62%, 1);
--pastel-scarlet: hsla(357, 93%, 53%, 1);
--retro-ivory: hsla(359, 94%, 56%, 1);
--radiant-pink: hsla(344, 97%, 54%, 1);
--green-light: hsla(349, 98%, 54%, 1);
--brown-trail: hsla(338, 92%, 53%, 1);
--silver-illusion: hsla(340, 93%, 48%, 1);
--cyber-burgundy: hsla(326, 90%, 47%, 1);
--lunar-blue: hsla(319, 98%, 46%, 1);
}

/* SCSS HEX */
$summer-crimson: #d2f963ff;
$midnight-rust: #d8fa6cff;
$cool-amber: #f7fb5aff;
$pastel-cyan: #f7fb79ff;
$plum-sea: #f4fb4fff;
$glow-lime: #fbdf4dff;
$neon-brown: #fbcd4fff;
$deep-turquoise: #f8a447ff;
$peach-star: #f7b548ff;
$chartreuse-wave: #f9983eff;
$midnight-amber: #f3a236ff;
$dark-brown: #f5704eff;
$royal-rust: #fb6e20ff;
$dark-sapphire: #f26734ff;
$green-snow: #f12b22ff;
$autumn-coral: #fc414aff;
$pastel-scarlet: #f61923ff;
$retro-ivory: #f82326ff;
$radiant-pink: #fb1553ff;
$green-light: #fd1441ff;
$brown-trail: #f51a6bff;
$silver-illusion: #ea0754ff;
$cyber-burgundy: #e10b86ff;
$lunar-blue: #e902a2ff;

/* SCSS HSL */
$summer-crimson: hsla(76, 93%, 68%, 1);
$midnight-rust: hsla(75, 95%, 70%, 1);
$cool-amber: hsla(61, 96%, 67%, 1);
$pastel-cyan: hsla(62, 94%, 73%, 1);
$plum-sea: hsla(62, 96%, 65%, 1);
$glow-lime: hsla(50, 96%, 64%, 1);
$neon-brown: hsla(44, 96%, 65%, 1);
$deep-turquoise: hsla(32, 93%, 63%, 1);
$peach-star: hsla(37, 92%, 63%, 1);
$chartreuse-wave: hsla(29, 94%, 61%, 1);
$midnight-amber: hsla(34, 89%, 59%, 1);
$dark-brown: hsla(12, 90%, 64%, 1);
$royal-rust: hsla(21, 97%, 56%, 1);
$dark-sapphire: hsla(16, 89%, 58%, 1);
$green-snow: hsla(2, 89%, 54%, 1);
$autumn-coral: hsla(357, 97%, 62%, 1);
$pastel-scarlet: hsla(357, 93%, 53%, 1);
$retro-ivory: hsla(359, 94%, 56%, 1);
$radiant-pink: hsla(344, 97%, 54%, 1);
$green-light: hsla(349, 98%, 54%, 1);
$brown-trail: hsla(338, 92%, 53%, 1);
$silver-illusion: hsla(340, 93%, 48%, 1);
$cyber-burgundy: hsla(326, 90%, 47%, 1);
$lunar-blue: hsla(319, 98%, 46%, 1);

/* SCSS RGB */
$summer-crimson: rgba(210, 249, 99, 1);
$midnight-rust: rgba(216, 250, 108, 1);
$cool-amber: rgba(247, 251, 90, 1);
$pastel-cyan: rgba(247, 251, 121, 1);
$plum-sea: rgba(244, 251, 79, 1);
$glow-lime: rgba(251, 223, 77, 1);
$neon-brown: rgba(251, 205, 79, 1);
$deep-turquoise: rgba(248, 164, 71, 1);
$peach-star: rgba(247, 181, 72, 1);
$chartreuse-wave: rgba(249, 152, 62, 1);
$midnight-amber: rgba(243, 162, 54, 1);
$dark-brown: rgba(245, 112, 78, 1);
$royal-rust: rgba(251, 110, 32, 1);
$dark-sapphire: rgba(242, 103, 52, 1);
$green-snow: rgba(241, 43, 34, 1);
$autumn-coral: rgba(252, 65, 74, 1);
$pastel-scarlet: rgba(246, 25, 35, 1);
$retro-ivory: rgba(248, 35, 38, 1);
$radiant-pink: rgba(251, 21, 83, 1);
$green-light: rgba(253, 20, 65, 1);
$brown-trail: rgba(245, 26, 107, 1);
$silver-illusion: rgba(234, 7, 84, 1);
$cyber-burgundy: rgba(225, 11, 134, 1);
$lunar-blue: rgba(233, 2, 162, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-right: linear-gradient(90deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-bottom: linear-gradient(180deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-left: linear-gradient(270deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-top-right: linear-gradient(45deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-bottom-right: linear-gradient(135deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-top-left: linear-gradient(225deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-bottom-left: linear-gradient(315deg, #d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);
$gradient-radial: radial-gradient(#d2f963ff, #d8fa6cff, #f7fb5aff, #f7fb79ff, #f4fb4fff, #fbdf4dff, #fbcd4fff, #f8a447ff, #f7b548ff, #f9983eff, #f3a236ff, #f5704eff, #fb6e20ff, #f26734ff, #f12b22ff, #fc414aff, #f61923ff, #f82326ff, #fb1553ff, #fd1441ff, #f51a6bff, #ea0754ff, #e10b86ff, #e902a2ff);

/* SCSS Map */
$royal-frost-960-map: (
    "summer-crimson": #d2f963ff,
    "midnight-rust": #d8fa6cff,
    "cool-amber": #f7fb5aff,
    "pastel-cyan": #f7fb79ff,
    "plum-sea": #f4fb4fff,
    "glow-lime": #fbdf4dff,
    "neon-brown": #fbcd4fff,
    "deep-turquoise": #f8a447ff,
    "peach-star": #f7b548ff,
    "chartreuse-wave": #f9983eff,
    "midnight-amber": #f3a236ff,
    "dark-brown": #f5704eff,
    "royal-rust": #fb6e20ff,
    "dark-sapphire": #f26734ff,
    "green-snow": #f12b22ff,
    "autumn-coral": #fc414aff,
    "pastel-scarlet": #f61923ff,
    "retro-ivory": #f82326ff,
    "radiant-pink": #fb1553ff,
    "green-light": #fd1441ff,
    "brown-trail": #f51a6bff,
    "silver-illusion": #ea0754ff,
    "cyber-burgundy": #e10b86ff,
    "lunar-blue": #e902a2ff
);
