/*---
id: velvet-mosaic-24-02
name: Velvet Mosaic Wide
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 24
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 24-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-slate-blue: #183a4eff;
--marine: #172a5dff;
--dark-blue: #19136eff;
--indigo: #450f80ff;
--barney-purple: #920994ff;
--velvet: #822962ff;
--wine-red: #952435ff;
--brick: #a8371eff;
--golden-brown: #be8316ff;
--mustard-yellow: #d4c00eff;
--avocado: #8eb639ff;
--apple: #5bcc31ff;
--lightish-green: #30db47ff;
--aqua-green: #32e7a0ff;
--bright-turquoise: #34f2e9ff;
--faded-blue: #66a0cfff;
--soft-blue: #6882daff;
--light-indigo: #816be5ff;
--light-purple: #bf6feeff;
--candy-pink: #f675f3ff;
--powder-pink: #df9ac6ff;
--faded-pink: #e89fb2ff;
--pale-salmon: #efb3a5ff;
--light-peach: #f5daadff;

/* CSS HSL */
--dark-slate-blue: hsla(202, 52%, 20%, 1);
--marine: hsla(224, 61%, 23%, 1);
--dark-blue: hsla(244, 70%, 25%, 1);
--indigo: hsla(269, 79%, 28%, 1);
--barney-purple: hsla(300, 88%, 31%, 1);
--velvet: hsla(321, 52%, 33%, 1);
--wine-red: hsla(351, 61%, 36%, 1);
--brick: hsla(11, 70%, 39%, 1);
--golden-brown: hsla(39, 79%, 42%, 1);
--mustard-yellow: hsla(54, 88%, 44%, 1);
--avocado: hsla(79, 52%, 47%, 1);
--apple: hsla(104, 61%, 50%, 1);
--lightish-green: hsla(128, 70%, 52%, 1);
--aqua-green: hsla(157, 79%, 55%, 1);
--bright-turquoise: hsla(177, 88%, 58%, 1);
--faded-blue: hsla(206, 52%, 60%, 1);
--soft-blue: hsla(226, 61%, 63%, 1);
--light-indigo: hsla(251, 70%, 66%, 1);
--light-purple: hsla(278, 79%, 69%, 1);
--candy-pink: hsla(302, 88%, 71%, 1);
--powder-pink: hsla(322, 52%, 74%, 1);
--faded-pink: hsla(344, 61%, 77%, 1);
--pale-salmon: hsla(11, 70%, 79%, 1);
--light-peach: hsla(38, 79%, 82%, 1);
}

/* SCSS HEX */
$dark-slate-blue: #183a4eff;
$marine: #172a5dff;
$dark-blue: #19136eff;
$indigo: #450f80ff;
$barney-purple: #920994ff;
$velvet: #822962ff;
$wine-red: #952435ff;
$brick: #a8371eff;
$golden-brown: #be8316ff;
$mustard-yellow: #d4c00eff;
$avocado: #8eb639ff;
$apple: #5bcc31ff;
$lightish-green: #30db47ff;
$aqua-green: #32e7a0ff;
$bright-turquoise: #34f2e9ff;
$faded-blue: #66a0cfff;
$soft-blue: #6882daff;
$light-indigo: #816be5ff;
$light-purple: #bf6feeff;
$candy-pink: #f675f3ff;
$powder-pink: #df9ac6ff;
$faded-pink: #e89fb2ff;
$pale-salmon: #efb3a5ff;
$light-peach: #f5daadff;

/* SCSS HSL */
$dark-slate-blue: hsla(202, 52%, 20%, 1);
$marine: hsla(224, 61%, 23%, 1);
$dark-blue: hsla(244, 70%, 25%, 1);
$indigo: hsla(269, 79%, 28%, 1);
$barney-purple: hsla(300, 88%, 31%, 1);
$velvet: hsla(321, 52%, 33%, 1);
$wine-red: hsla(351, 61%, 36%, 1);
$brick: hsla(11, 70%, 39%, 1);
$golden-brown: hsla(39, 79%, 42%, 1);
$mustard-yellow: hsla(54, 88%, 44%, 1);
$avocado: hsla(79, 52%, 47%, 1);
$apple: hsla(104, 61%, 50%, 1);
$lightish-green: hsla(128, 70%, 52%, 1);
$aqua-green: hsla(157, 79%, 55%, 1);
$bright-turquoise: hsla(177, 88%, 58%, 1);
$faded-blue: hsla(206, 52%, 60%, 1);
$soft-blue: hsla(226, 61%, 63%, 1);
$light-indigo: hsla(251, 70%, 66%, 1);
$light-purple: hsla(278, 79%, 69%, 1);
$candy-pink: hsla(302, 88%, 71%, 1);
$powder-pink: hsla(322, 52%, 74%, 1);
$faded-pink: hsla(344, 61%, 77%, 1);
$pale-salmon: hsla(11, 70%, 79%, 1);
$light-peach: hsla(38, 79%, 82%, 1);

/* SCSS RGB */
$dark-slate-blue: rgba(24, 58, 78, 1);
$marine: rgba(23, 42, 93, 1);
$dark-blue: rgba(25, 19, 110, 1);
$indigo: rgba(69, 15, 128, 1);
$barney-purple: rgba(146, 9, 148, 1);
$velvet: rgba(130, 41, 98, 1);
$wine-red: rgba(149, 36, 53, 1);
$brick: rgba(168, 55, 30, 1);
$golden-brown: rgba(190, 131, 22, 1);
$mustard-yellow: rgba(212, 192, 14, 1);
$avocado: rgba(142, 182, 57, 1);
$apple: rgba(91, 204, 49, 1);
$lightish-green: rgba(48, 219, 71, 1);
$aqua-green: rgba(50, 231, 160, 1);
$bright-turquoise: rgba(52, 242, 233, 1);
$faded-blue: rgba(102, 160, 207, 1);
$soft-blue: rgba(104, 130, 218, 1);
$light-indigo: rgba(129, 107, 229, 1);
$light-purple: rgba(191, 111, 238, 1);
$candy-pink: rgba(246, 117, 243, 1);
$powder-pink: rgba(223, 154, 198, 1);
$faded-pink: rgba(232, 159, 178, 1);
$pale-salmon: rgba(239, 179, 165, 1);
$light-peach: rgba(245, 218, 173, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-right: linear-gradient(90deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-bottom: linear-gradient(180deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-left: linear-gradient(270deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-top-right: linear-gradient(45deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-bottom-right: linear-gradient(135deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-top-left: linear-gradient(225deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-bottom-left: linear-gradient(315deg, #183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);
$gradient-radial: radial-gradient(#183a4eff, #172a5dff, #19136eff, #450f80ff, #920994ff, #822962ff, #952435ff, #a8371eff, #be8316ff, #d4c00eff, #8eb639ff, #5bcc31ff, #30db47ff, #32e7a0ff, #34f2e9ff, #66a0cfff, #6882daff, #816be5ff, #bf6feeff, #f675f3ff, #df9ac6ff, #e89fb2ff, #efb3a5ff, #f5daadff);

/* SCSS Map */
$velvet-mosaic-24-02-map: (
    "dark-slate-blue": #183a4eff,
    "marine": #172a5dff,
    "dark-blue": #19136eff,
    "indigo": #450f80ff,
    "barney-purple": #920994ff,
    "velvet": #822962ff,
    "wine-red": #952435ff,
    "brick": #a8371eff,
    "golden-brown": #be8316ff,
    "mustard-yellow": #d4c00eff,
    "avocado": #8eb639ff,
    "apple": #5bcc31ff,
    "lightish-green": #30db47ff,
    "aqua-green": #32e7a0ff,
    "bright-turquoise": #34f2e9ff,
    "faded-blue": #66a0cfff,
    "soft-blue": #6882daff,
    "light-indigo": #816be5ff,
    "light-purple": #bf6feeff,
    "candy-pink": #f675f3ff,
    "powder-pink": #df9ac6ff,
    "faded-pink": #e89fb2ff,
    "pale-salmon": #efb3a5ff,
    "light-peach": #f5daadff
);
