/*---
id: indigo-span-22-10
name: Indigo Span Medium
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 22
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 22-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #110f1aff;
--dark: #181528ff;
--navy: #201939ff;
--marine: #271f47ff;
--navy-blue: #2e205aff;
--dark-indigo: #2f206fff;
--dark-royal-blue: #321e85ff;
--royal: #362296ff;
--indigo-blue: #341cb0ff;
--violet-blue: #3d17caff;
--true-blue: #4319dcff;
--light-royal-blue: #411ceeff;
--purpley-blue: #5a34eaff;
--purpley: #714ee4ff;
--dark-periwinkle: #7c69ddff;
--lavender-blue: #917eddff;
--pale-purple: #9d90dfff;
--light-periwinkle: #b1a7ddff;
--pale-lilac: #bfb8e0ff;
--cloudy-blue: #cfc9e3ff;
--very-light-pink: #dbd7eaff;
--white: #e8e5f0ff;

/* CSS HSL */
--almost-black: hsla(252, 25%, 8%, 1);
--dark: hsla(252, 32%, 12%, 1);
--navy: hsla(252, 39%, 16%, 1);
--marine: hsla(252, 39%, 20%, 1);
--navy-blue: hsla(252, 47%, 24%, 1);
--dark-indigo: hsla(252, 55%, 28%, 1);
--dark-royal-blue: hsla(252, 63%, 32%, 1);
--royal: hsla(252, 63%, 36%, 1);
--indigo-blue: hsla(252, 73%, 40%, 1);
--violet-blue: hsla(252, 80%, 44%, 1);
--true-blue: hsla(252, 80%, 48%, 1);
--light-royal-blue: hsla(252, 86%, 52%, 1);
--purpley-blue: hsla(252, 81%, 56%, 1);
--purpley: hsla(252, 73%, 60%, 1);
--dark-periwinkle: hsla(252, 63%, 64%, 1);
--lavender-blue: hsla(252, 58%, 68%, 1);
--pale-purple: hsla(252, 56%, 72%, 1);
--light-periwinkle: hsla(252, 44%, 76%, 1);
--pale-lilac: hsla(252, 38%, 80%, 1);
--cloudy-blue: hsla(252, 32%, 84%, 1);
--very-light-pink: hsla(252, 30%, 88%, 1);
--white: hsla(252, 25%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #110f1aff;
$dark: #181528ff;
$navy: #201939ff;
$marine: #271f47ff;
$navy-blue: #2e205aff;
$dark-indigo: #2f206fff;
$dark-royal-blue: #321e85ff;
$royal: #362296ff;
$indigo-blue: #341cb0ff;
$violet-blue: #3d17caff;
$true-blue: #4319dcff;
$light-royal-blue: #411ceeff;
$purpley-blue: #5a34eaff;
$purpley: #714ee4ff;
$dark-periwinkle: #7c69ddff;
$lavender-blue: #917eddff;
$pale-purple: #9d90dfff;
$light-periwinkle: #b1a7ddff;
$pale-lilac: #bfb8e0ff;
$cloudy-blue: #cfc9e3ff;
$very-light-pink: #dbd7eaff;
$white: #e8e5f0ff;

/* SCSS HSL */
$almost-black: hsla(252, 25%, 8%, 1);
$dark: hsla(252, 32%, 12%, 1);
$navy: hsla(252, 39%, 16%, 1);
$marine: hsla(252, 39%, 20%, 1);
$navy-blue: hsla(252, 47%, 24%, 1);
$dark-indigo: hsla(252, 55%, 28%, 1);
$dark-royal-blue: hsla(252, 63%, 32%, 1);
$royal: hsla(252, 63%, 36%, 1);
$indigo-blue: hsla(252, 73%, 40%, 1);
$violet-blue: hsla(252, 80%, 44%, 1);
$true-blue: hsla(252, 80%, 48%, 1);
$light-royal-blue: hsla(252, 86%, 52%, 1);
$purpley-blue: hsla(252, 81%, 56%, 1);
$purpley: hsla(252, 73%, 60%, 1);
$dark-periwinkle: hsla(252, 63%, 64%, 1);
$lavender-blue: hsla(252, 58%, 68%, 1);
$pale-purple: hsla(252, 56%, 72%, 1);
$light-periwinkle: hsla(252, 44%, 76%, 1);
$pale-lilac: hsla(252, 38%, 80%, 1);
$cloudy-blue: hsla(252, 32%, 84%, 1);
$very-light-pink: hsla(252, 30%, 88%, 1);
$white: hsla(252, 25%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(17, 15, 26, 1);
$dark: rgba(24, 21, 40, 1);
$navy: rgba(32, 25, 57, 1);
$marine: rgba(39, 31, 71, 1);
$navy-blue: rgba(46, 32, 90, 1);
$dark-indigo: rgba(47, 32, 111, 1);
$dark-royal-blue: rgba(50, 30, 133, 1);
$royal: rgba(54, 34, 150, 1);
$indigo-blue: rgba(52, 28, 176, 1);
$violet-blue: rgba(61, 23, 202, 1);
$true-blue: rgba(67, 25, 220, 1);
$light-royal-blue: rgba(65, 28, 238, 1);
$purpley-blue: rgba(90, 52, 234, 1);
$purpley: rgba(113, 78, 228, 1);
$dark-periwinkle: rgba(124, 105, 221, 1);
$lavender-blue: rgba(145, 126, 221, 1);
$pale-purple: rgba(157, 144, 223, 1);
$light-periwinkle: rgba(177, 167, 221, 1);
$pale-lilac: rgba(191, 184, 224, 1);
$cloudy-blue: rgba(207, 201, 227, 1);
$very-light-pink: rgba(219, 215, 234, 1);
$white: rgba(232, 229, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-right: linear-gradient(90deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-bottom: linear-gradient(180deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-left: linear-gradient(270deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-top-right: linear-gradient(45deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-bottom-right: linear-gradient(135deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-top-left: linear-gradient(225deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-bottom-left: linear-gradient(315deg, #110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);
$gradient-radial: radial-gradient(#110f1aff, #181528ff, #201939ff, #271f47ff, #2e205aff, #2f206fff, #321e85ff, #362296ff, #341cb0ff, #3d17caff, #4319dcff, #411ceeff, #5a34eaff, #714ee4ff, #7c69ddff, #917eddff, #9d90dfff, #b1a7ddff, #bfb8e0ff, #cfc9e3ff, #dbd7eaff, #e8e5f0ff);

/* SCSS Map */
$indigo-span-22-10-map: (
    "almost-black": #110f1aff,
    "dark": #181528ff,
    "navy": #201939ff,
    "marine": #271f47ff,
    "navy-blue": #2e205aff,
    "dark-indigo": #2f206fff,
    "dark-royal-blue": #321e85ff,
    "royal": #362296ff,
    "indigo-blue": #341cb0ff,
    "violet-blue": #3d17caff,
    "true-blue": #4319dcff,
    "light-royal-blue": #411ceeff,
    "purpley-blue": #5a34eaff,
    "purpley": #714ee4ff,
    "dark-periwinkle": #7c69ddff,
    "lavender-blue": #917eddff,
    "pale-purple": #9d90dfff,
    "light-periwinkle": #b1a7ddff,
    "pale-lilac": #bfb8e0ff,
    "cloudy-blue": #cfc9e3ff,
    "very-light-pink": #dbd7eaff,
    "white": #e8e5f0ff
);
