/*---
id: sage-mosaic-22-07
name: Sage Mosaic Compact
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 22
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 22-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--chocolate: #4e3418ff;
--camouflage-green: #425e17ff;
--tree-green: #147014ff;
--dark-sea-green: #0f845bff;
--dusk-blue: #0a5b98ff;
--blueberry: #392b87ff;
--purple: #82269bff;
--violet-red: #b01f65ff;
--brick-orange: #c74617ff;
--off-yellow: #dfde0eff;
--grass: #79c03dff;
--tealish-green: #3cd068ff;
--aqua-blue: #3edddbff;
--dodger-blue: #4175e9ff;
--bluish-purple: #9846f3ff;
--orchid: #d375caff;
--pinkish: #de788eff;
--peach: #e8a87eff;
--manila: #e1f184ff;
--baby-green: #8ef88cff;
--pale-aqua: #aee5ccff;
--cloudy-blue: #b5d8edff;

/* CSS HSL */
--chocolate: hsla(31, 52%, 20%, 1);
--camouflage-green: hsla(84, 61%, 23%, 1);
--tree-green: hsla(120, 70%, 26%, 1);
--dark-sea-green: hsla(159, 79%, 29%, 1);
--dusk-blue: hsla(206, 88%, 32%, 1);
--blueberry: hsla(250, 52%, 35%, 1);
--purple: hsla(287, 61%, 38%, 1);
--violet-red: hsla(331, 70%, 41%, 1);
--brick-orange: hsla(16, 79%, 44%, 1);
--off-yellow: hsla(60, 88%, 47%, 1);
--grass: hsla(92, 52%, 50%, 1);
--tealish-green: hsla(138, 61%, 52%, 1);
--aqua-blue: hsla(179, 70%, 55%, 1);
--dodger-blue: hsla(221, 79%, 58%, 1);
--bluish-purple: hsla(268, 88%, 61%, 1);
--orchid: hsla(306, 52%, 64%, 1);
--pinkish: hsla(348, 61%, 67%, 1);
--peach: hsla(24, 70%, 70%, 1);
--manila: hsla(69, 79%, 73%, 1);
--baby-green: hsla(119, 88%, 76%, 1);
--pale-aqua: hsla(153, 52%, 79%, 1);
--cloudy-blue: hsla(203, 61%, 82%, 1);
}

/* SCSS HEX */
$chocolate: #4e3418ff;
$camouflage-green: #425e17ff;
$tree-green: #147014ff;
$dark-sea-green: #0f845bff;
$dusk-blue: #0a5b98ff;
$blueberry: #392b87ff;
$purple: #82269bff;
$violet-red: #b01f65ff;
$brick-orange: #c74617ff;
$off-yellow: #dfde0eff;
$grass: #79c03dff;
$tealish-green: #3cd068ff;
$aqua-blue: #3edddbff;
$dodger-blue: #4175e9ff;
$bluish-purple: #9846f3ff;
$orchid: #d375caff;
$pinkish: #de788eff;
$peach: #e8a87eff;
$manila: #e1f184ff;
$baby-green: #8ef88cff;
$pale-aqua: #aee5ccff;
$cloudy-blue: #b5d8edff;

/* SCSS HSL */
$chocolate: hsla(31, 52%, 20%, 1);
$camouflage-green: hsla(84, 61%, 23%, 1);
$tree-green: hsla(120, 70%, 26%, 1);
$dark-sea-green: hsla(159, 79%, 29%, 1);
$dusk-blue: hsla(206, 88%, 32%, 1);
$blueberry: hsla(250, 52%, 35%, 1);
$purple: hsla(287, 61%, 38%, 1);
$violet-red: hsla(331, 70%, 41%, 1);
$brick-orange: hsla(16, 79%, 44%, 1);
$off-yellow: hsla(60, 88%, 47%, 1);
$grass: hsla(92, 52%, 50%, 1);
$tealish-green: hsla(138, 61%, 52%, 1);
$aqua-blue: hsla(179, 70%, 55%, 1);
$dodger-blue: hsla(221, 79%, 58%, 1);
$bluish-purple: hsla(268, 88%, 61%, 1);
$orchid: hsla(306, 52%, 64%, 1);
$pinkish: hsla(348, 61%, 67%, 1);
$peach: hsla(24, 70%, 70%, 1);
$manila: hsla(69, 79%, 73%, 1);
$baby-green: hsla(119, 88%, 76%, 1);
$pale-aqua: hsla(153, 52%, 79%, 1);
$cloudy-blue: hsla(203, 61%, 82%, 1);

/* SCSS RGB */
$chocolate: rgba(78, 52, 24, 1);
$camouflage-green: rgba(66, 94, 23, 1);
$tree-green: rgba(20, 112, 20, 1);
$dark-sea-green: rgba(15, 132, 91, 1);
$dusk-blue: rgba(10, 91, 152, 1);
$blueberry: rgba(57, 43, 135, 1);
$purple: rgba(130, 38, 155, 1);
$violet-red: rgba(176, 31, 101, 1);
$brick-orange: rgba(199, 70, 23, 1);
$off-yellow: rgba(223, 222, 14, 1);
$grass: rgba(121, 192, 61, 1);
$tealish-green: rgba(60, 208, 104, 1);
$aqua-blue: rgba(62, 221, 219, 1);
$dodger-blue: rgba(65, 117, 233, 1);
$bluish-purple: rgba(152, 70, 243, 1);
$orchid: rgba(211, 117, 202, 1);
$pinkish: rgba(222, 120, 142, 1);
$peach: rgba(232, 168, 126, 1);
$manila: rgba(225, 241, 132, 1);
$baby-green: rgba(142, 248, 140, 1);
$pale-aqua: rgba(174, 229, 204, 1);
$cloudy-blue: rgba(181, 216, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-right: linear-gradient(90deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-bottom: linear-gradient(180deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-left: linear-gradient(270deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-top-right: linear-gradient(45deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-bottom-right: linear-gradient(135deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-top-left: linear-gradient(225deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-bottom-left: linear-gradient(315deg, #4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);
$gradient-radial: radial-gradient(#4e3418ff, #425e17ff, #147014ff, #0f845bff, #0a5b98ff, #392b87ff, #82269bff, #b01f65ff, #c74617ff, #dfde0eff, #79c03dff, #3cd068ff, #3edddbff, #4175e9ff, #9846f3ff, #d375caff, #de788eff, #e8a87eff, #e1f184ff, #8ef88cff, #aee5ccff, #b5d8edff);

/* SCSS Map */
$sage-mosaic-22-07-map: (
    "chocolate": #4e3418ff,
    "camouflage-green": #425e17ff,
    "tree-green": #147014ff,
    "dark-sea-green": #0f845bff,
    "dusk-blue": #0a5b98ff,
    "blueberry": #392b87ff,
    "purple": #82269bff,
    "violet-red": #b01f65ff,
    "brick-orange": #c74617ff,
    "off-yellow": #dfde0eff,
    "grass": #79c03dff,
    "tealish-green": #3cd068ff,
    "aqua-blue": #3edddbff,
    "dodger-blue": #4175e9ff,
    "bluish-purple": #9846f3ff,
    "orchid": #d375caff,
    "pinkish": #de788eff,
    "peach": #e8a87eff,
    "manila": #e1f184ff,
    "baby-green": #8ef88cff,
    "pale-aqua": #aee5ccff,
    "cloudy-blue": #b5d8edff
);
