/*---
id: velvet-mosaic-22-04
name: Velvet Mosaic Standard
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 22
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 22-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-maroon: #4e1828ff;
--dried-blood: #5e1c17ff;
--mud: #705614ff;
--swamp-green: #81840fff;
--grass-green: #44980aff;
--tree-green: #2f872bff;
--greenish: #269b5cff;
--turquoise-blue: #1fabb0ff;
--windows-blue: #1779c7ff;
--vibrant-blue: #0e30dfff;
--bluey-purple: #623dc0ff;
--barney: #bc3cd0ff;
--purpley-pink: #dd3eb6ff;
--warm-pink: #e9416dff;
--orange-pink: #f36246ff;
--tan: #d3b475ff;
--greenish-beige: #c8de78ff;
--pistachio: #b0e87eff;
--baby-green: #84f188ff;
--light-aquamarine: #8cf8c5ff;
--pale-sky-blue: #aee0e5ff;
--cloudy-blue: #b5d6edff;

/* CSS HSL */
--dark-maroon: hsla(343, 52%, 20%, 1);
--dried-blood: hsla(5, 61%, 23%, 1);
--mud: hsla(43, 70%, 26%, 1);
--swamp-green: hsla(61, 79%, 29%, 1);
--grass-green: hsla(96, 88%, 32%, 1);
--tree-green: hsla(117, 52%, 35%, 1);
--greenish: hsla(148, 61%, 38%, 1);
--turquoise-blue: hsla(182, 70%, 41%, 1);
--windows-blue: hsla(207, 79%, 44%, 1);
--vibrant-blue: hsla(230, 88%, 47%, 1);
--bluey-purple: hsla(257, 52%, 50%, 1);
--barney: hsla(292, 61%, 52%, 1);
--purpley-pink: hsla(315, 70%, 55%, 1);
--warm-pink: hsla(344, 79%, 58%, 1);
--orange-pink: hsla(10, 88%, 61%, 1);
--tan: hsla(40, 52%, 64%, 1);
--greenish-beige: hsla(73, 61%, 67%, 1);
--pistachio: hsla(92, 70%, 70%, 1);
--baby-green: hsla(122, 79%, 73%, 1);
--light-aquamarine: hsla(152, 88%, 76%, 1);
--pale-sky-blue: hsla(186, 52%, 79%, 1);
--cloudy-blue: hsla(205, 61%, 82%, 1);
}

/* SCSS HEX */
$dark-maroon: #4e1828ff;
$dried-blood: #5e1c17ff;
$mud: #705614ff;
$swamp-green: #81840fff;
$grass-green: #44980aff;
$tree-green: #2f872bff;
$greenish: #269b5cff;
$turquoise-blue: #1fabb0ff;
$windows-blue: #1779c7ff;
$vibrant-blue: #0e30dfff;
$bluey-purple: #623dc0ff;
$barney: #bc3cd0ff;
$purpley-pink: #dd3eb6ff;
$warm-pink: #e9416dff;
$orange-pink: #f36246ff;
$tan: #d3b475ff;
$greenish-beige: #c8de78ff;
$pistachio: #b0e87eff;
$baby-green: #84f188ff;
$light-aquamarine: #8cf8c5ff;
$pale-sky-blue: #aee0e5ff;
$cloudy-blue: #b5d6edff;

/* SCSS HSL */
$dark-maroon: hsla(343, 52%, 20%, 1);
$dried-blood: hsla(5, 61%, 23%, 1);
$mud: hsla(43, 70%, 26%, 1);
$swamp-green: hsla(61, 79%, 29%, 1);
$grass-green: hsla(96, 88%, 32%, 1);
$tree-green: hsla(117, 52%, 35%, 1);
$greenish: hsla(148, 61%, 38%, 1);
$turquoise-blue: hsla(182, 70%, 41%, 1);
$windows-blue: hsla(207, 79%, 44%, 1);
$vibrant-blue: hsla(230, 88%, 47%, 1);
$bluey-purple: hsla(257, 52%, 50%, 1);
$barney: hsla(292, 61%, 52%, 1);
$purpley-pink: hsla(315, 70%, 55%, 1);
$warm-pink: hsla(344, 79%, 58%, 1);
$orange-pink: hsla(10, 88%, 61%, 1);
$tan: hsla(40, 52%, 64%, 1);
$greenish-beige: hsla(73, 61%, 67%, 1);
$pistachio: hsla(92, 70%, 70%, 1);
$baby-green: hsla(122, 79%, 73%, 1);
$light-aquamarine: hsla(152, 88%, 76%, 1);
$pale-sky-blue: hsla(186, 52%, 79%, 1);
$cloudy-blue: hsla(205, 61%, 82%, 1);

/* SCSS RGB */
$dark-maroon: rgba(78, 24, 40, 1);
$dried-blood: rgba(94, 28, 23, 1);
$mud: rgba(112, 86, 20, 1);
$swamp-green: rgba(129, 132, 15, 1);
$grass-green: rgba(68, 152, 10, 1);
$tree-green: rgba(47, 135, 43, 1);
$greenish: rgba(38, 155, 92, 1);
$turquoise-blue: rgba(31, 171, 176, 1);
$windows-blue: rgba(23, 121, 199, 1);
$vibrant-blue: rgba(14, 48, 223, 1);
$bluey-purple: rgba(98, 61, 192, 1);
$barney: rgba(188, 60, 208, 1);
$purpley-pink: rgba(221, 62, 182, 1);
$warm-pink: rgba(233, 65, 109, 1);
$orange-pink: rgba(243, 98, 70, 1);
$tan: rgba(211, 180, 117, 1);
$greenish-beige: rgba(200, 222, 120, 1);
$pistachio: rgba(176, 232, 126, 1);
$baby-green: rgba(132, 241, 136, 1);
$light-aquamarine: rgba(140, 248, 197, 1);
$pale-sky-blue: rgba(174, 224, 229, 1);
$cloudy-blue: rgba(181, 214, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-right: linear-gradient(90deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-bottom: linear-gradient(180deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-left: linear-gradient(270deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-top-right: linear-gradient(45deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-bottom-right: linear-gradient(135deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-top-left: linear-gradient(225deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-bottom-left: linear-gradient(315deg, #4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);
$gradient-radial: radial-gradient(#4e1828ff, #5e1c17ff, #705614ff, #81840fff, #44980aff, #2f872bff, #269b5cff, #1fabb0ff, #1779c7ff, #0e30dfff, #623dc0ff, #bc3cd0ff, #dd3eb6ff, #e9416dff, #f36246ff, #d3b475ff, #c8de78ff, #b0e87eff, #84f188ff, #8cf8c5ff, #aee0e5ff, #b5d6edff);

/* SCSS Map */
$velvet-mosaic-22-04-map: (
    "dark-maroon": #4e1828ff,
    "dried-blood": #5e1c17ff,
    "mud": #705614ff,
    "swamp-green": #81840fff,
    "grass-green": #44980aff,
    "tree-green": #2f872bff,
    "greenish": #269b5cff,
    "turquoise-blue": #1fabb0ff,
    "windows-blue": #1779c7ff,
    "vibrant-blue": #0e30dfff,
    "bluey-purple": #623dc0ff,
    "barney": #bc3cd0ff,
    "purpley-pink": #dd3eb6ff,
    "warm-pink": #e9416dff,
    "orange-pink": #f36246ff,
    "tan": #d3b475ff,
    "greenish-beige": #c8de78ff,
    "pistachio": #b0e87eff,
    "baby-green": #84f188ff,
    "light-aquamarine": #8cf8c5ff,
    "pale-sky-blue": #aee0e5ff,
    "cloudy-blue": #b5d6edff
);
