/*---
id: crimson-span-26-10
name: Crimson Span Medium
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 26
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 26-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #1a120fff;
--very-dark-brown: #261814ff;
--dark-brown: #331f18ff;
--chocolate: #40241cff;
--chocolate-brown: #4e2820ff;
--dried-blood: #61291eff;
--reddy-brown: #702c20ff;
--chestnut: #7f3922ff;
--red-brown: #93321fff;
--brick: #a33920ff;
--rusty-red: #b93d1bff;
--tomato: #d03815ff;
--orangey-red: #e03716ff;
--deep-orange: #e64d22ff;
--pinkish-orange: #e95730ff;
--melon: #e46d46ff;
--dark-peach: #de785dff;
--blush: #de896eff;
--pinkish-tan: #db9082ff;
--pale-salmon: #dca492ff;
--mushroom: #deb0a2ff;
--pale-rose: #e1b7b0ff;
--light-rose: #e4c6beff;
--very-light-pink: #e6d3cdff;
--white: #eadddaff;
--off-white: #efe8e6ff;

/* CSS HSL */
--almost-black: hsla(12, 26%, 8%, 1);
--very-dark-brown: hsla(12, 30%, 11%, 1);
--dark-brown: hsla(12, 36%, 15%, 1);
--chocolate: hsla(12, 40%, 18%, 1);
--chocolate-brown: hsla(12, 42%, 21%, 1);
--dried-blood: hsla(12, 53%, 25%, 1);
--reddy-brown: hsla(12, 56%, 28%, 1);
--chestnut: hsla(12, 57%, 32%, 1);
--red-brown: hsla(12, 65%, 35%, 1);
--brick: hsla(12, 67%, 38%, 1);
--rusty-red: hsla(12, 74%, 42%, 1);
--tomato: hsla(12, 81%, 45%, 1);
--orangey-red: hsla(12, 82%, 48%, 1);
--deep-orange: hsla(12, 80%, 52%, 1);
--pinkish-orange: hsla(12, 80%, 55%, 1);
--melon: hsla(12, 75%, 58%, 1);
--dark-peach: hsla(12, 66%, 62%, 1);
--blush: hsla(12, 63%, 65%, 1);
--pinkish-tan: hsla(12, 55%, 68%, 1);
--pale-salmon: hsla(12, 52%, 72%, 1);
--mushroom: hsla(12, 47%, 75%, 1);
--pale-rose: hsla(12, 45%, 79%, 1);
--light-rose: hsla(12, 42%, 82%, 1);
--very-light-pink: hsla(12, 33%, 85%, 1);
--white: hsla(12, 27%, 89%, 1);
--off-white: hsla(12, 20%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #1a120fff;
$very-dark-brown: #261814ff;
$dark-brown: #331f18ff;
$chocolate: #40241cff;
$chocolate-brown: #4e2820ff;
$dried-blood: #61291eff;
$reddy-brown: #702c20ff;
$chestnut: #7f3922ff;
$red-brown: #93321fff;
$brick: #a33920ff;
$rusty-red: #b93d1bff;
$tomato: #d03815ff;
$orangey-red: #e03716ff;
$deep-orange: #e64d22ff;
$pinkish-orange: #e95730ff;
$melon: #e46d46ff;
$dark-peach: #de785dff;
$blush: #de896eff;
$pinkish-tan: #db9082ff;
$pale-salmon: #dca492ff;
$mushroom: #deb0a2ff;
$pale-rose: #e1b7b0ff;
$light-rose: #e4c6beff;
$very-light-pink: #e6d3cdff;
$white: #eadddaff;
$off-white: #efe8e6ff;

/* SCSS HSL */
$almost-black: hsla(12, 26%, 8%, 1);
$very-dark-brown: hsla(12, 30%, 11%, 1);
$dark-brown: hsla(12, 36%, 15%, 1);
$chocolate: hsla(12, 40%, 18%, 1);
$chocolate-brown: hsla(12, 42%, 21%, 1);
$dried-blood: hsla(12, 53%, 25%, 1);
$reddy-brown: hsla(12, 56%, 28%, 1);
$chestnut: hsla(12, 57%, 32%, 1);
$red-brown: hsla(12, 65%, 35%, 1);
$brick: hsla(12, 67%, 38%, 1);
$rusty-red: hsla(12, 74%, 42%, 1);
$tomato: hsla(12, 81%, 45%, 1);
$orangey-red: hsla(12, 82%, 48%, 1);
$deep-orange: hsla(12, 80%, 52%, 1);
$pinkish-orange: hsla(12, 80%, 55%, 1);
$melon: hsla(12, 75%, 58%, 1);
$dark-peach: hsla(12, 66%, 62%, 1);
$blush: hsla(12, 63%, 65%, 1);
$pinkish-tan: hsla(12, 55%, 68%, 1);
$pale-salmon: hsla(12, 52%, 72%, 1);
$mushroom: hsla(12, 47%, 75%, 1);
$pale-rose: hsla(12, 45%, 79%, 1);
$light-rose: hsla(12, 42%, 82%, 1);
$very-light-pink: hsla(12, 33%, 85%, 1);
$white: hsla(12, 27%, 89%, 1);
$off-white: hsla(12, 20%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(26, 18, 15, 1);
$very-dark-brown: rgba(38, 24, 20, 1);
$dark-brown: rgba(51, 31, 24, 1);
$chocolate: rgba(64, 36, 28, 1);
$chocolate-brown: rgba(78, 40, 32, 1);
$dried-blood: rgba(97, 41, 30, 1);
$reddy-brown: rgba(112, 44, 32, 1);
$chestnut: rgba(127, 57, 34, 1);
$red-brown: rgba(147, 50, 31, 1);
$brick: rgba(163, 57, 32, 1);
$rusty-red: rgba(185, 61, 27, 1);
$tomato: rgba(208, 56, 21, 1);
$orangey-red: rgba(224, 55, 22, 1);
$deep-orange: rgba(230, 77, 34, 1);
$pinkish-orange: rgba(233, 87, 48, 1);
$melon: rgba(228, 109, 70, 1);
$dark-peach: rgba(222, 120, 93, 1);
$blush: rgba(222, 137, 110, 1);
$pinkish-tan: rgba(219, 144, 130, 1);
$pale-salmon: rgba(220, 164, 146, 1);
$mushroom: rgba(222, 176, 162, 1);
$pale-rose: rgba(225, 183, 176, 1);
$light-rose: rgba(228, 198, 190, 1);
$very-light-pink: rgba(230, 211, 205, 1);
$white: rgba(234, 221, 218, 1);
$off-white: rgba(239, 232, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-right: linear-gradient(90deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-bottom: linear-gradient(180deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-left: linear-gradient(270deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-top-right: linear-gradient(45deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-bottom-right: linear-gradient(135deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-top-left: linear-gradient(225deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-bottom-left: linear-gradient(315deg, #1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);
$gradient-radial: radial-gradient(#1a120fff, #261814ff, #331f18ff, #40241cff, #4e2820ff, #61291eff, #702c20ff, #7f3922ff, #93321fff, #a33920ff, #b93d1bff, #d03815ff, #e03716ff, #e64d22ff, #e95730ff, #e46d46ff, #de785dff, #de896eff, #db9082ff, #dca492ff, #deb0a2ff, #e1b7b0ff, #e4c6beff, #e6d3cdff, #eadddaff, #efe8e6ff);

/* SCSS Map */
$crimson-span-26-10-map: (
    "almost-black": #1a120fff,
    "very-dark-brown": #261814ff,
    "dark-brown": #331f18ff,
    "chocolate": #40241cff,
    "chocolate-brown": #4e2820ff,
    "dried-blood": #61291eff,
    "reddy-brown": #702c20ff,
    "chestnut": #7f3922ff,
    "red-brown": #93321fff,
    "brick": #a33920ff,
    "rusty-red": #b93d1bff,
    "tomato": #d03815ff,
    "orangey-red": #e03716ff,
    "deep-orange": #e64d22ff,
    "pinkish-orange": #e95730ff,
    "melon": #e46d46ff,
    "dark-peach": #de785dff,
    "blush": #de896eff,
    "pinkish-tan": #db9082ff,
    "pale-salmon": #dca492ff,
    "mushroom": #deb0a2ff,
    "pale-rose": #e1b7b0ff,
    "light-rose": #e4c6beff,
    "very-light-pink": #e6d3cdff,
    "white": #eadddaff,
    "off-white": #efe8e6ff
);
