/*---
id: emerald-span-26-14
name: Emerald Span Standard
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 26
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 26-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f1912ff;
--charcoal: #142617ff;
--evergreen: #18331fff;
--pine-green: #1a4224ff;
--pine: #214d27ff;
--spruce: #225c30ff;
--darkish-green: #236d34ff;
--jungle-green: #237d36ff;
--kelley-green: #22903dff;
--medium-green: #1da63eff;
--kelly-green: #18bc39ff;
--green: #15d13dff;
--vibrant-green: #16e13aff;
--bright-light-green: #18ef45ff;
--light-bright-green: #30e94fff;
--lightish-green: #48e26aff;
--tealish-green: #5ae16fff;
--baby-green: #6de084ff;
--seafoam: #7ce192ff;
--hospital-green: #91dd9eff;
--light-sage: #a2ddabff;
--light-teal: #b1e0bbff;
--pale-aqua: #c0e2c6ff;
--ice: #cce7d1ff;
--ice-blue: #daeaddff;
--white: #e6efe8ff;

/* CSS HSL */
--almost-black: hsla(132, 25%, 8%, 1);
--charcoal: hsla(132, 31%, 11%, 1);
--evergreen: hsla(132, 35%, 15%, 1);
--pine-green: hsla(132, 43%, 18%, 1);
--pine: hsla(132, 41%, 21%, 1);
--spruce: hsla(132, 46%, 25%, 1);
--darkish-green: hsla(132, 52%, 28%, 1);
--jungle-green: hsla(132, 56%, 32%, 1);
--kelley-green: hsla(132, 62%, 35%, 1);
--medium-green: hsla(132, 71%, 38%, 1);
--kelly-green: hsla(132, 77%, 42%, 1);
--green: hsla(132, 82%, 45%, 1);
--vibrant-green: hsla(132, 82%, 48%, 1);
--bright-light-green: hsla(132, 87%, 52%, 1);
--light-bright-green: hsla(132, 81%, 55%, 1);
--lightish-green: hsla(132, 73%, 58%, 1);
--tealish-green: hsla(132, 69%, 62%, 1);
--baby-green: hsla(132, 65%, 65%, 1);
--seafoam: hsla(132, 63%, 68%, 1);
--hospital-green: hsla(132, 53%, 72%, 1);
--light-sage: hsla(132, 47%, 75%, 1);
--light-teal: hsla(132, 44%, 79%, 1);
--pale-aqua: hsla(132, 37%, 82%, 1);
--ice: hsla(132, 35%, 85%, 1);
--ice-blue: hsla(132, 28%, 89%, 1);
--white: hsla(132, 21%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f1912ff;
$charcoal: #142617ff;
$evergreen: #18331fff;
$pine-green: #1a4224ff;
$pine: #214d27ff;
$spruce: #225c30ff;
$darkish-green: #236d34ff;
$jungle-green: #237d36ff;
$kelley-green: #22903dff;
$medium-green: #1da63eff;
$kelly-green: #18bc39ff;
$green: #15d13dff;
$vibrant-green: #16e13aff;
$bright-light-green: #18ef45ff;
$light-bright-green: #30e94fff;
$lightish-green: #48e26aff;
$tealish-green: #5ae16fff;
$baby-green: #6de084ff;
$seafoam: #7ce192ff;
$hospital-green: #91dd9eff;
$light-sage: #a2ddabff;
$light-teal: #b1e0bbff;
$pale-aqua: #c0e2c6ff;
$ice: #cce7d1ff;
$ice-blue: #daeaddff;
$white: #e6efe8ff;

/* SCSS HSL */
$almost-black: hsla(132, 25%, 8%, 1);
$charcoal: hsla(132, 31%, 11%, 1);
$evergreen: hsla(132, 35%, 15%, 1);
$pine-green: hsla(132, 43%, 18%, 1);
$pine: hsla(132, 41%, 21%, 1);
$spruce: hsla(132, 46%, 25%, 1);
$darkish-green: hsla(132, 52%, 28%, 1);
$jungle-green: hsla(132, 56%, 32%, 1);
$kelley-green: hsla(132, 62%, 35%, 1);
$medium-green: hsla(132, 71%, 38%, 1);
$kelly-green: hsla(132, 77%, 42%, 1);
$green: hsla(132, 82%, 45%, 1);
$vibrant-green: hsla(132, 82%, 48%, 1);
$bright-light-green: hsla(132, 87%, 52%, 1);
$light-bright-green: hsla(132, 81%, 55%, 1);
$lightish-green: hsla(132, 73%, 58%, 1);
$tealish-green: hsla(132, 69%, 62%, 1);
$baby-green: hsla(132, 65%, 65%, 1);
$seafoam: hsla(132, 63%, 68%, 1);
$hospital-green: hsla(132, 53%, 72%, 1);
$light-sage: hsla(132, 47%, 75%, 1);
$light-teal: hsla(132, 44%, 79%, 1);
$pale-aqua: hsla(132, 37%, 82%, 1);
$ice: hsla(132, 35%, 85%, 1);
$ice-blue: hsla(132, 28%, 89%, 1);
$white: hsla(132, 21%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 25, 18, 1);
$charcoal: rgba(20, 38, 23, 1);
$evergreen: rgba(24, 51, 31, 1);
$pine-green: rgba(26, 66, 36, 1);
$pine: rgba(33, 77, 39, 1);
$spruce: rgba(34, 92, 48, 1);
$darkish-green: rgba(35, 109, 52, 1);
$jungle-green: rgba(35, 125, 54, 1);
$kelley-green: rgba(34, 144, 61, 1);
$medium-green: rgba(29, 166, 62, 1);
$kelly-green: rgba(24, 188, 57, 1);
$green: rgba(21, 209, 61, 1);
$vibrant-green: rgba(22, 225, 58, 1);
$bright-light-green: rgba(24, 239, 69, 1);
$light-bright-green: rgba(48, 233, 79, 1);
$lightish-green: rgba(72, 226, 106, 1);
$tealish-green: rgba(90, 225, 111, 1);
$baby-green: rgba(109, 224, 132, 1);
$seafoam: rgba(124, 225, 146, 1);
$hospital-green: rgba(145, 221, 158, 1);
$light-sage: rgba(162, 221, 171, 1);
$light-teal: rgba(177, 224, 187, 1);
$pale-aqua: rgba(192, 226, 198, 1);
$ice: rgba(204, 231, 209, 1);
$ice-blue: rgba(218, 234, 221, 1);
$white: rgba(230, 239, 232, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-right: linear-gradient(90deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-bottom: linear-gradient(180deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-left: linear-gradient(270deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-top-right: linear-gradient(45deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-bottom-right: linear-gradient(135deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-top-left: linear-gradient(225deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-bottom-left: linear-gradient(315deg, #0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);
$gradient-radial: radial-gradient(#0f1912ff, #142617ff, #18331fff, #1a4224ff, #214d27ff, #225c30ff, #236d34ff, #237d36ff, #22903dff, #1da63eff, #18bc39ff, #15d13dff, #16e13aff, #18ef45ff, #30e94fff, #48e26aff, #5ae16fff, #6de084ff, #7ce192ff, #91dd9eff, #a2ddabff, #b1e0bbff, #c0e2c6ff, #cce7d1ff, #daeaddff, #e6efe8ff);

/* SCSS Map */
$emerald-span-26-14-map: (
    "almost-black": #0f1912ff,
    "charcoal": #142617ff,
    "evergreen": #18331fff,
    "pine-green": #1a4224ff,
    "pine": #214d27ff,
    "spruce": #225c30ff,
    "darkish-green": #236d34ff,
    "jungle-green": #237d36ff,
    "kelley-green": #22903dff,
    "medium-green": #1da63eff,
    "kelly-green": #18bc39ff,
    "green": #15d13dff,
    "vibrant-green": #16e13aff,
    "bright-light-green": #18ef45ff,
    "light-bright-green": #30e94fff,
    "lightish-green": #48e26aff,
    "tealish-green": #5ae16fff,
    "baby-green": #6de084ff,
    "seafoam": #7ce192ff,
    "hospital-green": #91dd9eff,
    "light-sage": #a2ddabff,
    "light-teal": #b1e0bbff,
    "pale-aqua": #c0e2c6ff,
    "ice": #cce7d1ff,
    "ice-blue": #daeaddff,
    "white": #e6efe8ff
);
