/*---
id: honey-span-26-12
name: Honey Span Standard
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 26
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 26-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #191610ff;
--dark-brown: #262114ff;
--charcoal: #332c18ff;
--dark-olive: #41381bff;
--mud-brown: #4e411fff;
--green-brown: #60511fff;
--dirt-brown: #6e5722ff;
--mud: #826a1fff;
--muddy-brown: #917021ff;
--dark-mustard: #a6891dff;
--dark-gold: #bb9619ff;
--ocher: #caa31bff;
--gold: #e3b914ff;
--golden: #eec119ff;
--macaroni-and-cheese: #e5b334ff;
--maize: #e5bd45ff;
--sand: #dfba5cff;
--desert: #dfbf6dff;
--tan: #dbc582ff;
--very-light-brown: #dbc793ff;
--beige: #e0ce9fff;
--light-peach: #dfd3b2ff;
--pale: #e3dbbfff;
--off-white: #e7e0cbff;
--very-light-pink: #e9e5dbff;
--white: #efede6ff;

/* CSS HSL */
--almost-black: hsla(45, 22%, 8%, 1);
--dark-brown: hsla(45, 30%, 11%, 1);
--charcoal: hsla(45, 36%, 15%, 1);
--dark-olive: hsla(45, 42%, 18%, 1);
--mud-brown: hsla(45, 42%, 21%, 1);
--green-brown: hsla(45, 51%, 25%, 1);
--dirt-brown: hsla(45, 53%, 28%, 1);
--mud: hsla(45, 62%, 32%, 1);
--muddy-brown: hsla(45, 63%, 35%, 1);
--dark-mustard: hsla(45, 70%, 38%, 1);
--dark-gold: hsla(45, 77%, 42%, 1);
--ocher: hsla(45, 76%, 45%, 1);
--gold: hsla(45, 84%, 48%, 1);
--golden: hsla(45, 87%, 52%, 1);
--macaroni-and-cheese: hsla(45, 77%, 55%, 1);
--maize: hsla(45, 75%, 58%, 1);
--sand: hsla(45, 67%, 62%, 1);
--desert: hsla(45, 64%, 65%, 1);
--tan: hsla(45, 55%, 68%, 1);
--very-light-brown: hsla(45, 50%, 72%, 1);
--beige: hsla(45, 51%, 75%, 1);
--light-peach: hsla(45, 42%, 79%, 1);
--pale: hsla(45, 38%, 82%, 1);
--off-white: hsla(45, 37%, 85%, 1);
--very-light-pink: hsla(45, 25%, 89%, 1);
--white: hsla(45, 21%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #191610ff;
$dark-brown: #262114ff;
$charcoal: #332c18ff;
$dark-olive: #41381bff;
$mud-brown: #4e411fff;
$green-brown: #60511fff;
$dirt-brown: #6e5722ff;
$mud: #826a1fff;
$muddy-brown: #917021ff;
$dark-mustard: #a6891dff;
$dark-gold: #bb9619ff;
$ocher: #caa31bff;
$gold: #e3b914ff;
$golden: #eec119ff;
$macaroni-and-cheese: #e5b334ff;
$maize: #e5bd45ff;
$sand: #dfba5cff;
$desert: #dfbf6dff;
$tan: #dbc582ff;
$very-light-brown: #dbc793ff;
$beige: #e0ce9fff;
$light-peach: #dfd3b2ff;
$pale: #e3dbbfff;
$off-white: #e7e0cbff;
$very-light-pink: #e9e5dbff;
$white: #efede6ff;

/* SCSS HSL */
$almost-black: hsla(45, 22%, 8%, 1);
$dark-brown: hsla(45, 30%, 11%, 1);
$charcoal: hsla(45, 36%, 15%, 1);
$dark-olive: hsla(45, 42%, 18%, 1);
$mud-brown: hsla(45, 42%, 21%, 1);
$green-brown: hsla(45, 51%, 25%, 1);
$dirt-brown: hsla(45, 53%, 28%, 1);
$mud: hsla(45, 62%, 32%, 1);
$muddy-brown: hsla(45, 63%, 35%, 1);
$dark-mustard: hsla(45, 70%, 38%, 1);
$dark-gold: hsla(45, 77%, 42%, 1);
$ocher: hsla(45, 76%, 45%, 1);
$gold: hsla(45, 84%, 48%, 1);
$golden: hsla(45, 87%, 52%, 1);
$macaroni-and-cheese: hsla(45, 77%, 55%, 1);
$maize: hsla(45, 75%, 58%, 1);
$sand: hsla(45, 67%, 62%, 1);
$desert: hsla(45, 64%, 65%, 1);
$tan: hsla(45, 55%, 68%, 1);
$very-light-brown: hsla(45, 50%, 72%, 1);
$beige: hsla(45, 51%, 75%, 1);
$light-peach: hsla(45, 42%, 79%, 1);
$pale: hsla(45, 38%, 82%, 1);
$off-white: hsla(45, 37%, 85%, 1);
$very-light-pink: hsla(45, 25%, 89%, 1);
$white: hsla(45, 21%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(25, 22, 16, 1);
$dark-brown: rgba(38, 33, 20, 1);
$charcoal: rgba(51, 44, 24, 1);
$dark-olive: rgba(65, 56, 27, 1);
$mud-brown: rgba(78, 65, 31, 1);
$green-brown: rgba(96, 81, 31, 1);
$dirt-brown: rgba(110, 87, 34, 1);
$mud: rgba(130, 106, 31, 1);
$muddy-brown: rgba(145, 112, 33, 1);
$dark-mustard: rgba(166, 137, 29, 1);
$dark-gold: rgba(187, 150, 25, 1);
$ocher: rgba(202, 163, 27, 1);
$gold: rgba(227, 185, 20, 1);
$golden: rgba(238, 193, 25, 1);
$macaroni-and-cheese: rgba(229, 179, 52, 1);
$maize: rgba(229, 189, 69, 1);
$sand: rgba(223, 186, 92, 1);
$desert: rgba(223, 191, 109, 1);
$tan: rgba(219, 197, 130, 1);
$very-light-brown: rgba(219, 199, 147, 1);
$beige: rgba(224, 206, 159, 1);
$light-peach: rgba(223, 211, 178, 1);
$pale: rgba(227, 219, 191, 1);
$off-white: rgba(231, 224, 203, 1);
$very-light-pink: rgba(233, 229, 219, 1);
$white: rgba(239, 237, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-right: linear-gradient(90deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-bottom: linear-gradient(180deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-left: linear-gradient(270deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-top-right: linear-gradient(45deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-bottom-right: linear-gradient(135deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-top-left: linear-gradient(225deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-bottom-left: linear-gradient(315deg, #191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);
$gradient-radial: radial-gradient(#191610ff, #262114ff, #332c18ff, #41381bff, #4e411fff, #60511fff, #6e5722ff, #826a1fff, #917021ff, #a6891dff, #bb9619ff, #caa31bff, #e3b914ff, #eec119ff, #e5b334ff, #e5bd45ff, #dfba5cff, #dfbf6dff, #dbc582ff, #dbc793ff, #e0ce9fff, #dfd3b2ff, #e3dbbfff, #e7e0cbff, #e9e5dbff, #efede6ff);

/* SCSS Map */
$honey-span-26-12-map: (
    "almost-black": #191610ff,
    "dark-brown": #262114ff,
    "charcoal": #332c18ff,
    "dark-olive": #41381bff,
    "mud-brown": #4e411fff,
    "green-brown": #60511fff,
    "dirt-brown": #6e5722ff,
    "mud": #826a1fff,
    "muddy-brown": #917021ff,
    "dark-mustard": #a6891dff,
    "dark-gold": #bb9619ff,
    "ocher": #caa31bff,
    "gold": #e3b914ff,
    "golden": #eec119ff,
    "macaroni-and-cheese": #e5b334ff,
    "maize": #e5bd45ff,
    "sand": #dfba5cff,
    "desert": #dfbf6dff,
    "tan": #dbc582ff,
    "very-light-brown": #dbc793ff,
    "beige": #e0ce9fff,
    "light-peach": #dfd3b2ff,
    "pale": #e3dbbfff,
    "off-white": #e7e0cbff,
    "very-light-pink": #e9e5dbff,
    "white": #efede6ff
);
