/*---
id: metro-mosaic-26-07
name: Metro Mosaic 26-07
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 26
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 26-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #3a4e18ff;
--tone-02: #1f5c16ff;
--tone-03: #136c30ff;
--tone-04: #0f7d50ff;
--tone-05: #098b8fff;
--tone-06: #28617eff;
--tone-07: #23358fff;
--tone-08: #351da2ff;
--tone-09: #6e15b6ff;
--tone-10: #cb0db2ff;
--tone-11: #ae3781ff;
--tone-12: #c22f47ff;
--tone-13: #d84426ff;
--tone-14: #e5ac25ff;
--tone-15: #e6f126ff;
--tone-16: #90cb59ff;
--tone-17: #6fd759ff;
--tone-18: #5be26eff;
--tone-19: #5eecabff;
--tone-20: #61f1f5ff;
--tone-21: #89bcdaff;
--tone-22: #8c9ee3ff;
--tone-23: #a591ecff;
--tone-24: #d496f3ff;
--tone-25: #f59df9ff;
--tone-26: #e9b9d2ff;

/* CSS HSL */
--tone-01: hsla(82, 52%, 20%, 1);
--tone-02: hsla(113, 61%, 22%, 1);
--tone-03: hsla(139, 70%, 25%, 1);
--tone-04: hsla(156, 79%, 27%, 1);
--tone-05: hsla(182, 88%, 30%, 1);
--tone-06: hsla(200, 52%, 32%, 1);
--tone-07: hsla(230, 61%, 35%, 1);
--tone-08: hsla(251, 70%, 37%, 1);
--tone-09: hsla(273, 79%, 40%, 1);
--tone-10: hsla(308, 88%, 42%, 1);
--tone-11: hsla(322, 52%, 45%, 1);
--tone-12: hsla(350, 61%, 47%, 1);
--tone-13: hsla(10, 70%, 50%, 1);
--tone-14: hsla(42, 79%, 52%, 1);
--tone-15: hsla(63, 88%, 55%, 1);
--tone-16: hsla(91, 52%, 57%, 1);
--tone-17: hsla(110, 61%, 60%, 1);
--tone-18: hsla(129, 70%, 62%, 1);
--tone-19: hsla(153, 79%, 65%, 1);
--tone-20: hsla(181, 88%, 67%, 1);
--tone-21: hsla(202, 52%, 70%, 1);
--tone-22: hsla(228, 61%, 72%, 1);
--tone-23: hsla(253, 70%, 75%, 1);
--tone-24: hsla(280, 79%, 77%, 1);
--tone-25: hsla(297, 88%, 80%, 1);
--tone-26: hsla(329, 52%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #3a4e18ff;
$tone-02: #1f5c16ff;
$tone-03: #136c30ff;
$tone-04: #0f7d50ff;
$tone-05: #098b8fff;
$tone-06: #28617eff;
$tone-07: #23358fff;
$tone-08: #351da2ff;
$tone-09: #6e15b6ff;
$tone-10: #cb0db2ff;
$tone-11: #ae3781ff;
$tone-12: #c22f47ff;
$tone-13: #d84426ff;
$tone-14: #e5ac25ff;
$tone-15: #e6f126ff;
$tone-16: #90cb59ff;
$tone-17: #6fd759ff;
$tone-18: #5be26eff;
$tone-19: #5eecabff;
$tone-20: #61f1f5ff;
$tone-21: #89bcdaff;
$tone-22: #8c9ee3ff;
$tone-23: #a591ecff;
$tone-24: #d496f3ff;
$tone-25: #f59df9ff;
$tone-26: #e9b9d2ff;

/* SCSS HSL */
$tone-01: hsla(82, 52%, 20%, 1);
$tone-02: hsla(113, 61%, 22%, 1);
$tone-03: hsla(139, 70%, 25%, 1);
$tone-04: hsla(156, 79%, 27%, 1);
$tone-05: hsla(182, 88%, 30%, 1);
$tone-06: hsla(200, 52%, 32%, 1);
$tone-07: hsla(230, 61%, 35%, 1);
$tone-08: hsla(251, 70%, 37%, 1);
$tone-09: hsla(273, 79%, 40%, 1);
$tone-10: hsla(308, 88%, 42%, 1);
$tone-11: hsla(322, 52%, 45%, 1);
$tone-12: hsla(350, 61%, 47%, 1);
$tone-13: hsla(10, 70%, 50%, 1);
$tone-14: hsla(42, 79%, 52%, 1);
$tone-15: hsla(63, 88%, 55%, 1);
$tone-16: hsla(91, 52%, 57%, 1);
$tone-17: hsla(110, 61%, 60%, 1);
$tone-18: hsla(129, 70%, 62%, 1);
$tone-19: hsla(153, 79%, 65%, 1);
$tone-20: hsla(181, 88%, 67%, 1);
$tone-21: hsla(202, 52%, 70%, 1);
$tone-22: hsla(228, 61%, 72%, 1);
$tone-23: hsla(253, 70%, 75%, 1);
$tone-24: hsla(280, 79%, 77%, 1);
$tone-25: hsla(297, 88%, 80%, 1);
$tone-26: hsla(329, 52%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(58, 78, 24, 1);
$tone-02: rgba(31, 92, 22, 1);
$tone-03: rgba(19, 108, 48, 1);
$tone-04: rgba(15, 125, 80, 1);
$tone-05: rgba(9, 139, 143, 1);
$tone-06: rgba(40, 97, 126, 1);
$tone-07: rgba(35, 53, 143, 1);
$tone-08: rgba(53, 29, 162, 1);
$tone-09: rgba(110, 21, 182, 1);
$tone-10: rgba(203, 13, 178, 1);
$tone-11: rgba(174, 55, 129, 1);
$tone-12: rgba(194, 47, 71, 1);
$tone-13: rgba(216, 68, 38, 1);
$tone-14: rgba(229, 172, 37, 1);
$tone-15: rgba(230, 241, 38, 1);
$tone-16: rgba(144, 203, 89, 1);
$tone-17: rgba(111, 215, 89, 1);
$tone-18: rgba(91, 226, 110, 1);
$tone-19: rgba(94, 236, 171, 1);
$tone-20: rgba(97, 241, 245, 1);
$tone-21: rgba(137, 188, 218, 1);
$tone-22: rgba(140, 158, 227, 1);
$tone-23: rgba(165, 145, 236, 1);
$tone-24: rgba(212, 150, 243, 1);
$tone-25: rgba(245, 157, 249, 1);
$tone-26: rgba(233, 185, 210, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-right: linear-gradient(90deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-bottom: linear-gradient(180deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-left: linear-gradient(270deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-top-right: linear-gradient(45deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-bottom-right: linear-gradient(135deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-top-left: linear-gradient(225deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-bottom-left: linear-gradient(315deg, #3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);
$gradient-radial: radial-gradient(#3a4e18ff, #1f5c16ff, #136c30ff, #0f7d50ff, #098b8fff, #28617eff, #23358fff, #351da2ff, #6e15b6ff, #cb0db2ff, #ae3781ff, #c22f47ff, #d84426ff, #e5ac25ff, #e6f126ff, #90cb59ff, #6fd759ff, #5be26eff, #5eecabff, #61f1f5ff, #89bcdaff, #8c9ee3ff, #a591ecff, #d496f3ff, #f59df9ff, #e9b9d2ff);

/* SCSS Map */
$metro-mosaic-26-07-map: (
    "tone-01": #3a4e18ff,
    "tone-02": #1f5c16ff,
    "tone-03": #136c30ff,
    "tone-04": #0f7d50ff,
    "tone-05": #098b8fff,
    "tone-06": #28617eff,
    "tone-07": #23358fff,
    "tone-08": #351da2ff,
    "tone-09": #6e15b6ff,
    "tone-10": #cb0db2ff,
    "tone-11": #ae3781ff,
    "tone-12": #c22f47ff,
    "tone-13": #d84426ff,
    "tone-14": #e5ac25ff,
    "tone-15": #e6f126ff,
    "tone-16": #90cb59ff,
    "tone-17": #6fd759ff,
    "tone-18": #5be26eff,
    "tone-19": #5eecabff,
    "tone-20": #61f1f5ff,
    "tone-21": #89bcdaff,
    "tone-22": #8c9ee3ff,
    "tone-23": #a591ecff,
    "tone-24": #d496f3ff,
    "tone-25": #f59df9ff,
    "tone-26": #e9b9d2ff
);
