/*---
id: azure-span-30-12
name: Azure Span Extended
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 30
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 30-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f161aff;
--dark: #142024ff;
--charcoal: #19282dff;
--dark-slate-blue: #1a303bff;
--dark-teal: #1f3b45ff;
--deep-teal: #1d4555ff;
--petrol: #1f4c62ff;
--slate: #215a6fff;
--sea-blue: #21627eff;
--peacock-blue: #21678cff;
--ocean-blue: #21749bff;
--nice-blue: #207facff;
--cool-blue: #1c8bbeff;
--water-blue: #1792d2ff;
--sky-blue: #13a9e4ff;
--bright-sky-blue: #1eb4e9ff;
--sky: #31b0e4ff;
--carolina-blue: #3daee7ff;
--light-blue: #55b2deff;
--baby-blue: #5fb9e3ff;
--powder-blue: #6fbae1ff;
--cloudy-blue: #80c5dfff;
--robins-egg-blue: #90c9ddff;
--pale-sky-blue: #9dcee0ff;
--light-sky-blue: #adcfdfff;
--pale-blue: #bad4e0ff;
--very-light-blue: #c4dbe5ff;
--very-light-pink: #d2dfe6ff;
--white: #dbe7ebff;
--ice-blue: #e6ecf0ff;

/* CSS HSL */
--almost-black: hsla(198, 25%, 8%, 1);
--dark: hsla(198, 28%, 11%, 1);
--charcoal: hsla(198, 29%, 14%, 1);
--dark-slate-blue: hsla(198, 39%, 17%, 1);
--dark-teal: hsla(198, 37%, 20%, 1);
--deep-teal: hsla(198, 49%, 22%, 1);
--petrol: hsla(198, 52%, 25%, 1);
--slate: hsla(198, 55%, 28%, 1);
--sea-blue: hsla(198, 58%, 31%, 1);
--peacock-blue: hsla(198, 62%, 34%, 1);
--ocean-blue: hsla(198, 65%, 37%, 1);
--nice-blue: hsla(198, 69%, 40%, 1);
--cool-blue: hsla(198, 74%, 43%, 1);
--water-blue: hsla(198, 81%, 46%, 1);
--sky-blue: hsla(198, 85%, 49%, 1);
--bright-sky-blue: hsla(198, 82%, 51%, 1);
--sky: hsla(198, 77%, 54%, 1);
--carolina-blue: hsla(198, 78%, 57%, 1);
--light-blue: hsla(198, 67%, 60%, 1);
--baby-blue: hsla(198, 70%, 63%, 1);
--powder-blue: hsla(198, 65%, 66%, 1);
--cloudy-blue: hsla(198, 60%, 69%, 1);
--robins-egg-blue: hsla(198, 53%, 72%, 1);
--pale-sky-blue: hsla(198, 52%, 75%, 1);
--light-sky-blue: hsla(198, 44%, 78%, 1);
--pale-blue: hsla(198, 39%, 80%, 1);
--very-light-blue: hsla(198, 39%, 83%, 1);
--very-light-pink: hsla(198, 29%, 86%, 1);
--white: hsla(198, 30%, 89%, 1);
--ice-blue: hsla(198, 25%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f161aff;
$dark: #142024ff;
$charcoal: #19282dff;
$dark-slate-blue: #1a303bff;
$dark-teal: #1f3b45ff;
$deep-teal: #1d4555ff;
$petrol: #1f4c62ff;
$slate: #215a6fff;
$sea-blue: #21627eff;
$peacock-blue: #21678cff;
$ocean-blue: #21749bff;
$nice-blue: #207facff;
$cool-blue: #1c8bbeff;
$water-blue: #1792d2ff;
$sky-blue: #13a9e4ff;
$bright-sky-blue: #1eb4e9ff;
$sky: #31b0e4ff;
$carolina-blue: #3daee7ff;
$light-blue: #55b2deff;
$baby-blue: #5fb9e3ff;
$powder-blue: #6fbae1ff;
$cloudy-blue: #80c5dfff;
$robins-egg-blue: #90c9ddff;
$pale-sky-blue: #9dcee0ff;
$light-sky-blue: #adcfdfff;
$pale-blue: #bad4e0ff;
$very-light-blue: #c4dbe5ff;
$very-light-pink: #d2dfe6ff;
$white: #dbe7ebff;
$ice-blue: #e6ecf0ff;

/* SCSS HSL */
$almost-black: hsla(198, 25%, 8%, 1);
$dark: hsla(198, 28%, 11%, 1);
$charcoal: hsla(198, 29%, 14%, 1);
$dark-slate-blue: hsla(198, 39%, 17%, 1);
$dark-teal: hsla(198, 37%, 20%, 1);
$deep-teal: hsla(198, 49%, 22%, 1);
$petrol: hsla(198, 52%, 25%, 1);
$slate: hsla(198, 55%, 28%, 1);
$sea-blue: hsla(198, 58%, 31%, 1);
$peacock-blue: hsla(198, 62%, 34%, 1);
$ocean-blue: hsla(198, 65%, 37%, 1);
$nice-blue: hsla(198, 69%, 40%, 1);
$cool-blue: hsla(198, 74%, 43%, 1);
$water-blue: hsla(198, 81%, 46%, 1);
$sky-blue: hsla(198, 85%, 49%, 1);
$bright-sky-blue: hsla(198, 82%, 51%, 1);
$sky: hsla(198, 77%, 54%, 1);
$carolina-blue: hsla(198, 78%, 57%, 1);
$light-blue: hsla(198, 67%, 60%, 1);
$baby-blue: hsla(198, 70%, 63%, 1);
$powder-blue: hsla(198, 65%, 66%, 1);
$cloudy-blue: hsla(198, 60%, 69%, 1);
$robins-egg-blue: hsla(198, 53%, 72%, 1);
$pale-sky-blue: hsla(198, 52%, 75%, 1);
$light-sky-blue: hsla(198, 44%, 78%, 1);
$pale-blue: hsla(198, 39%, 80%, 1);
$very-light-blue: hsla(198, 39%, 83%, 1);
$very-light-pink: hsla(198, 29%, 86%, 1);
$white: hsla(198, 30%, 89%, 1);
$ice-blue: hsla(198, 25%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 22, 26, 1);
$dark: rgba(20, 32, 36, 1);
$charcoal: rgba(25, 40, 45, 1);
$dark-slate-blue: rgba(26, 48, 59, 1);
$dark-teal: rgba(31, 59, 69, 1);
$deep-teal: rgba(29, 69, 85, 1);
$petrol: rgba(31, 76, 98, 1);
$slate: rgba(33, 90, 111, 1);
$sea-blue: rgba(33, 98, 126, 1);
$peacock-blue: rgba(33, 103, 140, 1);
$ocean-blue: rgba(33, 116, 155, 1);
$nice-blue: rgba(32, 127, 172, 1);
$cool-blue: rgba(28, 139, 190, 1);
$water-blue: rgba(23, 146, 210, 1);
$sky-blue: rgba(19, 169, 228, 1);
$bright-sky-blue: rgba(30, 180, 233, 1);
$sky: rgba(49, 176, 228, 1);
$carolina-blue: rgba(61, 174, 231, 1);
$light-blue: rgba(85, 178, 222, 1);
$baby-blue: rgba(95, 185, 227, 1);
$powder-blue: rgba(111, 186, 225, 1);
$cloudy-blue: rgba(128, 197, 223, 1);
$robins-egg-blue: rgba(144, 201, 221, 1);
$pale-sky-blue: rgba(157, 206, 224, 1);
$light-sky-blue: rgba(173, 207, 223, 1);
$pale-blue: rgba(186, 212, 224, 1);
$very-light-blue: rgba(196, 219, 229, 1);
$very-light-pink: rgba(210, 223, 230, 1);
$white: rgba(219, 231, 235, 1);
$ice-blue: rgba(230, 236, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-right: linear-gradient(90deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-bottom: linear-gradient(180deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-left: linear-gradient(270deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-top-right: linear-gradient(45deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-bottom-right: linear-gradient(135deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-top-left: linear-gradient(225deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-bottom-left: linear-gradient(315deg, #0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);
$gradient-radial: radial-gradient(#0f161aff, #142024ff, #19282dff, #1a303bff, #1f3b45ff, #1d4555ff, #1f4c62ff, #215a6fff, #21627eff, #21678cff, #21749bff, #207facff, #1c8bbeff, #1792d2ff, #13a9e4ff, #1eb4e9ff, #31b0e4ff, #3daee7ff, #55b2deff, #5fb9e3ff, #6fbae1ff, #80c5dfff, #90c9ddff, #9dcee0ff, #adcfdfff, #bad4e0ff, #c4dbe5ff, #d2dfe6ff, #dbe7ebff, #e6ecf0ff);

/* SCSS Map */
$azure-span-30-12-map: (
    "almost-black": #0f161aff,
    "dark": #142024ff,
    "charcoal": #19282dff,
    "dark-slate-blue": #1a303bff,
    "dark-teal": #1f3b45ff,
    "deep-teal": #1d4555ff,
    "petrol": #1f4c62ff,
    "slate": #215a6fff,
    "sea-blue": #21627eff,
    "peacock-blue": #21678cff,
    "ocean-blue": #21749bff,
    "nice-blue": #207facff,
    "cool-blue": #1c8bbeff,
    "water-blue": #1792d2ff,
    "sky-blue": #13a9e4ff,
    "bright-sky-blue": #1eb4e9ff,
    "sky": #31b0e4ff,
    "carolina-blue": #3daee7ff,
    "light-blue": #55b2deff,
    "baby-blue": #5fb9e3ff,
    "powder-blue": #6fbae1ff,
    "cloudy-blue": #80c5dfff,
    "robins-egg-blue": #90c9ddff,
    "pale-sky-blue": #9dcee0ff,
    "light-sky-blue": #adcfdfff,
    "pale-blue": #bad4e0ff,
    "very-light-blue": #c4dbe5ff,
    "very-light-pink": #d2dfe6ff,
    "white": #dbe7ebff,
    "ice-blue": #e6ecf0ff
);
