/*---
id: canyon-mosaic-30-05
name: Canyon Mosaic 30-05
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 30
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 30-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #181b4eff;
--tone-02: #33165bff;
--tone-03: #651369ff;
--tone-04: #790e47ff;
--tone-05: #89090aff;
--tone-06: #775326ff;
--tone-07: #788721ff;
--tone-08: #40981bff;
--tone-09: #14a938ff;
--tone-10: #0cbc96ff;
--tone-11: #337aa0ff;
--tone-12: #2b38b3ff;
--tone-13: #5423c6ff;
--tone-14: #bb1adaff;
--tone-15: #ef0f7dff;
--tone-16: #c4454cff;
--tone-17: #d18943ff;
--tone-18: #ded442ff;
--tone-19: #81e941ff;
--tone-20: #42f343ff;
--tone-21: #6fd1a2ff;
--tone-22: #6fc4dcff;
--tone-23: #7094e6ff;
--tone-24: #9472eeff;
--tone-25: #cc75f6ff;
--tone-26: #df98ceff;
--tone-27: #e79bafff;
--tone-28: #eebe9eff;
--tone-29: #f4e7a3ff;
--tone-30: #d7f9a9ff;

/* CSS HSL */
--tone-01: hsla(237, 52%, 20%, 1);
--tone-02: hsla(266, 61%, 22%, 1);
--tone-03: hsla(297, 70%, 24%, 1);
--tone-04: hsla(328, 79%, 26%, 1);
--tone-05: hsla(359, 88%, 29%, 1);
--tone-06: hsla(33, 52%, 31%, 1);
--tone-07: hsla(69, 61%, 33%, 1);
--tone-08: hsla(102, 70%, 35%, 1);
--tone-09: hsla(134, 79%, 37%, 1);
--tone-10: hsla(167, 88%, 39%, 1);
--tone-11: hsla(201, 52%, 41%, 1);
--tone-12: hsla(234, 61%, 44%, 1);
--tone-13: hsla(258, 70%, 46%, 1);
--tone-14: hsla(290, 79%, 48%, 1);
--tone-15: hsla(331, 88%, 50%, 1);
--tone-16: hsla(357, 52%, 52%, 1);
--tone-17: hsla(29, 61%, 54%, 1);
--tone-18: hsla(56, 70%, 56%, 1);
--tone-19: hsla(97, 79%, 58%, 1);
--tone-20: hsla(120, 88%, 61%, 1);
--tone-21: hsla(151, 52%, 63%, 1);
--tone-22: hsla(193, 61%, 65%, 1);
--tone-23: hsla(221, 70%, 67%, 1);
--tone-24: hsla(256, 79%, 69%, 1);
--tone-25: hsla(281, 88%, 71%, 1);
--tone-26: hsla(314, 52%, 73%, 1);
--tone-27: hsla(344, 61%, 76%, 1);
--tone-28: hsla(24, 70%, 78%, 1);
--tone-29: hsla(50, 79%, 80%, 1);
--tone-30: hsla(85, 88%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #181b4eff;
$tone-02: #33165bff;
$tone-03: #651369ff;
$tone-04: #790e47ff;
$tone-05: #89090aff;
$tone-06: #775326ff;
$tone-07: #788721ff;
$tone-08: #40981bff;
$tone-09: #14a938ff;
$tone-10: #0cbc96ff;
$tone-11: #337aa0ff;
$tone-12: #2b38b3ff;
$tone-13: #5423c6ff;
$tone-14: #bb1adaff;
$tone-15: #ef0f7dff;
$tone-16: #c4454cff;
$tone-17: #d18943ff;
$tone-18: #ded442ff;
$tone-19: #81e941ff;
$tone-20: #42f343ff;
$tone-21: #6fd1a2ff;
$tone-22: #6fc4dcff;
$tone-23: #7094e6ff;
$tone-24: #9472eeff;
$tone-25: #cc75f6ff;
$tone-26: #df98ceff;
$tone-27: #e79bafff;
$tone-28: #eebe9eff;
$tone-29: #f4e7a3ff;
$tone-30: #d7f9a9ff;

/* SCSS HSL */
$tone-01: hsla(237, 52%, 20%, 1);
$tone-02: hsla(266, 61%, 22%, 1);
$tone-03: hsla(297, 70%, 24%, 1);
$tone-04: hsla(328, 79%, 26%, 1);
$tone-05: hsla(359, 88%, 29%, 1);
$tone-06: hsla(33, 52%, 31%, 1);
$tone-07: hsla(69, 61%, 33%, 1);
$tone-08: hsla(102, 70%, 35%, 1);
$tone-09: hsla(134, 79%, 37%, 1);
$tone-10: hsla(167, 88%, 39%, 1);
$tone-11: hsla(201, 52%, 41%, 1);
$tone-12: hsla(234, 61%, 44%, 1);
$tone-13: hsla(258, 70%, 46%, 1);
$tone-14: hsla(290, 79%, 48%, 1);
$tone-15: hsla(331, 88%, 50%, 1);
$tone-16: hsla(357, 52%, 52%, 1);
$tone-17: hsla(29, 61%, 54%, 1);
$tone-18: hsla(56, 70%, 56%, 1);
$tone-19: hsla(97, 79%, 58%, 1);
$tone-20: hsla(120, 88%, 61%, 1);
$tone-21: hsla(151, 52%, 63%, 1);
$tone-22: hsla(193, 61%, 65%, 1);
$tone-23: hsla(221, 70%, 67%, 1);
$tone-24: hsla(256, 79%, 69%, 1);
$tone-25: hsla(281, 88%, 71%, 1);
$tone-26: hsla(314, 52%, 73%, 1);
$tone-27: hsla(344, 61%, 76%, 1);
$tone-28: hsla(24, 70%, 78%, 1);
$tone-29: hsla(50, 79%, 80%, 1);
$tone-30: hsla(85, 88%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(24, 27, 78, 1);
$tone-02: rgba(51, 22, 91, 1);
$tone-03: rgba(101, 19, 105, 1);
$tone-04: rgba(121, 14, 71, 1);
$tone-05: rgba(137, 9, 10, 1);
$tone-06: rgba(119, 83, 38, 1);
$tone-07: rgba(120, 135, 33, 1);
$tone-08: rgba(64, 152, 27, 1);
$tone-09: rgba(20, 169, 56, 1);
$tone-10: rgba(12, 188, 150, 1);
$tone-11: rgba(51, 122, 160, 1);
$tone-12: rgba(43, 56, 179, 1);
$tone-13: rgba(84, 35, 198, 1);
$tone-14: rgba(187, 26, 218, 1);
$tone-15: rgba(239, 15, 125, 1);
$tone-16: rgba(196, 69, 76, 1);
$tone-17: rgba(209, 137, 67, 1);
$tone-18: rgba(222, 212, 66, 1);
$tone-19: rgba(129, 233, 65, 1);
$tone-20: rgba(66, 243, 67, 1);
$tone-21: rgba(111, 209, 162, 1);
$tone-22: rgba(111, 196, 220, 1);
$tone-23: rgba(112, 148, 230, 1);
$tone-24: rgba(148, 114, 238, 1);
$tone-25: rgba(204, 117, 246, 1);
$tone-26: rgba(223, 152, 206, 1);
$tone-27: rgba(231, 155, 175, 1);
$tone-28: rgba(238, 190, 158, 1);
$tone-29: rgba(244, 231, 163, 1);
$tone-30: rgba(215, 249, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-right: linear-gradient(90deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-bottom: linear-gradient(180deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-left: linear-gradient(270deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-top-right: linear-gradient(45deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-bottom-right: linear-gradient(135deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-top-left: linear-gradient(225deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-bottom-left: linear-gradient(315deg, #181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);
$gradient-radial: radial-gradient(#181b4eff, #33165bff, #651369ff, #790e47ff, #89090aff, #775326ff, #788721ff, #40981bff, #14a938ff, #0cbc96ff, #337aa0ff, #2b38b3ff, #5423c6ff, #bb1adaff, #ef0f7dff, #c4454cff, #d18943ff, #ded442ff, #81e941ff, #42f343ff, #6fd1a2ff, #6fc4dcff, #7094e6ff, #9472eeff, #cc75f6ff, #df98ceff, #e79bafff, #eebe9eff, #f4e7a3ff, #d7f9a9ff);

/* SCSS Map */
$canyon-mosaic-30-05-map: (
    "tone-01": #181b4eff,
    "tone-02": #33165bff,
    "tone-03": #651369ff,
    "tone-04": #790e47ff,
    "tone-05": #89090aff,
    "tone-06": #775326ff,
    "tone-07": #788721ff,
    "tone-08": #40981bff,
    "tone-09": #14a938ff,
    "tone-10": #0cbc96ff,
    "tone-11": #337aa0ff,
    "tone-12": #2b38b3ff,
    "tone-13": #5423c6ff,
    "tone-14": #bb1adaff,
    "tone-15": #ef0f7dff,
    "tone-16": #c4454cff,
    "tone-17": #d18943ff,
    "tone-18": #ded442ff,
    "tone-19": #81e941ff,
    "tone-20": #42f343ff,
    "tone-21": #6fd1a2ff,
    "tone-22": #6fc4dcff,
    "tone-23": #7094e6ff,
    "tone-24": #9472eeff,
    "tone-25": #cc75f6ff,
    "tone-26": #df98ceff,
    "tone-27": #e79bafff,
    "tone-28": #eebe9eff,
    "tone-29": #f4e7a3ff,
    "tone-30": #d7f9a9ff
);
