/*---
id: ember-mosaic-30-01
name: Ember Mosaic 30-01
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 30
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 30-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #4b184eff;
--tone-02: #5b1632ff;
--tone-03: #692e13ff;
--tone-04: #73790eff;
--tone-05: #208909ff;
--tone-06: #26774bff;
--tone-07: #217a87ff;
--tone-08: #1b3798ff;
--tone-09: #6614a9ff;
--tone-10: #bc0c8cff;
--tone-11: #a03345ff;
--tone-12: #b3752bff;
--tone-13: #84c623ff;
--tone-14: #1ada2eff;
--tone-15: #0fefb4ff;
--tone-16: #459ac4ff;
--tone-17: #6243d1ff;
--tone-18: #bf42deff;
--tone-19: #e94181ff;
--tone-20: #f36142ff;
--tone-21: #d1ce6fff;
--tone-22: #98dc6fff;
--tone-23: #70e690ff;
--tone-24: #72eceeff;
--tone-25: #75a6f6ff;
--tone-26: #b398dfff;
--tone-27: #e79bdbff;
--tone-28: #ee9eadff;
--tone-29: #f4d0a3ff;
--tone-30: #eaf9a9ff;

/* CSS HSL */
--tone-01: hsla(297, 52%, 20%, 1);
--tone-02: hsla(336, 61%, 22%, 1);
--tone-03: hsla(19, 70%, 24%, 1);
--tone-04: hsla(63, 79%, 26%, 1);
--tone-05: hsla(109, 88%, 29%, 1);
--tone-06: hsla(148, 52%, 31%, 1);
--tone-07: hsla(188, 61%, 33%, 1);
--tone-08: hsla(227, 70%, 35%, 1);
--tone-09: hsla(273, 79%, 37%, 1);
--tone-10: hsla(316, 88%, 39%, 1);
--tone-11: hsla(350, 52%, 41%, 1);
--tone-12: hsla(33, 61%, 44%, 1);
--tone-13: hsla(84, 70%, 46%, 1);
--tone-14: hsla(127, 79%, 48%, 1);
--tone-15: hsla(164, 88%, 50%, 1);
--tone-16: hsla(200, 52%, 52%, 1);
--tone-17: hsla(253, 61%, 54%, 1);
--tone-18: hsla(288, 70%, 56%, 1);
--tone-19: hsla(337, 79%, 58%, 1);
--tone-20: hsla(10, 88%, 61%, 1);
--tone-21: hsla(58, 52%, 63%, 1);
--tone-22: hsla(97, 61%, 65%, 1);
--tone-23: hsla(136, 70%, 67%, 1);
--tone-24: hsla(181, 79%, 69%, 1);
--tone-25: hsla(217, 88%, 71%, 1);
--tone-26: hsla(263, 52%, 73%, 1);
--tone-27: hsla(309, 61%, 76%, 1);
--tone-28: hsla(349, 70%, 78%, 1);
--tone-29: hsla(33, 79%, 80%, 1);
--tone-30: hsla(71, 88%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #4b184eff;
$tone-02: #5b1632ff;
$tone-03: #692e13ff;
$tone-04: #73790eff;
$tone-05: #208909ff;
$tone-06: #26774bff;
$tone-07: #217a87ff;
$tone-08: #1b3798ff;
$tone-09: #6614a9ff;
$tone-10: #bc0c8cff;
$tone-11: #a03345ff;
$tone-12: #b3752bff;
$tone-13: #84c623ff;
$tone-14: #1ada2eff;
$tone-15: #0fefb4ff;
$tone-16: #459ac4ff;
$tone-17: #6243d1ff;
$tone-18: #bf42deff;
$tone-19: #e94181ff;
$tone-20: #f36142ff;
$tone-21: #d1ce6fff;
$tone-22: #98dc6fff;
$tone-23: #70e690ff;
$tone-24: #72eceeff;
$tone-25: #75a6f6ff;
$tone-26: #b398dfff;
$tone-27: #e79bdbff;
$tone-28: #ee9eadff;
$tone-29: #f4d0a3ff;
$tone-30: #eaf9a9ff;

/* SCSS HSL */
$tone-01: hsla(297, 52%, 20%, 1);
$tone-02: hsla(336, 61%, 22%, 1);
$tone-03: hsla(19, 70%, 24%, 1);
$tone-04: hsla(63, 79%, 26%, 1);
$tone-05: hsla(109, 88%, 29%, 1);
$tone-06: hsla(148, 52%, 31%, 1);
$tone-07: hsla(188, 61%, 33%, 1);
$tone-08: hsla(227, 70%, 35%, 1);
$tone-09: hsla(273, 79%, 37%, 1);
$tone-10: hsla(316, 88%, 39%, 1);
$tone-11: hsla(350, 52%, 41%, 1);
$tone-12: hsla(33, 61%, 44%, 1);
$tone-13: hsla(84, 70%, 46%, 1);
$tone-14: hsla(127, 79%, 48%, 1);
$tone-15: hsla(164, 88%, 50%, 1);
$tone-16: hsla(200, 52%, 52%, 1);
$tone-17: hsla(253, 61%, 54%, 1);
$tone-18: hsla(288, 70%, 56%, 1);
$tone-19: hsla(337, 79%, 58%, 1);
$tone-20: hsla(10, 88%, 61%, 1);
$tone-21: hsla(58, 52%, 63%, 1);
$tone-22: hsla(97, 61%, 65%, 1);
$tone-23: hsla(136, 70%, 67%, 1);
$tone-24: hsla(181, 79%, 69%, 1);
$tone-25: hsla(217, 88%, 71%, 1);
$tone-26: hsla(263, 52%, 73%, 1);
$tone-27: hsla(309, 61%, 76%, 1);
$tone-28: hsla(349, 70%, 78%, 1);
$tone-29: hsla(33, 79%, 80%, 1);
$tone-30: hsla(71, 88%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(75, 24, 78, 1);
$tone-02: rgba(91, 22, 50, 1);
$tone-03: rgba(105, 46, 19, 1);
$tone-04: rgba(115, 121, 14, 1);
$tone-05: rgba(32, 137, 9, 1);
$tone-06: rgba(38, 119, 75, 1);
$tone-07: rgba(33, 122, 135, 1);
$tone-08: rgba(27, 55, 152, 1);
$tone-09: rgba(102, 20, 169, 1);
$tone-10: rgba(188, 12, 140, 1);
$tone-11: rgba(160, 51, 69, 1);
$tone-12: rgba(179, 117, 43, 1);
$tone-13: rgba(132, 198, 35, 1);
$tone-14: rgba(26, 218, 46, 1);
$tone-15: rgba(15, 239, 180, 1);
$tone-16: rgba(69, 154, 196, 1);
$tone-17: rgba(98, 67, 209, 1);
$tone-18: rgba(191, 66, 222, 1);
$tone-19: rgba(233, 65, 129, 1);
$tone-20: rgba(243, 97, 66, 1);
$tone-21: rgba(209, 206, 111, 1);
$tone-22: rgba(152, 220, 111, 1);
$tone-23: rgba(112, 230, 144, 1);
$tone-24: rgba(114, 236, 238, 1);
$tone-25: rgba(117, 166, 246, 1);
$tone-26: rgba(179, 152, 223, 1);
$tone-27: rgba(231, 155, 219, 1);
$tone-28: rgba(238, 158, 173, 1);
$tone-29: rgba(244, 208, 163, 1);
$tone-30: rgba(234, 249, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-right: linear-gradient(90deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-bottom: linear-gradient(180deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-left: linear-gradient(270deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-top-right: linear-gradient(45deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-bottom-right: linear-gradient(135deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-top-left: linear-gradient(225deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-bottom-left: linear-gradient(315deg, #4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);
$gradient-radial: radial-gradient(#4b184eff, #5b1632ff, #692e13ff, #73790eff, #208909ff, #26774bff, #217a87ff, #1b3798ff, #6614a9ff, #bc0c8cff, #a03345ff, #b3752bff, #84c623ff, #1ada2eff, #0fefb4ff, #459ac4ff, #6243d1ff, #bf42deff, #e94181ff, #f36142ff, #d1ce6fff, #98dc6fff, #70e690ff, #72eceeff, #75a6f6ff, #b398dfff, #e79bdbff, #ee9eadff, #f4d0a3ff, #eaf9a9ff);

/* SCSS Map */
$ember-mosaic-30-01-map: (
    "tone-01": #4b184eff,
    "tone-02": #5b1632ff,
    "tone-03": #692e13ff,
    "tone-04": #73790eff,
    "tone-05": #208909ff,
    "tone-06": #26774bff,
    "tone-07": #217a87ff,
    "tone-08": #1b3798ff,
    "tone-09": #6614a9ff,
    "tone-10": #bc0c8cff,
    "tone-11": #a03345ff,
    "tone-12": #b3752bff,
    "tone-13": #84c623ff,
    "tone-14": #1ada2eff,
    "tone-15": #0fefb4ff,
    "tone-16": #459ac4ff,
    "tone-17": #6243d1ff,
    "tone-18": #bf42deff,
    "tone-19": #e94181ff,
    "tone-20": #f36142ff,
    "tone-21": #d1ce6fff,
    "tone-22": #98dc6fff,
    "tone-23": #70e690ff,
    "tone-24": #72eceeff,
    "tone-25": #75a6f6ff,
    "tone-26": #b398dfff,
    "tone-27": #e79bdbff,
    "tone-28": #ee9eadff,
    "tone-29": #f4d0a3ff,
    "tone-30": #eaf9a9ff
);
