/*---
id: industrial-sea-360
name: Industrial Sea 360
author: JaZeR-444
version: 1.0.0
category: Fantasy & Sci-Fi
count: 30
tags:
  mood:
  - calm
  - natural
  - synthetic
  aesthetic:
  - Retro
intent: A vibrant 30-color palette inspired by Industrial Sea 360.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/d1a2ed-c28ee9-c08fec-af96eb-7f7be8-a291eb-7c7ae8-6f91e6-5f77e1-768deb
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--winter-coral-1: #d1a2edff;
--cyber-violet-2: #c28ee9ff;
--summer-lavender-3: #c08fecff;
--spring-rust-4: #af96ebff;
--light-ruby-5: #7f7be8ff;
--crimson-river-6: #a291ebff;
--vintage-rust-7: #7c7ae8ff;
--yellow-light-8: #6f91e6ff;
--blue-rain-9: #5f77e1ff;
--solar-silver-10: #768debff;
--retro-wine-11: #6097e7ff;
--dark-bronze-12: #49aee5ff;
--beige-flame-13: #50b2e8ff;
--olive-sea-14: #4fc2e4ff;
--light-green-15: #35c1e7ff;
--jade-wave-16: #38d4deff;
--purple-echo-17: #45e0bfff;
--deep-emerald-18: #1de7d1ff;
--golden-indigo-19: #19e6c4ff;
--amber-city-20: #19e39cff;
--lilac-ember-21: #18ca8bff;
--lavender-planet-22: #17e77cff;
--solar-platinum-23: #18d84bff;
--golden-blue-24: #17b926ff;
--dark-turquoise-25: #12d440ff;
--winter-apricot-26: #23c011ff;
--muted-red-27: #2ead12ff;
--royal-brown-28: #1a9f0aff;
--glow-gold-29: #45bc0dff;
--glow-scarlet-30: #5daf09ff;

/* CSS HSL */
--winter-coral-1: hsla(278, 68%, 79%, 1);
--cyber-violet-2: hsla(274, 68%, 74%, 1);
--summer-lavender-3: hsla(271, 71%, 75%, 1);
--spring-rust-4: hsla(258, 68%, 76%, 1);
--light-ruby-5: hsla(242, 71%, 70%, 1);
--crimson-river-6: hsla(252, 70%, 75%, 1);
--vintage-rust-7: hsla(241, 71%, 70%, 1);
--yellow-light-8: hsla(223, 71%, 67%, 1);
--blue-rain-9: hsla(229, 69%, 63%, 1);
--solar-silver-10: hsla(228, 76%, 70%, 1);
--retro-wine-11: hsla(216, 75%, 64%, 1);
--dark-bronze-12: hsla(201, 76%, 60%, 1);
--beige-flame-13: hsla(201, 77%, 61%, 1);
--olive-sea-14: hsla(193, 73%, 60%, 1);
--light-green-15: hsla(193, 79%, 56%, 1);
--jade-wave-16: hsla(184, 72%, 55%, 1);
--purple-echo-17: hsla(167, 72%, 57%, 1);
--deep-emerald-18: hsla(174, 81%, 51%, 1);
--golden-indigo-19: hsla(170, 81%, 50%, 1);
--amber-city-20: hsla(159, 80%, 50%, 1);
--lilac-ember-21: hsla(159, 78%, 44%, 1);
--lavender-planet-22: hsla(149, 82%, 50%, 1);
--solar-platinum-23: hsla(136, 79%, 47%, 1);
--golden-blue-24: hsla(126, 78%, 41%, 1);
--dark-turquoise-25: hsla(134, 84%, 45%, 1);
--winter-apricot-26: hsla(114, 83%, 41%, 1);
--muted-red-27: hsla(109, 81%, 38%, 1);
--royal-brown-28: hsla(114, 88%, 33%, 1);
--glow-gold-29: hsla(101, 87%, 39%, 1);
--glow-scarlet-30: hsla(90, 90%, 36%, 1);
}

/* SCSS HEX */
$winter-coral-1: #d1a2edff;
$cyber-violet-2: #c28ee9ff;
$summer-lavender-3: #c08fecff;
$spring-rust-4: #af96ebff;
$light-ruby-5: #7f7be8ff;
$crimson-river-6: #a291ebff;
$vintage-rust-7: #7c7ae8ff;
$yellow-light-8: #6f91e6ff;
$blue-rain-9: #5f77e1ff;
$solar-silver-10: #768debff;
$retro-wine-11: #6097e7ff;
$dark-bronze-12: #49aee5ff;
$beige-flame-13: #50b2e8ff;
$olive-sea-14: #4fc2e4ff;
$light-green-15: #35c1e7ff;
$jade-wave-16: #38d4deff;
$purple-echo-17: #45e0bfff;
$deep-emerald-18: #1de7d1ff;
$golden-indigo-19: #19e6c4ff;
$amber-city-20: #19e39cff;
$lilac-ember-21: #18ca8bff;
$lavender-planet-22: #17e77cff;
$solar-platinum-23: #18d84bff;
$golden-blue-24: #17b926ff;
$dark-turquoise-25: #12d440ff;
$winter-apricot-26: #23c011ff;
$muted-red-27: #2ead12ff;
$royal-brown-28: #1a9f0aff;
$glow-gold-29: #45bc0dff;
$glow-scarlet-30: #5daf09ff;

/* SCSS HSL */
$winter-coral-1: hsla(278, 68%, 79%, 1);
$cyber-violet-2: hsla(274, 68%, 74%, 1);
$summer-lavender-3: hsla(271, 71%, 75%, 1);
$spring-rust-4: hsla(258, 68%, 76%, 1);
$light-ruby-5: hsla(242, 71%, 70%, 1);
$crimson-river-6: hsla(252, 70%, 75%, 1);
$vintage-rust-7: hsla(241, 71%, 70%, 1);
$yellow-light-8: hsla(223, 71%, 67%, 1);
$blue-rain-9: hsla(229, 69%, 63%, 1);
$solar-silver-10: hsla(228, 76%, 70%, 1);
$retro-wine-11: hsla(216, 75%, 64%, 1);
$dark-bronze-12: hsla(201, 76%, 60%, 1);
$beige-flame-13: hsla(201, 77%, 61%, 1);
$olive-sea-14: hsla(193, 73%, 60%, 1);
$light-green-15: hsla(193, 79%, 56%, 1);
$jade-wave-16: hsla(184, 72%, 55%, 1);
$purple-echo-17: hsla(167, 72%, 57%, 1);
$deep-emerald-18: hsla(174, 81%, 51%, 1);
$golden-indigo-19: hsla(170, 81%, 50%, 1);
$amber-city-20: hsla(159, 80%, 50%, 1);
$lilac-ember-21: hsla(159, 78%, 44%, 1);
$lavender-planet-22: hsla(149, 82%, 50%, 1);
$solar-platinum-23: hsla(136, 79%, 47%, 1);
$golden-blue-24: hsla(126, 78%, 41%, 1);
$dark-turquoise-25: hsla(134, 84%, 45%, 1);
$winter-apricot-26: hsla(114, 83%, 41%, 1);
$muted-red-27: hsla(109, 81%, 38%, 1);
$royal-brown-28: hsla(114, 88%, 33%, 1);
$glow-gold-29: hsla(101, 87%, 39%, 1);
$glow-scarlet-30: hsla(90, 90%, 36%, 1);

/* SCSS RGB */
$winter-coral-1: rgba(209, 162, 237, 1);
$cyber-violet-2: rgba(194, 142, 233, 1);
$summer-lavender-3: rgba(192, 143, 236, 1);
$spring-rust-4: rgba(175, 150, 235, 1);
$light-ruby-5: rgba(127, 123, 232, 1);
$crimson-river-6: rgba(162, 145, 235, 1);
$vintage-rust-7: rgba(124, 122, 232, 1);
$yellow-light-8: rgba(111, 145, 230, 1);
$blue-rain-9: rgba(95, 119, 225, 1);
$solar-silver-10: rgba(118, 141, 235, 1);
$retro-wine-11: rgba(96, 151, 231, 1);
$dark-bronze-12: rgba(73, 174, 229, 1);
$beige-flame-13: rgba(80, 178, 232, 1);
$olive-sea-14: rgba(79, 194, 228, 1);
$light-green-15: rgba(53, 193, 231, 1);
$jade-wave-16: rgba(56, 212, 222, 1);
$purple-echo-17: rgba(69, 224, 191, 1);
$deep-emerald-18: rgba(29, 231, 209, 1);
$golden-indigo-19: rgba(25, 230, 196, 1);
$amber-city-20: rgba(25, 227, 156, 1);
$lilac-ember-21: rgba(24, 202, 139, 1);
$lavender-planet-22: rgba(23, 231, 124, 1);
$solar-platinum-23: rgba(24, 216, 75, 1);
$golden-blue-24: rgba(23, 185, 38, 1);
$dark-turquoise-25: rgba(18, 212, 64, 1);
$winter-apricot-26: rgba(35, 192, 17, 1);
$muted-red-27: rgba(46, 173, 18, 1);
$royal-brown-28: rgba(26, 159, 10, 1);
$glow-gold-29: rgba(69, 188, 13, 1);
$glow-scarlet-30: rgba(93, 175, 9, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-right: linear-gradient(90deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-bottom: linear-gradient(180deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-left: linear-gradient(270deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-top-right: linear-gradient(45deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-bottom-right: linear-gradient(135deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-top-left: linear-gradient(225deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-bottom-left: linear-gradient(315deg, #d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);
$gradient-radial: radial-gradient(#d1a2edff, #c28ee9ff, #c08fecff, #af96ebff, #7f7be8ff, #a291ebff, #7c7ae8ff, #6f91e6ff, #5f77e1ff, #768debff, #6097e7ff, #49aee5ff, #50b2e8ff, #4fc2e4ff, #35c1e7ff, #38d4deff, #45e0bfff, #1de7d1ff, #19e6c4ff, #19e39cff, #18ca8bff, #17e77cff, #18d84bff, #17b926ff, #12d440ff, #23c011ff, #2ead12ff, #1a9f0aff, #45bc0dff, #5daf09ff);

/* SCSS Map */
$industrial-sea-360-map: (
    "winter-coral-1": #d1a2edff,
    "cyber-violet-2": #c28ee9ff,
    "summer-lavender-3": #c08fecff,
    "spring-rust-4": #af96ebff,
    "light-ruby-5": #7f7be8ff,
    "crimson-river-6": #a291ebff,
    "vintage-rust-7": #7c7ae8ff,
    "yellow-light-8": #6f91e6ff,
    "blue-rain-9": #5f77e1ff,
    "solar-silver-10": #768debff,
    "retro-wine-11": #6097e7ff,
    "dark-bronze-12": #49aee5ff,
    "beige-flame-13": #50b2e8ff,
    "olive-sea-14": #4fc2e4ff,
    "light-green-15": #35c1e7ff,
    "jade-wave-16": #38d4deff,
    "purple-echo-17": #45e0bfff,
    "deep-emerald-18": #1de7d1ff,
    "golden-indigo-19": #19e6c4ff,
    "amber-city-20": #19e39cff,
    "lilac-ember-21": #18ca8bff,
    "lavender-planet-22": #17e77cff,
    "solar-platinum-23": #18d84bff,
    "golden-blue-24": #17b926ff,
    "dark-turquoise-25": #12d440ff,
    "winter-apricot-26": #23c011ff,
    "muted-red-27": #2ead12ff,
    "royal-brown-28": #1a9f0aff,
    "glow-gold-29": #45bc0dff,
    "glow-scarlet-30": #5daf09ff
);
