/*---
id: moss-span-30-09
name: Moss Span Extended
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 30
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 30-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #131a0fff;
--charcoal: #1a2414ff;
--very-dark-green: #212f17ff;
--dark-forest-green: #283a1bff;
--pine-green: #2e471dff;
--pine: #335221ff;
--navy-green: #3c6021ff;
--moss-green: #407020ff;
--mossy-green: #487f20ff;
--sap-green: #518f1fff;
--leaf: #549923ff;
--lawn-green: #56ad1eff;
--frog-green: #5dc119ff;
--green-apple: #64d514ff;
--toxic-green: #64e017ff;
--bright-lime: #6ae91eff;
--kiwi-green: #7ee530ff;
--apple-green: #7fe143ff;
--fresh-green: #84e152ff;
--spring-green: #96dc65ff;
--pistachio: #a2de73ff;
--celery: #a9e17eff;
--light-sage: #addb92ff;
--very-pale-green: #b7dca0ff;
--very-light-green: #c0dfacff;
--eggshell: #c8e2b8ff;
--off-white: #d2e3c6ff;
--pale: #d9e7d1ff;
--very-light-pink: #e1ebdbff;
--white: #e9f0e5ff;

/* CSS HSL */
--almost-black: hsla(96, 26%, 8%, 1);
--charcoal: hsla(96, 29%, 11%, 1);
--very-dark-green: hsla(96, 33%, 14%, 1);
--dark-forest-green: hsla(96, 36%, 17%, 1);
--pine-green: hsla(96, 42%, 20%, 1);
--pine: hsla(96, 42%, 22%, 1);
--navy-green: hsla(96, 48%, 25%, 1);
--moss-green: hsla(96, 56%, 28%, 1);
--mossy-green: hsla(96, 60%, 31%, 1);
--sap-green: hsla(96, 64%, 34%, 1);
--leaf: hsla(96, 63%, 37%, 1);
--lawn-green: hsla(96, 70%, 40%, 1);
--frog-green: hsla(96, 77%, 43%, 1);
--green-apple: hsla(96, 83%, 46%, 1);
--toxic-green: hsla(96, 81%, 49%, 1);
--bright-lime: hsla(96, 82%, 51%, 1);
--kiwi-green: hsla(96, 78%, 54%, 1);
--apple-green: hsla(96, 72%, 57%, 1);
--fresh-green: hsla(96, 70%, 60%, 1);
--spring-green: hsla(96, 63%, 63%, 1);
--pistachio: hsla(96, 62%, 66%, 1);
--celery: hsla(96, 62%, 69%, 1);
--light-sage: hsla(96, 51%, 72%, 1);
--very-pale-green: hsla(96, 46%, 75%, 1);
--very-light-green: hsla(96, 44%, 78%, 1);
--eggshell: hsla(96, 43%, 80%, 1);
--off-white: hsla(96, 34%, 83%, 1);
--pale: hsla(96, 31%, 86%, 1);
--very-light-pink: hsla(96, 28%, 89%, 1);
--white: hsla(96, 28%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #131a0fff;
$charcoal: #1a2414ff;
$very-dark-green: #212f17ff;
$dark-forest-green: #283a1bff;
$pine-green: #2e471dff;
$pine: #335221ff;
$navy-green: #3c6021ff;
$moss-green: #407020ff;
$mossy-green: #487f20ff;
$sap-green: #518f1fff;
$leaf: #549923ff;
$lawn-green: #56ad1eff;
$frog-green: #5dc119ff;
$green-apple: #64d514ff;
$toxic-green: #64e017ff;
$bright-lime: #6ae91eff;
$kiwi-green: #7ee530ff;
$apple-green: #7fe143ff;
$fresh-green: #84e152ff;
$spring-green: #96dc65ff;
$pistachio: #a2de73ff;
$celery: #a9e17eff;
$light-sage: #addb92ff;
$very-pale-green: #b7dca0ff;
$very-light-green: #c0dfacff;
$eggshell: #c8e2b8ff;
$off-white: #d2e3c6ff;
$pale: #d9e7d1ff;
$very-light-pink: #e1ebdbff;
$white: #e9f0e5ff;

/* SCSS HSL */
$almost-black: hsla(96, 26%, 8%, 1);
$charcoal: hsla(96, 29%, 11%, 1);
$very-dark-green: hsla(96, 33%, 14%, 1);
$dark-forest-green: hsla(96, 36%, 17%, 1);
$pine-green: hsla(96, 42%, 20%, 1);
$pine: hsla(96, 42%, 22%, 1);
$navy-green: hsla(96, 48%, 25%, 1);
$moss-green: hsla(96, 56%, 28%, 1);
$mossy-green: hsla(96, 60%, 31%, 1);
$sap-green: hsla(96, 64%, 34%, 1);
$leaf: hsla(96, 63%, 37%, 1);
$lawn-green: hsla(96, 70%, 40%, 1);
$frog-green: hsla(96, 77%, 43%, 1);
$green-apple: hsla(96, 83%, 46%, 1);
$toxic-green: hsla(96, 81%, 49%, 1);
$bright-lime: hsla(96, 82%, 51%, 1);
$kiwi-green: hsla(96, 78%, 54%, 1);
$apple-green: hsla(96, 72%, 57%, 1);
$fresh-green: hsla(96, 70%, 60%, 1);
$spring-green: hsla(96, 63%, 63%, 1);
$pistachio: hsla(96, 62%, 66%, 1);
$celery: hsla(96, 62%, 69%, 1);
$light-sage: hsla(96, 51%, 72%, 1);
$very-pale-green: hsla(96, 46%, 75%, 1);
$very-light-green: hsla(96, 44%, 78%, 1);
$eggshell: hsla(96, 43%, 80%, 1);
$off-white: hsla(96, 34%, 83%, 1);
$pale: hsla(96, 31%, 86%, 1);
$very-light-pink: hsla(96, 28%, 89%, 1);
$white: hsla(96, 28%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(19, 26, 15, 1);
$charcoal: rgba(26, 36, 20, 1);
$very-dark-green: rgba(33, 47, 23, 1);
$dark-forest-green: rgba(40, 58, 27, 1);
$pine-green: rgba(46, 71, 29, 1);
$pine: rgba(51, 82, 33, 1);
$navy-green: rgba(60, 96, 33, 1);
$moss-green: rgba(64, 112, 32, 1);
$mossy-green: rgba(72, 127, 32, 1);
$sap-green: rgba(81, 143, 31, 1);
$leaf: rgba(84, 153, 35, 1);
$lawn-green: rgba(86, 173, 30, 1);
$frog-green: rgba(93, 193, 25, 1);
$green-apple: rgba(100, 213, 20, 1);
$toxic-green: rgba(100, 224, 23, 1);
$bright-lime: rgba(106, 233, 30, 1);
$kiwi-green: rgba(126, 229, 48, 1);
$apple-green: rgba(127, 225, 67, 1);
$fresh-green: rgba(132, 225, 82, 1);
$spring-green: rgba(150, 220, 101, 1);
$pistachio: rgba(162, 222, 115, 1);
$celery: rgba(169, 225, 126, 1);
$light-sage: rgba(173, 219, 146, 1);
$very-pale-green: rgba(183, 220, 160, 1);
$very-light-green: rgba(192, 223, 172, 1);
$eggshell: rgba(200, 226, 184, 1);
$off-white: rgba(210, 227, 198, 1);
$pale: rgba(217, 231, 209, 1);
$very-light-pink: rgba(225, 235, 219, 1);
$white: rgba(233, 240, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-right: linear-gradient(90deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-bottom: linear-gradient(180deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-left: linear-gradient(270deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-top-right: linear-gradient(45deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-bottom-right: linear-gradient(135deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-top-left: linear-gradient(225deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-bottom-left: linear-gradient(315deg, #131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);
$gradient-radial: radial-gradient(#131a0fff, #1a2414ff, #212f17ff, #283a1bff, #2e471dff, #335221ff, #3c6021ff, #407020ff, #487f20ff, #518f1fff, #549923ff, #56ad1eff, #5dc119ff, #64d514ff, #64e017ff, #6ae91eff, #7ee530ff, #7fe143ff, #84e152ff, #96dc65ff, #a2de73ff, #a9e17eff, #addb92ff, #b7dca0ff, #c0dfacff, #c8e2b8ff, #d2e3c6ff, #d9e7d1ff, #e1ebdbff, #e9f0e5ff);

/* SCSS Map */
$moss-span-30-09-map: (
    "almost-black": #131a0fff,
    "charcoal": #1a2414ff,
    "very-dark-green": #212f17ff,
    "dark-forest-green": #283a1bff,
    "pine-green": #2e471dff,
    "pine": #335221ff,
    "navy-green": #3c6021ff,
    "moss-green": #407020ff,
    "mossy-green": #487f20ff,
    "sap-green": #518f1fff,
    "leaf": #549923ff,
    "lawn-green": #56ad1eff,
    "frog-green": #5dc119ff,
    "green-apple": #64d514ff,
    "toxic-green": #64e017ff,
    "bright-lime": #6ae91eff,
    "kiwi-green": #7ee530ff,
    "apple-green": #7fe143ff,
    "fresh-green": #84e152ff,
    "spring-green": #96dc65ff,
    "pistachio": #a2de73ff,
    "celery": #a9e17eff,
    "light-sage": #addb92ff,
    "very-pale-green": #b7dca0ff,
    "very-light-green": #c0dfacff,
    "eggshell": #c8e2b8ff,
    "off-white": #d2e3c6ff,
    "pale": #d9e7d1ff,
    "very-light-pink": #e1ebdbff,
    "white": #e9f0e5ff
);
