/*---
id: teal-span-30-11
name: Teal Span Extended
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 30
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 30-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f1a18ff;
--charcoal: #132421ff;
--dark: #192e2aff;
--dark-teal: #1b3a34ff;
--dark-blue-green: #1d473eff;
--dark-green-blue: #1f5449ff;
--dark-turquoise: #206155ff;
--blue-green: #1f725dff;
--dark-aquamarine: #237c6aff;
--teal: #228c77ff;
--ocean-green: #239a82ff;
--greeny-blue: #21aa8aff;
--turquoise: #1dbda4ff;
--aquamarine: #18d1a7ff;
--aqua: #16e2beff;
--aqua-marine: #1cebc1ff;
--light-turquoise: #30e5c3ff;
--bright-teal: #3de7bfff;
--tiffany-blue: #4ee5cdff;
--seafoam-blue: #5ee3c8ff;
--light-teal: #72dec8ff;
--pale-teal: #83dcceff;
--pale-aqua: #91ddcbff;
--duck-egg-blue: #9fddd1ff;
--eggshell-blue: #added3ff;
--light-light-blue: #b8e2dbff;
--ice: #c5e3ddff;
--ice-blue: #d1e6e3ff;
--very-pale-blue: #dbece8ff;
--white: #e6efedff;

/* CSS HSL */
--almost-black: hsla(168, 25%, 8%, 1);
--charcoal: hsla(168, 31%, 11%, 1);
--dark: hsla(168, 30%, 14%, 1);
--dark-teal: hsla(168, 36%, 17%, 1);
--dark-blue-green: hsla(168, 41%, 20%, 1);
--dark-green-blue: hsla(168, 47%, 22%, 1);
--dark-turquoise: hsla(168, 50%, 25%, 1);
--blue-green: hsla(168, 58%, 28%, 1);
--dark-aquamarine: hsla(168, 56%, 31%, 1);
--teal: hsla(168, 61%, 34%, 1);
--ocean-green: hsla(168, 63%, 37%, 1);
--greeny-blue: hsla(168, 68%, 40%, 1);
--turquoise: hsla(168, 73%, 43%, 1);
--aquamarine: hsla(168, 79%, 46%, 1);
--aqua: hsla(168, 83%, 49%, 1);
--aqua-marine: hsla(168, 84%, 51%, 1);
--light-turquoise: hsla(168, 77%, 54%, 1);
--bright-teal: hsla(168, 78%, 57%, 1);
--tiffany-blue: hsla(168, 74%, 60%, 1);
--seafoam-blue: hsla(168, 71%, 63%, 1);
--light-teal: hsla(168, 62%, 66%, 1);
--pale-teal: hsla(168, 56%, 69%, 1);
--pale-aqua: hsla(168, 52%, 72%, 1);
--duck-egg-blue: hsla(168, 48%, 75%, 1);
--eggshell-blue: hsla(168, 43%, 78%, 1);
--light-light-blue: hsla(168, 42%, 80%, 1);
--ice: hsla(168, 35%, 83%, 1);
--ice-blue: hsla(168, 30%, 86%, 1);
--very-pale-blue: hsla(168, 31%, 89%, 1);
--white: hsla(168, 23%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f1a18ff;
$charcoal: #132421ff;
$dark: #192e2aff;
$dark-teal: #1b3a34ff;
$dark-blue-green: #1d473eff;
$dark-green-blue: #1f5449ff;
$dark-turquoise: #206155ff;
$blue-green: #1f725dff;
$dark-aquamarine: #237c6aff;
$teal: #228c77ff;
$ocean-green: #239a82ff;
$greeny-blue: #21aa8aff;
$turquoise: #1dbda4ff;
$aquamarine: #18d1a7ff;
$aqua: #16e2beff;
$aqua-marine: #1cebc1ff;
$light-turquoise: #30e5c3ff;
$bright-teal: #3de7bfff;
$tiffany-blue: #4ee5cdff;
$seafoam-blue: #5ee3c8ff;
$light-teal: #72dec8ff;
$pale-teal: #83dcceff;
$pale-aqua: #91ddcbff;
$duck-egg-blue: #9fddd1ff;
$eggshell-blue: #added3ff;
$light-light-blue: #b8e2dbff;
$ice: #c5e3ddff;
$ice-blue: #d1e6e3ff;
$very-pale-blue: #dbece8ff;
$white: #e6efedff;

/* SCSS HSL */
$almost-black: hsla(168, 25%, 8%, 1);
$charcoal: hsla(168, 31%, 11%, 1);
$dark: hsla(168, 30%, 14%, 1);
$dark-teal: hsla(168, 36%, 17%, 1);
$dark-blue-green: hsla(168, 41%, 20%, 1);
$dark-green-blue: hsla(168, 47%, 22%, 1);
$dark-turquoise: hsla(168, 50%, 25%, 1);
$blue-green: hsla(168, 58%, 28%, 1);
$dark-aquamarine: hsla(168, 56%, 31%, 1);
$teal: hsla(168, 61%, 34%, 1);
$ocean-green: hsla(168, 63%, 37%, 1);
$greeny-blue: hsla(168, 68%, 40%, 1);
$turquoise: hsla(168, 73%, 43%, 1);
$aquamarine: hsla(168, 79%, 46%, 1);
$aqua: hsla(168, 83%, 49%, 1);
$aqua-marine: hsla(168, 84%, 51%, 1);
$light-turquoise: hsla(168, 77%, 54%, 1);
$bright-teal: hsla(168, 78%, 57%, 1);
$tiffany-blue: hsla(168, 74%, 60%, 1);
$seafoam-blue: hsla(168, 71%, 63%, 1);
$light-teal: hsla(168, 62%, 66%, 1);
$pale-teal: hsla(168, 56%, 69%, 1);
$pale-aqua: hsla(168, 52%, 72%, 1);
$duck-egg-blue: hsla(168, 48%, 75%, 1);
$eggshell-blue: hsla(168, 43%, 78%, 1);
$light-light-blue: hsla(168, 42%, 80%, 1);
$ice: hsla(168, 35%, 83%, 1);
$ice-blue: hsla(168, 30%, 86%, 1);
$very-pale-blue: hsla(168, 31%, 89%, 1);
$white: hsla(168, 23%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 26, 24, 1);
$charcoal: rgba(19, 36, 33, 1);
$dark: rgba(25, 46, 42, 1);
$dark-teal: rgba(27, 58, 52, 1);
$dark-blue-green: rgba(29, 71, 62, 1);
$dark-green-blue: rgba(31, 84, 73, 1);
$dark-turquoise: rgba(32, 97, 85, 1);
$blue-green: rgba(31, 114, 93, 1);
$dark-aquamarine: rgba(35, 124, 106, 1);
$teal: rgba(34, 140, 119, 1);
$ocean-green: rgba(35, 154, 130, 1);
$greeny-blue: rgba(33, 170, 138, 1);
$turquoise: rgba(29, 189, 164, 1);
$aquamarine: rgba(24, 209, 167, 1);
$aqua: rgba(22, 226, 190, 1);
$aqua-marine: rgba(28, 235, 193, 1);
$light-turquoise: rgba(48, 229, 195, 1);
$bright-teal: rgba(61, 231, 191, 1);
$tiffany-blue: rgba(78, 229, 205, 1);
$seafoam-blue: rgba(94, 227, 200, 1);
$light-teal: rgba(114, 222, 200, 1);
$pale-teal: rgba(131, 220, 206, 1);
$pale-aqua: rgba(145, 221, 203, 1);
$duck-egg-blue: rgba(159, 221, 209, 1);
$eggshell-blue: rgba(173, 222, 211, 1);
$light-light-blue: rgba(184, 226, 219, 1);
$ice: rgba(197, 227, 221, 1);
$ice-blue: rgba(209, 230, 227, 1);
$very-pale-blue: rgba(219, 236, 232, 1);
$white: rgba(230, 239, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-right: linear-gradient(90deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-bottom: linear-gradient(180deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-left: linear-gradient(270deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-top-right: linear-gradient(45deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-bottom-right: linear-gradient(135deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-top-left: linear-gradient(225deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-bottom-left: linear-gradient(315deg, #0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);
$gradient-radial: radial-gradient(#0f1a18ff, #132421ff, #192e2aff, #1b3a34ff, #1d473eff, #1f5449ff, #206155ff, #1f725dff, #237c6aff, #228c77ff, #239a82ff, #21aa8aff, #1dbda4ff, #18d1a7ff, #16e2beff, #1cebc1ff, #30e5c3ff, #3de7bfff, #4ee5cdff, #5ee3c8ff, #72dec8ff, #83dcceff, #91ddcbff, #9fddd1ff, #added3ff, #b8e2dbff, #c5e3ddff, #d1e6e3ff, #dbece8ff, #e6efedff);

/* SCSS Map */
$teal-span-30-11-map: (
    "almost-black": #0f1a18ff,
    "charcoal": #132421ff,
    "dark": #192e2aff,
    "dark-teal": #1b3a34ff,
    "dark-blue-green": #1d473eff,
    "dark-green-blue": #1f5449ff,
    "dark-turquoise": #206155ff,
    "blue-green": #1f725dff,
    "dark-aquamarine": #237c6aff,
    "teal": #228c77ff,
    "ocean-green": #239a82ff,
    "greeny-blue": #21aa8aff,
    "turquoise": #1dbda4ff,
    "aquamarine": #18d1a7ff,
    "aqua": #16e2beff,
    "aqua-marine": #1cebc1ff,
    "light-turquoise": #30e5c3ff,
    "bright-teal": #3de7bfff,
    "tiffany-blue": #4ee5cdff,
    "seafoam-blue": #5ee3c8ff,
    "light-teal": #72dec8ff,
    "pale-teal": #83dcceff,
    "pale-aqua": #91ddcbff,
    "duck-egg-blue": #9fddd1ff,
    "eggshell-blue": #added3ff,
    "light-light-blue": #b8e2dbff,
    "ice": #c5e3ddff,
    "ice-blue": #d1e6e3ff,
    "very-pale-blue": #dbece8ff,
    "white": #e6efedff
);
