/*---
id: emerald-span-31-09
name: Emerald Span Large
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 31
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 31-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f1911ff;
--charcoal: #142317ff;
--very-dark-green: #182d1cff;
--evergreen: #1b3920ff;
--pine-green: #1c4626ff;
--pine: #214f2aff;
--spruce: #215d2eff;
--darkish-green: #206d32ff;
--jungle-green: #1f7c31ff;
--kelley-green: #218935ff;
--irish-green: #1d9b39ff;
--medium-green: #1ea741ff;
--kelly-green: #1abb3bff;
--green: #1cc636ff;
--light-bright-green: #15db43ff;
--bright-light-green: #10ef48ff;
--light-neon-green: #26e745ff;
--lighter-green: #32e951ff;
--lightish-green: #44e666ff;
--tealish-green: #59df72ff;
--baby-green: #65e17eff;
--mint-green: #73e289ff;
--hospital-green: #85de9aff;
--light-sea-green: #92dfa2ff;
--light-sage: #a2deadff;
--light-teal: #b0deb8ff;
--pale-aqua: #b9e4c1ff;
--duck-egg-blue: #c6e5cbff;
--ice: #d1e8d6ff;
--very-light-pink: #ddeadfff;
--white: #e6efe8ff;

/* CSS HSL */
--almost-black: hsla(132, 24%, 8%, 1);
--charcoal: hsla(132, 26%, 11%, 1);
--very-dark-green: hsla(132, 31%, 14%, 1);
--evergreen: hsla(132, 35%, 16%, 1);
--pine-green: hsla(132, 43%, 19%, 1);
--pine: hsla(132, 41%, 22%, 1);
--spruce: hsla(132, 47%, 25%, 1);
--darkish-green: hsla(132, 54%, 28%, 1);
--jungle-green: hsla(132, 60%, 30%, 1);
--kelley-green: hsla(132, 61%, 33%, 1);
--irish-green: hsla(132, 68%, 36%, 1);
--medium-green: hsla(132, 69%, 39%, 1);
--kelly-green: hsla(132, 76%, 42%, 1);
--green: hsla(132, 75%, 44%, 1);
--light-bright-green: hsla(132, 82%, 47%, 1);
--bright-light-green: hsla(132, 88%, 50%, 1);
--light-neon-green: hsla(132, 80%, 53%, 1);
--lighter-green: hsla(132, 81%, 56%, 1);
--lightish-green: hsla(132, 77%, 58%, 1);
--tealish-green: hsla(132, 68%, 61%, 1);
--baby-green: hsla(132, 67%, 64%, 1);
--mint-green: hsla(132, 65%, 67%, 1);
--hospital-green: hsla(132, 57%, 70%, 1);
--light-sea-green: hsla(132, 55%, 72%, 1);
--light-sage: hsla(132, 47%, 75%, 1);
--light-teal: hsla(132, 42%, 78%, 1);
--pale-aqua: hsla(132, 44%, 81%, 1);
--duck-egg-blue: hsla(132, 37%, 84%, 1);
--ice: hsla(132, 34%, 86%, 1);
--very-light-pink: hsla(132, 24%, 89%, 1);
--white: hsla(132, 21%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f1911ff;
$charcoal: #142317ff;
$very-dark-green: #182d1cff;
$evergreen: #1b3920ff;
$pine-green: #1c4626ff;
$pine: #214f2aff;
$spruce: #215d2eff;
$darkish-green: #206d32ff;
$jungle-green: #1f7c31ff;
$kelley-green: #218935ff;
$irish-green: #1d9b39ff;
$medium-green: #1ea741ff;
$kelly-green: #1abb3bff;
$green: #1cc636ff;
$light-bright-green: #15db43ff;
$bright-light-green: #10ef48ff;
$light-neon-green: #26e745ff;
$lighter-green: #32e951ff;
$lightish-green: #44e666ff;
$tealish-green: #59df72ff;
$baby-green: #65e17eff;
$mint-green: #73e289ff;
$hospital-green: #85de9aff;
$light-sea-green: #92dfa2ff;
$light-sage: #a2deadff;
$light-teal: #b0deb8ff;
$pale-aqua: #b9e4c1ff;
$duck-egg-blue: #c6e5cbff;
$ice: #d1e8d6ff;
$very-light-pink: #ddeadfff;
$white: #e6efe8ff;

/* SCSS HSL */
$almost-black: hsla(132, 24%, 8%, 1);
$charcoal: hsla(132, 26%, 11%, 1);
$very-dark-green: hsla(132, 31%, 14%, 1);
$evergreen: hsla(132, 35%, 16%, 1);
$pine-green: hsla(132, 43%, 19%, 1);
$pine: hsla(132, 41%, 22%, 1);
$spruce: hsla(132, 47%, 25%, 1);
$darkish-green: hsla(132, 54%, 28%, 1);
$jungle-green: hsla(132, 60%, 30%, 1);
$kelley-green: hsla(132, 61%, 33%, 1);
$irish-green: hsla(132, 68%, 36%, 1);
$medium-green: hsla(132, 69%, 39%, 1);
$kelly-green: hsla(132, 76%, 42%, 1);
$green: hsla(132, 75%, 44%, 1);
$light-bright-green: hsla(132, 82%, 47%, 1);
$bright-light-green: hsla(132, 88%, 50%, 1);
$light-neon-green: hsla(132, 80%, 53%, 1);
$lighter-green: hsla(132, 81%, 56%, 1);
$lightish-green: hsla(132, 77%, 58%, 1);
$tealish-green: hsla(132, 68%, 61%, 1);
$baby-green: hsla(132, 67%, 64%, 1);
$mint-green: hsla(132, 65%, 67%, 1);
$hospital-green: hsla(132, 57%, 70%, 1);
$light-sea-green: hsla(132, 55%, 72%, 1);
$light-sage: hsla(132, 47%, 75%, 1);
$light-teal: hsla(132, 42%, 78%, 1);
$pale-aqua: hsla(132, 44%, 81%, 1);
$duck-egg-blue: hsla(132, 37%, 84%, 1);
$ice: hsla(132, 34%, 86%, 1);
$very-light-pink: hsla(132, 24%, 89%, 1);
$white: hsla(132, 21%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 25, 17, 1);
$charcoal: rgba(20, 35, 23, 1);
$very-dark-green: rgba(24, 45, 28, 1);
$evergreen: rgba(27, 57, 32, 1);
$pine-green: rgba(28, 70, 38, 1);
$pine: rgba(33, 79, 42, 1);
$spruce: rgba(33, 93, 46, 1);
$darkish-green: rgba(32, 109, 50, 1);
$jungle-green: rgba(31, 124, 49, 1);
$kelley-green: rgba(33, 137, 53, 1);
$irish-green: rgba(29, 155, 57, 1);
$medium-green: rgba(30, 167, 65, 1);
$kelly-green: rgba(26, 187, 59, 1);
$green: rgba(28, 198, 54, 1);
$light-bright-green: rgba(21, 219, 67, 1);
$bright-light-green: rgba(16, 239, 72, 1);
$light-neon-green: rgba(38, 231, 69, 1);
$lighter-green: rgba(50, 233, 81, 1);
$lightish-green: rgba(68, 230, 102, 1);
$tealish-green: rgba(89, 223, 114, 1);
$baby-green: rgba(101, 225, 126, 1);
$mint-green: rgba(115, 226, 137, 1);
$hospital-green: rgba(133, 222, 154, 1);
$light-sea-green: rgba(146, 223, 162, 1);
$light-sage: rgba(162, 222, 173, 1);
$light-teal: rgba(176, 222, 184, 1);
$pale-aqua: rgba(185, 228, 193, 1);
$duck-egg-blue: rgba(198, 229, 203, 1);
$ice: rgba(209, 232, 214, 1);
$very-light-pink: rgba(221, 234, 223, 1);
$white: rgba(230, 239, 232, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-right: linear-gradient(90deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-bottom: linear-gradient(180deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-left: linear-gradient(270deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-top-right: linear-gradient(45deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-bottom-right: linear-gradient(135deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-top-left: linear-gradient(225deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-bottom-left: linear-gradient(315deg, #0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);
$gradient-radial: radial-gradient(#0f1911ff, #142317ff, #182d1cff, #1b3920ff, #1c4626ff, #214f2aff, #215d2eff, #206d32ff, #1f7c31ff, #218935ff, #1d9b39ff, #1ea741ff, #1abb3bff, #1cc636ff, #15db43ff, #10ef48ff, #26e745ff, #32e951ff, #44e666ff, #59df72ff, #65e17eff, #73e289ff, #85de9aff, #92dfa2ff, #a2deadff, #b0deb8ff, #b9e4c1ff, #c6e5cbff, #d1e8d6ff, #ddeadfff, #e6efe8ff);

/* SCSS Map */
$emerald-span-31-09-map: (
    "almost-black": #0f1911ff,
    "charcoal": #142317ff,
    "very-dark-green": #182d1cff,
    "evergreen": #1b3920ff,
    "pine-green": #1c4626ff,
    "pine": #214f2aff,
    "spruce": #215d2eff,
    "darkish-green": #206d32ff,
    "jungle-green": #1f7c31ff,
    "kelley-green": #218935ff,
    "irish-green": #1d9b39ff,
    "medium-green": #1ea741ff,
    "kelly-green": #1abb3bff,
    "green": #1cc636ff,
    "light-bright-green": #15db43ff,
    "bright-light-green": #10ef48ff,
    "light-neon-green": #26e745ff,
    "lighter-green": #32e951ff,
    "lightish-green": #44e666ff,
    "tealish-green": #59df72ff,
    "baby-green": #65e17eff,
    "mint-green": #73e289ff,
    "hospital-green": #85de9aff,
    "light-sea-green": #92dfa2ff,
    "light-sage": #a2deadff,
    "light-teal": #b0deb8ff,
    "pale-aqua": #b9e4c1ff,
    "duck-egg-blue": #c6e5cbff,
    "ice": #d1e8d6ff,
    "very-light-pink": #ddeadfff,
    "white": #e6efe8ff
);
