/*---
id: future-noir-599
name: Future Noir
author: JaZeR-444
version: 1.0.0
category: Fantasy & Sci-Fi
count: 31
tags:
  mood:
  - warm
  aesthetic:
  - Nature
intent: A vibrant 31-color palette inspired by Future Noir 599.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/536805-5f7804-8b7d08-9ca10d-a8910d-997608-ad7e0d-a38709-b47313-d4870d
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--ruby-fire: #536805ff;
--cyan-journey: #5f7804ff;
--beige-light: #8b7d08ff;
--platinum-city: #9ca10dff;
--royal-apricot: #a8910dff;
--deep-teal: #997608ff;
--apricot-sands: #ad7e0dff;
--black-alley: #a38709ff;
--salmon-mountain: #b47313ff;
--teal-flame: #d4870dff;
--lavender-peak: #c87a15ff;
--deep-emerald: #d07912ff;
--classic-rust: #d37810ff;
--future-pink: #d68010ff;
--cosmic-apricot: #ce4610ff;
--dark-orange: #e67622ff;
--plum-night: #e04c1bff;
--forest-silver: #ee5829ff;
--cyan-twilight: #ea4b2bff;
--muted-indigo: #e63f42ff;
--gold-wave: #eb6253ff;
--neon-plum: #e95136ff;
--modern-copper: #ed4540ff;
--pastel-olive: #ea7175ff;
--lilac-desert: #eb767aff;
--winter-teal: #ee618dff;
--oceanic-lilac: #e96f90ff;
--spring-purple: #eb7c9fff;
--pastel-scarlet: #e96d87ff;
--tan-flare: #ed8da7ff;
--winter-red: #f1a2cdff;

/* CSS HSL */
--ruby-fire: hsla(73, 89%, 22%, 1);
--cyan-journey: hsla(73, 93%, 25%, 1);
--beige-light: hsla(54, 88%, 29%, 1);
--platinum-city: hsla(62, 84%, 34%, 1);
--royal-apricot: hsla(51, 85%, 36%, 1);
--deep-teal: hsla(45, 90%, 32%, 1);
--apricot-sands: hsla(42, 85%, 37%, 1);
--black-alley: hsla(49, 89%, 34%, 1);
--salmon-mountain: hsla(36, 80%, 39%, 1);
--teal-flame: hsla(37, 88%, 44%, 1);
--lavender-peak: hsla(34, 81%, 44%, 1);
--deep-emerald: hsla(32, 84%, 44%, 1);
--classic-rust: hsla(32, 85%, 45%, 1);
--future-pink: hsla(34, 86%, 45%, 1);
--cosmic-apricot: hsla(17, 85%, 44%, 1);
--dark-orange: hsla(26, 80%, 52%, 1);
--plum-night: hsla(15, 78%, 50%, 1);
--forest-silver: hsla(14, 86%, 55%, 1);
--cyan-twilight: hsla(10, 82%, 54%, 1);
--muted-indigo: hsla(359, 77%, 58%, 1);
--gold-wave: hsla(6, 79%, 62%, 1);
--neon-plum: hsla(9, 81%, 57%, 1);
--modern-copper: hsla(2, 83%, 59%, 1);
--pastel-olive: hsla(358, 75%, 68%, 1);
--lilac-desert: hsla(358, 75%, 70%, 1);
--winter-teal: hsla(342, 81%, 66%, 1);
--oceanic-lilac: hsla(344, 74%, 68%, 1);
--spring-purple: hsla(341, 74%, 70%, 1);
--pastel-scarlet: hsla(347, 74%, 67%, 1);
--tan-flare: hsla(344, 74%, 74%, 1);
--winter-red: hsla(327, 75%, 79%, 1);
}

/* SCSS HEX */
$ruby-fire: #536805ff;
$cyan-journey: #5f7804ff;
$beige-light: #8b7d08ff;
$platinum-city: #9ca10dff;
$royal-apricot: #a8910dff;
$deep-teal: #997608ff;
$apricot-sands: #ad7e0dff;
$black-alley: #a38709ff;
$salmon-mountain: #b47313ff;
$teal-flame: #d4870dff;
$lavender-peak: #c87a15ff;
$deep-emerald: #d07912ff;
$classic-rust: #d37810ff;
$future-pink: #d68010ff;
$cosmic-apricot: #ce4610ff;
$dark-orange: #e67622ff;
$plum-night: #e04c1bff;
$forest-silver: #ee5829ff;
$cyan-twilight: #ea4b2bff;
$muted-indigo: #e63f42ff;
$gold-wave: #eb6253ff;
$neon-plum: #e95136ff;
$modern-copper: #ed4540ff;
$pastel-olive: #ea7175ff;
$lilac-desert: #eb767aff;
$winter-teal: #ee618dff;
$oceanic-lilac: #e96f90ff;
$spring-purple: #eb7c9fff;
$pastel-scarlet: #e96d87ff;
$tan-flare: #ed8da7ff;
$winter-red: #f1a2cdff;

/* SCSS HSL */
$ruby-fire: hsla(73, 89%, 22%, 1);
$cyan-journey: hsla(73, 93%, 25%, 1);
$beige-light: hsla(54, 88%, 29%, 1);
$platinum-city: hsla(62, 84%, 34%, 1);
$royal-apricot: hsla(51, 85%, 36%, 1);
$deep-teal: hsla(45, 90%, 32%, 1);
$apricot-sands: hsla(42, 85%, 37%, 1);
$black-alley: hsla(49, 89%, 34%, 1);
$salmon-mountain: hsla(36, 80%, 39%, 1);
$teal-flame: hsla(37, 88%, 44%, 1);
$lavender-peak: hsla(34, 81%, 44%, 1);
$deep-emerald: hsla(32, 84%, 44%, 1);
$classic-rust: hsla(32, 85%, 45%, 1);
$future-pink: hsla(34, 86%, 45%, 1);
$cosmic-apricot: hsla(17, 85%, 44%, 1);
$dark-orange: hsla(26, 80%, 52%, 1);
$plum-night: hsla(15, 78%, 50%, 1);
$forest-silver: hsla(14, 86%, 55%, 1);
$cyan-twilight: hsla(10, 82%, 54%, 1);
$muted-indigo: hsla(359, 77%, 58%, 1);
$gold-wave: hsla(6, 79%, 62%, 1);
$neon-plum: hsla(9, 81%, 57%, 1);
$modern-copper: hsla(2, 83%, 59%, 1);
$pastel-olive: hsla(358, 75%, 68%, 1);
$lilac-desert: hsla(358, 75%, 70%, 1);
$winter-teal: hsla(342, 81%, 66%, 1);
$oceanic-lilac: hsla(344, 74%, 68%, 1);
$spring-purple: hsla(341, 74%, 70%, 1);
$pastel-scarlet: hsla(347, 74%, 67%, 1);
$tan-flare: hsla(344, 74%, 74%, 1);
$winter-red: hsla(327, 75%, 79%, 1);

/* SCSS RGB */
$ruby-fire: rgba(83, 104, 5, 1);
$cyan-journey: rgba(95, 120, 4, 1);
$beige-light: rgba(139, 125, 8, 1);
$platinum-city: rgba(156, 161, 13, 1);
$royal-apricot: rgba(168, 145, 13, 1);
$deep-teal: rgba(153, 118, 8, 1);
$apricot-sands: rgba(173, 126, 13, 1);
$black-alley: rgba(163, 135, 9, 1);
$salmon-mountain: rgba(180, 115, 19, 1);
$teal-flame: rgba(212, 135, 13, 1);
$lavender-peak: rgba(200, 122, 21, 1);
$deep-emerald: rgba(208, 121, 18, 1);
$classic-rust: rgba(211, 120, 16, 1);
$future-pink: rgba(214, 128, 16, 1);
$cosmic-apricot: rgba(206, 70, 16, 1);
$dark-orange: rgba(230, 118, 34, 1);
$plum-night: rgba(224, 76, 27, 1);
$forest-silver: rgba(238, 88, 41, 1);
$cyan-twilight: rgba(234, 75, 43, 1);
$muted-indigo: rgba(230, 63, 66, 1);
$gold-wave: rgba(235, 98, 83, 1);
$neon-plum: rgba(233, 81, 54, 1);
$modern-copper: rgba(237, 69, 64, 1);
$pastel-olive: rgba(234, 113, 117, 1);
$lilac-desert: rgba(235, 118, 122, 1);
$winter-teal: rgba(238, 97, 141, 1);
$oceanic-lilac: rgba(233, 111, 144, 1);
$spring-purple: rgba(235, 124, 159, 1);
$pastel-scarlet: rgba(233, 109, 135, 1);
$tan-flare: rgba(237, 141, 167, 1);
$winter-red: rgba(241, 162, 205, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-right: linear-gradient(90deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-bottom: linear-gradient(180deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-left: linear-gradient(270deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-top-right: linear-gradient(45deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-bottom-right: linear-gradient(135deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-top-left: linear-gradient(225deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-bottom-left: linear-gradient(315deg, #536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);
$gradient-radial: radial-gradient(#536805ff, #5f7804ff, #8b7d08ff, #9ca10dff, #a8910dff, #997608ff, #ad7e0dff, #a38709ff, #b47313ff, #d4870dff, #c87a15ff, #d07912ff, #d37810ff, #d68010ff, #ce4610ff, #e67622ff, #e04c1bff, #ee5829ff, #ea4b2bff, #e63f42ff, #eb6253ff, #e95136ff, #ed4540ff, #ea7175ff, #eb767aff, #ee618dff, #e96f90ff, #eb7c9fff, #e96d87ff, #ed8da7ff, #f1a2cdff);

/* SCSS Map */
$future-noir-599-map: (
    "ruby-fire": #536805ff,
    "cyan-journey": #5f7804ff,
    "beige-light": #8b7d08ff,
    "platinum-city": #9ca10dff,
    "royal-apricot": #a8910dff,
    "deep-teal": #997608ff,
    "apricot-sands": #ad7e0dff,
    "black-alley": #a38709ff,
    "salmon-mountain": #b47313ff,
    "teal-flame": #d4870dff,
    "lavender-peak": #c87a15ff,
    "deep-emerald": #d07912ff,
    "classic-rust": #d37810ff,
    "future-pink": #d68010ff,
    "cosmic-apricot": #ce4610ff,
    "dark-orange": #e67622ff,
    "plum-night": #e04c1bff,
    "forest-silver": #ee5829ff,
    "cyan-twilight": #ea4b2bff,
    "muted-indigo": #e63f42ff,
    "gold-wave": #eb6253ff,
    "neon-plum": #e95136ff,
    "modern-copper": #ed4540ff,
    "pastel-olive": #ea7175ff,
    "lilac-desert": #eb767aff,
    "winter-teal": #ee618dff,
    "oceanic-lilac": #e96f90ff,
    "spring-purple": #eb7c9fff,
    "pastel-scarlet": #e96d87ff,
    "tan-flare": #ed8da7ff,
    "winter-red": #f1a2cdff
);
