/*---
id: lagoon-mosaic-31-03
name: Lagoon Mosaic Extended
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 31
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 31-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--evergreen: #184e2fff;
--dark-turquoise: #165b54ff;
--marine-blue: #123969ff;
--dark-royal-blue: #0e0e78ff;
--indigo: #550988ff;
--darkish-purple: #762571ff;
--red-purple: #85204aff;
--brick: #95251aff;
--yellowish-brown: #a78214ff;
--bright-olive: #99b90cff;
--mid-green: #569e32ff;
--medium-green: #2aaf53ff;
--turquoise: #22c2aeff;
--cerulean: #1989d6ff;
--pure-blue: #0f11ebff;
--bluey-purple: #7941c3ff;
--pinkish-purple: #c73ed0ff;
--darkish-pink: #dd3d8bff;
--light-red: #e83c3cff;
--light-orange: #f3a23cff;
--greenish-beige: #c4d069ff;
--pistachio: #9cdb69ff;
--lightish-green: #69e57aff;
--light-aquamarine: #6beebbff;
--neon-blue: #6dd5f6ff;
--pastel-blue: #91a2dcff;
--lavender: #b393e5ff;
--baby-purple: #d896ecff;
--bubblegum-pink: #f39ad1ff;
--soft-pink: #f99fadff;
--light-peach: #e9cdb9ff;

/* CSS HSL */
--evergreen: hsla(145, 52%, 20%, 1);
--dark-turquoise: hsla(174, 61%, 22%, 1);
--marine-blue: hsla(213, 70%, 24%, 1);
--dark-royal-blue: hsla(240, 79%, 26%, 1);
--indigo: hsla(276, 88%, 28%, 1);
--darkish-purple: hsla(303, 52%, 30%, 1);
--red-purple: hsla(335, 61%, 32%, 1);
--brick: hsla(5, 70%, 34%, 1);
--yellowish-brown: hsla(45, 79%, 37%, 1);
--bright-olive: hsla(71, 88%, 39%, 1);
--mid-green: hsla(100, 52%, 41%, 1);
--medium-green: hsla(138, 61%, 43%, 1);
--turquoise: hsla(173, 70%, 45%, 1);
--cerulean: hsla(204, 79%, 47%, 1);
--pure-blue: hsla(239, 88%, 49%, 1);
--bluey-purple: hsla(266, 52%, 51%, 1);
--pinkish-purple: hsla(296, 61%, 53%, 1);
--darkish-pink: hsla(330, 70%, 55%, 1);
--light-red: hsla(0, 79%, 57%, 1);
--light-orange: hsla(33, 88%, 59%, 1);
--greenish-beige: hsla(67, 52%, 61%, 1);
--pistachio: hsla(93, 61%, 63%, 1);
--lightish-green: hsla(128, 70%, 65%, 1);
--light-aquamarine: hsla(157, 79%, 68%, 1);
--neon-blue: hsla(194, 88%, 70%, 1);
--pastel-blue: hsla(226, 52%, 72%, 1);
--lavender: hsla(264, 61%, 74%, 1);
--baby-purple: hsla(286, 70%, 76%, 1);
--bubblegum-pink: hsla(323, 79%, 78%, 1);
--soft-pink: hsla(350, 88%, 80%, 1);
--light-peach: hsla(24, 52%, 82%, 1);
}

/* SCSS HEX */
$evergreen: #184e2fff;
$dark-turquoise: #165b54ff;
$marine-blue: #123969ff;
$dark-royal-blue: #0e0e78ff;
$indigo: #550988ff;
$darkish-purple: #762571ff;
$red-purple: #85204aff;
$brick: #95251aff;
$yellowish-brown: #a78214ff;
$bright-olive: #99b90cff;
$mid-green: #569e32ff;
$medium-green: #2aaf53ff;
$turquoise: #22c2aeff;
$cerulean: #1989d6ff;
$pure-blue: #0f11ebff;
$bluey-purple: #7941c3ff;
$pinkish-purple: #c73ed0ff;
$darkish-pink: #dd3d8bff;
$light-red: #e83c3cff;
$light-orange: #f3a23cff;
$greenish-beige: #c4d069ff;
$pistachio: #9cdb69ff;
$lightish-green: #69e57aff;
$light-aquamarine: #6beebbff;
$neon-blue: #6dd5f6ff;
$pastel-blue: #91a2dcff;
$lavender: #b393e5ff;
$baby-purple: #d896ecff;
$bubblegum-pink: #f39ad1ff;
$soft-pink: #f99fadff;
$light-peach: #e9cdb9ff;

/* SCSS HSL */
$evergreen: hsla(145, 52%, 20%, 1);
$dark-turquoise: hsla(174, 61%, 22%, 1);
$marine-blue: hsla(213, 70%, 24%, 1);
$dark-royal-blue: hsla(240, 79%, 26%, 1);
$indigo: hsla(276, 88%, 28%, 1);
$darkish-purple: hsla(303, 52%, 30%, 1);
$red-purple: hsla(335, 61%, 32%, 1);
$brick: hsla(5, 70%, 34%, 1);
$yellowish-brown: hsla(45, 79%, 37%, 1);
$bright-olive: hsla(71, 88%, 39%, 1);
$mid-green: hsla(100, 52%, 41%, 1);
$medium-green: hsla(138, 61%, 43%, 1);
$turquoise: hsla(173, 70%, 45%, 1);
$cerulean: hsla(204, 79%, 47%, 1);
$pure-blue: hsla(239, 88%, 49%, 1);
$bluey-purple: hsla(266, 52%, 51%, 1);
$pinkish-purple: hsla(296, 61%, 53%, 1);
$darkish-pink: hsla(330, 70%, 55%, 1);
$light-red: hsla(0, 79%, 57%, 1);
$light-orange: hsla(33, 88%, 59%, 1);
$greenish-beige: hsla(67, 52%, 61%, 1);
$pistachio: hsla(93, 61%, 63%, 1);
$lightish-green: hsla(128, 70%, 65%, 1);
$light-aquamarine: hsla(157, 79%, 68%, 1);
$neon-blue: hsla(194, 88%, 70%, 1);
$pastel-blue: hsla(226, 52%, 72%, 1);
$lavender: hsla(264, 61%, 74%, 1);
$baby-purple: hsla(286, 70%, 76%, 1);
$bubblegum-pink: hsla(323, 79%, 78%, 1);
$soft-pink: hsla(350, 88%, 80%, 1);
$light-peach: hsla(24, 52%, 82%, 1);

/* SCSS RGB */
$evergreen: rgba(24, 78, 47, 1);
$dark-turquoise: rgba(22, 91, 84, 1);
$marine-blue: rgba(18, 57, 105, 1);
$dark-royal-blue: rgba(14, 14, 120, 1);
$indigo: rgba(85, 9, 136, 1);
$darkish-purple: rgba(118, 37, 113, 1);
$red-purple: rgba(133, 32, 74, 1);
$brick: rgba(149, 37, 26, 1);
$yellowish-brown: rgba(167, 130, 20, 1);
$bright-olive: rgba(153, 185, 12, 1);
$mid-green: rgba(86, 158, 50, 1);
$medium-green: rgba(42, 175, 83, 1);
$turquoise: rgba(34, 194, 174, 1);
$cerulean: rgba(25, 137, 214, 1);
$pure-blue: rgba(15, 17, 235, 1);
$bluey-purple: rgba(121, 65, 195, 1);
$pinkish-purple: rgba(199, 62, 208, 1);
$darkish-pink: rgba(221, 61, 139, 1);
$light-red: rgba(232, 60, 60, 1);
$light-orange: rgba(243, 162, 60, 1);
$greenish-beige: rgba(196, 208, 105, 1);
$pistachio: rgba(156, 219, 105, 1);
$lightish-green: rgba(105, 229, 122, 1);
$light-aquamarine: rgba(107, 238, 187, 1);
$neon-blue: rgba(109, 213, 246, 1);
$pastel-blue: rgba(145, 162, 220, 1);
$lavender: rgba(179, 147, 229, 1);
$baby-purple: rgba(216, 150, 236, 1);
$bubblegum-pink: rgba(243, 154, 209, 1);
$soft-pink: rgba(249, 159, 173, 1);
$light-peach: rgba(233, 205, 185, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-right: linear-gradient(90deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-bottom: linear-gradient(180deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-left: linear-gradient(270deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-top-right: linear-gradient(45deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-bottom-right: linear-gradient(135deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-top-left: linear-gradient(225deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-bottom-left: linear-gradient(315deg, #184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);
$gradient-radial: radial-gradient(#184e2fff, #165b54ff, #123969ff, #0e0e78ff, #550988ff, #762571ff, #85204aff, #95251aff, #a78214ff, #99b90cff, #569e32ff, #2aaf53ff, #22c2aeff, #1989d6ff, #0f11ebff, #7941c3ff, #c73ed0ff, #dd3d8bff, #e83c3cff, #f3a23cff, #c4d069ff, #9cdb69ff, #69e57aff, #6beebbff, #6dd5f6ff, #91a2dcff, #b393e5ff, #d896ecff, #f39ad1ff, #f99fadff, #e9cdb9ff);

/* SCSS Map */
$lagoon-mosaic-31-03-map: (
    "evergreen": #184e2fff,
    "dark-turquoise": #165b54ff,
    "marine-blue": #123969ff,
    "dark-royal-blue": #0e0e78ff,
    "indigo": #550988ff,
    "darkish-purple": #762571ff,
    "red-purple": #85204aff,
    "brick": #95251aff,
    "yellowish-brown": #a78214ff,
    "bright-olive": #99b90cff,
    "mid-green": #569e32ff,
    "medium-green": #2aaf53ff,
    "turquoise": #22c2aeff,
    "cerulean": #1989d6ff,
    "pure-blue": #0f11ebff,
    "bluey-purple": #7941c3ff,
    "pinkish-purple": #c73ed0ff,
    "darkish-pink": #dd3d8bff,
    "light-red": #e83c3cff,
    "light-orange": #f3a23cff,
    "greenish-beige": #c4d069ff,
    "pistachio": #9cdb69ff,
    "lightish-green": #69e57aff,
    "light-aquamarine": #6beebbff,
    "neon-blue": #6dd5f6ff,
    "pastel-blue": #91a2dcff,
    "lavender": #b393e5ff,
    "baby-purple": #d896ecff,
    "bubblegum-pink": #f39ad1ff,
    "soft-pink": #f99fadff,
    "light-peach": #e9cdb9ff
);
