/*---
id: aurora-mosaic-29-03
name: Aurora Mosaic Wide
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 29
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 29-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--marine: #18294eff;
--dark-indigo: #37165bff;
--darkish-purple: #6a1363ff;
--wine-red: #7a0e19ff;
--warm-brown: #8a4d09ff;
--khaki-green: #677826ff;
--tree-green: #238921ff;
--teal-green: #1b9a67ff;
--nice-blue: #1477acff;
--ultramarine: #2a0cbfff;
--purple: #8c34a3ff;
--violet-red: #b62c68ff;
--brick-orange: #ca4f24ff;
--gold: #dfb91aff;
--bright-lime: #7af014ff;
--cool-green: #4ac663ff;
--turquoise: #48d3c3ff;
--cornflower-blue: #4773dfff;
--bluish-purple: #8248eaff;
--violet-pink: #f349ebff;
--muted-pink: #d37593ff;
--fawn: #dea875ff;
--yellowish-tan: #dae777ff;
--light-green: #93ef7aff;
--light-aquamarine: #7ef7c2ff;
--cloudy-blue: #9fcae1ff;
--pastel-blue: #a3a4e9ff;
--lavender: #dea7f0ff;
--powder-pink: #f5add5ff;

/* CSS HSL */
--marine: hsla(222, 52%, 20%, 1);
--dark-indigo: hsla(268, 61%, 22%, 1);
--darkish-purple: hsla(304, 70%, 24%, 1);
--wine-red: hsla(354, 79%, 27%, 1);
--warm-brown: hsla(32, 88%, 29%, 1);
--khaki-green: hsla(73, 52%, 31%, 1);
--tree-green: hsla(119, 61%, 33%, 1);
--teal-green: hsla(156, 70%, 36%, 1);
--nice-blue: hsla(201, 79%, 38%, 1);
--ultramarine: hsla(250, 88%, 40%, 1);
--purple: hsla(288, 52%, 42%, 1);
--violet-red: hsla(334, 61%, 44%, 1);
--brick-orange: hsla(16, 70%, 47%, 1);
--gold: hsla(48, 79%, 49%, 1);
--bright-lime: hsla(92, 88%, 51%, 1);
--cool-green: hsla(132, 52%, 53%, 1);
--turquoise: hsla(173, 61%, 55%, 1);
--cornflower-blue: hsla(223, 70%, 58%, 1);
--bluish-purple: hsla(262, 79%, 60%, 1);
--violet-pink: hsla(303, 88%, 62%, 1);
--muted-pink: hsla(341, 52%, 64%, 1);
--fawn: hsla(29, 61%, 66%, 1);
--yellowish-tan: hsla(67, 70%, 69%, 1);
--light-green: hsla(107, 79%, 71%, 1);
--light-aquamarine: hsla(154, 88%, 73%, 1);
--cloudy-blue: hsla(201, 52%, 75%, 1);
--pastel-blue: hsla(239, 61%, 78%, 1);
--lavender: hsla(285, 70%, 80%, 1);
--powder-pink: hsla(327, 79%, 82%, 1);
}

/* SCSS HEX */
$marine: #18294eff;
$dark-indigo: #37165bff;
$darkish-purple: #6a1363ff;
$wine-red: #7a0e19ff;
$warm-brown: #8a4d09ff;
$khaki-green: #677826ff;
$tree-green: #238921ff;
$teal-green: #1b9a67ff;
$nice-blue: #1477acff;
$ultramarine: #2a0cbfff;
$purple: #8c34a3ff;
$violet-red: #b62c68ff;
$brick-orange: #ca4f24ff;
$gold: #dfb91aff;
$bright-lime: #7af014ff;
$cool-green: #4ac663ff;
$turquoise: #48d3c3ff;
$cornflower-blue: #4773dfff;
$bluish-purple: #8248eaff;
$violet-pink: #f349ebff;
$muted-pink: #d37593ff;
$fawn: #dea875ff;
$yellowish-tan: #dae777ff;
$light-green: #93ef7aff;
$light-aquamarine: #7ef7c2ff;
$cloudy-blue: #9fcae1ff;
$pastel-blue: #a3a4e9ff;
$lavender: #dea7f0ff;
$powder-pink: #f5add5ff;

/* SCSS HSL */
$marine: hsla(222, 52%, 20%, 1);
$dark-indigo: hsla(268, 61%, 22%, 1);
$darkish-purple: hsla(304, 70%, 24%, 1);
$wine-red: hsla(354, 79%, 27%, 1);
$warm-brown: hsla(32, 88%, 29%, 1);
$khaki-green: hsla(73, 52%, 31%, 1);
$tree-green: hsla(119, 61%, 33%, 1);
$teal-green: hsla(156, 70%, 36%, 1);
$nice-blue: hsla(201, 79%, 38%, 1);
$ultramarine: hsla(250, 88%, 40%, 1);
$purple: hsla(288, 52%, 42%, 1);
$violet-red: hsla(334, 61%, 44%, 1);
$brick-orange: hsla(16, 70%, 47%, 1);
$gold: hsla(48, 79%, 49%, 1);
$bright-lime: hsla(92, 88%, 51%, 1);
$cool-green: hsla(132, 52%, 53%, 1);
$turquoise: hsla(173, 61%, 55%, 1);
$cornflower-blue: hsla(223, 70%, 58%, 1);
$bluish-purple: hsla(262, 79%, 60%, 1);
$violet-pink: hsla(303, 88%, 62%, 1);
$muted-pink: hsla(341, 52%, 64%, 1);
$fawn: hsla(29, 61%, 66%, 1);
$yellowish-tan: hsla(67, 70%, 69%, 1);
$light-green: hsla(107, 79%, 71%, 1);
$light-aquamarine: hsla(154, 88%, 73%, 1);
$cloudy-blue: hsla(201, 52%, 75%, 1);
$pastel-blue: hsla(239, 61%, 78%, 1);
$lavender: hsla(285, 70%, 80%, 1);
$powder-pink: hsla(327, 79%, 82%, 1);

/* SCSS RGB */
$marine: rgba(24, 41, 78, 1);
$dark-indigo: rgba(55, 22, 91, 1);
$darkish-purple: rgba(106, 19, 99, 1);
$wine-red: rgba(122, 14, 25, 1);
$warm-brown: rgba(138, 77, 9, 1);
$khaki-green: rgba(103, 120, 38, 1);
$tree-green: rgba(35, 137, 33, 1);
$teal-green: rgba(27, 154, 103, 1);
$nice-blue: rgba(20, 119, 172, 1);
$ultramarine: rgba(42, 12, 191, 1);
$purple: rgba(140, 52, 163, 1);
$violet-red: rgba(182, 44, 104, 1);
$brick-orange: rgba(202, 79, 36, 1);
$gold: rgba(223, 185, 26, 1);
$bright-lime: rgba(122, 240, 20, 1);
$cool-green: rgba(74, 198, 99, 1);
$turquoise: rgba(72, 211, 195, 1);
$cornflower-blue: rgba(71, 115, 223, 1);
$bluish-purple: rgba(130, 72, 234, 1);
$violet-pink: rgba(243, 73, 235, 1);
$muted-pink: rgba(211, 117, 147, 1);
$fawn: rgba(222, 168, 117, 1);
$yellowish-tan: rgba(218, 231, 119, 1);
$light-green: rgba(147, 239, 122, 1);
$light-aquamarine: rgba(126, 247, 194, 1);
$cloudy-blue: rgba(159, 202, 225, 1);
$pastel-blue: rgba(163, 164, 233, 1);
$lavender: rgba(222, 167, 240, 1);
$powder-pink: rgba(245, 173, 213, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-right: linear-gradient(90deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-bottom: linear-gradient(180deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-left: linear-gradient(270deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-top-right: linear-gradient(45deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-bottom-right: linear-gradient(135deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-top-left: linear-gradient(225deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-bottom-left: linear-gradient(315deg, #18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);
$gradient-radial: radial-gradient(#18294eff, #37165bff, #6a1363ff, #7a0e19ff, #8a4d09ff, #677826ff, #238921ff, #1b9a67ff, #1477acff, #2a0cbfff, #8c34a3ff, #b62c68ff, #ca4f24ff, #dfb91aff, #7af014ff, #4ac663ff, #48d3c3ff, #4773dfff, #8248eaff, #f349ebff, #d37593ff, #dea875ff, #dae777ff, #93ef7aff, #7ef7c2ff, #9fcae1ff, #a3a4e9ff, #dea7f0ff, #f5add5ff);

/* SCSS Map */
$aurora-mosaic-29-03-map: (
    "marine": #18294eff,
    "dark-indigo": #37165bff,
    "darkish-purple": #6a1363ff,
    "wine-red": #7a0e19ff,
    "warm-brown": #8a4d09ff,
    "khaki-green": #677826ff,
    "tree-green": #238921ff,
    "teal-green": #1b9a67ff,
    "nice-blue": #1477acff,
    "ultramarine": #2a0cbfff,
    "purple": #8c34a3ff,
    "violet-red": #b62c68ff,
    "brick-orange": #ca4f24ff,
    "gold": #dfb91aff,
    "bright-lime": #7af014ff,
    "cool-green": #4ac663ff,
    "turquoise": #48d3c3ff,
    "cornflower-blue": #4773dfff,
    "bluish-purple": #8248eaff,
    "violet-pink": #f349ebff,
    "muted-pink": #d37593ff,
    "fawn": #dea875ff,
    "yellowish-tan": #dae777ff,
    "light-green": #93ef7aff,
    "light-aquamarine": #7ef7c2ff,
    "cloudy-blue": #9fcae1ff,
    "pastel-blue": #a3a4e9ff,
    "lavender": #dea7f0ff,
    "powder-pink": #f5add5ff
);
