/*---
id: classic-shadow-619
name: Classic Shadow
author: JaZeR-444
version: 1.0.0
category: Vaporwave & Synthwave
count: 29
tags:
  mood:
  - cool
  - natural
  aesthetic:
  - Modern
  - Sci-Fi
  - Fantasy
intent: A vibrant 29-color palette inspired by Classic Shadow 619.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/11436c-104464-0c3b6c-12549a-132e8d-1a2e8f-1d23b2-1f24a3-1a1db4-321ba3
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--industrial-olive: #11436cff;
--galactic-peach: #104464ff;
--black-fire: #0c3b6cff;
--forest-mauve: #12549aff;
--soft-yellow: #132e8dff;
--burgundy-star: #1a2e8fff;
--light-violet: #1d23b2ff;
--cyan-dusk: #1f24a3ff;
--platinum-cloud: #1a1db4ff;
--ivory-void: #321ba3ff;
--gold-noir: #441ec4ff;
--blue-trail: #7626b4ff;
--lime-forest: #6428ccff;
--maroon-noir: #8226d7ff;
--magenta-sands: #a427d9ff;
--orange-pulse: #b03cd5ff;
--jade-jungle: #d93adbff;
--maroon-flare: #d544daff;
--sapphire-moon: #e262d7ff;
--crystal-olive: #da48ddff;
--royal-maroon: #df78bdff;
--burgundy-noir: #da5ca3ff;
--mauve-trail: #dd6dbcff;
--tan-quest: #e2749fff;
--golden-silver: #e48fb0ff;
--urban-indigo: #e592a0ff;
--autumn-green: #e395a7ff;
--turquoise-vision: #eb9ea8ff;
--midnight-turquoise: #eeb7b3ff;

/* CSS HSL */
--industrial-olive: hsla(207, 72%, 25%, 1);
--galactic-peach: hsla(203, 72%, 23%, 1);
--black-fire: hsla(211, 79%, 24%, 1);
--forest-mauve: hsla(211, 79%, 34%, 1);
--soft-yellow: hsla(227, 76%, 32%, 1);
--burgundy-star: hsla(230, 69%, 33%, 1);
--light-violet: hsla(238, 71%, 41%, 1);
--cyan-dusk: hsla(238, 68%, 38%, 1);
--platinum-cloud: hsla(239, 75%, 40%, 1);
--ivory-void: hsla(250, 71%, 38%, 1);
--gold-noir: hsla(254, 73%, 45%, 1);
--blue-trail: hsla(274, 65%, 43%, 1);
--lime-forest: hsla(262, 67%, 48%, 1);
--maroon-noir: hsla(271, 70%, 50%, 1);
--magenta-sands: hsla(282, 70%, 50%, 1);
--orange-pulse: hsla(285, 65%, 54%, 1);
--jade-jungle: hsla(299, 69%, 54%, 1);
--maroon-flare: hsla(298, 67%, 56%, 1);
--sapphire-moon: hsla(305, 69%, 64%, 1);
--crystal-olive: hsla(299, 69%, 58%, 1);
--royal-maroon: hsla(320, 62%, 67%, 1);
--burgundy-noir: hsla(326, 64%, 61%, 1);
--mauve-trail: hsla(318, 62%, 65%, 1);
--tan-quest: hsla(336, 66%, 67%, 1);
--golden-silver: hsla(337, 61%, 73%, 1);
--urban-indigo: hsla(350, 62%, 74%, 1);
--autumn-green: hsla(346, 59%, 74%, 1);
--turquoise-vision: hsla(352, 66%, 77%, 1);
--midnight-turquoise: hsla(4, 64%, 82%, 1);
}

/* SCSS HEX */
$industrial-olive: #11436cff;
$galactic-peach: #104464ff;
$black-fire: #0c3b6cff;
$forest-mauve: #12549aff;
$soft-yellow: #132e8dff;
$burgundy-star: #1a2e8fff;
$light-violet: #1d23b2ff;
$cyan-dusk: #1f24a3ff;
$platinum-cloud: #1a1db4ff;
$ivory-void: #321ba3ff;
$gold-noir: #441ec4ff;
$blue-trail: #7626b4ff;
$lime-forest: #6428ccff;
$maroon-noir: #8226d7ff;
$magenta-sands: #a427d9ff;
$orange-pulse: #b03cd5ff;
$jade-jungle: #d93adbff;
$maroon-flare: #d544daff;
$sapphire-moon: #e262d7ff;
$crystal-olive: #da48ddff;
$royal-maroon: #df78bdff;
$burgundy-noir: #da5ca3ff;
$mauve-trail: #dd6dbcff;
$tan-quest: #e2749fff;
$golden-silver: #e48fb0ff;
$urban-indigo: #e592a0ff;
$autumn-green: #e395a7ff;
$turquoise-vision: #eb9ea8ff;
$midnight-turquoise: #eeb7b3ff;

/* SCSS HSL */
$industrial-olive: hsla(207, 72%, 25%, 1);
$galactic-peach: hsla(203, 72%, 23%, 1);
$black-fire: hsla(211, 79%, 24%, 1);
$forest-mauve: hsla(211, 79%, 34%, 1);
$soft-yellow: hsla(227, 76%, 32%, 1);
$burgundy-star: hsla(230, 69%, 33%, 1);
$light-violet: hsla(238, 71%, 41%, 1);
$cyan-dusk: hsla(238, 68%, 38%, 1);
$platinum-cloud: hsla(239, 75%, 40%, 1);
$ivory-void: hsla(250, 71%, 38%, 1);
$gold-noir: hsla(254, 73%, 45%, 1);
$blue-trail: hsla(274, 65%, 43%, 1);
$lime-forest: hsla(262, 67%, 48%, 1);
$maroon-noir: hsla(271, 70%, 50%, 1);
$magenta-sands: hsla(282, 70%, 50%, 1);
$orange-pulse: hsla(285, 65%, 54%, 1);
$jade-jungle: hsla(299, 69%, 54%, 1);
$maroon-flare: hsla(298, 67%, 56%, 1);
$sapphire-moon: hsla(305, 69%, 64%, 1);
$crystal-olive: hsla(299, 69%, 58%, 1);
$royal-maroon: hsla(320, 62%, 67%, 1);
$burgundy-noir: hsla(326, 64%, 61%, 1);
$mauve-trail: hsla(318, 62%, 65%, 1);
$tan-quest: hsla(336, 66%, 67%, 1);
$golden-silver: hsla(337, 61%, 73%, 1);
$urban-indigo: hsla(350, 62%, 74%, 1);
$autumn-green: hsla(346, 59%, 74%, 1);
$turquoise-vision: hsla(352, 66%, 77%, 1);
$midnight-turquoise: hsla(4, 64%, 82%, 1);

/* SCSS RGB */
$industrial-olive: rgba(17, 67, 108, 1);
$galactic-peach: rgba(16, 68, 100, 1);
$black-fire: rgba(12, 59, 108, 1);
$forest-mauve: rgba(18, 84, 154, 1);
$soft-yellow: rgba(19, 46, 141, 1);
$burgundy-star: rgba(26, 46, 143, 1);
$light-violet: rgba(29, 35, 178, 1);
$cyan-dusk: rgba(31, 36, 163, 1);
$platinum-cloud: rgba(26, 29, 180, 1);
$ivory-void: rgba(50, 27, 163, 1);
$gold-noir: rgba(68, 30, 196, 1);
$blue-trail: rgba(118, 38, 180, 1);
$lime-forest: rgba(100, 40, 204, 1);
$maroon-noir: rgba(130, 38, 215, 1);
$magenta-sands: rgba(164, 39, 217, 1);
$orange-pulse: rgba(176, 60, 213, 1);
$jade-jungle: rgba(217, 58, 219, 1);
$maroon-flare: rgba(213, 68, 218, 1);
$sapphire-moon: rgba(226, 98, 215, 1);
$crystal-olive: rgba(218, 72, 221, 1);
$royal-maroon: rgba(223, 120, 189, 1);
$burgundy-noir: rgba(218, 92, 163, 1);
$mauve-trail: rgba(221, 109, 188, 1);
$tan-quest: rgba(226, 116, 159, 1);
$golden-silver: rgba(228, 143, 176, 1);
$urban-indigo: rgba(229, 146, 160, 1);
$autumn-green: rgba(227, 149, 167, 1);
$turquoise-vision: rgba(235, 158, 168, 1);
$midnight-turquoise: rgba(238, 183, 179, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-right: linear-gradient(90deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-bottom: linear-gradient(180deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-left: linear-gradient(270deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-top-right: linear-gradient(45deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-bottom-right: linear-gradient(135deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-top-left: linear-gradient(225deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-bottom-left: linear-gradient(315deg, #11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);
$gradient-radial: radial-gradient(#11436cff, #104464ff, #0c3b6cff, #12549aff, #132e8dff, #1a2e8fff, #1d23b2ff, #1f24a3ff, #1a1db4ff, #321ba3ff, #441ec4ff, #7626b4ff, #6428ccff, #8226d7ff, #a427d9ff, #b03cd5ff, #d93adbff, #d544daff, #e262d7ff, #da48ddff, #df78bdff, #da5ca3ff, #dd6dbcff, #e2749fff, #e48fb0ff, #e592a0ff, #e395a7ff, #eb9ea8ff, #eeb7b3ff);

/* SCSS Map */
$classic-shadow-619-map: (
    "industrial-olive": #11436cff,
    "galactic-peach": #104464ff,
    "black-fire": #0c3b6cff,
    "forest-mauve": #12549aff,
    "soft-yellow": #132e8dff,
    "burgundy-star": #1a2e8fff,
    "light-violet": #1d23b2ff,
    "cyan-dusk": #1f24a3ff,
    "platinum-cloud": #1a1db4ff,
    "ivory-void": #321ba3ff,
    "gold-noir": #441ec4ff,
    "blue-trail": #7626b4ff,
    "lime-forest": #6428ccff,
    "maroon-noir": #8226d7ff,
    "magenta-sands": #a427d9ff,
    "orange-pulse": #b03cd5ff,
    "jade-jungle": #d93adbff,
    "maroon-flare": #d544daff,
    "sapphire-moon": #e262d7ff,
    "crystal-olive": #da48ddff,
    "royal-maroon": #df78bdff,
    "burgundy-noir": #da5ca3ff,
    "mauve-trail": #dd6dbcff,
    "tan-quest": #e2749fff,
    "golden-silver": #e48fb0ff,
    "urban-indigo": #e592a0ff,
    "autumn-green": #e395a7ff,
    "turquoise-vision": #eb9ea8ff,
    "midnight-turquoise": #eeb7b3ff
);
