/*---
id: ember-mosaic-29-02
name: Ember Mosaic Broad
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 29
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 29-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--forrest-green: #2d4e18ff;
--deep-green: #165b20ff;
--dark-green-blue: #136a60ff;
--deep-sea-blue: #0e4e7aff;
--royal: #090e8aff;
--darkish-purple: #5a2678ff;
--warm-purple: #892177ff;
--red-wine: #9a1b3dff;
--cinnamon: #ac5414ff;
--olive-yellow: #bfb20cff;
--leaf: #5ea334ff;
--shamrock: #2cb650ff;
--turquoise: #24cab4ff;
--water-blue: #1a9cdfff;
--rich-blue: #2214f0ff;
--lightish-purple: #a34ac6ff;
--purplish-pink: #d348aaff;
--faded-red: #df4763ff;
--orangeish: #ea8448ff;
--off-yellow: #e9f349ff;
--pale-olive-green: #a1d375ff;
--foam-green: #75de87ff;
--tiffany-blue: #77e7ceff;
--sky: #7ac8efff;
--periwinkle: #7f7ef7ff;
--pale-purple: #c69fe1ff;
--light-lavendar: #e9a3d9ff;
--soft-pink: #f0a7bbff;
--light-peach: #f5cdadff;

/* CSS HSL */
--forrest-green: hsla(97, 52%, 20%, 1);
--deep-green: hsla(129, 61%, 22%, 1);
--dark-green-blue: hsla(173, 70%, 24%, 1);
--deep-sea-blue: hsla(205, 79%, 27%, 1);
--royal: hsla(238, 88%, 29%, 1);
--darkish-purple: hsla(278, 52%, 31%, 1);
--warm-purple: hsla(310, 61%, 33%, 1);
--red-wine: hsla(344, 70%, 36%, 1);
--cinnamon: hsla(25, 79%, 38%, 1);
--olive-yellow: hsla(56, 88%, 40%, 1);
--leaf: hsla(97, 52%, 42%, 1);
--shamrock: hsla(135, 61%, 44%, 1);
--turquoise: hsla(172, 70%, 47%, 1);
--water-blue: hsla(200, 79%, 49%, 1);
--rich-blue: hsla(244, 88%, 51%, 1);
--lightish-purple: hsla(283, 52%, 53%, 1);
--purplish-pink: hsla(317, 61%, 55%, 1);
--faded-red: hsla(349, 70%, 58%, 1);
--orangeish: hsla(22, 79%, 60%, 1);
--off-yellow: hsla(64, 88%, 62%, 1);
--pale-olive-green: hsla(92, 52%, 64%, 1);
--foam-green: hsla(130, 61%, 66%, 1);
--tiffany-blue: hsla(166, 70%, 69%, 1);
--sky: hsla(200, 79%, 71%, 1);
--periwinkle: hsla(240, 88%, 73%, 1);
--pale-purple: hsla(275, 52%, 75%, 1);
--light-lavendar: hsla(314, 61%, 78%, 1);
--soft-pink: hsla(344, 70%, 80%, 1);
--light-peach: hsla(27, 79%, 82%, 1);
}

/* SCSS HEX */
$forrest-green: #2d4e18ff;
$deep-green: #165b20ff;
$dark-green-blue: #136a60ff;
$deep-sea-blue: #0e4e7aff;
$royal: #090e8aff;
$darkish-purple: #5a2678ff;
$warm-purple: #892177ff;
$red-wine: #9a1b3dff;
$cinnamon: #ac5414ff;
$olive-yellow: #bfb20cff;
$leaf: #5ea334ff;
$shamrock: #2cb650ff;
$turquoise: #24cab4ff;
$water-blue: #1a9cdfff;
$rich-blue: #2214f0ff;
$lightish-purple: #a34ac6ff;
$purplish-pink: #d348aaff;
$faded-red: #df4763ff;
$orangeish: #ea8448ff;
$off-yellow: #e9f349ff;
$pale-olive-green: #a1d375ff;
$foam-green: #75de87ff;
$tiffany-blue: #77e7ceff;
$sky: #7ac8efff;
$periwinkle: #7f7ef7ff;
$pale-purple: #c69fe1ff;
$light-lavendar: #e9a3d9ff;
$soft-pink: #f0a7bbff;
$light-peach: #f5cdadff;

/* SCSS HSL */
$forrest-green: hsla(97, 52%, 20%, 1);
$deep-green: hsla(129, 61%, 22%, 1);
$dark-green-blue: hsla(173, 70%, 24%, 1);
$deep-sea-blue: hsla(205, 79%, 27%, 1);
$royal: hsla(238, 88%, 29%, 1);
$darkish-purple: hsla(278, 52%, 31%, 1);
$warm-purple: hsla(310, 61%, 33%, 1);
$red-wine: hsla(344, 70%, 36%, 1);
$cinnamon: hsla(25, 79%, 38%, 1);
$olive-yellow: hsla(56, 88%, 40%, 1);
$leaf: hsla(97, 52%, 42%, 1);
$shamrock: hsla(135, 61%, 44%, 1);
$turquoise: hsla(172, 70%, 47%, 1);
$water-blue: hsla(200, 79%, 49%, 1);
$rich-blue: hsla(244, 88%, 51%, 1);
$lightish-purple: hsla(283, 52%, 53%, 1);
$purplish-pink: hsla(317, 61%, 55%, 1);
$faded-red: hsla(349, 70%, 58%, 1);
$orangeish: hsla(22, 79%, 60%, 1);
$off-yellow: hsla(64, 88%, 62%, 1);
$pale-olive-green: hsla(92, 52%, 64%, 1);
$foam-green: hsla(130, 61%, 66%, 1);
$tiffany-blue: hsla(166, 70%, 69%, 1);
$sky: hsla(200, 79%, 71%, 1);
$periwinkle: hsla(240, 88%, 73%, 1);
$pale-purple: hsla(275, 52%, 75%, 1);
$light-lavendar: hsla(314, 61%, 78%, 1);
$soft-pink: hsla(344, 70%, 80%, 1);
$light-peach: hsla(27, 79%, 82%, 1);

/* SCSS RGB */
$forrest-green: rgba(45, 78, 24, 1);
$deep-green: rgba(22, 91, 32, 1);
$dark-green-blue: rgba(19, 106, 96, 1);
$deep-sea-blue: rgba(14, 78, 122, 1);
$royal: rgba(9, 14, 138, 1);
$darkish-purple: rgba(90, 38, 120, 1);
$warm-purple: rgba(137, 33, 119, 1);
$red-wine: rgba(154, 27, 61, 1);
$cinnamon: rgba(172, 84, 20, 1);
$olive-yellow: rgba(191, 178, 12, 1);
$leaf: rgba(94, 163, 52, 1);
$shamrock: rgba(44, 182, 80, 1);
$turquoise: rgba(36, 202, 180, 1);
$water-blue: rgba(26, 156, 223, 1);
$rich-blue: rgba(34, 20, 240, 1);
$lightish-purple: rgba(163, 74, 198, 1);
$purplish-pink: rgba(211, 72, 170, 1);
$faded-red: rgba(223, 71, 99, 1);
$orangeish: rgba(234, 132, 72, 1);
$off-yellow: rgba(233, 243, 73, 1);
$pale-olive-green: rgba(161, 211, 117, 1);
$foam-green: rgba(117, 222, 135, 1);
$tiffany-blue: rgba(119, 231, 206, 1);
$sky: rgba(122, 200, 239, 1);
$periwinkle: rgba(127, 126, 247, 1);
$pale-purple: rgba(198, 159, 225, 1);
$light-lavendar: rgba(233, 163, 217, 1);
$soft-pink: rgba(240, 167, 187, 1);
$light-peach: rgba(245, 205, 173, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-right: linear-gradient(90deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-bottom: linear-gradient(180deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-left: linear-gradient(270deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-top-right: linear-gradient(45deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-bottom-right: linear-gradient(135deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-top-left: linear-gradient(225deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-bottom-left: linear-gradient(315deg, #2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);
$gradient-radial: radial-gradient(#2d4e18ff, #165b20ff, #136a60ff, #0e4e7aff, #090e8aff, #5a2678ff, #892177ff, #9a1b3dff, #ac5414ff, #bfb20cff, #5ea334ff, #2cb650ff, #24cab4ff, #1a9cdfff, #2214f0ff, #a34ac6ff, #d348aaff, #df4763ff, #ea8448ff, #e9f349ff, #a1d375ff, #75de87ff, #77e7ceff, #7ac8efff, #7f7ef7ff, #c69fe1ff, #e9a3d9ff, #f0a7bbff, #f5cdadff);

/* SCSS Map */
$ember-mosaic-29-02-map: (
    "forrest-green": #2d4e18ff,
    "deep-green": #165b20ff,
    "dark-green-blue": #136a60ff,
    "deep-sea-blue": #0e4e7aff,
    "royal": #090e8aff,
    "darkish-purple": #5a2678ff,
    "warm-purple": #892177ff,
    "red-wine": #9a1b3dff,
    "cinnamon": #ac5414ff,
    "olive-yellow": #bfb20cff,
    "leaf": #5ea334ff,
    "shamrock": #2cb650ff,
    "turquoise": #24cab4ff,
    "water-blue": #1a9cdfff,
    "rich-blue": #2214f0ff,
    "lightish-purple": #a34ac6ff,
    "purplish-pink": #d348aaff,
    "faded-red": #df4763ff,
    "orangeish": #ea8448ff,
    "off-yellow": #e9f349ff,
    "pale-olive-green": #a1d375ff,
    "foam-green": #75de87ff,
    "tiffany-blue": #77e7ceff,
    "sky": #7ac8efff,
    "periwinkle": #7f7ef7ff,
    "pale-purple": #c69fe1ff,
    "light-lavendar": #e9a3d9ff,
    "soft-pink": #f0a7bbff,
    "light-peach": #f5cdadff
);
