/*---
id: healthcare-interface-map-29-15
name: Healthcare Interface Map 29-15
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 29
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 29-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #242529ff;
--bg-elevated: #34373dff;
--bg-overlay: #434651ff;
--border-subtle: #535a65ff;
--border-strong: #62697aff;
--text-muted: #707b8fff;
--text-base: #838ca0ff;
--text-strong: #969db0ff;
--text-inverse: #aab4c0ff;
--neutral-11: #bec3d0ff;
--neutral-12: #d2d7dfff;
--neutral-13: #e7eaeeff;
--primary: #294e99ff;
--primary-hover: #8d27c4ff;
--secondary: #31e3a7ff;
--secondary-hover: #f0b04cff;
--accent: #df8f86ff;
--accent-soft: #207aa2ff;
--success: #ce1c70ff;
--warning: #2659edff;
--danger: #a966d6ff;
--info: #7fe6bfff;
--link: #ab7b17ff;
--focus-ring: #d91f12ff;
--support-13: #46aeceff;
--support-14: #df5da4ff;
--support-15: #789bedff;
--support-16: #770fb3ff;

/* CSS HSL */
--bg-canvas: hsla(219, 6%, 8%, 1);
--bg-surface: hsla(222, 7%, 15%, 1);
--bg-elevated: hsla(215, 8%, 22%, 1);
--bg-overlay: hsla(226, 9%, 29%, 1);
--border-subtle: hsla(217, 10%, 36%, 1);
--border-strong: hsla(221, 11%, 43%, 1);
--text-muted: hsla(218, 12%, 50%, 1);
--text-base: hsla(222, 13%, 57%, 1);
--text-strong: hsla(224, 14%, 64%, 1);
--text-inverse: hsla(213, 15%, 71%, 1);
--neutral-11: hsla(224, 16%, 78%, 1);
--neutral-12: hsla(216, 17%, 85%, 1);
--neutral-13: hsla(217, 18%, 92%, 1);
--primary: hsla(220, 58%, 38%, 1);
--primary-hover: hsla(279, 67%, 46%, 1);
--secondary: hsla(160, 76%, 54%, 1);
--secondary-hover: hsla(37, 85%, 62%, 1);
--accent: hsla(6, 58%, 70%, 1);
--accent-soft: hsla(199, 67%, 38%, 1);
--success: hsla(332, 76%, 46%, 1);
--warning: hsla(225, 85%, 54%, 1);
--danger: hsla(276, 58%, 62%, 1);
--info: hsla(157, 67%, 70%, 1);
--link: hsla(41, 76%, 38%, 1);
--focus-ring: hsla(4, 85%, 46%, 1);
--support-13: hsla(194, 58%, 54%, 1);
--support-14: hsla(327, 67%, 62%, 1);
--support-15: hsla(222, 76%, 70%, 1);
--support-16: hsla(278, 85%, 38%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #242529ff;
$bg-elevated: #34373dff;
$bg-overlay: #434651ff;
$border-subtle: #535a65ff;
$border-strong: #62697aff;
$text-muted: #707b8fff;
$text-base: #838ca0ff;
$text-strong: #969db0ff;
$text-inverse: #aab4c0ff;
$neutral-11: #bec3d0ff;
$neutral-12: #d2d7dfff;
$neutral-13: #e7eaeeff;
$primary: #294e99ff;
$primary-hover: #8d27c4ff;
$secondary: #31e3a7ff;
$secondary-hover: #f0b04cff;
$accent: #df8f86ff;
$accent-soft: #207aa2ff;
$success: #ce1c70ff;
$warning: #2659edff;
$danger: #a966d6ff;
$info: #7fe6bfff;
$link: #ab7b17ff;
$focus-ring: #d91f12ff;
$support-13: #46aeceff;
$support-14: #df5da4ff;
$support-15: #789bedff;
$support-16: #770fb3ff;

/* SCSS HSL */
$bg-canvas: hsla(219, 6%, 8%, 1);
$bg-surface: hsla(222, 7%, 15%, 1);
$bg-elevated: hsla(215, 8%, 22%, 1);
$bg-overlay: hsla(226, 9%, 29%, 1);
$border-subtle: hsla(217, 10%, 36%, 1);
$border-strong: hsla(221, 11%, 43%, 1);
$text-muted: hsla(218, 12%, 50%, 1);
$text-base: hsla(222, 13%, 57%, 1);
$text-strong: hsla(224, 14%, 64%, 1);
$text-inverse: hsla(213, 15%, 71%, 1);
$neutral-11: hsla(224, 16%, 78%, 1);
$neutral-12: hsla(216, 17%, 85%, 1);
$neutral-13: hsla(217, 18%, 92%, 1);
$primary: hsla(220, 58%, 38%, 1);
$primary-hover: hsla(279, 67%, 46%, 1);
$secondary: hsla(160, 76%, 54%, 1);
$secondary-hover: hsla(37, 85%, 62%, 1);
$accent: hsla(6, 58%, 70%, 1);
$accent-soft: hsla(199, 67%, 38%, 1);
$success: hsla(332, 76%, 46%, 1);
$warning: hsla(225, 85%, 54%, 1);
$danger: hsla(276, 58%, 62%, 1);
$info: hsla(157, 67%, 70%, 1);
$link: hsla(41, 76%, 38%, 1);
$focus-ring: hsla(4, 85%, 46%, 1);
$support-13: hsla(194, 58%, 54%, 1);
$support-14: hsla(327, 67%, 62%, 1);
$support-15: hsla(222, 76%, 70%, 1);
$support-16: hsla(278, 85%, 38%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(36, 37, 41, 1);
$bg-elevated: rgba(52, 55, 61, 1);
$bg-overlay: rgba(67, 70, 81, 1);
$border-subtle: rgba(83, 90, 101, 1);
$border-strong: rgba(98, 105, 122, 1);
$text-muted: rgba(112, 123, 143, 1);
$text-base: rgba(131, 140, 160, 1);
$text-strong: rgba(150, 157, 176, 1);
$text-inverse: rgba(170, 180, 192, 1);
$neutral-11: rgba(190, 195, 208, 1);
$neutral-12: rgba(210, 215, 223, 1);
$neutral-13: rgba(231, 234, 238, 1);
$primary: rgba(41, 78, 153, 1);
$primary-hover: rgba(141, 39, 196, 1);
$secondary: rgba(49, 227, 167, 1);
$secondary-hover: rgba(240, 176, 76, 1);
$accent: rgba(223, 143, 134, 1);
$accent-soft: rgba(32, 122, 162, 1);
$success: rgba(206, 28, 112, 1);
$warning: rgba(38, 89, 237, 1);
$danger: rgba(169, 102, 214, 1);
$info: rgba(127, 230, 191, 1);
$link: rgba(171, 123, 23, 1);
$focus-ring: rgba(217, 31, 18, 1);
$support-13: rgba(70, 174, 206, 1);
$support-14: rgba(223, 93, 164, 1);
$support-15: rgba(120, 155, 237, 1);
$support-16: rgba(119, 15, 179, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-right: linear-gradient(90deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-left: linear-gradient(270deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);
$gradient-radial: radial-gradient(#131416ff, #242529ff, #34373dff, #434651ff, #535a65ff, #62697aff, #707b8fff, #838ca0ff, #969db0ff, #aab4c0ff, #bec3d0ff, #d2d7dfff, #e7eaeeff, #294e99ff, #8d27c4ff, #31e3a7ff, #f0b04cff, #df8f86ff, #207aa2ff, #ce1c70ff, #2659edff, #a966d6ff, #7fe6bfff, #ab7b17ff, #d91f12ff, #46aeceff, #df5da4ff, #789bedff, #770fb3ff);

/* SCSS Map */
$healthcare-interface-map-29-15-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #242529ff,
    "bg-elevated": #34373dff,
    "bg-overlay": #434651ff,
    "border-subtle": #535a65ff,
    "border-strong": #62697aff,
    "text-muted": #707b8fff,
    "text-base": #838ca0ff,
    "text-strong": #969db0ff,
    "text-inverse": #aab4c0ff,
    "neutral-11": #bec3d0ff,
    "neutral-12": #d2d7dfff,
    "neutral-13": #e7eaeeff,
    "primary": #294e99ff,
    "primary-hover": #8d27c4ff,
    "secondary": #31e3a7ff,
    "secondary-hover": #f0b04cff,
    "accent": #df8f86ff,
    "accent-soft": #207aa2ff,
    "success": #ce1c70ff,
    "warning": #2659edff,
    "danger": #a966d6ff,
    "info": #7fe6bfff,
    "link": #ab7b17ff,
    "focus-ring": #d91f12ff,
    "support-13": #46aeceff,
    "support-14": #df5da4ff,
    "support-15": #789bedff,
    "support-16": #770fb3ff
);
