/*---
id: nebula-mosaic-29-07
name: Nebula Mosaic 29-07
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 29
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 29-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #1a184eff;
--tone-02: #45165bff;
--tone-03: #6a133eff;
--tone-04: #7a110eff;
--tone-05: #8a6809ff;
--tone-06: #467826ff;
--tone-07: #218937ff;
--tone-08: #1b9a84ff;
--tone-09: #144eacff;
--tone-10: #430cbfff;
--tone-11: #a134a3ff;
--tone-12: #b62c4aff;
--tone-13: #ca7a24ff;
--tone-14: #cedf1aff;
--tone-15: #3bf014ff;
--tone-16: #4ac688ff;
--tone-17: #48bbd3ff;
--tone-18: #4947dfff;
--tone-19: #b948eaff;
--tone-20: #f349c8ff;
--tone-21: #d37b75ff;
--tone-22: #dec075ff;
--tone-23: #b7e777ff;
--tone-24: #7aef92ff;
--tone-25: #7ef7e1ff;
--tone-26: #9fbee1ff;
--tone-27: #b7a3e9ff;
--tone-28: #efa7f0ff;
--tone-29: #f5add0ff;

/* CSS HSL */
--tone-01: hsla(241, 52%, 20%, 1);
--tone-02: hsla(280, 61%, 22%, 1);
--tone-03: hsla(330, 70%, 24%, 1);
--tone-04: hsla(1, 79%, 27%, 1);
--tone-05: hsla(44, 88%, 29%, 1);
--tone-06: hsla(97, 52%, 31%, 1);
--tone-07: hsla(133, 61%, 33%, 1);
--tone-08: hsla(170, 70%, 36%, 1);
--tone-09: hsla(217, 79%, 38%, 1);
--tone-10: hsla(258, 88%, 40%, 1);
--tone-11: hsla(299, 52%, 42%, 1);
--tone-12: hsla(347, 61%, 44%, 1);
--tone-13: hsla(31, 70%, 47%, 1);
--tone-14: hsla(65, 79%, 49%, 1);
--tone-15: hsla(109, 88%, 51%, 1);
--tone-16: hsla(150, 52%, 53%, 1);
--tone-17: hsla(190, 61%, 55%, 1);
--tone-18: hsla(241, 70%, 58%, 1);
--tone-19: hsla(282, 79%, 60%, 1);
--tone-20: hsla(315, 88%, 62%, 1);
--tone-21: hsla(4, 52%, 64%, 1);
--tone-22: hsla(43, 61%, 66%, 1);
--tone-23: hsla(86, 70%, 69%, 1);
--tone-24: hsla(132, 79%, 71%, 1);
--tone-25: hsla(169, 88%, 73%, 1);
--tone-26: hsla(212, 52%, 75%, 1);
--tone-27: hsla(257, 61%, 78%, 1);
--tone-28: hsla(299, 70%, 80%, 1);
--tone-29: hsla(331, 79%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #1a184eff;
$tone-02: #45165bff;
$tone-03: #6a133eff;
$tone-04: #7a110eff;
$tone-05: #8a6809ff;
$tone-06: #467826ff;
$tone-07: #218937ff;
$tone-08: #1b9a84ff;
$tone-09: #144eacff;
$tone-10: #430cbfff;
$tone-11: #a134a3ff;
$tone-12: #b62c4aff;
$tone-13: #ca7a24ff;
$tone-14: #cedf1aff;
$tone-15: #3bf014ff;
$tone-16: #4ac688ff;
$tone-17: #48bbd3ff;
$tone-18: #4947dfff;
$tone-19: #b948eaff;
$tone-20: #f349c8ff;
$tone-21: #d37b75ff;
$tone-22: #dec075ff;
$tone-23: #b7e777ff;
$tone-24: #7aef92ff;
$tone-25: #7ef7e1ff;
$tone-26: #9fbee1ff;
$tone-27: #b7a3e9ff;
$tone-28: #efa7f0ff;
$tone-29: #f5add0ff;

/* SCSS HSL */
$tone-01: hsla(241, 52%, 20%, 1);
$tone-02: hsla(280, 61%, 22%, 1);
$tone-03: hsla(330, 70%, 24%, 1);
$tone-04: hsla(1, 79%, 27%, 1);
$tone-05: hsla(44, 88%, 29%, 1);
$tone-06: hsla(97, 52%, 31%, 1);
$tone-07: hsla(133, 61%, 33%, 1);
$tone-08: hsla(170, 70%, 36%, 1);
$tone-09: hsla(217, 79%, 38%, 1);
$tone-10: hsla(258, 88%, 40%, 1);
$tone-11: hsla(299, 52%, 42%, 1);
$tone-12: hsla(347, 61%, 44%, 1);
$tone-13: hsla(31, 70%, 47%, 1);
$tone-14: hsla(65, 79%, 49%, 1);
$tone-15: hsla(109, 88%, 51%, 1);
$tone-16: hsla(150, 52%, 53%, 1);
$tone-17: hsla(190, 61%, 55%, 1);
$tone-18: hsla(241, 70%, 58%, 1);
$tone-19: hsla(282, 79%, 60%, 1);
$tone-20: hsla(315, 88%, 62%, 1);
$tone-21: hsla(4, 52%, 64%, 1);
$tone-22: hsla(43, 61%, 66%, 1);
$tone-23: hsla(86, 70%, 69%, 1);
$tone-24: hsla(132, 79%, 71%, 1);
$tone-25: hsla(169, 88%, 73%, 1);
$tone-26: hsla(212, 52%, 75%, 1);
$tone-27: hsla(257, 61%, 78%, 1);
$tone-28: hsla(299, 70%, 80%, 1);
$tone-29: hsla(331, 79%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(26, 24, 78, 1);
$tone-02: rgba(69, 22, 91, 1);
$tone-03: rgba(106, 19, 62, 1);
$tone-04: rgba(122, 17, 14, 1);
$tone-05: rgba(138, 104, 9, 1);
$tone-06: rgba(70, 120, 38, 1);
$tone-07: rgba(33, 137, 55, 1);
$tone-08: rgba(27, 154, 132, 1);
$tone-09: rgba(20, 78, 172, 1);
$tone-10: rgba(67, 12, 191, 1);
$tone-11: rgba(161, 52, 163, 1);
$tone-12: rgba(182, 44, 74, 1);
$tone-13: rgba(202, 122, 36, 1);
$tone-14: rgba(206, 223, 26, 1);
$tone-15: rgba(59, 240, 20, 1);
$tone-16: rgba(74, 198, 136, 1);
$tone-17: rgba(72, 187, 211, 1);
$tone-18: rgba(73, 71, 223, 1);
$tone-19: rgba(185, 72, 234, 1);
$tone-20: rgba(243, 73, 200, 1);
$tone-21: rgba(211, 123, 117, 1);
$tone-22: rgba(222, 192, 117, 1);
$tone-23: rgba(183, 231, 119, 1);
$tone-24: rgba(122, 239, 146, 1);
$tone-25: rgba(126, 247, 225, 1);
$tone-26: rgba(159, 190, 225, 1);
$tone-27: rgba(183, 163, 233, 1);
$tone-28: rgba(239, 167, 240, 1);
$tone-29: rgba(245, 173, 208, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-right: linear-gradient(90deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-bottom: linear-gradient(180deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-left: linear-gradient(270deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-top-right: linear-gradient(45deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-bottom-right: linear-gradient(135deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-top-left: linear-gradient(225deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-bottom-left: linear-gradient(315deg, #1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);
$gradient-radial: radial-gradient(#1a184eff, #45165bff, #6a133eff, #7a110eff, #8a6809ff, #467826ff, #218937ff, #1b9a84ff, #144eacff, #430cbfff, #a134a3ff, #b62c4aff, #ca7a24ff, #cedf1aff, #3bf014ff, #4ac688ff, #48bbd3ff, #4947dfff, #b948eaff, #f349c8ff, #d37b75ff, #dec075ff, #b7e777ff, #7aef92ff, #7ef7e1ff, #9fbee1ff, #b7a3e9ff, #efa7f0ff, #f5add0ff);

/* SCSS Map */
$nebula-mosaic-29-07-map: (
    "tone-01": #1a184eff,
    "tone-02": #45165bff,
    "tone-03": #6a133eff,
    "tone-04": #7a110eff,
    "tone-05": #8a6809ff,
    "tone-06": #467826ff,
    "tone-07": #218937ff,
    "tone-08": #1b9a84ff,
    "tone-09": #144eacff,
    "tone-10": #430cbfff,
    "tone-11": #a134a3ff,
    "tone-12": #b62c4aff,
    "tone-13": #ca7a24ff,
    "tone-14": #cedf1aff,
    "tone-15": #3bf014ff,
    "tone-16": #4ac688ff,
    "tone-17": #48bbd3ff,
    "tone-18": #4947dfff,
    "tone-19": #b948eaff,
    "tone-20": #f349c8ff,
    "tone-21": #d37b75ff,
    "tone-22": #dec075ff,
    "tone-23": #b7e777ff,
    "tone-24": #7aef92ff,
    "tone-25": #7ef7e1ff,
    "tone-26": #9fbee1ff,
    "tone-27": #b7a3e9ff,
    "tone-28": #efa7f0ff,
    "tone-29": #f5add0ff
);
