/*---
id: saas-interface-map-29-19
name: SaaS Interface Map Large
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 29
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 29-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #242529ff;
--bg-elevated: #34383dff;
--bg-overlay: #434751ff;
--border-subtle: #535965ff;
--border-strong: #626b7aff;
--text-muted: #707c8fff;
--text-base: #8390a0ff;
--text-strong: #969fb0ff;
--text-inverse: #aab3c0ff;
--neutral-11: #bec2d0ff;
--neutral-12: #d2d7dfff;
--neutral-13: #e7eaeeff;
--primary: #295299ff;
--primary-hover: #9027c4ff;
--secondary: #31e3a9ff;
--secondary-hover: #f0bf4cff;
--accent: #df8e86ff;
--accent-soft: #2086a2ff;
--success: #ce1c6aff;
--warning: #2670edff;
--danger: #ae66d6ff;
--info: #7fe6c1ff;
--link: #ab8d17ff;
--focus-ring: #d92312ff;
--support-13: #46b5ceff;
--support-14: #df5d9aff;
--support-15: #78a7edff;
--support-16: #6e0fb3ff;

/* CSS HSL */
--bg-canvas: hsla(218, 6%, 8%, 1);
--bg-surface: hsla(225, 7%, 15%, 1);
--bg-elevated: hsla(212, 8%, 22%, 1);
--bg-overlay: hsla(225, 9%, 29%, 1);
--border-subtle: hsla(220, 10%, 36%, 1);
--border-strong: hsla(216, 11%, 43%, 1);
--text-muted: hsla(216, 12%, 50%, 1);
--text-base: hsla(214, 13%, 57%, 1);
--text-strong: hsla(220, 14%, 64%, 1);
--text-inverse: hsla(216, 15%, 71%, 1);
--neutral-11: hsla(228, 16%, 78%, 1);
--neutral-12: hsla(216, 17%, 85%, 1);
--neutral-13: hsla(213, 18%, 92%, 1);
--primary: hsla(218, 58%, 38%, 1);
--primary-hover: hsla(280, 67%, 46%, 1);
--secondary: hsla(160, 76%, 54%, 1);
--secondary-hover: hsla(42, 85%, 62%, 1);
--accent: hsla(5, 58%, 70%, 1);
--accent-soft: hsla(193, 67%, 38%, 1);
--success: hsla(334, 76%, 46%, 1);
--warning: hsla(218, 85%, 54%, 1);
--danger: hsla(278, 58%, 62%, 1);
--info: hsla(158, 67%, 70%, 1);
--link: hsla(48, 76%, 38%, 1);
--focus-ring: hsla(5, 85%, 46%, 1);
--support-13: hsla(191, 58%, 54%, 1);
--support-14: hsla(332, 67%, 62%, 1);
--support-15: hsla(216, 76%, 70%, 1);
--support-16: hsla(275, 85%, 38%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #242529ff;
$bg-elevated: #34383dff;
$bg-overlay: #434751ff;
$border-subtle: #535965ff;
$border-strong: #626b7aff;
$text-muted: #707c8fff;
$text-base: #8390a0ff;
$text-strong: #969fb0ff;
$text-inverse: #aab3c0ff;
$neutral-11: #bec2d0ff;
$neutral-12: #d2d7dfff;
$neutral-13: #e7eaeeff;
$primary: #295299ff;
$primary-hover: #9027c4ff;
$secondary: #31e3a9ff;
$secondary-hover: #f0bf4cff;
$accent: #df8e86ff;
$accent-soft: #2086a2ff;
$success: #ce1c6aff;
$warning: #2670edff;
$danger: #ae66d6ff;
$info: #7fe6c1ff;
$link: #ab8d17ff;
$focus-ring: #d92312ff;
$support-13: #46b5ceff;
$support-14: #df5d9aff;
$support-15: #78a7edff;
$support-16: #6e0fb3ff;

/* SCSS HSL */
$bg-canvas: hsla(218, 6%, 8%, 1);
$bg-surface: hsla(225, 7%, 15%, 1);
$bg-elevated: hsla(212, 8%, 22%, 1);
$bg-overlay: hsla(225, 9%, 29%, 1);
$border-subtle: hsla(220, 10%, 36%, 1);
$border-strong: hsla(216, 11%, 43%, 1);
$text-muted: hsla(216, 12%, 50%, 1);
$text-base: hsla(214, 13%, 57%, 1);
$text-strong: hsla(220, 14%, 64%, 1);
$text-inverse: hsla(216, 15%, 71%, 1);
$neutral-11: hsla(228, 16%, 78%, 1);
$neutral-12: hsla(216, 17%, 85%, 1);
$neutral-13: hsla(213, 18%, 92%, 1);
$primary: hsla(218, 58%, 38%, 1);
$primary-hover: hsla(280, 67%, 46%, 1);
$secondary: hsla(160, 76%, 54%, 1);
$secondary-hover: hsla(42, 85%, 62%, 1);
$accent: hsla(5, 58%, 70%, 1);
$accent-soft: hsla(193, 67%, 38%, 1);
$success: hsla(334, 76%, 46%, 1);
$warning: hsla(218, 85%, 54%, 1);
$danger: hsla(278, 58%, 62%, 1);
$info: hsla(158, 67%, 70%, 1);
$link: hsla(48, 76%, 38%, 1);
$focus-ring: hsla(5, 85%, 46%, 1);
$support-13: hsla(191, 58%, 54%, 1);
$support-14: hsla(332, 67%, 62%, 1);
$support-15: hsla(216, 76%, 70%, 1);
$support-16: hsla(275, 85%, 38%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(36, 37, 41, 1);
$bg-elevated: rgba(52, 56, 61, 1);
$bg-overlay: rgba(67, 71, 81, 1);
$border-subtle: rgba(83, 89, 101, 1);
$border-strong: rgba(98, 107, 122, 1);
$text-muted: rgba(112, 124, 143, 1);
$text-base: rgba(131, 144, 160, 1);
$text-strong: rgba(150, 159, 176, 1);
$text-inverse: rgba(170, 179, 192, 1);
$neutral-11: rgba(190, 194, 208, 1);
$neutral-12: rgba(210, 215, 223, 1);
$neutral-13: rgba(231, 234, 238, 1);
$primary: rgba(41, 82, 153, 1);
$primary-hover: rgba(144, 39, 196, 1);
$secondary: rgba(49, 227, 169, 1);
$secondary-hover: rgba(240, 191, 76, 1);
$accent: rgba(223, 142, 134, 1);
$accent-soft: rgba(32, 134, 162, 1);
$success: rgba(206, 28, 106, 1);
$warning: rgba(38, 112, 237, 1);
$danger: rgba(174, 102, 214, 1);
$info: rgba(127, 230, 193, 1);
$link: rgba(171, 141, 23, 1);
$focus-ring: rgba(217, 35, 18, 1);
$support-13: rgba(70, 181, 206, 1);
$support-14: rgba(223, 93, 154, 1);
$support-15: rgba(120, 167, 237, 1);
$support-16: rgba(110, 15, 179, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-right: linear-gradient(90deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-left: linear-gradient(270deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);
$gradient-radial: radial-gradient(#131416ff, #242529ff, #34383dff, #434751ff, #535965ff, #626b7aff, #707c8fff, #8390a0ff, #969fb0ff, #aab3c0ff, #bec2d0ff, #d2d7dfff, #e7eaeeff, #295299ff, #9027c4ff, #31e3a9ff, #f0bf4cff, #df8e86ff, #2086a2ff, #ce1c6aff, #2670edff, #ae66d6ff, #7fe6c1ff, #ab8d17ff, #d92312ff, #46b5ceff, #df5d9aff, #78a7edff, #6e0fb3ff);

/* SCSS Map */
$saas-interface-map-29-19-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #242529ff,
    "bg-elevated": #34383dff,
    "bg-overlay": #434751ff,
    "border-subtle": #535965ff,
    "border-strong": #626b7aff,
    "text-muted": #707c8fff,
    "text-base": #8390a0ff,
    "text-strong": #969fb0ff,
    "text-inverse": #aab3c0ff,
    "neutral-11": #bec2d0ff,
    "neutral-12": #d2d7dfff,
    "neutral-13": #e7eaeeff,
    "primary": #295299ff,
    "primary-hover": #9027c4ff,
    "secondary": #31e3a9ff,
    "secondary-hover": #f0bf4cff,
    "accent": #df8e86ff,
    "accent-soft": #2086a2ff,
    "success": #ce1c6aff,
    "warning": #2670edff,
    "danger": #ae66d6ff,
    "info": #7fe6c1ff,
    "link": #ab8d17ff,
    "focus-ring": #d92312ff,
    "support-13": #46b5ceff,
    "support-14": #df5d9aff,
    "support-15": #78a7edff,
    "support-16": #6e0fb3ff
);
