/*---
id: citrus-mosaic-20-01
name: Citrus Mosaic 20-01
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 20
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 20-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #1c4e18ff;
--tone-02: #176037ff;
--tone-03: #146773ff;
--tone-04: #102688ff;
--tone-05: #350a9eff;
--tone-06: #812c8dff;
--tone-07: #a22766ff;
--tone-08: #ba3b21ff;
--tone-09: #d29b19ff;
--tone-10: #a8ed0fff;
--tone-11: #47c549ff;
--tone-12: #4ad38eff;
--tone-13: #4ec6e0ff;
--tone-14: #5379ebff;
--tone-15: #8f5af4ff;
--tone-16: #d787d9ff;
--tone-17: #e38dbbff;
--tone-18: #eca595ff;
--tone-19: #f4de9eff;
--tone-20: #e6f9a9ff;

/* CSS HSL */
--tone-01: hsla(116, 52%, 20%, 1);
--tone-02: hsla(146, 61%, 23%, 1);
--tone-03: hsla(188, 70%, 27%, 1);
--tone-04: hsla(229, 79%, 30%, 1);
--tone-05: hsla(257, 88%, 33%, 1);
--tone-06: hsla(293, 52%, 36%, 1);
--tone-07: hsla(330, 61%, 40%, 1);
--tone-08: hsla(10, 70%, 43%, 1);
--tone-09: hsla(42, 79%, 46%, 1);
--tone-10: hsla(78, 88%, 49%, 1);
--tone-11: hsla(121, 52%, 53%, 1);
--tone-12: hsla(150, 61%, 56%, 1);
--tone-13: hsla(191, 70%, 59%, 1);
--tone-14: hsla(225, 79%, 62%, 1);
--tone-15: hsla(260, 88%, 66%, 1);
--tone-16: hsla(299, 52%, 69%, 1);
--tone-17: hsla(328, 61%, 72%, 1);
--tone-18: hsla(11, 70%, 75%, 1);
--tone-19: hsla(45, 79%, 79%, 1);
--tone-20: hsla(75, 88%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #1c4e18ff;
$tone-02: #176037ff;
$tone-03: #146773ff;
$tone-04: #102688ff;
$tone-05: #350a9eff;
$tone-06: #812c8dff;
$tone-07: #a22766ff;
$tone-08: #ba3b21ff;
$tone-09: #d29b19ff;
$tone-10: #a8ed0fff;
$tone-11: #47c549ff;
$tone-12: #4ad38eff;
$tone-13: #4ec6e0ff;
$tone-14: #5379ebff;
$tone-15: #8f5af4ff;
$tone-16: #d787d9ff;
$tone-17: #e38dbbff;
$tone-18: #eca595ff;
$tone-19: #f4de9eff;
$tone-20: #e6f9a9ff;

/* SCSS HSL */
$tone-01: hsla(116, 52%, 20%, 1);
$tone-02: hsla(146, 61%, 23%, 1);
$tone-03: hsla(188, 70%, 27%, 1);
$tone-04: hsla(229, 79%, 30%, 1);
$tone-05: hsla(257, 88%, 33%, 1);
$tone-06: hsla(293, 52%, 36%, 1);
$tone-07: hsla(330, 61%, 40%, 1);
$tone-08: hsla(10, 70%, 43%, 1);
$tone-09: hsla(42, 79%, 46%, 1);
$tone-10: hsla(78, 88%, 49%, 1);
$tone-11: hsla(121, 52%, 53%, 1);
$tone-12: hsla(150, 61%, 56%, 1);
$tone-13: hsla(191, 70%, 59%, 1);
$tone-14: hsla(225, 79%, 62%, 1);
$tone-15: hsla(260, 88%, 66%, 1);
$tone-16: hsla(299, 52%, 69%, 1);
$tone-17: hsla(328, 61%, 72%, 1);
$tone-18: hsla(11, 70%, 75%, 1);
$tone-19: hsla(45, 79%, 79%, 1);
$tone-20: hsla(75, 88%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(28, 78, 24, 1);
$tone-02: rgba(23, 96, 55, 1);
$tone-03: rgba(20, 103, 115, 1);
$tone-04: rgba(16, 38, 136, 1);
$tone-05: rgba(53, 10, 158, 1);
$tone-06: rgba(129, 44, 141, 1);
$tone-07: rgba(162, 39, 102, 1);
$tone-08: rgba(186, 59, 33, 1);
$tone-09: rgba(210, 155, 25, 1);
$tone-10: rgba(168, 237, 15, 1);
$tone-11: rgba(71, 197, 73, 1);
$tone-12: rgba(74, 211, 142, 1);
$tone-13: rgba(78, 198, 224, 1);
$tone-14: rgba(83, 121, 235, 1);
$tone-15: rgba(143, 90, 244, 1);
$tone-16: rgba(215, 135, 217, 1);
$tone-17: rgba(227, 141, 187, 1);
$tone-18: rgba(236, 165, 149, 1);
$tone-19: rgba(244, 222, 158, 1);
$tone-20: rgba(230, 249, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-right: linear-gradient(90deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-bottom: linear-gradient(180deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-left: linear-gradient(270deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-top-right: linear-gradient(45deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-bottom-right: linear-gradient(135deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-top-left: linear-gradient(225deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-bottom-left: linear-gradient(315deg, #1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);
$gradient-radial: radial-gradient(#1c4e18ff, #176037ff, #146773ff, #102688ff, #350a9eff, #812c8dff, #a22766ff, #ba3b21ff, #d29b19ff, #a8ed0fff, #47c549ff, #4ad38eff, #4ec6e0ff, #5379ebff, #8f5af4ff, #d787d9ff, #e38dbbff, #eca595ff, #f4de9eff, #e6f9a9ff);

/* SCSS Map */
$citrus-mosaic-20-01-map: (
    "tone-01": #1c4e18ff,
    "tone-02": #176037ff,
    "tone-03": #146773ff,
    "tone-04": #102688ff,
    "tone-05": #350a9eff,
    "tone-06": #812c8dff,
    "tone-07": #a22766ff,
    "tone-08": #ba3b21ff,
    "tone-09": #d29b19ff,
    "tone-10": #a8ed0fff,
    "tone-11": #47c549ff,
    "tone-12": #4ad38eff,
    "tone-13": #4ec6e0ff,
    "tone-14": #5379ebff,
    "tone-15": #8f5af4ff,
    "tone-16": #d787d9ff,
    "tone-17": #e38dbbff,
    "tone-18": #eca595ff,
    "tone-19": #f4de9eff,
    "tone-20": #e6f9a9ff
);
