/*---
id: copper-mosaic-20-08
name: Copper Mosaic 20-08
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 20
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 20-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #184e4bff;
--tone-02: #173260ff;
--tone-03: #301473ff;
--tone-04: #881088ff;
--tone-05: #9e0a35ff;
--tone-06: #8d622cff;
--tone-07: #8da227ff;
--tone-08: #3fba21ff;
--tone-09: #19d298ff;
--tone-10: #0f9bedff;
--tone-11: #4750c5ff;
--tone-12: #b64ad3ff;
--tone-13: #e04ea3ff;
--tone-14: #eb5f53ff;
--tone-15: #f4db5aff;
--tone-16: #aed987ff;
--tone-17: #8de399ff;
--tone-18: #95ece0ff;
--tone-19: #9ebef4ff;
--tone-20: #baa9f9ff;

/* CSS HSL */
--tone-01: hsla(178, 52%, 20%, 1);
--tone-02: hsla(217, 61%, 23%, 1);
--tone-03: hsla(258, 70%, 27%, 1);
--tone-04: hsla(300, 79%, 30%, 1);
--tone-05: hsla(343, 88%, 33%, 1);
--tone-06: hsla(34, 52%, 36%, 1);
--tone-07: hsla(70, 61%, 40%, 1);
--tone-08: hsla(108, 70%, 43%, 1);
--tone-09: hsla(161, 79%, 46%, 1);
--tone-10: hsla(202, 88%, 49%, 1);
--tone-11: hsla(236, 52%, 53%, 1);
--tone-12: hsla(287, 61%, 56%, 1);
--tone-13: hsla(325, 70%, 59%, 1);
--tone-14: hsla(5, 79%, 62%, 1);
--tone-15: hsla(50, 88%, 66%, 1);
--tone-16: hsla(91, 52%, 69%, 1);
--tone-17: hsla(128, 61%, 72%, 1);
--tone-18: hsla(171, 70%, 75%, 1);
--tone-19: hsla(218, 79%, 79%, 1);
--tone-20: hsla(253, 88%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #184e4bff;
$tone-02: #173260ff;
$tone-03: #301473ff;
$tone-04: #881088ff;
$tone-05: #9e0a35ff;
$tone-06: #8d622cff;
$tone-07: #8da227ff;
$tone-08: #3fba21ff;
$tone-09: #19d298ff;
$tone-10: #0f9bedff;
$tone-11: #4750c5ff;
$tone-12: #b64ad3ff;
$tone-13: #e04ea3ff;
$tone-14: #eb5f53ff;
$tone-15: #f4db5aff;
$tone-16: #aed987ff;
$tone-17: #8de399ff;
$tone-18: #95ece0ff;
$tone-19: #9ebef4ff;
$tone-20: #baa9f9ff;

/* SCSS HSL */
$tone-01: hsla(178, 52%, 20%, 1);
$tone-02: hsla(217, 61%, 23%, 1);
$tone-03: hsla(258, 70%, 27%, 1);
$tone-04: hsla(300, 79%, 30%, 1);
$tone-05: hsla(343, 88%, 33%, 1);
$tone-06: hsla(34, 52%, 36%, 1);
$tone-07: hsla(70, 61%, 40%, 1);
$tone-08: hsla(108, 70%, 43%, 1);
$tone-09: hsla(161, 79%, 46%, 1);
$tone-10: hsla(202, 88%, 49%, 1);
$tone-11: hsla(236, 52%, 53%, 1);
$tone-12: hsla(287, 61%, 56%, 1);
$tone-13: hsla(325, 70%, 59%, 1);
$tone-14: hsla(5, 79%, 62%, 1);
$tone-15: hsla(50, 88%, 66%, 1);
$tone-16: hsla(91, 52%, 69%, 1);
$tone-17: hsla(128, 61%, 72%, 1);
$tone-18: hsla(171, 70%, 75%, 1);
$tone-19: hsla(218, 79%, 79%, 1);
$tone-20: hsla(253, 88%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(24, 78, 75, 1);
$tone-02: rgba(23, 50, 96, 1);
$tone-03: rgba(48, 20, 115, 1);
$tone-04: rgba(136, 16, 136, 1);
$tone-05: rgba(158, 10, 53, 1);
$tone-06: rgba(141, 98, 44, 1);
$tone-07: rgba(141, 162, 39, 1);
$tone-08: rgba(63, 186, 33, 1);
$tone-09: rgba(25, 210, 152, 1);
$tone-10: rgba(15, 155, 237, 1);
$tone-11: rgba(71, 80, 197, 1);
$tone-12: rgba(182, 74, 211, 1);
$tone-13: rgba(224, 78, 163, 1);
$tone-14: rgba(235, 95, 83, 1);
$tone-15: rgba(244, 219, 90, 1);
$tone-16: rgba(174, 217, 135, 1);
$tone-17: rgba(141, 227, 153, 1);
$tone-18: rgba(149, 236, 224, 1);
$tone-19: rgba(158, 190, 244, 1);
$tone-20: rgba(186, 169, 249, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-right: linear-gradient(90deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-bottom: linear-gradient(180deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-left: linear-gradient(270deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-top-right: linear-gradient(45deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-bottom-right: linear-gradient(135deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-top-left: linear-gradient(225deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-bottom-left: linear-gradient(315deg, #184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);
$gradient-radial: radial-gradient(#184e4bff, #173260ff, #301473ff, #881088ff, #9e0a35ff, #8d622cff, #8da227ff, #3fba21ff, #19d298ff, #0f9bedff, #4750c5ff, #b64ad3ff, #e04ea3ff, #eb5f53ff, #f4db5aff, #aed987ff, #8de399ff, #95ece0ff, #9ebef4ff, #baa9f9ff);

/* SCSS Map */
$copper-mosaic-20-08-map: (
    "tone-01": #184e4bff,
    "tone-02": #173260ff,
    "tone-03": #301473ff,
    "tone-04": #881088ff,
    "tone-05": #9e0a35ff,
    "tone-06": #8d622cff,
    "tone-07": #8da227ff,
    "tone-08": #3fba21ff,
    "tone-09": #19d298ff,
    "tone-10": #0f9bedff,
    "tone-11": #4750c5ff,
    "tone-12": #b64ad3ff,
    "tone-13": #e04ea3ff,
    "tone-14": #eb5f53ff,
    "tone-15": #f4db5aff,
    "tone-16": #aed987ff,
    "tone-17": #8de399ff,
    "tone-18": #95ece0ff,
    "tone-19": #9ebef4ff,
    "tone-20": #baa9f9ff
);
