/*---
id: radiant-path-273
name: Radiant Path
author: JaZeR-444
version: 1.0.0
category: Space & Cosmic
count: 20
tags:
  mood:
  - elegant
  aesthetic:
  - Futuristic
  - Cyberpunk
  - Geometric
intent: A vibrant 20-color palette inspired by Radiant Path 273.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/64f12f-7cec23-96eb40-8ce940-c9ea46-deea56-dde934-e5e46b-e5d06e-e6b772
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--classic-cyan: #64f12fff;
--amber-day: #7cec23ff;
--galactic-rose: #96eb40ff;
--radiant-olive: #8ce940ff;
--solar-lime: #c9ea46ff;
--summer-peach: #deea56ff;
--warm-bronze: #dde934ff;
--teal-night: #e5e46bff;
--lime-valley: #e5d06eff;
--urban-yellow: #e6b772ff;
--spring-turquoise: #e5c871ff;
--peach-planet: #e7aa6aff;
--desert-chartreuse: #e6bc83ff;
--lavender-snow: #e29686ff;
--cyan-dusk: #e7887bff;
--glow-purple: #df7e83ff;
--winter-red: #dc707aff;
--lunar-gold: #e59ea0ff;
--sapphire-vibe: #e599adff;
--autumn-white: #e59bb0ff;

/* CSS HSL */
--classic-cyan: hsla(104, 88%, 57%, 1);
--amber-day: hsla(93, 85%, 53%, 1);
--galactic-rose: hsla(90, 82%, 59%, 1);
--radiant-olive: hsla(93, 79%, 58%, 1);
--solar-lime: hsla(72, 80%, 60%, 1);
--summer-peach: hsla(65, 79%, 63%, 1);
--warm-bronze: hsla(64, 81%, 56%, 1);
--teal-night: hsla(59, 71%, 66%, 1);
--lime-valley: hsla(50, 70%, 67%, 1);
--urban-yellow: hsla(36, 71%, 68%, 1);
--spring-turquoise: hsla(45, 70%, 67%, 1);
--peach-planet: hsla(31, 73%, 66%, 1);
--desert-chartreuse: hsla(35, 67%, 71%, 1);
--lavender-snow: hsla(11, 62%, 71%, 1);
--cyan-dusk: hsla(8, 69%, 69%, 1);
--glow-purple: hsla(357, 61%, 69%, 1);
--winter-red: hsla(355, 61%, 65%, 1);
--lunar-gold: hsla(358, 59%, 76%, 1);
--sapphire-vibe: hsla(344, 60%, 75%, 1);
--autumn-white: hsla(343, 59%, 75%, 1);
}

/* SCSS HEX */
$classic-cyan: #64f12fff;
$amber-day: #7cec23ff;
$galactic-rose: #96eb40ff;
$radiant-olive: #8ce940ff;
$solar-lime: #c9ea46ff;
$summer-peach: #deea56ff;
$warm-bronze: #dde934ff;
$teal-night: #e5e46bff;
$lime-valley: #e5d06eff;
$urban-yellow: #e6b772ff;
$spring-turquoise: #e5c871ff;
$peach-planet: #e7aa6aff;
$desert-chartreuse: #e6bc83ff;
$lavender-snow: #e29686ff;
$cyan-dusk: #e7887bff;
$glow-purple: #df7e83ff;
$winter-red: #dc707aff;
$lunar-gold: #e59ea0ff;
$sapphire-vibe: #e599adff;
$autumn-white: #e59bb0ff;

/* SCSS HSL */
$classic-cyan: hsla(104, 88%, 57%, 1);
$amber-day: hsla(93, 85%, 53%, 1);
$galactic-rose: hsla(90, 82%, 59%, 1);
$radiant-olive: hsla(93, 79%, 58%, 1);
$solar-lime: hsla(72, 80%, 60%, 1);
$summer-peach: hsla(65, 79%, 63%, 1);
$warm-bronze: hsla(64, 81%, 56%, 1);
$teal-night: hsla(59, 71%, 66%, 1);
$lime-valley: hsla(50, 70%, 67%, 1);
$urban-yellow: hsla(36, 71%, 68%, 1);
$spring-turquoise: hsla(45, 70%, 67%, 1);
$peach-planet: hsla(31, 73%, 66%, 1);
$desert-chartreuse: hsla(35, 67%, 71%, 1);
$lavender-snow: hsla(11, 62%, 71%, 1);
$cyan-dusk: hsla(8, 69%, 69%, 1);
$glow-purple: hsla(357, 61%, 69%, 1);
$winter-red: hsla(355, 61%, 65%, 1);
$lunar-gold: hsla(358, 59%, 76%, 1);
$sapphire-vibe: hsla(344, 60%, 75%, 1);
$autumn-white: hsla(343, 59%, 75%, 1);

/* SCSS RGB */
$classic-cyan: rgba(100, 241, 47, 1);
$amber-day: rgba(124, 236, 35, 1);
$galactic-rose: rgba(150, 235, 64, 1);
$radiant-olive: rgba(140, 233, 64, 1);
$solar-lime: rgba(201, 234, 70, 1);
$summer-peach: rgba(222, 234, 86, 1);
$warm-bronze: rgba(221, 233, 52, 1);
$teal-night: rgba(229, 228, 107, 1);
$lime-valley: rgba(229, 208, 110, 1);
$urban-yellow: rgba(230, 183, 114, 1);
$spring-turquoise: rgba(229, 200, 113, 1);
$peach-planet: rgba(231, 170, 106, 1);
$desert-chartreuse: rgba(230, 188, 131, 1);
$lavender-snow: rgba(226, 150, 134, 1);
$cyan-dusk: rgba(231, 136, 123, 1);
$glow-purple: rgba(223, 126, 131, 1);
$winter-red: rgba(220, 112, 122, 1);
$lunar-gold: rgba(229, 158, 160, 1);
$sapphire-vibe: rgba(229, 153, 173, 1);
$autumn-white: rgba(229, 155, 176, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-right: linear-gradient(90deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-bottom: linear-gradient(180deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-left: linear-gradient(270deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-top-right: linear-gradient(45deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-bottom-right: linear-gradient(135deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-top-left: linear-gradient(225deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-bottom-left: linear-gradient(315deg, #64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);
$gradient-radial: radial-gradient(#64f12fff, #7cec23ff, #96eb40ff, #8ce940ff, #c9ea46ff, #deea56ff, #dde934ff, #e5e46bff, #e5d06eff, #e6b772ff, #e5c871ff, #e7aa6aff, #e6bc83ff, #e29686ff, #e7887bff, #df7e83ff, #dc707aff, #e59ea0ff, #e599adff, #e59bb0ff);

/* SCSS Map */
$radiant-path-273-map: (
    "classic-cyan": #64f12fff,
    "amber-day": #7cec23ff,
    "galactic-rose": #96eb40ff,
    "radiant-olive": #8ce940ff,
    "solar-lime": #c9ea46ff,
    "summer-peach": #deea56ff,
    "warm-bronze": #dde934ff,
    "teal-night": #e5e46bff,
    "lime-valley": #e5d06eff,
    "urban-yellow": #e6b772ff,
    "spring-turquoise": #e5c871ff,
    "peach-planet": #e7aa6aff,
    "desert-chartreuse": #e6bc83ff,
    "lavender-snow": #e29686ff,
    "cyan-dusk": #e7887bff,
    "glow-purple": #df7e83ff,
    "winter-red": #dc707aff,
    "lunar-gold": #e59ea0ff,
    "sapphire-vibe": #e599adff,
    "autumn-white": #e59bb0ff
);
