/*---
id: sapphire-span-20-11
name: Sapphire Span Slim
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 20
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 20-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f121aff;
--dark: #161a2aff;
--navy: #1a223cff;
--marine: #1f2a4dff;
--marine-blue: #203163ff;
--darkish-blue: #213979ff;
--cobalt: #22448eff;
--sapphire: #1c3eabff;
--blue-blue: #1c48c2ff;
--azul: #1852dbff;
--warm-blue: #2559e5ff;
--cerulean-blue: #3864e9ff;
--cornflower-blue: #537be5ff;
--soft-blue: #6f8cdfff;
--carolina-blue: #879fdeff;
--pastel-blue: #9cacdfff;
--cloudy-blue: #b1bde1ff;
--powder-blue: #c4cbe4ff;
--very-light-pink: #d6dae9ff;
--white: #e6e9efff;

/* CSS HSL */
--almost-black: hsla(224, 25%, 8%, 1);
--dark: hsla(224, 32%, 12%, 1);
--navy: hsla(224, 40%, 17%, 1);
--marine: hsla(224, 43%, 21%, 1);
--marine-blue: hsla(224, 51%, 26%, 1);
--darkish-blue: hsla(224, 57%, 30%, 1);
--cobalt: hsla(224, 61%, 35%, 1);
--sapphire: hsla(224, 72%, 39%, 1);
--blue-blue: hsla(224, 75%, 43%, 1);
--azul: hsla(224, 80%, 48%, 1);
--warm-blue: hsla(224, 79%, 52%, 1);
--cerulean-blue: hsla(224, 80%, 57%, 1);
--cornflower-blue: hsla(224, 74%, 61%, 1);
--soft-blue: hsla(224, 64%, 65%, 1);
--carolina-blue: hsla(224, 57%, 70%, 1);
--pastel-blue: hsla(224, 51%, 74%, 1);
--cloudy-blue: hsla(224, 44%, 79%, 1);
--powder-blue: hsla(224, 38%, 83%, 1);
--very-light-pink: hsla(224, 31%, 88%, 1);
--white: hsla(224, 23%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f121aff;
$dark: #161a2aff;
$navy: #1a223cff;
$marine: #1f2a4dff;
$marine-blue: #203163ff;
$darkish-blue: #213979ff;
$cobalt: #22448eff;
$sapphire: #1c3eabff;
$blue-blue: #1c48c2ff;
$azul: #1852dbff;
$warm-blue: #2559e5ff;
$cerulean-blue: #3864e9ff;
$cornflower-blue: #537be5ff;
$soft-blue: #6f8cdfff;
$carolina-blue: #879fdeff;
$pastel-blue: #9cacdfff;
$cloudy-blue: #b1bde1ff;
$powder-blue: #c4cbe4ff;
$very-light-pink: #d6dae9ff;
$white: #e6e9efff;

/* SCSS HSL */
$almost-black: hsla(224, 25%, 8%, 1);
$dark: hsla(224, 32%, 12%, 1);
$navy: hsla(224, 40%, 17%, 1);
$marine: hsla(224, 43%, 21%, 1);
$marine-blue: hsla(224, 51%, 26%, 1);
$darkish-blue: hsla(224, 57%, 30%, 1);
$cobalt: hsla(224, 61%, 35%, 1);
$sapphire: hsla(224, 72%, 39%, 1);
$blue-blue: hsla(224, 75%, 43%, 1);
$azul: hsla(224, 80%, 48%, 1);
$warm-blue: hsla(224, 79%, 52%, 1);
$cerulean-blue: hsla(224, 80%, 57%, 1);
$cornflower-blue: hsla(224, 74%, 61%, 1);
$soft-blue: hsla(224, 64%, 65%, 1);
$carolina-blue: hsla(224, 57%, 70%, 1);
$pastel-blue: hsla(224, 51%, 74%, 1);
$cloudy-blue: hsla(224, 44%, 79%, 1);
$powder-blue: hsla(224, 38%, 83%, 1);
$very-light-pink: hsla(224, 31%, 88%, 1);
$white: hsla(224, 23%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 18, 26, 1);
$dark: rgba(22, 26, 42, 1);
$navy: rgba(26, 34, 60, 1);
$marine: rgba(31, 42, 77, 1);
$marine-blue: rgba(32, 49, 99, 1);
$darkish-blue: rgba(33, 57, 121, 1);
$cobalt: rgba(34, 68, 142, 1);
$sapphire: rgba(28, 62, 171, 1);
$blue-blue: rgba(28, 72, 194, 1);
$azul: rgba(24, 82, 219, 1);
$warm-blue: rgba(37, 89, 229, 1);
$cerulean-blue: rgba(56, 100, 233, 1);
$cornflower-blue: rgba(83, 123, 229, 1);
$soft-blue: rgba(111, 140, 223, 1);
$carolina-blue: rgba(135, 159, 222, 1);
$pastel-blue: rgba(156, 172, 223, 1);
$cloudy-blue: rgba(177, 189, 225, 1);
$powder-blue: rgba(196, 203, 228, 1);
$very-light-pink: rgba(214, 218, 233, 1);
$white: rgba(230, 233, 239, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-right: linear-gradient(90deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-bottom: linear-gradient(180deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-left: linear-gradient(270deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-top-right: linear-gradient(45deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-bottom-right: linear-gradient(135deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-top-left: linear-gradient(225deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-bottom-left: linear-gradient(315deg, #0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);
$gradient-radial: radial-gradient(#0f121aff, #161a2aff, #1a223cff, #1f2a4dff, #203163ff, #213979ff, #22448eff, #1c3eabff, #1c48c2ff, #1852dbff, #2559e5ff, #3864e9ff, #537be5ff, #6f8cdfff, #879fdeff, #9cacdfff, #b1bde1ff, #c4cbe4ff, #d6dae9ff, #e6e9efff);

/* SCSS Map */
$sapphire-span-20-11-map: (
    "almost-black": #0f121aff,
    "dark": #161a2aff,
    "navy": #1a223cff,
    "marine": #1f2a4dff,
    "marine-blue": #203163ff,
    "darkish-blue": #213979ff,
    "cobalt": #22448eff,
    "sapphire": #1c3eabff,
    "blue-blue": #1c48c2ff,
    "azul": #1852dbff,
    "warm-blue": #2559e5ff,
    "cerulean-blue": #3864e9ff,
    "cornflower-blue": #537be5ff,
    "soft-blue": #6f8cdfff,
    "carolina-blue": #879fdeff,
    "pastel-blue": #9cacdfff,
    "cloudy-blue": #b1bde1ff,
    "powder-blue": #c4cbe4ff,
    "very-light-pink": #d6dae9ff,
    "white": #e6e9efff
);
