/*---
id: teal-span-20-09
name: Teal Span Standard
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 20
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 20-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f1a18ff;
--charcoal: #152a26ff;
--dark-teal: #1a3c36ff;
--dark-blue-green: #1e4f44ff;
--dark-green-blue: #236052ff;
--blue-green: #217964ff;
--ocean-green: #1f9177ff;
--greeny-blue: #22a588ff;
--turquoise: #1cc1a6ff;
--aqua-marine: #12e2afff;
--aqua: #1febc7ff;
--aquamarine: #3de3bfff;
--tiffany-blue: #54e4c9ff;
--seafoam-blue: #70ddc8ff;
--pale-teal: #86deccff;
--duck-egg-blue: #9fdcceff;
--eggshell-blue: #afe2d9ff;
--ice: #c3e5dfff;
--ice-blue: #d5eae6ff;
--white: #e6f0edff;

/* CSS HSL */
--almost-black: hsla(168, 26%, 8%, 1);
--charcoal: hsla(168, 33%, 12%, 1);
--dark-teal: hsla(168, 40%, 17%, 1);
--dark-blue-green: hsla(168, 45%, 21%, 1);
--dark-green-blue: hsla(168, 47%, 26%, 1);
--blue-green: hsla(168, 57%, 30%, 1);
--ocean-green: hsla(168, 65%, 35%, 1);
--greeny-blue: hsla(168, 66%, 39%, 1);
--turquoise: hsla(168, 75%, 43%, 1);
--aqua-marine: hsla(168, 85%, 48%, 1);
--aqua: hsla(168, 84%, 52%, 1);
--aquamarine: hsla(168, 75%, 57%, 1);
--tiffany-blue: hsla(168, 73%, 61%, 1);
--seafoam-blue: hsla(168, 62%, 65%, 1);
--pale-teal: hsla(168, 57%, 70%, 1);
--duck-egg-blue: hsla(168, 46%, 74%, 1);
--eggshell-blue: hsla(168, 47%, 79%, 1);
--ice: hsla(168, 39%, 83%, 1);
--ice-blue: hsla(168, 33%, 88%, 1);
--white: hsla(168, 24%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f1a18ff;
$charcoal: #152a26ff;
$dark-teal: #1a3c36ff;
$dark-blue-green: #1e4f44ff;
$dark-green-blue: #236052ff;
$blue-green: #217964ff;
$ocean-green: #1f9177ff;
$greeny-blue: #22a588ff;
$turquoise: #1cc1a6ff;
$aqua-marine: #12e2afff;
$aqua: #1febc7ff;
$aquamarine: #3de3bfff;
$tiffany-blue: #54e4c9ff;
$seafoam-blue: #70ddc8ff;
$pale-teal: #86deccff;
$duck-egg-blue: #9fdcceff;
$eggshell-blue: #afe2d9ff;
$ice: #c3e5dfff;
$ice-blue: #d5eae6ff;
$white: #e6f0edff;

/* SCSS HSL */
$almost-black: hsla(168, 26%, 8%, 1);
$charcoal: hsla(168, 33%, 12%, 1);
$dark-teal: hsla(168, 40%, 17%, 1);
$dark-blue-green: hsla(168, 45%, 21%, 1);
$dark-green-blue: hsla(168, 47%, 26%, 1);
$blue-green: hsla(168, 57%, 30%, 1);
$ocean-green: hsla(168, 65%, 35%, 1);
$greeny-blue: hsla(168, 66%, 39%, 1);
$turquoise: hsla(168, 75%, 43%, 1);
$aqua-marine: hsla(168, 85%, 48%, 1);
$aqua: hsla(168, 84%, 52%, 1);
$aquamarine: hsla(168, 75%, 57%, 1);
$tiffany-blue: hsla(168, 73%, 61%, 1);
$seafoam-blue: hsla(168, 62%, 65%, 1);
$pale-teal: hsla(168, 57%, 70%, 1);
$duck-egg-blue: hsla(168, 46%, 74%, 1);
$eggshell-blue: hsla(168, 47%, 79%, 1);
$ice: hsla(168, 39%, 83%, 1);
$ice-blue: hsla(168, 33%, 88%, 1);
$white: hsla(168, 24%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 26, 24, 1);
$charcoal: rgba(21, 42, 38, 1);
$dark-teal: rgba(26, 60, 54, 1);
$dark-blue-green: rgba(30, 79, 68, 1);
$dark-green-blue: rgba(35, 96, 82, 1);
$blue-green: rgba(33, 121, 100, 1);
$ocean-green: rgba(31, 145, 119, 1);
$greeny-blue: rgba(34, 165, 136, 1);
$turquoise: rgba(28, 193, 166, 1);
$aqua-marine: rgba(18, 226, 175, 1);
$aqua: rgba(31, 235, 199, 1);
$aquamarine: rgba(61, 227, 191, 1);
$tiffany-blue: rgba(84, 228, 201, 1);
$seafoam-blue: rgba(112, 221, 200, 1);
$pale-teal: rgba(134, 222, 204, 1);
$duck-egg-blue: rgba(159, 220, 206, 1);
$eggshell-blue: rgba(175, 226, 217, 1);
$ice: rgba(195, 229, 223, 1);
$ice-blue: rgba(213, 234, 230, 1);
$white: rgba(230, 240, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-right: linear-gradient(90deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-bottom: linear-gradient(180deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-left: linear-gradient(270deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-top-right: linear-gradient(45deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-bottom-right: linear-gradient(135deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-top-left: linear-gradient(225deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-bottom-left: linear-gradient(315deg, #0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);
$gradient-radial: radial-gradient(#0f1a18ff, #152a26ff, #1a3c36ff, #1e4f44ff, #236052ff, #217964ff, #1f9177ff, #22a588ff, #1cc1a6ff, #12e2afff, #1febc7ff, #3de3bfff, #54e4c9ff, #70ddc8ff, #86deccff, #9fdcceff, #afe2d9ff, #c3e5dfff, #d5eae6ff, #e6f0edff);

/* SCSS Map */
$teal-span-20-09-map: (
    "almost-black": #0f1a18ff,
    "charcoal": #152a26ff,
    "dark-teal": #1a3c36ff,
    "dark-blue-green": #1e4f44ff,
    "dark-green-blue": #236052ff,
    "blue-green": #217964ff,
    "ocean-green": #1f9177ff,
    "greeny-blue": #22a588ff,
    "turquoise": #1cc1a6ff,
    "aqua-marine": #12e2afff,
    "aqua": #1febc7ff,
    "aquamarine": #3de3bfff,
    "tiffany-blue": #54e4c9ff,
    "seafoam-blue": #70ddc8ff,
    "pale-teal": #86deccff,
    "duck-egg-blue": #9fdcceff,
    "eggshell-blue": #afe2d9ff,
    "ice": #c3e5dfff,
    "ice-blue": #d5eae6ff,
    "white": #e6f0edff
);
