/*---
id: velvet-mosaic-20-06
name: Velvet Mosaic Compact
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 20
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 20-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-purple: #31184eff;
--plum-purple: #5c1760ff;
--rich-purple: #73145aff;
--red-wine: #881036ff;
--burnt-red: #9e1b0aff;
--sepia: #8d612cff;
--dark-mustard: #a29727ff;
--dark-lime: #8dba21ff;
--green-apple: #48d219ff;
--vibrant-green: #0fed34ff;
--greenish-teal: #47c590ff;
--aqua-blue: #4ad1d3ff;
--sky: #4eaee0ff;
--cornflower: #536debff;
--purpley: #775af4ff;
--wisteria: #b587d9ff;
--lavender-pink: #db8de3ff;
--bubblegum-pink: #ec95d5ff;
--powder-pink: #f49ebcff;
--pale-salmon: #f9b8a9ff;

/* CSS HSL */
--dark-purple: hsla(268, 52%, 20%, 1);
--plum-purple: hsla(297, 61%, 23%, 1);
--rich-purple: hsla(316, 70%, 27%, 1);
--red-wine: hsla(341, 79%, 30%, 1);
--burnt-red: hsla(7, 88%, 33%, 1);
--sepia: hsla(33, 52%, 36%, 1);
--dark-mustard: hsla(55, 61%, 40%, 1);
--dark-lime: hsla(78, 70%, 43%, 1);
--green-apple: hsla(105, 79%, 46%, 1);
--vibrant-green: hsla(130, 88%, 49%, 1);
--greenish-teal: hsla(155, 52%, 53%, 1);
--aqua-blue: hsla(181, 61%, 56%, 1);
--sky: hsla(200, 70%, 59%, 1);
--cornflower: hsla(230, 79%, 62%, 1);
--purpley: hsla(251, 88%, 66%, 1);
--wisteria: hsla(274, 52%, 69%, 1);
--lavender-pink: hsla(294, 61%, 72%, 1);
--bubblegum-pink: hsla(316, 70%, 75%, 1);
--powder-pink: hsla(339, 79%, 79%, 1);
--pale-salmon: hsla(11, 88%, 82%, 1);
}

/* SCSS HEX */
$dark-purple: #31184eff;
$plum-purple: #5c1760ff;
$rich-purple: #73145aff;
$red-wine: #881036ff;
$burnt-red: #9e1b0aff;
$sepia: #8d612cff;
$dark-mustard: #a29727ff;
$dark-lime: #8dba21ff;
$green-apple: #48d219ff;
$vibrant-green: #0fed34ff;
$greenish-teal: #47c590ff;
$aqua-blue: #4ad1d3ff;
$sky: #4eaee0ff;
$cornflower: #536debff;
$purpley: #775af4ff;
$wisteria: #b587d9ff;
$lavender-pink: #db8de3ff;
$bubblegum-pink: #ec95d5ff;
$powder-pink: #f49ebcff;
$pale-salmon: #f9b8a9ff;

/* SCSS HSL */
$dark-purple: hsla(268, 52%, 20%, 1);
$plum-purple: hsla(297, 61%, 23%, 1);
$rich-purple: hsla(316, 70%, 27%, 1);
$red-wine: hsla(341, 79%, 30%, 1);
$burnt-red: hsla(7, 88%, 33%, 1);
$sepia: hsla(33, 52%, 36%, 1);
$dark-mustard: hsla(55, 61%, 40%, 1);
$dark-lime: hsla(78, 70%, 43%, 1);
$green-apple: hsla(105, 79%, 46%, 1);
$vibrant-green: hsla(130, 88%, 49%, 1);
$greenish-teal: hsla(155, 52%, 53%, 1);
$aqua-blue: hsla(181, 61%, 56%, 1);
$sky: hsla(200, 70%, 59%, 1);
$cornflower: hsla(230, 79%, 62%, 1);
$purpley: hsla(251, 88%, 66%, 1);
$wisteria: hsla(274, 52%, 69%, 1);
$lavender-pink: hsla(294, 61%, 72%, 1);
$bubblegum-pink: hsla(316, 70%, 75%, 1);
$powder-pink: hsla(339, 79%, 79%, 1);
$pale-salmon: hsla(11, 88%, 82%, 1);

/* SCSS RGB */
$dark-purple: rgba(49, 24, 78, 1);
$plum-purple: rgba(92, 23, 96, 1);
$rich-purple: rgba(115, 20, 90, 1);
$red-wine: rgba(136, 16, 54, 1);
$burnt-red: rgba(158, 27, 10, 1);
$sepia: rgba(141, 97, 44, 1);
$dark-mustard: rgba(162, 151, 39, 1);
$dark-lime: rgba(141, 186, 33, 1);
$green-apple: rgba(72, 210, 25, 1);
$vibrant-green: rgba(15, 237, 52, 1);
$greenish-teal: rgba(71, 197, 144, 1);
$aqua-blue: rgba(74, 209, 211, 1);
$sky: rgba(78, 174, 224, 1);
$cornflower: rgba(83, 109, 235, 1);
$purpley: rgba(119, 90, 244, 1);
$wisteria: rgba(181, 135, 217, 1);
$lavender-pink: rgba(219, 141, 227, 1);
$bubblegum-pink: rgba(236, 149, 213, 1);
$powder-pink: rgba(244, 158, 188, 1);
$pale-salmon: rgba(249, 184, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-right: linear-gradient(90deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-bottom: linear-gradient(180deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-left: linear-gradient(270deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-top-right: linear-gradient(45deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-bottom-right: linear-gradient(135deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-top-left: linear-gradient(225deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-bottom-left: linear-gradient(315deg, #31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);
$gradient-radial: radial-gradient(#31184eff, #5c1760ff, #73145aff, #881036ff, #9e1b0aff, #8d612cff, #a29727ff, #8dba21ff, #48d219ff, #0fed34ff, #47c590ff, #4ad1d3ff, #4eaee0ff, #536debff, #775af4ff, #b587d9ff, #db8de3ff, #ec95d5ff, #f49ebcff, #f9b8a9ff);

/* SCSS Map */
$velvet-mosaic-20-06-map: (
    "dark-purple": #31184eff,
    "plum-purple": #5c1760ff,
    "rich-purple": #73145aff,
    "red-wine": #881036ff,
    "burnt-red": #9e1b0aff,
    "sepia": #8d612cff,
    "dark-mustard": #a29727ff,
    "dark-lime": #8dba21ff,
    "green-apple": #48d219ff,
    "vibrant-green": #0fed34ff,
    "greenish-teal": #47c590ff,
    "aqua-blue": #4ad1d3ff,
    "sky": #4eaee0ff,
    "cornflower": #536debff,
    "purpley": #775af4ff,
    "wisteria": #b587d9ff,
    "lavender-pink": #db8de3ff,
    "bubblegum-pink": #ec95d5ff,
    "powder-pink": #f49ebcff,
    "pale-salmon": #f9b8a9ff
);
