/*---
id: commerce-interface-map-23-18
name: Commerce Interface Map 23-18
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 23
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 23-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #292a2fff;
--bg-elevated: #3e434aff;
--bg-overlay: #535b65ff;
--border-subtle: #666f81ff;
--border-strong: #7d849aff;
--text-muted: #969db0ff;
--text-base: #b1b5c5ff;
--text-strong: #cbd1daff;
--text-inverse: #e7e9eeff;
--primary: #294999ff;
--primary-hover: #9127c4ff;
--secondary: #31e39dff;
--secondary-hover: #f0af4cff;
--accent: #df9786ff;
--accent-soft: #207ea2ff;
--success: #ce1c79ff;
--warning: #2656edff;
--danger: #9d66d6ff;
--info: #7fe6c1ff;
--link: #ab8417ff;
--focus-ring: #d93112ff;
--support-13: #46b7ceff;

/* CSS HSL */
--bg-canvas: hsla(219, 6%, 8%, 1);
--bg-surface: hsla(227, 7%, 17%, 1);
--bg-elevated: hsla(217, 9%, 27%, 1);
--bg-overlay: hsla(212, 10%, 36%, 1);
--border-subtle: hsla(221, 11%, 45%, 1);
--border-strong: hsla(225, 13%, 55%, 1);
--text-muted: hsla(224, 14%, 64%, 1);
--text-base: hsla(228, 15%, 73%, 1);
--text-strong: hsla(218, 17%, 83%, 1);
--text-inverse: hsla(219, 18%, 92%, 1);
--primary: hsla(223, 58%, 38%, 1);
--primary-hover: hsla(281, 67%, 46%, 1);
--secondary: hsla(156, 76%, 54%, 1);
--secondary-hover: hsla(36, 85%, 62%, 1);
--accent: hsla(12, 58%, 70%, 1);
--accent-soft: hsla(196, 67%, 38%, 1);
--success: hsla(329, 76%, 46%, 1);
--warning: hsla(226, 85%, 54%, 1);
--danger: hsla(270, 58%, 62%, 1);
--info: hsla(158, 67%, 70%, 1);
--link: hsla(44, 76%, 38%, 1);
--focus-ring: hsla(10, 85%, 46%, 1);
--support-13: hsla(190, 58%, 54%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #292a2fff;
$bg-elevated: #3e434aff;
$bg-overlay: #535b65ff;
$border-subtle: #666f81ff;
$border-strong: #7d849aff;
$text-muted: #969db0ff;
$text-base: #b1b5c5ff;
$text-strong: #cbd1daff;
$text-inverse: #e7e9eeff;
$primary: #294999ff;
$primary-hover: #9127c4ff;
$secondary: #31e39dff;
$secondary-hover: #f0af4cff;
$accent: #df9786ff;
$accent-soft: #207ea2ff;
$success: #ce1c79ff;
$warning: #2656edff;
$danger: #9d66d6ff;
$info: #7fe6c1ff;
$link: #ab8417ff;
$focus-ring: #d93112ff;
$support-13: #46b7ceff;

/* SCSS HSL */
$bg-canvas: hsla(219, 6%, 8%, 1);
$bg-surface: hsla(227, 7%, 17%, 1);
$bg-elevated: hsla(217, 9%, 27%, 1);
$bg-overlay: hsla(212, 10%, 36%, 1);
$border-subtle: hsla(221, 11%, 45%, 1);
$border-strong: hsla(225, 13%, 55%, 1);
$text-muted: hsla(224, 14%, 64%, 1);
$text-base: hsla(228, 15%, 73%, 1);
$text-strong: hsla(218, 17%, 83%, 1);
$text-inverse: hsla(219, 18%, 92%, 1);
$primary: hsla(223, 58%, 38%, 1);
$primary-hover: hsla(281, 67%, 46%, 1);
$secondary: hsla(156, 76%, 54%, 1);
$secondary-hover: hsla(36, 85%, 62%, 1);
$accent: hsla(12, 58%, 70%, 1);
$accent-soft: hsla(196, 67%, 38%, 1);
$success: hsla(329, 76%, 46%, 1);
$warning: hsla(226, 85%, 54%, 1);
$danger: hsla(270, 58%, 62%, 1);
$info: hsla(158, 67%, 70%, 1);
$link: hsla(44, 76%, 38%, 1);
$focus-ring: hsla(10, 85%, 46%, 1);
$support-13: hsla(190, 58%, 54%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(41, 42, 47, 1);
$bg-elevated: rgba(62, 67, 74, 1);
$bg-overlay: rgba(83, 91, 101, 1);
$border-subtle: rgba(102, 111, 129, 1);
$border-strong: rgba(125, 132, 154, 1);
$text-muted: rgba(150, 157, 176, 1);
$text-base: rgba(177, 181, 197, 1);
$text-strong: rgba(203, 209, 218, 1);
$text-inverse: rgba(231, 233, 238, 1);
$primary: rgba(41, 73, 153, 1);
$primary-hover: rgba(145, 39, 196, 1);
$secondary: rgba(49, 227, 157, 1);
$secondary-hover: rgba(240, 175, 76, 1);
$accent: rgba(223, 151, 134, 1);
$accent-soft: rgba(32, 126, 162, 1);
$success: rgba(206, 28, 121, 1);
$warning: rgba(38, 86, 237, 1);
$danger: rgba(157, 102, 214, 1);
$info: rgba(127, 230, 193, 1);
$link: rgba(171, 132, 23, 1);
$focus-ring: rgba(217, 49, 18, 1);
$support-13: rgba(70, 183, 206, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-right: linear-gradient(90deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-left: linear-gradient(270deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);
$gradient-radial: radial-gradient(#131416ff, #292a2fff, #3e434aff, #535b65ff, #666f81ff, #7d849aff, #969db0ff, #b1b5c5ff, #cbd1daff, #e7e9eeff, #294999ff, #9127c4ff, #31e39dff, #f0af4cff, #df9786ff, #207ea2ff, #ce1c79ff, #2656edff, #9d66d6ff, #7fe6c1ff, #ab8417ff, #d93112ff, #46b7ceff);

/* SCSS Map */
$commerce-interface-map-23-18-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #292a2fff,
    "bg-elevated": #3e434aff,
    "bg-overlay": #535b65ff,
    "border-subtle": #666f81ff,
    "border-strong": #7d849aff,
    "text-muted": #969db0ff,
    "text-base": #b1b5c5ff,
    "text-strong": #cbd1daff,
    "text-inverse": #e7e9eeff,
    "primary": #294999ff,
    "primary-hover": #9127c4ff,
    "secondary": #31e39dff,
    "secondary-hover": #f0af4cff,
    "accent": #df9786ff,
    "accent-soft": #207ea2ff,
    "success": #ce1c79ff,
    "warning": #2656edff,
    "danger": #9d66d6ff,
    "info": #7fe6c1ff,
    "link": #ab8417ff,
    "focus-ring": #d93112ff,
    "support-13": #46b7ceff
);
