/*---
id: copper-mosaic-23-05
name: Copper Mosaic Standard
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 23
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 23-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--pine-green: #184e27ff;
--dark-turquoise: #175e57ff;
--deep-sea-blue: #14496fff;
--dark-royal-blue: #0f2082ff;
--indigo: #3f0a96ff;
--darkish-purple: #842a7fff;
--mulberry: #982554ff;
--carmine: #ac211eff;
--golden-brown: #c28017ff;
--bile: #c7d90eff;
--leafy-green: #59bb3bff;
--shamrock-green: #36ce5dff;
--aquamarine: #37dcb9ff;
--sky-blue: #39a6e8ff;
--bright-blue: #3d5af3ff;
--amethyst: #936dd1ff;
--pinky-purple: #d470dcff;
--pale-magenta: #e674b5ff;
--rose-pink: #ef798cff;
--peach: #f7bc80ff;
--beige: #e2dda3ff;
--light-sage: #caeaaaff;
--hospital-green: #b1f1bcff;

/* CSS HSL */
--pine-green: hsla(136, 52%, 20%, 1);
--dark-turquoise: hsla(175, 61%, 23%, 1);
--deep-sea-blue: hsla(205, 70%, 26%, 1);
--dark-royal-blue: hsla(231, 79%, 28%, 1);
--indigo: hsla(263, 88%, 31%, 1);
--darkish-purple: hsla(304, 52%, 34%, 1);
--mulberry: hsla(335, 61%, 37%, 1);
--carmine: hsla(1, 70%, 40%, 1);
--golden-brown: hsla(37, 79%, 43%, 1);
--bile: hsla(65, 88%, 45%, 1);
--leafy-green: hsla(106, 52%, 48%, 1);
--shamrock-green: hsla(135, 61%, 51%, 1);
--aquamarine: hsla(168, 70%, 54%, 1);
--sky-blue: hsla(203, 79%, 57%, 1);
--bright-blue: hsla(230, 88%, 59%, 1);
--amethyst: hsla(263, 52%, 62%, 1);
--pinky-purple: hsla(296, 61%, 65%, 1);
--pale-magenta: hsla(326, 70%, 68%, 1);
--rose-pink: hsla(351, 79%, 71%, 1);
--peach: hsla(30, 88%, 74%, 1);
--beige: hsla(55, 52%, 76%, 1);
--light-sage: hsla(90, 61%, 79%, 1);
--hospital-green: hsla(130, 70%, 82%, 1);
}

/* SCSS HEX */
$pine-green: #184e27ff;
$dark-turquoise: #175e57ff;
$deep-sea-blue: #14496fff;
$dark-royal-blue: #0f2082ff;
$indigo: #3f0a96ff;
$darkish-purple: #842a7fff;
$mulberry: #982554ff;
$carmine: #ac211eff;
$golden-brown: #c28017ff;
$bile: #c7d90eff;
$leafy-green: #59bb3bff;
$shamrock-green: #36ce5dff;
$aquamarine: #37dcb9ff;
$sky-blue: #39a6e8ff;
$bright-blue: #3d5af3ff;
$amethyst: #936dd1ff;
$pinky-purple: #d470dcff;
$pale-magenta: #e674b5ff;
$rose-pink: #ef798cff;
$peach: #f7bc80ff;
$beige: #e2dda3ff;
$light-sage: #caeaaaff;
$hospital-green: #b1f1bcff;

/* SCSS HSL */
$pine-green: hsla(136, 52%, 20%, 1);
$dark-turquoise: hsla(175, 61%, 23%, 1);
$deep-sea-blue: hsla(205, 70%, 26%, 1);
$dark-royal-blue: hsla(231, 79%, 28%, 1);
$indigo: hsla(263, 88%, 31%, 1);
$darkish-purple: hsla(304, 52%, 34%, 1);
$mulberry: hsla(335, 61%, 37%, 1);
$carmine: hsla(1, 70%, 40%, 1);
$golden-brown: hsla(37, 79%, 43%, 1);
$bile: hsla(65, 88%, 45%, 1);
$leafy-green: hsla(106, 52%, 48%, 1);
$shamrock-green: hsla(135, 61%, 51%, 1);
$aquamarine: hsla(168, 70%, 54%, 1);
$sky-blue: hsla(203, 79%, 57%, 1);
$bright-blue: hsla(230, 88%, 59%, 1);
$amethyst: hsla(263, 52%, 62%, 1);
$pinky-purple: hsla(296, 61%, 65%, 1);
$pale-magenta: hsla(326, 70%, 68%, 1);
$rose-pink: hsla(351, 79%, 71%, 1);
$peach: hsla(30, 88%, 74%, 1);
$beige: hsla(55, 52%, 76%, 1);
$light-sage: hsla(90, 61%, 79%, 1);
$hospital-green: hsla(130, 70%, 82%, 1);

/* SCSS RGB */
$pine-green: rgba(24, 78, 39, 1);
$dark-turquoise: rgba(23, 94, 87, 1);
$deep-sea-blue: rgba(20, 73, 111, 1);
$dark-royal-blue: rgba(15, 32, 130, 1);
$indigo: rgba(63, 10, 150, 1);
$darkish-purple: rgba(132, 42, 127, 1);
$mulberry: rgba(152, 37, 84, 1);
$carmine: rgba(172, 33, 30, 1);
$golden-brown: rgba(194, 128, 23, 1);
$bile: rgba(199, 217, 14, 1);
$leafy-green: rgba(89, 187, 59, 1);
$shamrock-green: rgba(54, 206, 93, 1);
$aquamarine: rgba(55, 220, 185, 1);
$sky-blue: rgba(57, 166, 232, 1);
$bright-blue: rgba(61, 90, 243, 1);
$amethyst: rgba(147, 109, 209, 1);
$pinky-purple: rgba(212, 112, 220, 1);
$pale-magenta: rgba(230, 116, 181, 1);
$rose-pink: rgba(239, 121, 140, 1);
$peach: rgba(247, 188, 128, 1);
$beige: rgba(226, 221, 163, 1);
$light-sage: rgba(202, 234, 170, 1);
$hospital-green: rgba(177, 241, 188, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-right: linear-gradient(90deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-bottom: linear-gradient(180deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-left: linear-gradient(270deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-top-right: linear-gradient(45deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-bottom-right: linear-gradient(135deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-top-left: linear-gradient(225deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-bottom-left: linear-gradient(315deg, #184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);
$gradient-radial: radial-gradient(#184e27ff, #175e57ff, #14496fff, #0f2082ff, #3f0a96ff, #842a7fff, #982554ff, #ac211eff, #c28017ff, #c7d90eff, #59bb3bff, #36ce5dff, #37dcb9ff, #39a6e8ff, #3d5af3ff, #936dd1ff, #d470dcff, #e674b5ff, #ef798cff, #f7bc80ff, #e2dda3ff, #caeaaaff, #b1f1bcff);

/* SCSS Map */
$copper-mosaic-23-05-map: (
    "pine-green": #184e27ff,
    "dark-turquoise": #175e57ff,
    "deep-sea-blue": #14496fff,
    "dark-royal-blue": #0f2082ff,
    "indigo": #3f0a96ff,
    "darkish-purple": #842a7fff,
    "mulberry": #982554ff,
    "carmine": #ac211eff,
    "golden-brown": #c28017ff,
    "bile": #c7d90eff,
    "leafy-green": #59bb3bff,
    "shamrock-green": #36ce5dff,
    "aquamarine": #37dcb9ff,
    "sky-blue": #39a6e8ff,
    "bright-blue": #3d5af3ff,
    "amethyst": #936dd1ff,
    "pinky-purple": #d470dcff,
    "pale-magenta": #e674b5ff,
    "rose-pink": #ef798cff,
    "peach": #f7bc80ff,
    "beige": #e2dda3ff,
    "light-sage": #caeaaaff,
    "hospital-green": #b1f1bcff
);
