/*---
id: crimson-span-23-13
name: Crimson Span Compact
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 23
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 23-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #1a110fff;
--very-dark-brown: #261a16ff;
--dark-brown: #35211bff;
--chocolate: #46271dff;
--chocolate-brown: #592a1eff;
--dried-blood: #692c21ff;
--red-brown: #7c3222ff;
--reddish-brown: #903a21ff;
--brick: #a83d1dff;
--rusty-red: #ba371fff;
--tomato: #d53917ff;
--tomato-red: #ec3413ff;
--reddish-orange: #eb5027ff;
--pale-red: #e05d46ff;
--dark-peach: #de755bff;
--blush: #db8772ff;
--pinkish-tan: #de9782ff;
--mushroom: #dda797ff;
--pale-rose: #e0b2a7ff;
--light-rose: #e1c2b9ff;
--very-light-pink: #e7cfc8ff;
--white: #ebdbd7ff;
--off-white: #f0e8e5ff;

/* CSS HSL */
--almost-black: hsla(12, 25%, 8%, 1);
--very-dark-brown: hsla(12, 27%, 12%, 1);
--dark-brown: hsla(12, 32%, 16%, 1);
--chocolate: hsla(12, 41%, 19%, 1);
--chocolate-brown: hsla(12, 50%, 23%, 1);
--dried-blood: hsla(12, 53%, 27%, 1);
--red-brown: hsla(12, 57%, 31%, 1);
--reddish-brown: hsla(12, 63%, 35%, 1);
--brick: hsla(12, 71%, 39%, 1);
--rusty-red: hsla(12, 72%, 42%, 1);
--tomato: hsla(12, 81%, 46%, 1);
--tomato-red: hsla(12, 85%, 50%, 1);
--reddish-orange: hsla(12, 83%, 54%, 1);
--pale-red: hsla(12, 71%, 58%, 1);
--dark-peach: hsla(12, 67%, 61%, 1);
--blush: hsla(12, 60%, 65%, 1);
--pinkish-tan: hsla(12, 58%, 69%, 1);
--mushroom: hsla(12, 51%, 73%, 1);
--pale-rose: hsla(12, 48%, 77%, 1);
--light-rose: hsla(12, 40%, 81%, 1);
--very-light-pink: hsla(12, 39%, 84%, 1);
--white: hsla(12, 34%, 88%, 1);
--off-white: hsla(12, 27%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #1a110fff;
$very-dark-brown: #261a16ff;
$dark-brown: #35211bff;
$chocolate: #46271dff;
$chocolate-brown: #592a1eff;
$dried-blood: #692c21ff;
$red-brown: #7c3222ff;
$reddish-brown: #903a21ff;
$brick: #a83d1dff;
$rusty-red: #ba371fff;
$tomato: #d53917ff;
$tomato-red: #ec3413ff;
$reddish-orange: #eb5027ff;
$pale-red: #e05d46ff;
$dark-peach: #de755bff;
$blush: #db8772ff;
$pinkish-tan: #de9782ff;
$mushroom: #dda797ff;
$pale-rose: #e0b2a7ff;
$light-rose: #e1c2b9ff;
$very-light-pink: #e7cfc8ff;
$white: #ebdbd7ff;
$off-white: #f0e8e5ff;

/* SCSS HSL */
$almost-black: hsla(12, 25%, 8%, 1);
$very-dark-brown: hsla(12, 27%, 12%, 1);
$dark-brown: hsla(12, 32%, 16%, 1);
$chocolate: hsla(12, 41%, 19%, 1);
$chocolate-brown: hsla(12, 50%, 23%, 1);
$dried-blood: hsla(12, 53%, 27%, 1);
$red-brown: hsla(12, 57%, 31%, 1);
$reddish-brown: hsla(12, 63%, 35%, 1);
$brick: hsla(12, 71%, 39%, 1);
$rusty-red: hsla(12, 72%, 42%, 1);
$tomato: hsla(12, 81%, 46%, 1);
$tomato-red: hsla(12, 85%, 50%, 1);
$reddish-orange: hsla(12, 83%, 54%, 1);
$pale-red: hsla(12, 71%, 58%, 1);
$dark-peach: hsla(12, 67%, 61%, 1);
$blush: hsla(12, 60%, 65%, 1);
$pinkish-tan: hsla(12, 58%, 69%, 1);
$mushroom: hsla(12, 51%, 73%, 1);
$pale-rose: hsla(12, 48%, 77%, 1);
$light-rose: hsla(12, 40%, 81%, 1);
$very-light-pink: hsla(12, 39%, 84%, 1);
$white: hsla(12, 34%, 88%, 1);
$off-white: hsla(12, 27%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(26, 17, 15, 1);
$very-dark-brown: rgba(38, 26, 22, 1);
$dark-brown: rgba(53, 33, 27, 1);
$chocolate: rgba(70, 39, 29, 1);
$chocolate-brown: rgba(89, 42, 30, 1);
$dried-blood: rgba(105, 44, 33, 1);
$red-brown: rgba(124, 50, 34, 1);
$reddish-brown: rgba(144, 58, 33, 1);
$brick: rgba(168, 61, 29, 1);
$rusty-red: rgba(186, 55, 31, 1);
$tomato: rgba(213, 57, 23, 1);
$tomato-red: rgba(236, 52, 19, 1);
$reddish-orange: rgba(235, 80, 39, 1);
$pale-red: rgba(224, 93, 70, 1);
$dark-peach: rgba(222, 117, 91, 1);
$blush: rgba(219, 135, 114, 1);
$pinkish-tan: rgba(222, 151, 130, 1);
$mushroom: rgba(221, 167, 151, 1);
$pale-rose: rgba(224, 178, 167, 1);
$light-rose: rgba(225, 194, 185, 1);
$very-light-pink: rgba(231, 207, 200, 1);
$white: rgba(235, 219, 215, 1);
$off-white: rgba(240, 232, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-right: linear-gradient(90deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-bottom: linear-gradient(180deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-left: linear-gradient(270deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-top-right: linear-gradient(45deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-bottom-right: linear-gradient(135deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-top-left: linear-gradient(225deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-bottom-left: linear-gradient(315deg, #1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);
$gradient-radial: radial-gradient(#1a110fff, #261a16ff, #35211bff, #46271dff, #592a1eff, #692c21ff, #7c3222ff, #903a21ff, #a83d1dff, #ba371fff, #d53917ff, #ec3413ff, #eb5027ff, #e05d46ff, #de755bff, #db8772ff, #de9782ff, #dda797ff, #e0b2a7ff, #e1c2b9ff, #e7cfc8ff, #ebdbd7ff, #f0e8e5ff);

/* SCSS Map */
$crimson-span-23-13-map: (
    "almost-black": #1a110fff,
    "very-dark-brown": #261a16ff,
    "dark-brown": #35211bff,
    "chocolate": #46271dff,
    "chocolate-brown": #592a1eff,
    "dried-blood": #692c21ff,
    "red-brown": #7c3222ff,
    "reddish-brown": #903a21ff,
    "brick": #a83d1dff,
    "rusty-red": #ba371fff,
    "tomato": #d53917ff,
    "tomato-red": #ec3413ff,
    "reddish-orange": #eb5027ff,
    "pale-red": #e05d46ff,
    "dark-peach": #de755bff,
    "blush": #db8772ff,
    "pinkish-tan": #de9782ff,
    "mushroom": #dda797ff,
    "pale-rose": #e0b2a7ff,
    "light-rose": #e1c2b9ff,
    "very-light-pink": #e7cfc8ff,
    "white": #ebdbd7ff,
    "off-white": #f0e8e5ff
);
