/*---
id: crystal-sea-411
name: Crystal Sea 411
author: JaZeR-444
version: 1.0.0
category: Modern & Minimalist
count: 23
tags:
  mood:
  - warm
  - calm
  - cool
  aesthetic:
  - Sci-Fi
intent: A vibrant 23-color palette inspired by Crystal Sea 411.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/1e85ac-1a7dbc-1988b3-168db6-1a8fbe-1dabc0-16b3aa-1fc19f-15a68c-18a07c
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--autumn-mauve-1: #1e85acff;
--copper-ember-2: #1a7dbcff;
--neon-mauve-3: #1988b3ff;
--coral-void-4: #168db6ff;
--lime-nebula-5: #1a8fbeff;
--future-pink-6: #1dabc0ff;
--radiant-gold-7: #16b3aaff;
--winter-silver-8: #1fc19fff;
--vintage-apricot-9: #15a68cff;
--olive-forest-10: #18a07cff;
--cyan-snow-11: #129d7eff;
--mauve-river-12: #0e9d4dff;
--cyber-magenta-13: #0ea45eff;
--crimson-oasis-14: #0e9f4aff;
--lilac-quest-15: #17ad46ff;
--bronze-light-16: #0e9238ff;
--copper-pulse-17: #0c9135ff;
--urban-white-18: #0dac37ff;
--plum-path-19: #0c830cff;
--lavender-star-20: #118e20ff;
--red-adventure-21: #12a217ff;
--copper-dream-22: #18a00fff;
--burgundy-jungle-23: #307f09ff;

/* CSS HSL */
--autumn-mauve-1: hsla(196, 70%, 40%, 1);
--copper-ember-2: hsla(203, 75%, 42%, 1);
--neon-mauve-3: hsla(197, 75%, 40%, 1);
--coral-void-4: hsla(195, 78%, 40%, 1);
--lime-nebula-5: hsla(197, 76%, 43%, 1);
--future-pink-6: hsla(188, 73%, 44%, 1);
--radiant-gold-7: hsla(177, 78%, 39%, 1);
--winter-silver-8: hsla(167, 72%, 44%, 1);
--vintage-apricot-9: hsla(169, 77%, 37%, 1);
--olive-forest-10: hsla(164, 73%, 36%, 1);
--cyan-snow-11: hsla(167, 79%, 34%, 1);
--mauve-river-12: hsla(146, 83%, 34%, 1);
--cyber-magenta-13: hsla(152, 84%, 35%, 1);
--crimson-oasis-14: hsla(145, 83%, 34%, 1);
--lilac-quest-15: hsla(139, 76%, 39%, 1);
--bronze-light-16: hsla(139, 82%, 31%, 1);
--copper-pulse-17: hsla(138, 85%, 31%, 1);
--urban-white-18: hsla(136, 85%, 37%, 1);
--plum-path-19: hsla(120, 83%, 28%, 1);
--lavender-star-20: hsla(127, 78%, 31%, 1);
--red-adventure-21: hsla(122, 79%, 35%, 1);
--copper-dream-22: hsla(116, 82%, 35%, 1);
--burgundy-jungle-23: hsla(100, 87%, 27%, 1);
}

/* SCSS HEX */
$autumn-mauve-1: #1e85acff;
$copper-ember-2: #1a7dbcff;
$neon-mauve-3: #1988b3ff;
$coral-void-4: #168db6ff;
$lime-nebula-5: #1a8fbeff;
$future-pink-6: #1dabc0ff;
$radiant-gold-7: #16b3aaff;
$winter-silver-8: #1fc19fff;
$vintage-apricot-9: #15a68cff;
$olive-forest-10: #18a07cff;
$cyan-snow-11: #129d7eff;
$mauve-river-12: #0e9d4dff;
$cyber-magenta-13: #0ea45eff;
$crimson-oasis-14: #0e9f4aff;
$lilac-quest-15: #17ad46ff;
$bronze-light-16: #0e9238ff;
$copper-pulse-17: #0c9135ff;
$urban-white-18: #0dac37ff;
$plum-path-19: #0c830cff;
$lavender-star-20: #118e20ff;
$red-adventure-21: #12a217ff;
$copper-dream-22: #18a00fff;
$burgundy-jungle-23: #307f09ff;

/* SCSS HSL */
$autumn-mauve-1: hsla(196, 70%, 40%, 1);
$copper-ember-2: hsla(203, 75%, 42%, 1);
$neon-mauve-3: hsla(197, 75%, 40%, 1);
$coral-void-4: hsla(195, 78%, 40%, 1);
$lime-nebula-5: hsla(197, 76%, 43%, 1);
$future-pink-6: hsla(188, 73%, 44%, 1);
$radiant-gold-7: hsla(177, 78%, 39%, 1);
$winter-silver-8: hsla(167, 72%, 44%, 1);
$vintage-apricot-9: hsla(169, 77%, 37%, 1);
$olive-forest-10: hsla(164, 73%, 36%, 1);
$cyan-snow-11: hsla(167, 79%, 34%, 1);
$mauve-river-12: hsla(146, 83%, 34%, 1);
$cyber-magenta-13: hsla(152, 84%, 35%, 1);
$crimson-oasis-14: hsla(145, 83%, 34%, 1);
$lilac-quest-15: hsla(139, 76%, 39%, 1);
$bronze-light-16: hsla(139, 82%, 31%, 1);
$copper-pulse-17: hsla(138, 85%, 31%, 1);
$urban-white-18: hsla(136, 85%, 37%, 1);
$plum-path-19: hsla(120, 83%, 28%, 1);
$lavender-star-20: hsla(127, 78%, 31%, 1);
$red-adventure-21: hsla(122, 79%, 35%, 1);
$copper-dream-22: hsla(116, 82%, 35%, 1);
$burgundy-jungle-23: hsla(100, 87%, 27%, 1);

/* SCSS RGB */
$autumn-mauve-1: rgba(30, 133, 172, 1);
$copper-ember-2: rgba(26, 125, 188, 1);
$neon-mauve-3: rgba(25, 136, 179, 1);
$coral-void-4: rgba(22, 141, 182, 1);
$lime-nebula-5: rgba(26, 143, 190, 1);
$future-pink-6: rgba(29, 171, 192, 1);
$radiant-gold-7: rgba(22, 179, 170, 1);
$winter-silver-8: rgba(31, 193, 159, 1);
$vintage-apricot-9: rgba(21, 166, 140, 1);
$olive-forest-10: rgba(24, 160, 124, 1);
$cyan-snow-11: rgba(18, 157, 126, 1);
$mauve-river-12: rgba(14, 157, 77, 1);
$cyber-magenta-13: rgba(14, 164, 94, 1);
$crimson-oasis-14: rgba(14, 159, 74, 1);
$lilac-quest-15: rgba(23, 173, 70, 1);
$bronze-light-16: rgba(14, 146, 56, 1);
$copper-pulse-17: rgba(12, 145, 53, 1);
$urban-white-18: rgba(13, 172, 55, 1);
$plum-path-19: rgba(12, 131, 12, 1);
$lavender-star-20: rgba(17, 142, 32, 1);
$red-adventure-21: rgba(18, 162, 23, 1);
$copper-dream-22: rgba(24, 160, 15, 1);
$burgundy-jungle-23: rgba(48, 127, 9, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-right: linear-gradient(90deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-bottom: linear-gradient(180deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-left: linear-gradient(270deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-top-right: linear-gradient(45deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-bottom-right: linear-gradient(135deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-top-left: linear-gradient(225deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-bottom-left: linear-gradient(315deg, #1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);
$gradient-radial: radial-gradient(#1e85acff, #1a7dbcff, #1988b3ff, #168db6ff, #1a8fbeff, #1dabc0ff, #16b3aaff, #1fc19fff, #15a68cff, #18a07cff, #129d7eff, #0e9d4dff, #0ea45eff, #0e9f4aff, #17ad46ff, #0e9238ff, #0c9135ff, #0dac37ff, #0c830cff, #118e20ff, #12a217ff, #18a00fff, #307f09ff);

/* SCSS Map */
$crystal-sea-411-map: (
    "autumn-mauve-1": #1e85acff,
    "copper-ember-2": #1a7dbcff,
    "neon-mauve-3": #1988b3ff,
    "coral-void-4": #168db6ff,
    "lime-nebula-5": #1a8fbeff,
    "future-pink-6": #1dabc0ff,
    "radiant-gold-7": #16b3aaff,
    "winter-silver-8": #1fc19fff,
    "vintage-apricot-9": #15a68cff,
    "olive-forest-10": #18a07cff,
    "cyan-snow-11": #129d7eff,
    "mauve-river-12": #0e9d4dff,
    "cyber-magenta-13": #0ea45eff,
    "crimson-oasis-14": #0e9f4aff,
    "lilac-quest-15": #17ad46ff,
    "bronze-light-16": #0e9238ff,
    "copper-pulse-17": #0c9135ff,
    "urban-white-18": #0dac37ff,
    "plum-path-19": #0c830cff,
    "lavender-star-20": #118e20ff,
    "red-adventure-21": #12a217ff,
    "copper-dream-22": #18a00fff,
    "burgundy-jungle-23": #307f09ff
);
