/*---
id: ember-mosaic-23-08
name: Ember Mosaic Mini
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 23
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 23-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--chocolate-brown: #4e2218ff;
--green-brown: #5e5317ff;
--mossy-green: #3f6f14ff;
--jungle-green: #0f823eff;
--greenish-blue: #0a9596ff;
--dusk-blue: #2a4a84ff;
--indigo: #4e2598ff;
--barney-purple: #ac1e92ff;
--lipstick-red: #c2172fff;
--browny-orange: #d96c0eff;
--sick-green: #a6bb3bff;
--fresh-green: #4ece36ff;
--light-greenish-blue: #37dc9fff;
--bright-sky-blue: #39c1e8ff;
--purpley-blue: #493df3ff;
--amethyst: #ac6dd1ff;
--pale-magenta: #dc70b0ff;
--peachy-pink: #e68974ff;
--sandy: #efe379ff;
--light-yellowish-green: #b7f780ff;
--hospital-green: #a3e2acff;
--duck-egg-blue: #aaeae2ff;
--powder-blue: #b1cef1ff;

/* CSS HSL */
--chocolate-brown: hsla(11, 52%, 20%, 1);
--green-brown: hsla(51, 61%, 23%, 1);
--mossy-green: hsla(92, 70%, 26%, 1);
--jungle-green: hsla(145, 79%, 28%, 1);
--greenish-blue: hsla(181, 88%, 31%, 1);
--dusk-blue: hsla(218, 52%, 34%, 1);
--indigo: hsla(262, 61%, 37%, 1);
--barney-purple: hsla(311, 70%, 40%, 1);
--lipstick-red: hsla(352, 79%, 43%, 1);
--browny-orange: hsla(28, 88%, 45%, 1);
--sick-green: hsla(70, 52%, 48%, 1);
--fresh-green: hsla(110, 61%, 51%, 1);
--light-greenish-blue: hsla(158, 70%, 54%, 1);
--bright-sky-blue: hsla(193, 79%, 57%, 1);
--purpley-blue: hsla(244, 88%, 59%, 1);
--amethyst: hsla(278, 52%, 62%, 1);
--pale-magenta: hsla(324, 61%, 65%, 1);
--peachy-pink: hsla(11, 70%, 68%, 1);
--sandy: hsla(54, 79%, 71%, 1);
--light-yellowish-green: hsla(92, 88%, 74%, 1);
--hospital-green: hsla(128, 52%, 76%, 1);
--duck-egg-blue: hsla(172, 61%, 79%, 1);
--powder-blue: hsla(213, 70%, 82%, 1);
}

/* SCSS HEX */
$chocolate-brown: #4e2218ff;
$green-brown: #5e5317ff;
$mossy-green: #3f6f14ff;
$jungle-green: #0f823eff;
$greenish-blue: #0a9596ff;
$dusk-blue: #2a4a84ff;
$indigo: #4e2598ff;
$barney-purple: #ac1e92ff;
$lipstick-red: #c2172fff;
$browny-orange: #d96c0eff;
$sick-green: #a6bb3bff;
$fresh-green: #4ece36ff;
$light-greenish-blue: #37dc9fff;
$bright-sky-blue: #39c1e8ff;
$purpley-blue: #493df3ff;
$amethyst: #ac6dd1ff;
$pale-magenta: #dc70b0ff;
$peachy-pink: #e68974ff;
$sandy: #efe379ff;
$light-yellowish-green: #b7f780ff;
$hospital-green: #a3e2acff;
$duck-egg-blue: #aaeae2ff;
$powder-blue: #b1cef1ff;

/* SCSS HSL */
$chocolate-brown: hsla(11, 52%, 20%, 1);
$green-brown: hsla(51, 61%, 23%, 1);
$mossy-green: hsla(92, 70%, 26%, 1);
$jungle-green: hsla(145, 79%, 28%, 1);
$greenish-blue: hsla(181, 88%, 31%, 1);
$dusk-blue: hsla(218, 52%, 34%, 1);
$indigo: hsla(262, 61%, 37%, 1);
$barney-purple: hsla(311, 70%, 40%, 1);
$lipstick-red: hsla(352, 79%, 43%, 1);
$browny-orange: hsla(28, 88%, 45%, 1);
$sick-green: hsla(70, 52%, 48%, 1);
$fresh-green: hsla(110, 61%, 51%, 1);
$light-greenish-blue: hsla(158, 70%, 54%, 1);
$bright-sky-blue: hsla(193, 79%, 57%, 1);
$purpley-blue: hsla(244, 88%, 59%, 1);
$amethyst: hsla(278, 52%, 62%, 1);
$pale-magenta: hsla(324, 61%, 65%, 1);
$peachy-pink: hsla(11, 70%, 68%, 1);
$sandy: hsla(54, 79%, 71%, 1);
$light-yellowish-green: hsla(92, 88%, 74%, 1);
$hospital-green: hsla(128, 52%, 76%, 1);
$duck-egg-blue: hsla(172, 61%, 79%, 1);
$powder-blue: hsla(213, 70%, 82%, 1);

/* SCSS RGB */
$chocolate-brown: rgba(78, 34, 24, 1);
$green-brown: rgba(94, 83, 23, 1);
$mossy-green: rgba(63, 111, 20, 1);
$jungle-green: rgba(15, 130, 62, 1);
$greenish-blue: rgba(10, 149, 150, 1);
$dusk-blue: rgba(42, 74, 132, 1);
$indigo: rgba(78, 37, 152, 1);
$barney-purple: rgba(172, 30, 146, 1);
$lipstick-red: rgba(194, 23, 47, 1);
$browny-orange: rgba(217, 108, 14, 1);
$sick-green: rgba(166, 187, 59, 1);
$fresh-green: rgba(78, 206, 54, 1);
$light-greenish-blue: rgba(55, 220, 159, 1);
$bright-sky-blue: rgba(57, 193, 232, 1);
$purpley-blue: rgba(73, 61, 243, 1);
$amethyst: rgba(172, 109, 209, 1);
$pale-magenta: rgba(220, 112, 176, 1);
$peachy-pink: rgba(230, 137, 116, 1);
$sandy: rgba(239, 227, 121, 1);
$light-yellowish-green: rgba(183, 247, 128, 1);
$hospital-green: rgba(163, 226, 172, 1);
$duck-egg-blue: rgba(170, 234, 226, 1);
$powder-blue: rgba(177, 206, 241, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-right: linear-gradient(90deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-bottom: linear-gradient(180deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-left: linear-gradient(270deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-top-right: linear-gradient(45deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-bottom-right: linear-gradient(135deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-top-left: linear-gradient(225deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-bottom-left: linear-gradient(315deg, #4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);
$gradient-radial: radial-gradient(#4e2218ff, #5e5317ff, #3f6f14ff, #0f823eff, #0a9596ff, #2a4a84ff, #4e2598ff, #ac1e92ff, #c2172fff, #d96c0eff, #a6bb3bff, #4ece36ff, #37dc9fff, #39c1e8ff, #493df3ff, #ac6dd1ff, #dc70b0ff, #e68974ff, #efe379ff, #b7f780ff, #a3e2acff, #aaeae2ff, #b1cef1ff);

/* SCSS Map */
$ember-mosaic-23-08-map: (
    "chocolate-brown": #4e2218ff,
    "green-brown": #5e5317ff,
    "mossy-green": #3f6f14ff,
    "jungle-green": #0f823eff,
    "greenish-blue": #0a9596ff,
    "dusk-blue": #2a4a84ff,
    "indigo": #4e2598ff,
    "barney-purple": #ac1e92ff,
    "lipstick-red": #c2172fff,
    "browny-orange": #d96c0eff,
    "sick-green": #a6bb3bff,
    "fresh-green": #4ece36ff,
    "light-greenish-blue": #37dc9fff,
    "bright-sky-blue": #39c1e8ff,
    "purpley-blue": #493df3ff,
    "amethyst": #ac6dd1ff,
    "pale-magenta": #dc70b0ff,
    "peachy-pink": #e68974ff,
    "sandy": #efe379ff,
    "light-yellowish-green": #b7f780ff,
    "hospital-green": #a3e2acff,
    "duck-egg-blue": #aaeae2ff,
    "powder-blue": #b1cef1ff
);
