/*---
id: glacier-mosaic-23-02
name: Glacier Mosaic Wide
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 23
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 23-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-olive-green: #3c4e18ff;
--deep-green: #1c5e17ff;
--darkish-green: #146f34ff;
--greenish-blue: #0f827fff;
--blueberry: #0a4096ff;
--royal-purple: #472a84ff;
--purple: #7d2598ff;
--deep-magenta: #ac1e6dff;
--rusty-red: #c22e17ff;
--mango: #d98f0eff;
--avocado: #97bb3bff;
--fresh-green: #45ce36ff;
--seaweed: #37dc82ff;
--aqua-blue: #39d4e8ff;
--lightish-blue: #3d75f3ff;
--deep-lavender: #876dd1ff;
--pinky-purple: #d570dcff;
--pink: #e674a8ff;
--peachy-pink: #ef8879ff;
--tan: #f7c680ff;
--light-khaki: #d0e2a3ff;
--light-sage: #afeaaaff;
--pale-turquoise: #b1f1d1ff;

/* CSS HSL */
--dark-olive-green: hsla(79, 52%, 20%, 1);
--deep-green: hsla(115, 61%, 23%, 1);
--darkish-green: hsla(141, 70%, 26%, 1);
--greenish-blue: hsla(178, 79%, 28%, 1);
--blueberry: hsla(217, 88%, 31%, 1);
--royal-purple: hsla(260, 52%, 34%, 1);
--purple: hsla(286, 61%, 37%, 1);
--deep-magenta: hsla(327, 70%, 40%, 1);
--rusty-red: hsla(8, 79%, 43%, 1);
--mango: hsla(38, 88%, 45%, 1);
--avocado: hsla(77, 52%, 48%, 1);
--fresh-green: hsla(114, 61%, 51%, 1);
--seaweed: hsla(147, 70%, 54%, 1);
--aqua-blue: hsla(187, 79%, 57%, 1);
--lightish-blue: hsla(221, 88%, 59%, 1);
--deep-lavender: hsla(256, 52%, 62%, 1);
--pinky-purple: hsla(296, 61%, 65%, 1);
--pink: hsla(333, 70%, 68%, 1);
--peachy-pink: hsla(7, 79%, 71%, 1);
--tan: hsla(35, 88%, 74%, 1);
--light-khaki: hsla(78, 52%, 76%, 1);
--light-sage: hsla(115, 61%, 79%, 1);
--pale-turquoise: hsla(150, 70%, 82%, 1);
}

/* SCSS HEX */
$dark-olive-green: #3c4e18ff;
$deep-green: #1c5e17ff;
$darkish-green: #146f34ff;
$greenish-blue: #0f827fff;
$blueberry: #0a4096ff;
$royal-purple: #472a84ff;
$purple: #7d2598ff;
$deep-magenta: #ac1e6dff;
$rusty-red: #c22e17ff;
$mango: #d98f0eff;
$avocado: #97bb3bff;
$fresh-green: #45ce36ff;
$seaweed: #37dc82ff;
$aqua-blue: #39d4e8ff;
$lightish-blue: #3d75f3ff;
$deep-lavender: #876dd1ff;
$pinky-purple: #d570dcff;
$pink: #e674a8ff;
$peachy-pink: #ef8879ff;
$tan: #f7c680ff;
$light-khaki: #d0e2a3ff;
$light-sage: #afeaaaff;
$pale-turquoise: #b1f1d1ff;

/* SCSS HSL */
$dark-olive-green: hsla(79, 52%, 20%, 1);
$deep-green: hsla(115, 61%, 23%, 1);
$darkish-green: hsla(141, 70%, 26%, 1);
$greenish-blue: hsla(178, 79%, 28%, 1);
$blueberry: hsla(217, 88%, 31%, 1);
$royal-purple: hsla(260, 52%, 34%, 1);
$purple: hsla(286, 61%, 37%, 1);
$deep-magenta: hsla(327, 70%, 40%, 1);
$rusty-red: hsla(8, 79%, 43%, 1);
$mango: hsla(38, 88%, 45%, 1);
$avocado: hsla(77, 52%, 48%, 1);
$fresh-green: hsla(114, 61%, 51%, 1);
$seaweed: hsla(147, 70%, 54%, 1);
$aqua-blue: hsla(187, 79%, 57%, 1);
$lightish-blue: hsla(221, 88%, 59%, 1);
$deep-lavender: hsla(256, 52%, 62%, 1);
$pinky-purple: hsla(296, 61%, 65%, 1);
$pink: hsla(333, 70%, 68%, 1);
$peachy-pink: hsla(7, 79%, 71%, 1);
$tan: hsla(35, 88%, 74%, 1);
$light-khaki: hsla(78, 52%, 76%, 1);
$light-sage: hsla(115, 61%, 79%, 1);
$pale-turquoise: hsla(150, 70%, 82%, 1);

/* SCSS RGB */
$dark-olive-green: rgba(60, 78, 24, 1);
$deep-green: rgba(28, 94, 23, 1);
$darkish-green: rgba(20, 111, 52, 1);
$greenish-blue: rgba(15, 130, 127, 1);
$blueberry: rgba(10, 64, 150, 1);
$royal-purple: rgba(71, 42, 132, 1);
$purple: rgba(125, 37, 152, 1);
$deep-magenta: rgba(172, 30, 109, 1);
$rusty-red: rgba(194, 46, 23, 1);
$mango: rgba(217, 143, 14, 1);
$avocado: rgba(151, 187, 59, 1);
$fresh-green: rgba(69, 206, 54, 1);
$seaweed: rgba(55, 220, 130, 1);
$aqua-blue: rgba(57, 212, 232, 1);
$lightish-blue: rgba(61, 117, 243, 1);
$deep-lavender: rgba(135, 109, 209, 1);
$pinky-purple: rgba(213, 112, 220, 1);
$pink: rgba(230, 116, 168, 1);
$peachy-pink: rgba(239, 136, 121, 1);
$tan: rgba(247, 198, 128, 1);
$light-khaki: rgba(208, 226, 163, 1);
$light-sage: rgba(175, 234, 170, 1);
$pale-turquoise: rgba(177, 241, 209, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-right: linear-gradient(90deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-bottom: linear-gradient(180deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-left: linear-gradient(270deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-top-right: linear-gradient(45deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-bottom-right: linear-gradient(135deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-top-left: linear-gradient(225deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-bottom-left: linear-gradient(315deg, #3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);
$gradient-radial: radial-gradient(#3c4e18ff, #1c5e17ff, #146f34ff, #0f827fff, #0a4096ff, #472a84ff, #7d2598ff, #ac1e6dff, #c22e17ff, #d98f0eff, #97bb3bff, #45ce36ff, #37dc82ff, #39d4e8ff, #3d75f3ff, #876dd1ff, #d570dcff, #e674a8ff, #ef8879ff, #f7c680ff, #d0e2a3ff, #afeaaaff, #b1f1d1ff);

/* SCSS Map */
$glacier-mosaic-23-02-map: (
    "dark-olive-green": #3c4e18ff,
    "deep-green": #1c5e17ff,
    "darkish-green": #146f34ff,
    "greenish-blue": #0f827fff,
    "blueberry": #0a4096ff,
    "royal-purple": #472a84ff,
    "purple": #7d2598ff,
    "deep-magenta": #ac1e6dff,
    "rusty-red": #c22e17ff,
    "mango": #d98f0eff,
    "avocado": #97bb3bff,
    "fresh-green": #45ce36ff,
    "seaweed": #37dc82ff,
    "aqua-blue": #39d4e8ff,
    "lightish-blue": #3d75f3ff,
    "deep-lavender": #876dd1ff,
    "pinky-purple": #d570dcff,
    "pink": #e674a8ff,
    "peachy-pink": #ef8879ff,
    "tan": #f7c680ff,
    "light-khaki": #d0e2a3ff,
    "light-sage": #afeaaaff,
    "pale-turquoise": #b1f1d1ff
);
