/*---
id: indigo-mosaic-23-07
name: Indigo Mosaic Compact
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 23
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 23-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-olive: #434e18ff;
--navy-green: #355e17ff;
--tree-green: #146f14ff;
--jungle-green: #0f8246ff;
--ocean-green: #0a9677ff;
--sea-blue: #2a6a84ff;
--cobalt: #254998ff;
--indigo-blue: #261eacff;
--blue-purple: #5317c2ff;
--vibrant-purple: #c50ed9ff;
--purplish-pink: #bb3b92ff;
--dark-pink: #ce3667ff;
--coral: #dc4d37ff;
--dusty-orange: #e88039ff;
--off-yellow: #f3e73dff;
--light-olive-green: #b9d16dff;
--pistachio: #9ddc70ff;
--baby-green: #74e683ff;
--light-aquamarine: #79efb4ff;
--tiffany-blue: #80f7f0ff;
--cloudy-blue: #a3d3e2ff;
--light-periwinkle: #aabaeaff;
--pastel-blue: #b3b1f1ff;

/* CSS HSL */
--dark-olive: hsla(72, 52%, 20%, 1);
--navy-green: hsla(94, 61%, 23%, 1);
--tree-green: hsla(120, 70%, 26%, 1);
--jungle-green: hsla(149, 79%, 28%, 1);
--ocean-green: hsla(167, 88%, 31%, 1);
--sea-blue: hsla(197, 52%, 34%, 1);
--cobalt: hsla(221, 61%, 37%, 1);
--indigo-blue: hsla(243, 70%, 40%, 1);
--blue-purple: hsla(261, 79%, 43%, 1);
--vibrant-purple: hsla(294, 88%, 45%, 1);
--purplish-pink: hsla(319, 52%, 48%, 1);
--dark-pink: hsla(341, 61%, 51%, 1);
--coral: hsla(8, 70%, 54%, 1);
--dusty-orange: hsla(24, 79%, 57%, 1);
--off-yellow: hsla(56, 88%, 59%, 1);
--light-olive-green: hsla(74, 52%, 62%, 1);
--pistachio: hsla(95, 61%, 65%, 1);
--baby-green: hsla(128, 70%, 68%, 1);
--light-aquamarine: hsla(150, 79%, 71%, 1);
--tiffany-blue: hsla(177, 88%, 74%, 1);
--cloudy-blue: hsla(195, 52%, 76%, 1);
--light-periwinkle: hsla(225, 61%, 79%, 1);
--pastel-blue: hsla(242, 70%, 82%, 1);
}

/* SCSS HEX */
$dark-olive: #434e18ff;
$navy-green: #355e17ff;
$tree-green: #146f14ff;
$jungle-green: #0f8246ff;
$ocean-green: #0a9677ff;
$sea-blue: #2a6a84ff;
$cobalt: #254998ff;
$indigo-blue: #261eacff;
$blue-purple: #5317c2ff;
$vibrant-purple: #c50ed9ff;
$purplish-pink: #bb3b92ff;
$dark-pink: #ce3667ff;
$coral: #dc4d37ff;
$dusty-orange: #e88039ff;
$off-yellow: #f3e73dff;
$light-olive-green: #b9d16dff;
$pistachio: #9ddc70ff;
$baby-green: #74e683ff;
$light-aquamarine: #79efb4ff;
$tiffany-blue: #80f7f0ff;
$cloudy-blue: #a3d3e2ff;
$light-periwinkle: #aabaeaff;
$pastel-blue: #b3b1f1ff;

/* SCSS HSL */
$dark-olive: hsla(72, 52%, 20%, 1);
$navy-green: hsla(94, 61%, 23%, 1);
$tree-green: hsla(120, 70%, 26%, 1);
$jungle-green: hsla(149, 79%, 28%, 1);
$ocean-green: hsla(167, 88%, 31%, 1);
$sea-blue: hsla(197, 52%, 34%, 1);
$cobalt: hsla(221, 61%, 37%, 1);
$indigo-blue: hsla(243, 70%, 40%, 1);
$blue-purple: hsla(261, 79%, 43%, 1);
$vibrant-purple: hsla(294, 88%, 45%, 1);
$purplish-pink: hsla(319, 52%, 48%, 1);
$dark-pink: hsla(341, 61%, 51%, 1);
$coral: hsla(8, 70%, 54%, 1);
$dusty-orange: hsla(24, 79%, 57%, 1);
$off-yellow: hsla(56, 88%, 59%, 1);
$light-olive-green: hsla(74, 52%, 62%, 1);
$pistachio: hsla(95, 61%, 65%, 1);
$baby-green: hsla(128, 70%, 68%, 1);
$light-aquamarine: hsla(150, 79%, 71%, 1);
$tiffany-blue: hsla(177, 88%, 74%, 1);
$cloudy-blue: hsla(195, 52%, 76%, 1);
$light-periwinkle: hsla(225, 61%, 79%, 1);
$pastel-blue: hsla(242, 70%, 82%, 1);

/* SCSS RGB */
$dark-olive: rgba(67, 78, 24, 1);
$navy-green: rgba(53, 94, 23, 1);
$tree-green: rgba(20, 111, 20, 1);
$jungle-green: rgba(15, 130, 70, 1);
$ocean-green: rgba(10, 150, 119, 1);
$sea-blue: rgba(42, 106, 132, 1);
$cobalt: rgba(37, 73, 152, 1);
$indigo-blue: rgba(38, 30, 172, 1);
$blue-purple: rgba(83, 23, 194, 1);
$vibrant-purple: rgba(197, 14, 217, 1);
$purplish-pink: rgba(187, 59, 146, 1);
$dark-pink: rgba(206, 54, 103, 1);
$coral: rgba(220, 77, 55, 1);
$dusty-orange: rgba(232, 128, 57, 1);
$off-yellow: rgba(243, 231, 61, 1);
$light-olive-green: rgba(185, 209, 109, 1);
$pistachio: rgba(157, 220, 112, 1);
$baby-green: rgba(116, 230, 131, 1);
$light-aquamarine: rgba(121, 239, 180, 1);
$tiffany-blue: rgba(128, 247, 240, 1);
$cloudy-blue: rgba(163, 211, 226, 1);
$light-periwinkle: rgba(170, 186, 234, 1);
$pastel-blue: rgba(179, 177, 241, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-right: linear-gradient(90deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-bottom: linear-gradient(180deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-left: linear-gradient(270deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-top-right: linear-gradient(45deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-bottom-right: linear-gradient(135deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-top-left: linear-gradient(225deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-bottom-left: linear-gradient(315deg, #434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);
$gradient-radial: radial-gradient(#434e18ff, #355e17ff, #146f14ff, #0f8246ff, #0a9677ff, #2a6a84ff, #254998ff, #261eacff, #5317c2ff, #c50ed9ff, #bb3b92ff, #ce3667ff, #dc4d37ff, #e88039ff, #f3e73dff, #b9d16dff, #9ddc70ff, #74e683ff, #79efb4ff, #80f7f0ff, #a3d3e2ff, #aabaeaff, #b3b1f1ff);

/* SCSS Map */
$indigo-mosaic-23-07-map: (
    "dark-olive": #434e18ff,
    "navy-green": #355e17ff,
    "tree-green": #146f14ff,
    "jungle-green": #0f8246ff,
    "ocean-green": #0a9677ff,
    "sea-blue": #2a6a84ff,
    "cobalt": #254998ff,
    "indigo-blue": #261eacff,
    "blue-purple": #5317c2ff,
    "vibrant-purple": #c50ed9ff,
    "purplish-pink": #bb3b92ff,
    "dark-pink": #ce3667ff,
    "coral": #dc4d37ff,
    "dusty-orange": #e88039ff,
    "off-yellow": #f3e73dff,
    "light-olive-green": #b9d16dff,
    "pistachio": #9ddc70ff,
    "baby-green": #74e683ff,
    "light-aquamarine": #79efb4ff,
    "tiffany-blue": #80f7f0ff,
    "cloudy-blue": #a3d3e2ff,
    "light-periwinkle": #aabaeaff,
    "pastel-blue": #b3b1f1ff
);
