/*---
id: sage-mosaic-23-06
name: Sage Mosaic Slim
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 23
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 23-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--forrest-green: #254e18ff;
--spruce: #175e35ff;
--petrol: #145c6fff;
--dark-royal-blue: #0f2282ff;
--indigo: #4b0a96ff;
--rich-purple: #842a71ff;
--brownish-red: #982625ff;
--caramel: #ac751eff;
--dark-lime: #93c217ff;
--vibrant-green: #0ed91eff;
--greeny-blue: #3bbb98ff;
--water-blue: #3688ceff;
--blue-purple: #5b37dcff;
--heliotrope: #d139e8ff;
--barbie-pink: #f33d93ff;
--pinkish-tan: #d1856dff;
--sand: #dccd70ff;
--pistachio: #a3e674ff;
--light-blue-green: #79efa9ff;
--robin-egg-blue: #80f7f5ff;
--powder-blue: #a3b9e2ff;
--light-violet: #caaaeaff;
--light-lavendar: #f1b1e7ff;

/* CSS HSL */
--forrest-green: hsla(106, 52%, 20%, 1);
--spruce: hsla(146, 61%, 23%, 1);
--petrol: hsla(193, 70%, 26%, 1);
--dark-royal-blue: hsla(230, 79%, 28%, 1);
--indigo: hsla(268, 88%, 31%, 1);
--rich-purple: hsla(312, 52%, 34%, 1);
--brownish-red: hsla(1, 61%, 37%, 1);
--caramel: hsla(37, 70%, 40%, 1);
--dark-lime: hsla(77, 79%, 43%, 1);
--vibrant-green: hsla(125, 88%, 45%, 1);
--greeny-blue: hsla(164, 52%, 48%, 1);
--water-blue: hsla(208, 61%, 51%, 1);
--blue-purple: hsla(253, 70%, 54%, 1);
--heliotrope: hsla(292, 79%, 57%, 1);
--barbie-pink: hsla(332, 88%, 59%, 1);
--pinkish-tan: hsla(15, 52%, 62%, 1);
--sand: hsla(52, 61%, 65%, 1);
--pistachio: hsla(95, 70%, 68%, 1);
--light-blue-green: hsla(144, 79%, 71%, 1);
--robin-egg-blue: hsla(179, 88%, 74%, 1);
--powder-blue: hsla(220, 52%, 76%, 1);
--light-violet: hsla(270, 61%, 79%, 1);
--light-lavendar: hsla(310, 70%, 82%, 1);
}

/* SCSS HEX */
$forrest-green: #254e18ff;
$spruce: #175e35ff;
$petrol: #145c6fff;
$dark-royal-blue: #0f2282ff;
$indigo: #4b0a96ff;
$rich-purple: #842a71ff;
$brownish-red: #982625ff;
$caramel: #ac751eff;
$dark-lime: #93c217ff;
$vibrant-green: #0ed91eff;
$greeny-blue: #3bbb98ff;
$water-blue: #3688ceff;
$blue-purple: #5b37dcff;
$heliotrope: #d139e8ff;
$barbie-pink: #f33d93ff;
$pinkish-tan: #d1856dff;
$sand: #dccd70ff;
$pistachio: #a3e674ff;
$light-blue-green: #79efa9ff;
$robin-egg-blue: #80f7f5ff;
$powder-blue: #a3b9e2ff;
$light-violet: #caaaeaff;
$light-lavendar: #f1b1e7ff;

/* SCSS HSL */
$forrest-green: hsla(106, 52%, 20%, 1);
$spruce: hsla(146, 61%, 23%, 1);
$petrol: hsla(193, 70%, 26%, 1);
$dark-royal-blue: hsla(230, 79%, 28%, 1);
$indigo: hsla(268, 88%, 31%, 1);
$rich-purple: hsla(312, 52%, 34%, 1);
$brownish-red: hsla(1, 61%, 37%, 1);
$caramel: hsla(37, 70%, 40%, 1);
$dark-lime: hsla(77, 79%, 43%, 1);
$vibrant-green: hsla(125, 88%, 45%, 1);
$greeny-blue: hsla(164, 52%, 48%, 1);
$water-blue: hsla(208, 61%, 51%, 1);
$blue-purple: hsla(253, 70%, 54%, 1);
$heliotrope: hsla(292, 79%, 57%, 1);
$barbie-pink: hsla(332, 88%, 59%, 1);
$pinkish-tan: hsla(15, 52%, 62%, 1);
$sand: hsla(52, 61%, 65%, 1);
$pistachio: hsla(95, 70%, 68%, 1);
$light-blue-green: hsla(144, 79%, 71%, 1);
$robin-egg-blue: hsla(179, 88%, 74%, 1);
$powder-blue: hsla(220, 52%, 76%, 1);
$light-violet: hsla(270, 61%, 79%, 1);
$light-lavendar: hsla(310, 70%, 82%, 1);

/* SCSS RGB */
$forrest-green: rgba(37, 78, 24, 1);
$spruce: rgba(23, 94, 53, 1);
$petrol: rgba(20, 92, 111, 1);
$dark-royal-blue: rgba(15, 34, 130, 1);
$indigo: rgba(75, 10, 150, 1);
$rich-purple: rgba(132, 42, 113, 1);
$brownish-red: rgba(152, 38, 37, 1);
$caramel: rgba(172, 117, 30, 1);
$dark-lime: rgba(147, 194, 23, 1);
$vibrant-green: rgba(14, 217, 30, 1);
$greeny-blue: rgba(59, 187, 152, 1);
$water-blue: rgba(54, 136, 206, 1);
$blue-purple: rgba(91, 55, 220, 1);
$heliotrope: rgba(209, 57, 232, 1);
$barbie-pink: rgba(243, 61, 147, 1);
$pinkish-tan: rgba(209, 133, 109, 1);
$sand: rgba(220, 205, 112, 1);
$pistachio: rgba(163, 230, 116, 1);
$light-blue-green: rgba(121, 239, 169, 1);
$robin-egg-blue: rgba(128, 247, 245, 1);
$powder-blue: rgba(163, 185, 226, 1);
$light-violet: rgba(202, 170, 234, 1);
$light-lavendar: rgba(241, 177, 231, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-right: linear-gradient(90deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-bottom: linear-gradient(180deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-left: linear-gradient(270deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-top-right: linear-gradient(45deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-bottom-right: linear-gradient(135deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-top-left: linear-gradient(225deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-bottom-left: linear-gradient(315deg, #254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);
$gradient-radial: radial-gradient(#254e18ff, #175e35ff, #145c6fff, #0f2282ff, #4b0a96ff, #842a71ff, #982625ff, #ac751eff, #93c217ff, #0ed91eff, #3bbb98ff, #3688ceff, #5b37dcff, #d139e8ff, #f33d93ff, #d1856dff, #dccd70ff, #a3e674ff, #79efa9ff, #80f7f5ff, #a3b9e2ff, #caaaeaff, #f1b1e7ff);

/* SCSS Map */
$sage-mosaic-23-06-map: (
    "forrest-green": #254e18ff,
    "spruce": #175e35ff,
    "petrol": #145c6fff,
    "dark-royal-blue": #0f2282ff,
    "indigo": #4b0a96ff,
    "rich-purple": #842a71ff,
    "brownish-red": #982625ff,
    "caramel": #ac751eff,
    "dark-lime": #93c217ff,
    "vibrant-green": #0ed91eff,
    "greeny-blue": #3bbb98ff,
    "water-blue": #3688ceff,
    "blue-purple": #5b37dcff,
    "heliotrope": #d139e8ff,
    "barbie-pink": #f33d93ff,
    "pinkish-tan": #d1856dff,
    "sand": #dccd70ff,
    "pistachio": #a3e674ff,
    "light-blue-green": #79efa9ff,
    "robin-egg-blue": #80f7f5ff,
    "powder-blue": #a3b9e2ff,
    "light-violet": #caaaeaff,
    "light-lavendar": #f1b1e7ff
);
