/*---
id: citrus-mosaic-16-05
name: Citrus Mosaic 16-05
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 16
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 16-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #4e1837ff;
--tone-02: #63181fff;
--tone-03: #7b4916ff;
--tone-04: #947c11ff;
--tone-05: #7eaf0bff;
--tone-06: #449e32ff;
--tone-07: #2db865ff;
--tone-08: #25d4b2ff;
--tone-09: #29c7e6ff;
--tone-10: #3277f2ff;
--tone-11: #8069d0ff;
--tone-12: #b271ddff;
--tone-13: #e87be1ff;
--tone-14: #f187b6ff;
--tone-15: #f8a295ff;
--tone-16: #e9d3b9ff;

/* CSS HSL */
--tone-01: hsla(325, 52%, 20%, 1);
--tone-02: hsla(354, 61%, 24%, 1);
--tone-03: hsla(30, 70%, 28%, 1);
--tone-04: hsla(49, 79%, 32%, 1);
--tone-05: hsla(78, 88%, 37%, 1);
--tone-06: hsla(110, 52%, 41%, 1);
--tone-07: hsla(144, 61%, 45%, 1);
--tone-08: hsla(168, 70%, 49%, 1);
--tone-09: hsla(190, 79%, 53%, 1);
--tone-10: hsla(218, 88%, 57%, 1);
--tone-11: hsla(253, 52%, 61%, 1);
--tone-12: hsla(276, 61%, 65%, 1);
--tone-13: hsla(304, 70%, 70%, 1);
--tone-14: hsla(333, 79%, 74%, 1);
--tone-15: hsla(8, 88%, 78%, 1);
--tone-16: hsla(32, 52%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #4e1837ff;
$tone-02: #63181fff;
$tone-03: #7b4916ff;
$tone-04: #947c11ff;
$tone-05: #7eaf0bff;
$tone-06: #449e32ff;
$tone-07: #2db865ff;
$tone-08: #25d4b2ff;
$tone-09: #29c7e6ff;
$tone-10: #3277f2ff;
$tone-11: #8069d0ff;
$tone-12: #b271ddff;
$tone-13: #e87be1ff;
$tone-14: #f187b6ff;
$tone-15: #f8a295ff;
$tone-16: #e9d3b9ff;

/* SCSS HSL */
$tone-01: hsla(325, 52%, 20%, 1);
$tone-02: hsla(354, 61%, 24%, 1);
$tone-03: hsla(30, 70%, 28%, 1);
$tone-04: hsla(49, 79%, 32%, 1);
$tone-05: hsla(78, 88%, 37%, 1);
$tone-06: hsla(110, 52%, 41%, 1);
$tone-07: hsla(144, 61%, 45%, 1);
$tone-08: hsla(168, 70%, 49%, 1);
$tone-09: hsla(190, 79%, 53%, 1);
$tone-10: hsla(218, 88%, 57%, 1);
$tone-11: hsla(253, 52%, 61%, 1);
$tone-12: hsla(276, 61%, 65%, 1);
$tone-13: hsla(304, 70%, 70%, 1);
$tone-14: hsla(333, 79%, 74%, 1);
$tone-15: hsla(8, 88%, 78%, 1);
$tone-16: hsla(32, 52%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(78, 24, 55, 1);
$tone-02: rgba(99, 24, 31, 1);
$tone-03: rgba(123, 73, 22, 1);
$tone-04: rgba(148, 124, 17, 1);
$tone-05: rgba(126, 175, 11, 1);
$tone-06: rgba(68, 158, 50, 1);
$tone-07: rgba(45, 184, 101, 1);
$tone-08: rgba(37, 212, 178, 1);
$tone-09: rgba(41, 199, 230, 1);
$tone-10: rgba(50, 119, 242, 1);
$tone-11: rgba(128, 105, 208, 1);
$tone-12: rgba(178, 113, 221, 1);
$tone-13: rgba(232, 123, 225, 1);
$tone-14: rgba(241, 135, 182, 1);
$tone-15: rgba(248, 162, 149, 1);
$tone-16: rgba(233, 211, 185, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-right: linear-gradient(90deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-bottom: linear-gradient(180deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-left: linear-gradient(270deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-top-right: linear-gradient(45deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-bottom-right: linear-gradient(135deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-top-left: linear-gradient(225deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-bottom-left: linear-gradient(315deg, #4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);
$gradient-radial: radial-gradient(#4e1837ff, #63181fff, #7b4916ff, #947c11ff, #7eaf0bff, #449e32ff, #2db865ff, #25d4b2ff, #29c7e6ff, #3277f2ff, #8069d0ff, #b271ddff, #e87be1ff, #f187b6ff, #f8a295ff, #e9d3b9ff);

/* SCSS Map */
$citrus-mosaic-16-05-map: (
    "tone-01": #4e1837ff,
    "tone-02": #63181fff,
    "tone-03": #7b4916ff,
    "tone-04": #947c11ff,
    "tone-05": #7eaf0bff,
    "tone-06": #449e32ff,
    "tone-07": #2db865ff,
    "tone-08": #25d4b2ff,
    "tone-09": #29c7e6ff,
    "tone-10": #3277f2ff,
    "tone-11": #8069d0ff,
    "tone-12": #b271ddff,
    "tone-13": #e87be1ff,
    "tone-14": #f187b6ff,
    "tone-15": #f8a295ff,
    "tone-16": #e9d3b9ff
);
