/*---
id: harbor-mosaic-16-06
name: Harbor Mosaic Micro
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 16
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 16-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--navy-blue: #21184eff;
--plum-purple: #491863ff;
--darkish-purple: #7b166fff;
--red-wine: #941131ff;
--darkish-red: #af1e0bff;
--hazel: #9e7f32ff;
--sick-green: #90b82dff;
--toxic-green: #41d425ff;
--spearmint: #29e656ff;
--aqua-marine: #32f2c9ff;
--sky: #69afd0ff;
--dark-periwinkle: #7471ddff;
--light-purple: #af7be8ff;
--lavender-pink: #f187ebff;
--pink: #f895cbff;
--pale-rose: #e9bbb9ff;

/* CSS HSL */
--navy-blue: hsla(249, 52%, 20%, 1);
--plum-purple: hsla(279, 61%, 24%, 1);
--darkish-purple: hsla(307, 70%, 28%, 1);
--red-wine: hsla(346, 79%, 32%, 1);
--darkish-red: hsla(7, 88%, 37%, 1);
--hazel: hsla(43, 52%, 41%, 1);
--sick-green: hsla(77, 61%, 45%, 1);
--toxic-green: hsla(110, 70%, 49%, 1);
--spearmint: hsla(134, 79%, 53%, 1);
--aqua-marine: hsla(167, 88%, 57%, 1);
--sky: hsla(199, 52%, 61%, 1);
--dark-periwinkle: hsla(241, 61%, 65%, 1);
--light-purple: hsla(269, 70%, 70%, 1);
--lavender-pink: hsla(303, 79%, 74%, 1);
--pink: hsla(327, 88%, 78%, 1);
--pale-rose: hsla(2, 52%, 82%, 1);
}

/* SCSS HEX */
$navy-blue: #21184eff;
$plum-purple: #491863ff;
$darkish-purple: #7b166fff;
$red-wine: #941131ff;
$darkish-red: #af1e0bff;
$hazel: #9e7f32ff;
$sick-green: #90b82dff;
$toxic-green: #41d425ff;
$spearmint: #29e656ff;
$aqua-marine: #32f2c9ff;
$sky: #69afd0ff;
$dark-periwinkle: #7471ddff;
$light-purple: #af7be8ff;
$lavender-pink: #f187ebff;
$pink: #f895cbff;
$pale-rose: #e9bbb9ff;

/* SCSS HSL */
$navy-blue: hsla(249, 52%, 20%, 1);
$plum-purple: hsla(279, 61%, 24%, 1);
$darkish-purple: hsla(307, 70%, 28%, 1);
$red-wine: hsla(346, 79%, 32%, 1);
$darkish-red: hsla(7, 88%, 37%, 1);
$hazel: hsla(43, 52%, 41%, 1);
$sick-green: hsla(77, 61%, 45%, 1);
$toxic-green: hsla(110, 70%, 49%, 1);
$spearmint: hsla(134, 79%, 53%, 1);
$aqua-marine: hsla(167, 88%, 57%, 1);
$sky: hsla(199, 52%, 61%, 1);
$dark-periwinkle: hsla(241, 61%, 65%, 1);
$light-purple: hsla(269, 70%, 70%, 1);
$lavender-pink: hsla(303, 79%, 74%, 1);
$pink: hsla(327, 88%, 78%, 1);
$pale-rose: hsla(2, 52%, 82%, 1);

/* SCSS RGB */
$navy-blue: rgba(33, 24, 78, 1);
$plum-purple: rgba(73, 24, 99, 1);
$darkish-purple: rgba(123, 22, 111, 1);
$red-wine: rgba(148, 17, 49, 1);
$darkish-red: rgba(175, 30, 11, 1);
$hazel: rgba(158, 127, 50, 1);
$sick-green: rgba(144, 184, 45, 1);
$toxic-green: rgba(65, 212, 37, 1);
$spearmint: rgba(41, 230, 86, 1);
$aqua-marine: rgba(50, 242, 201, 1);
$sky: rgba(105, 175, 208, 1);
$dark-periwinkle: rgba(116, 113, 221, 1);
$light-purple: rgba(175, 123, 232, 1);
$lavender-pink: rgba(241, 135, 235, 1);
$pink: rgba(248, 149, 203, 1);
$pale-rose: rgba(233, 187, 185, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-right: linear-gradient(90deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-bottom: linear-gradient(180deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-left: linear-gradient(270deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-top-right: linear-gradient(45deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-bottom-right: linear-gradient(135deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-top-left: linear-gradient(225deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-bottom-left: linear-gradient(315deg, #21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);
$gradient-radial: radial-gradient(#21184eff, #491863ff, #7b166fff, #941131ff, #af1e0bff, #9e7f32ff, #90b82dff, #41d425ff, #29e656ff, #32f2c9ff, #69afd0ff, #7471ddff, #af7be8ff, #f187ebff, #f895cbff, #e9bbb9ff);

/* SCSS Map */
$harbor-mosaic-16-06-map: (
    "navy-blue": #21184eff,
    "plum-purple": #491863ff,
    "darkish-purple": #7b166fff,
    "red-wine": #941131ff,
    "darkish-red": #af1e0bff,
    "hazel": #9e7f32ff,
    "sick-green": #90b82dff,
    "toxic-green": #41d425ff,
    "spearmint": #29e656ff,
    "aqua-marine": #32f2c9ff,
    "sky": #69afd0ff,
    "dark-periwinkle": #7471ddff,
    "light-purple": #af7be8ff,
    "lavender-pink": #f187ebff,
    "pink": #f895cbff,
    "pale-rose": #e9bbb9ff
);
