/*---
id: honey-span-16-10
name: Honey Span Micro
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 16
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 16-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #191610ff;
--dark-brown: #2e2818ff;
--mud-brown: #463a1cff;
--green-brown: #5e5121ff;
--mud: #7c6620ff;
--hazel: #997c1eff;
--yellowy-brown: #b88c1cff;
--burnt-yellow: #d7ae1aff;
--gold: #edbc21ff;
--macaroni-and-cheese: #e1b549ff;
--sand: #e0bc67ff;
--tan: #dfc984ff;
--beige: #dccea3ff;
--pale: #e3dbb9ff;
--very-light-pink: #e7e1d2ff;
--white: #f0ede6ff;

/* CSS HSL */
--almost-black: hsla(45, 21%, 8%, 1);
--dark-brown: hsla(45, 32%, 14%, 1);
--mud-brown: hsla(45, 44%, 19%, 1);
--green-brown: hsla(45, 49%, 25%, 1);
--mud: hsla(45, 59%, 30%, 1);
--hazel: hsla(45, 67%, 36%, 1);
--yellowy-brown: hsla(45, 73%, 42%, 1);
--burnt-yellow: hsla(45, 79%, 47%, 1);
--gold: hsla(45, 85%, 53%, 1);
--macaroni-and-cheese: hsla(45, 72%, 58%, 1);
--sand: hsla(45, 66%, 64%, 1);
--tan: hsla(45, 59%, 70%, 1);
--beige: hsla(45, 45%, 75%, 1);
--pale: hsla(45, 43%, 81%, 1);
--very-light-pink: hsla(45, 30%, 86%, 1);
--white: hsla(45, 24%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #191610ff;
$dark-brown: #2e2818ff;
$mud-brown: #463a1cff;
$green-brown: #5e5121ff;
$mud: #7c6620ff;
$hazel: #997c1eff;
$yellowy-brown: #b88c1cff;
$burnt-yellow: #d7ae1aff;
$gold: #edbc21ff;
$macaroni-and-cheese: #e1b549ff;
$sand: #e0bc67ff;
$tan: #dfc984ff;
$beige: #dccea3ff;
$pale: #e3dbb9ff;
$very-light-pink: #e7e1d2ff;
$white: #f0ede6ff;

/* SCSS HSL */
$almost-black: hsla(45, 21%, 8%, 1);
$dark-brown: hsla(45, 32%, 14%, 1);
$mud-brown: hsla(45, 44%, 19%, 1);
$green-brown: hsla(45, 49%, 25%, 1);
$mud: hsla(45, 59%, 30%, 1);
$hazel: hsla(45, 67%, 36%, 1);
$yellowy-brown: hsla(45, 73%, 42%, 1);
$burnt-yellow: hsla(45, 79%, 47%, 1);
$gold: hsla(45, 85%, 53%, 1);
$macaroni-and-cheese: hsla(45, 72%, 58%, 1);
$sand: hsla(45, 66%, 64%, 1);
$tan: hsla(45, 59%, 70%, 1);
$beige: hsla(45, 45%, 75%, 1);
$pale: hsla(45, 43%, 81%, 1);
$very-light-pink: hsla(45, 30%, 86%, 1);
$white: hsla(45, 24%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(25, 22, 16, 1);
$dark-brown: rgba(46, 40, 24, 1);
$mud-brown: rgba(70, 58, 28, 1);
$green-brown: rgba(94, 81, 33, 1);
$mud: rgba(124, 102, 32, 1);
$hazel: rgba(153, 124, 30, 1);
$yellowy-brown: rgba(184, 140, 28, 1);
$burnt-yellow: rgba(215, 174, 26, 1);
$gold: rgba(237, 188, 33, 1);
$macaroni-and-cheese: rgba(225, 181, 73, 1);
$sand: rgba(224, 188, 103, 1);
$tan: rgba(223, 201, 132, 1);
$beige: rgba(220, 206, 163, 1);
$pale: rgba(227, 219, 185, 1);
$very-light-pink: rgba(231, 225, 210, 1);
$white: rgba(240, 237, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-right: linear-gradient(90deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-bottom: linear-gradient(180deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-left: linear-gradient(270deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-top-right: linear-gradient(45deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-bottom-right: linear-gradient(135deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-top-left: linear-gradient(225deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-bottom-left: linear-gradient(315deg, #191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);
$gradient-radial: radial-gradient(#191610ff, #2e2818ff, #463a1cff, #5e5121ff, #7c6620ff, #997c1eff, #b88c1cff, #d7ae1aff, #edbc21ff, #e1b549ff, #e0bc67ff, #dfc984ff, #dccea3ff, #e3dbb9ff, #e7e1d2ff, #f0ede6ff);

/* SCSS Map */
$honey-span-16-10-map: (
    "almost-black": #191610ff,
    "dark-brown": #2e2818ff,
    "mud-brown": #463a1cff,
    "green-brown": #5e5121ff,
    "mud": #7c6620ff,
    "hazel": #997c1eff,
    "yellowy-brown": #b88c1cff,
    "burnt-yellow": #d7ae1aff,
    "gold": #edbc21ff,
    "macaroni-and-cheese": #e1b549ff,
    "sand": #e0bc67ff,
    "tan": #dfc984ff,
    "beige": #dccea3ff,
    "pale": #e3dbb9ff,
    "very-light-pink": #e7e1d2ff,
    "white": #f0ede6ff
);
