/*---
id: metro-mosaic-16-01
name: Metro Mosaic Mini
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 16
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 16-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--navy-blue: #181a4eff;
--dark-indigo: #371863ff;
--royal-purple: #62167bff;
--warm-purple: #94117eff;
--violet-red: #af0b5cff;
--dusty-red: #9e3239ff;
--terra-cotta: #b84f2dff;
--yellow-ochre: #d4a025ff;
--off-yellow: #dbe629ff;
--lime: #90f232ff;
--turtle-green: #73d069ff;
--light-sea-green: #71dd9aff;
--tiffany-blue: #7be8ceff;
--robins-egg-blue: #87d9f1ff;
--pastel-blue: #95b9f8ff;
--light-periwinkle: #b9bce9ff;

/* CSS HSL */
--navy-blue: hsla(238, 52%, 20%, 1);
--dark-indigo: hsla(265, 61%, 24%, 1);
--royal-purple: hsla(285, 70%, 28%, 1);
--warm-purple: hsla(310, 79%, 32%, 1);
--violet-red: hsla(330, 88%, 37%, 1);
--dusty-red: hsla(356, 52%, 41%, 1);
--terra-cotta: hsla(15, 61%, 45%, 1);
--yellow-ochre: hsla(42, 70%, 49%, 1);
--off-yellow: hsla(63, 79%, 53%, 1);
--lime: hsla(91, 88%, 57%, 1);
--turtle-green: hsla(114, 52%, 61%, 1);
--light-sea-green: hsla(143, 61%, 65%, 1);
--tiffany-blue: hsla(166, 70%, 70%, 1);
--robins-egg-blue: hsla(194, 79%, 74%, 1);
--pastel-blue: hsla(218, 88%, 78%, 1);
--light-periwinkle: hsla(236, 52%, 82%, 1);
}

/* SCSS HEX */
$navy-blue: #181a4eff;
$dark-indigo: #371863ff;
$royal-purple: #62167bff;
$warm-purple: #94117eff;
$violet-red: #af0b5cff;
$dusty-red: #9e3239ff;
$terra-cotta: #b84f2dff;
$yellow-ochre: #d4a025ff;
$off-yellow: #dbe629ff;
$lime: #90f232ff;
$turtle-green: #73d069ff;
$light-sea-green: #71dd9aff;
$tiffany-blue: #7be8ceff;
$robins-egg-blue: #87d9f1ff;
$pastel-blue: #95b9f8ff;
$light-periwinkle: #b9bce9ff;

/* SCSS HSL */
$navy-blue: hsla(238, 52%, 20%, 1);
$dark-indigo: hsla(265, 61%, 24%, 1);
$royal-purple: hsla(285, 70%, 28%, 1);
$warm-purple: hsla(310, 79%, 32%, 1);
$violet-red: hsla(330, 88%, 37%, 1);
$dusty-red: hsla(356, 52%, 41%, 1);
$terra-cotta: hsla(15, 61%, 45%, 1);
$yellow-ochre: hsla(42, 70%, 49%, 1);
$off-yellow: hsla(63, 79%, 53%, 1);
$lime: hsla(91, 88%, 57%, 1);
$turtle-green: hsla(114, 52%, 61%, 1);
$light-sea-green: hsla(143, 61%, 65%, 1);
$tiffany-blue: hsla(166, 70%, 70%, 1);
$robins-egg-blue: hsla(194, 79%, 74%, 1);
$pastel-blue: hsla(218, 88%, 78%, 1);
$light-periwinkle: hsla(236, 52%, 82%, 1);

/* SCSS RGB */
$navy-blue: rgba(24, 26, 78, 1);
$dark-indigo: rgba(55, 24, 99, 1);
$royal-purple: rgba(98, 22, 123, 1);
$warm-purple: rgba(148, 17, 126, 1);
$violet-red: rgba(175, 11, 92, 1);
$dusty-red: rgba(158, 50, 57, 1);
$terra-cotta: rgba(184, 79, 45, 1);
$yellow-ochre: rgba(212, 160, 37, 1);
$off-yellow: rgba(219, 230, 41, 1);
$lime: rgba(144, 242, 50, 1);
$turtle-green: rgba(115, 208, 105, 1);
$light-sea-green: rgba(113, 221, 154, 1);
$tiffany-blue: rgba(123, 232, 206, 1);
$robins-egg-blue: rgba(135, 217, 241, 1);
$pastel-blue: rgba(149, 185, 248, 1);
$light-periwinkle: rgba(185, 188, 233, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-right: linear-gradient(90deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-bottom: linear-gradient(180deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-left: linear-gradient(270deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-top-right: linear-gradient(45deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-bottom-right: linear-gradient(135deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-top-left: linear-gradient(225deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-bottom-left: linear-gradient(315deg, #181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);
$gradient-radial: radial-gradient(#181a4eff, #371863ff, #62167bff, #94117eff, #af0b5cff, #9e3239ff, #b84f2dff, #d4a025ff, #dbe629ff, #90f232ff, #73d069ff, #71dd9aff, #7be8ceff, #87d9f1ff, #95b9f8ff, #b9bce9ff);

/* SCSS Map */
$metro-mosaic-16-01-map: (
    "navy-blue": #181a4eff,
    "dark-indigo": #371863ff,
    "royal-purple": #62167bff,
    "warm-purple": #94117eff,
    "violet-red": #af0b5cff,
    "dusty-red": #9e3239ff,
    "terra-cotta": #b84f2dff,
    "yellow-ochre": #d4a025ff,
    "off-yellow": #dbe629ff,
    "lime": #90f232ff,
    "turtle-green": #73d069ff,
    "light-sea-green": #71dd9aff,
    "tiffany-blue": #7be8ceff,
    "robins-egg-blue": #87d9f1ff,
    "pastel-blue": #95b9f8ff,
    "light-periwinkle": #b9bce9ff
);
