/*---
id: nebula-mosaic-16-04
name: Nebula Mosaic Micro
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 16
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 16-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-olive: #4e4518ff;
--forest: #2f6318ff;
--darkish-green: #167b2cff;
--greenish-blue: #119491ff;
--sapphire: #0b3dafff;
--iris: #53329eff;
--purpley-pink: #b82dafff;
--lipstick: #d42556ff;
--light-orange: #e69029ff;
--yellowy-green: #bcf232ff;
--turtle-green: #76d069ff;
--light-turquoise: #71ddb3ff;
--light-blue: #7bc4e8ff;
--periwinkle-blue: #878ff1ff;
--baby-purple: #d195f8ff;
--baby-pink: #e9b9d7ff;

/* CSS HSL */
--dark-olive: hsla(51, 52%, 20%, 1);
--forest: hsla(102, 61%, 24%, 1);
--darkish-green: hsla(133, 70%, 28%, 1);
--greenish-blue: hsla(179, 79%, 32%, 1);
--sapphire: hsla(222, 88%, 37%, 1);
--iris: hsla(259, 52%, 41%, 1);
--purpley-pink: hsla(304, 61%, 45%, 1);
--lipstick: hsla(343, 70%, 49%, 1);
--light-orange: hsla(33, 79%, 53%, 1);
--yellowy-green: hsla(77, 88%, 57%, 1);
--turtle-green: hsla(112, 52%, 61%, 1);
--light-turquoise: hsla(157, 61%, 65%, 1);
--light-blue: hsla(200, 70%, 70%, 1);
--periwinkle-blue: hsla(236, 79%, 74%, 1);
--baby-purple: hsla(276, 88%, 78%, 1);
--baby-pink: hsla(323, 52%, 82%, 1);
}

/* SCSS HEX */
$dark-olive: #4e4518ff;
$forest: #2f6318ff;
$darkish-green: #167b2cff;
$greenish-blue: #119491ff;
$sapphire: #0b3dafff;
$iris: #53329eff;
$purpley-pink: #b82dafff;
$lipstick: #d42556ff;
$light-orange: #e69029ff;
$yellowy-green: #bcf232ff;
$turtle-green: #76d069ff;
$light-turquoise: #71ddb3ff;
$light-blue: #7bc4e8ff;
$periwinkle-blue: #878ff1ff;
$baby-purple: #d195f8ff;
$baby-pink: #e9b9d7ff;

/* SCSS HSL */
$dark-olive: hsla(51, 52%, 20%, 1);
$forest: hsla(102, 61%, 24%, 1);
$darkish-green: hsla(133, 70%, 28%, 1);
$greenish-blue: hsla(179, 79%, 32%, 1);
$sapphire: hsla(222, 88%, 37%, 1);
$iris: hsla(259, 52%, 41%, 1);
$purpley-pink: hsla(304, 61%, 45%, 1);
$lipstick: hsla(343, 70%, 49%, 1);
$light-orange: hsla(33, 79%, 53%, 1);
$yellowy-green: hsla(77, 88%, 57%, 1);
$turtle-green: hsla(112, 52%, 61%, 1);
$light-turquoise: hsla(157, 61%, 65%, 1);
$light-blue: hsla(200, 70%, 70%, 1);
$periwinkle-blue: hsla(236, 79%, 74%, 1);
$baby-purple: hsla(276, 88%, 78%, 1);
$baby-pink: hsla(323, 52%, 82%, 1);

/* SCSS RGB */
$dark-olive: rgba(78, 69, 24, 1);
$forest: rgba(47, 99, 24, 1);
$darkish-green: rgba(22, 123, 44, 1);
$greenish-blue: rgba(17, 148, 145, 1);
$sapphire: rgba(11, 61, 175, 1);
$iris: rgba(83, 50, 158, 1);
$purpley-pink: rgba(184, 45, 175, 1);
$lipstick: rgba(212, 37, 86, 1);
$light-orange: rgba(230, 144, 41, 1);
$yellowy-green: rgba(188, 242, 50, 1);
$turtle-green: rgba(118, 208, 105, 1);
$light-turquoise: rgba(113, 221, 179, 1);
$light-blue: rgba(123, 196, 232, 1);
$periwinkle-blue: rgba(135, 143, 241, 1);
$baby-purple: rgba(209, 149, 248, 1);
$baby-pink: rgba(233, 185, 215, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-right: linear-gradient(90deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-bottom: linear-gradient(180deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-left: linear-gradient(270deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-top-right: linear-gradient(45deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-bottom-right: linear-gradient(135deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-top-left: linear-gradient(225deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-bottom-left: linear-gradient(315deg, #4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);
$gradient-radial: radial-gradient(#4e4518ff, #2f6318ff, #167b2cff, #119491ff, #0b3dafff, #53329eff, #b82dafff, #d42556ff, #e69029ff, #bcf232ff, #76d069ff, #71ddb3ff, #7bc4e8ff, #878ff1ff, #d195f8ff, #e9b9d7ff);

/* SCSS Map */
$nebula-mosaic-16-04-map: (
    "dark-olive": #4e4518ff,
    "forest": #2f6318ff,
    "darkish-green": #167b2cff,
    "greenish-blue": #119491ff,
    "sapphire": #0b3dafff,
    "iris": #53329eff,
    "purpley-pink": #b82dafff,
    "lipstick": #d42556ff,
    "light-orange": #e69029ff,
    "yellowy-green": #bcf232ff,
    "turtle-green": #76d069ff,
    "light-turquoise": #71ddb3ff,
    "light-blue": #7bc4e8ff,
    "periwinkle-blue": #878ff1ff,
    "baby-purple": #d195f8ff,
    "baby-pink": #e9b9d7ff
);
