/*---
id: fintech-interface-map-15-20
name: Fintech Interface Map 15-20
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 15
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 15-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #2f3137ff;
--bg-elevated: #4a5059ff;
--bg-overlay: #646b7dff;
--border-subtle: #80879dff;
--border-strong: #a2a7b9ff;
--text-muted: #c4c9d4ff;
--text-base: #e7e9eeff;
--primary: #295999ff;
--primary-hover: #9027c4ff;
--secondary: #31e397ff;
--secondary-hover: #f0b24cff;
--accent: #df9586ff;
--accent-soft: #207ca2ff;
--success: #ce1c84ff;

/* CSS HSL */
--bg-canvas: hsla(217, 6%, 8%, 1);
--bg-surface: hsla(227, 8%, 20%, 1);
--bg-elevated: hsla(217, 9%, 32%, 1);
--bg-overlay: hsla(222, 11%, 44%, 1);
--border-subtle: hsla(227, 13%, 56%, 1);
--border-strong: hsla(225, 15%, 68%, 1);
--text-muted: hsla(220, 16%, 80%, 1);
--text-base: hsla(220, 18%, 92%, 1);
--primary: hsla(214, 58%, 38%, 1);
--primary-hover: hsla(280, 67%, 46%, 1);
--secondary: hsla(154, 76%, 54%, 1);
--secondary-hover: hsla(37, 85%, 62%, 1);
--accent: hsla(10, 58%, 70%, 1);
--accent-soft: hsla(198, 67%, 38%, 1);
--success: hsla(325, 76%, 46%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #2f3137ff;
$bg-elevated: #4a5059ff;
$bg-overlay: #646b7dff;
$border-subtle: #80879dff;
$border-strong: #a2a7b9ff;
$text-muted: #c4c9d4ff;
$text-base: #e7e9eeff;
$primary: #295999ff;
$primary-hover: #9027c4ff;
$secondary: #31e397ff;
$secondary-hover: #f0b24cff;
$accent: #df9586ff;
$accent-soft: #207ca2ff;
$success: #ce1c84ff;

/* SCSS HSL */
$bg-canvas: hsla(217, 6%, 8%, 1);
$bg-surface: hsla(227, 8%, 20%, 1);
$bg-elevated: hsla(217, 9%, 32%, 1);
$bg-overlay: hsla(222, 11%, 44%, 1);
$border-subtle: hsla(227, 13%, 56%, 1);
$border-strong: hsla(225, 15%, 68%, 1);
$text-muted: hsla(220, 16%, 80%, 1);
$text-base: hsla(220, 18%, 92%, 1);
$primary: hsla(214, 58%, 38%, 1);
$primary-hover: hsla(280, 67%, 46%, 1);
$secondary: hsla(154, 76%, 54%, 1);
$secondary-hover: hsla(37, 85%, 62%, 1);
$accent: hsla(10, 58%, 70%, 1);
$accent-soft: hsla(198, 67%, 38%, 1);
$success: hsla(325, 76%, 46%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(47, 49, 55, 1);
$bg-elevated: rgba(74, 80, 89, 1);
$bg-overlay: rgba(100, 107, 125, 1);
$border-subtle: rgba(128, 135, 157, 1);
$border-strong: rgba(162, 167, 185, 1);
$text-muted: rgba(196, 201, 212, 1);
$text-base: rgba(231, 233, 238, 1);
$primary: rgba(41, 89, 153, 1);
$primary-hover: rgba(144, 39, 196, 1);
$secondary: rgba(49, 227, 151, 1);
$secondary-hover: rgba(240, 178, 76, 1);
$accent: rgba(223, 149, 134, 1);
$accent-soft: rgba(32, 124, 162, 1);
$success: rgba(206, 28, 132, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-right: linear-gradient(90deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-left: linear-gradient(270deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);
$gradient-radial: radial-gradient(#131416ff, #2f3137ff, #4a5059ff, #646b7dff, #80879dff, #a2a7b9ff, #c4c9d4ff, #e7e9eeff, #295999ff, #9027c4ff, #31e397ff, #f0b24cff, #df9586ff, #207ca2ff, #ce1c84ff);

/* SCSS Map */
$fintech-interface-map-15-20-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #2f3137ff,
    "bg-elevated": #4a5059ff,
    "bg-overlay": #646b7dff,
    "border-subtle": #80879dff,
    "border-strong": #a2a7b9ff,
    "text-muted": #c4c9d4ff,
    "text-base": #e7e9eeff,
    "primary": #295999ff,
    "primary-hover": #9027c4ff,
    "secondary": #31e397ff,
    "secondary-hover": #f0b24cff,
    "accent": #df9586ff,
    "accent-soft": #207ca2ff,
    "success": #ce1c84ff
);
