/*---
id: citrus-mosaic-33-04
name: Citrus Mosaic Large
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 33
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 33-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--navy-blue: #181d4eff;
--dark-indigo: #38165aff;
--grape-purple: #67124dff;
--reddy-brown: #760e14ff;
--muddy-brown: #856108ff;
--swamp: #5a7324ff;
--tree-green: #25821fff;
--viridian: #1a9169ff;
--bluish: #1365a2ff;
--ultramarine: #140bb3ff;
--purple: #7e3099ff;
--dark-fuchsia: #aa2964ff;
--rusty-red: #bb3b21ff;
--bile: #cecb18ff;
--green-apple: #56e20eff;
--shamrock: #3cbe5cff;
--turquoise-blue: #36c0ceff;
--cornflower-blue: #336ddbff;
--bluish-purple: #8e31e7ff;
--fuchsia: #f230e1ff;
--rose: #cd5f6aff;
--camel: #d89d5eff;
--light-yellow-green: #c1e25dff;
--lightish-green: #73ec5dff;
--aqua-marine: #5ef5caff;
--light-blue: #85b6d8ff;
--periwinkle-blue: #9185e2ff;
--baby-purple: #c887eaff;
--pink: #f189c2ff;
--light-salmon: #f8a48dff;
--beige: #e4ddaaff;
--light-sage: #c9ebadff;
--pale-turquoise: #b1f1c5ff;

/* CSS HSL */
--navy-blue: hsla(235, 52%, 20%, 1);
--dark-indigo: hsla(270, 61%, 22%, 1);
--grape-purple: hsla(319, 70%, 24%, 1);
--reddy-brown: hsla(356, 79%, 26%, 1);
--muddy-brown: hsla(43, 88%, 28%, 1);
--swamp: hsla(79, 52%, 30%, 1);
--tree-green: hsla(116, 61%, 32%, 1);
--viridian: hsla(160, 70%, 34%, 1);
--bluish: hsla(205, 79%, 36%, 1);
--ultramarine: hsla(243, 88%, 37%, 1);
--purple: hsla(284, 52%, 39%, 1);
--dark-fuchsia: hsla(333, 61%, 41%, 1);
--rusty-red: hsla(10, 70%, 43%, 1);
--bile: hsla(59, 79%, 45%, 1);
--green-apple: hsla(100, 88%, 47%, 1);
--shamrock: hsla(135, 52%, 49%, 1);
--turquoise-blue: hsla(185, 61%, 51%, 1);
--cornflower-blue: hsla(219, 70%, 53%, 1);
--bluish-purple: hsla(271, 79%, 55%, 1);
--fuchsia: hsla(305, 88%, 57%, 1);
--rose: hsla(354, 52%, 59%, 1);
--camel: hsla(31, 61%, 61%, 1);
--light-yellow-green: hsla(75, 70%, 63%, 1);
--lightish-green: hsla(111, 79%, 65%, 1);
--aqua-marine: hsla(163, 88%, 66%, 1);
--light-blue: hsla(204, 52%, 68%, 1);
--periwinkle-blue: hsla(247, 61%, 70%, 1);
--baby-purple: hsla(279, 70%, 72%, 1);
--pink: hsla(327, 79%, 74%, 1);
--light-salmon: hsla(13, 88%, 76%, 1);
--beige: hsla(53, 52%, 78%, 1);
--light-sage: hsla(93, 61%, 80%, 1);
--pale-turquoise: hsla(139, 70%, 82%, 1);
}

/* SCSS HEX */
$navy-blue: #181d4eff;
$dark-indigo: #38165aff;
$grape-purple: #67124dff;
$reddy-brown: #760e14ff;
$muddy-brown: #856108ff;
$swamp: #5a7324ff;
$tree-green: #25821fff;
$viridian: #1a9169ff;
$bluish: #1365a2ff;
$ultramarine: #140bb3ff;
$purple: #7e3099ff;
$dark-fuchsia: #aa2964ff;
$rusty-red: #bb3b21ff;
$bile: #cecb18ff;
$green-apple: #56e20eff;
$shamrock: #3cbe5cff;
$turquoise-blue: #36c0ceff;
$cornflower-blue: #336ddbff;
$bluish-purple: #8e31e7ff;
$fuchsia: #f230e1ff;
$rose: #cd5f6aff;
$camel: #d89d5eff;
$light-yellow-green: #c1e25dff;
$lightish-green: #73ec5dff;
$aqua-marine: #5ef5caff;
$light-blue: #85b6d8ff;
$periwinkle-blue: #9185e2ff;
$baby-purple: #c887eaff;
$pink: #f189c2ff;
$light-salmon: #f8a48dff;
$beige: #e4ddaaff;
$light-sage: #c9ebadff;
$pale-turquoise: #b1f1c5ff;

/* SCSS HSL */
$navy-blue: hsla(235, 52%, 20%, 1);
$dark-indigo: hsla(270, 61%, 22%, 1);
$grape-purple: hsla(319, 70%, 24%, 1);
$reddy-brown: hsla(356, 79%, 26%, 1);
$muddy-brown: hsla(43, 88%, 28%, 1);
$swamp: hsla(79, 52%, 30%, 1);
$tree-green: hsla(116, 61%, 32%, 1);
$viridian: hsla(160, 70%, 34%, 1);
$bluish: hsla(205, 79%, 36%, 1);
$ultramarine: hsla(243, 88%, 37%, 1);
$purple: hsla(284, 52%, 39%, 1);
$dark-fuchsia: hsla(333, 61%, 41%, 1);
$rusty-red: hsla(10, 70%, 43%, 1);
$bile: hsla(59, 79%, 45%, 1);
$green-apple: hsla(100, 88%, 47%, 1);
$shamrock: hsla(135, 52%, 49%, 1);
$turquoise-blue: hsla(185, 61%, 51%, 1);
$cornflower-blue: hsla(219, 70%, 53%, 1);
$bluish-purple: hsla(271, 79%, 55%, 1);
$fuchsia: hsla(305, 88%, 57%, 1);
$rose: hsla(354, 52%, 59%, 1);
$camel: hsla(31, 61%, 61%, 1);
$light-yellow-green: hsla(75, 70%, 63%, 1);
$lightish-green: hsla(111, 79%, 65%, 1);
$aqua-marine: hsla(163, 88%, 66%, 1);
$light-blue: hsla(204, 52%, 68%, 1);
$periwinkle-blue: hsla(247, 61%, 70%, 1);
$baby-purple: hsla(279, 70%, 72%, 1);
$pink: hsla(327, 79%, 74%, 1);
$light-salmon: hsla(13, 88%, 76%, 1);
$beige: hsla(53, 52%, 78%, 1);
$light-sage: hsla(93, 61%, 80%, 1);
$pale-turquoise: hsla(139, 70%, 82%, 1);

/* SCSS RGB */
$navy-blue: rgba(24, 29, 78, 1);
$dark-indigo: rgba(56, 22, 90, 1);
$grape-purple: rgba(103, 18, 77, 1);
$reddy-brown: rgba(118, 14, 20, 1);
$muddy-brown: rgba(133, 97, 8, 1);
$swamp: rgba(90, 115, 36, 1);
$tree-green: rgba(37, 130, 31, 1);
$viridian: rgba(26, 145, 105, 1);
$bluish: rgba(19, 101, 162, 1);
$ultramarine: rgba(20, 11, 179, 1);
$purple: rgba(126, 48, 153, 1);
$dark-fuchsia: rgba(170, 41, 100, 1);
$rusty-red: rgba(187, 59, 33, 1);
$bile: rgba(206, 203, 24, 1);
$green-apple: rgba(86, 226, 14, 1);
$shamrock: rgba(60, 190, 92, 1);
$turquoise-blue: rgba(54, 192, 206, 1);
$cornflower-blue: rgba(51, 109, 219, 1);
$bluish-purple: rgba(142, 49, 231, 1);
$fuchsia: rgba(242, 48, 225, 1);
$rose: rgba(205, 95, 106, 1);
$camel: rgba(216, 157, 94, 1);
$light-yellow-green: rgba(193, 226, 93, 1);
$lightish-green: rgba(115, 236, 93, 1);
$aqua-marine: rgba(94, 245, 202, 1);
$light-blue: rgba(133, 182, 216, 1);
$periwinkle-blue: rgba(145, 133, 226, 1);
$baby-purple: rgba(200, 135, 234, 1);
$pink: rgba(241, 137, 194, 1);
$light-salmon: rgba(248, 164, 141, 1);
$beige: rgba(228, 221, 170, 1);
$light-sage: rgba(201, 235, 173, 1);
$pale-turquoise: rgba(177, 241, 197, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-right: linear-gradient(90deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-bottom: linear-gradient(180deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-left: linear-gradient(270deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-top-right: linear-gradient(45deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-bottom-right: linear-gradient(135deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-top-left: linear-gradient(225deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-bottom-left: linear-gradient(315deg, #181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);
$gradient-radial: radial-gradient(#181d4eff, #38165aff, #67124dff, #760e14ff, #856108ff, #5a7324ff, #25821fff, #1a9169ff, #1365a2ff, #140bb3ff, #7e3099ff, #aa2964ff, #bb3b21ff, #cecb18ff, #56e20eff, #3cbe5cff, #36c0ceff, #336ddbff, #8e31e7ff, #f230e1ff, #cd5f6aff, #d89d5eff, #c1e25dff, #73ec5dff, #5ef5caff, #85b6d8ff, #9185e2ff, #c887eaff, #f189c2ff, #f8a48dff, #e4ddaaff, #c9ebadff, #b1f1c5ff);

/* SCSS Map */
$citrus-mosaic-33-04-map: (
    "navy-blue": #181d4eff,
    "dark-indigo": #38165aff,
    "grape-purple": #67124dff,
    "reddy-brown": #760e14ff,
    "muddy-brown": #856108ff,
    "swamp": #5a7324ff,
    "tree-green": #25821fff,
    "viridian": #1a9169ff,
    "bluish": #1365a2ff,
    "ultramarine": #140bb3ff,
    "purple": #7e3099ff,
    "dark-fuchsia": #aa2964ff,
    "rusty-red": #bb3b21ff,
    "bile": #cecb18ff,
    "green-apple": #56e20eff,
    "shamrock": #3cbe5cff,
    "turquoise-blue": #36c0ceff,
    "cornflower-blue": #336ddbff,
    "bluish-purple": #8e31e7ff,
    "fuchsia": #f230e1ff,
    "rose": #cd5f6aff,
    "camel": #d89d5eff,
    "light-yellow-green": #c1e25dff,
    "lightish-green": #73ec5dff,
    "aqua-marine": #5ef5caff,
    "light-blue": #85b6d8ff,
    "periwinkle-blue": #9185e2ff,
    "baby-purple": #c887eaff,
    "pink": #f189c2ff,
    "light-salmon": #f8a48dff,
    "beige": #e4ddaaff,
    "light-sage": #c9ebadff,
    "pale-turquoise": #b1f1c5ff
);
