/*---
id: violet-span-33-12
name: Violet Span Large
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 33
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 33-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #170f19ff;
--dark: #1f1422ff;
--eggplant: #28172cff;
--aubergine: #311a37ff;
--dark-purple: #381c42ff;
--eggplant-purple: #431d4fff;
--deep-violet: #4a1f5aff;
--plum-purple: #551f67ff;
--darkish-purple: #601f75ff;
--royal-purple: #6e2180ff;
--purple: #771f8fff;
--barney-purple: #821da0ff;
--barney: #861cadff;
--lightish-purple: #9c1abcff;
--vibrant-purple: #9919cbff;
--hot-purple: #b215dcff;
--neon-purple: #c20ff0ff;
--heliotrope: #bd26e6ff;
--bright-lilac: #bd36e4ff;
--bright-lavender: #c445e2ff;
--pinkish-purple: #c753e2ff;
--light-purple: #be62e0ff;
--amethyst: #c074dbff;
--orchid: #c57fdeff;
--lavender: #cb8dddff;
--pale-purple: #ce9addff;
--light-violet: #d5a4e1ff;
--light-lilac: #d7b3dfff;
--pale-lavender: #d9bce4ff;
--very-light-purple: #e0c7e6ff;
--light-pink: #e3d3e8ff;
--very-light-pink: #e8dcecff;
--white: #eee5f0ff;

/* CSS HSL */
--almost-black: hsla(286, 25%, 8%, 1);
--dark: hsla(286, 26%, 11%, 1);
--eggplant: hsla(286, 32%, 13%, 1);
--aubergine: hsla(286, 36%, 16%, 1);
--dark-purple: hsla(286, 40%, 18%, 1);
--eggplant-purple: hsla(286, 47%, 21%, 1);
--deep-violet: hsla(286, 48%, 24%, 1);
--plum-purple: hsla(286, 53%, 26%, 1);
--darkish-purple: hsla(286, 59%, 29%, 1);
--royal-purple: hsla(286, 59%, 32%, 1);
--purple: hsla(286, 64%, 34%, 1);
--barney-purple: hsla(286, 70%, 37%, 1);
--barney: hsla(286, 72%, 40%, 1);
--lightish-purple: hsla(286, 75%, 42%, 1);
--vibrant-purple: hsla(286, 78%, 45%, 1);
--hot-purple: hsla(286, 83%, 47%, 1);
--neon-purple: hsla(286, 88%, 50%, 1);
--heliotrope: hsla(286, 80%, 53%, 1);
--bright-lilac: hsla(286, 76%, 55%, 1);
--bright-lavender: hsla(286, 73%, 58%, 1);
--pinkish-purple: hsla(286, 71%, 60%, 1);
--light-purple: hsla(286, 67%, 63%, 1);
--amethyst: hsla(286, 59%, 66%, 1);
--orchid: hsla(286, 59%, 68%, 1);
--lavender: hsla(286, 54%, 71%, 1);
--pale-purple: hsla(286, 50%, 74%, 1);
--light-violet: hsla(286, 50%, 76%, 1);
--light-lilac: hsla(286, 41%, 79%, 1);
--pale-lavender: hsla(286, 43%, 82%, 1);
--very-light-purple: hsla(286, 38%, 84%, 1);
--light-pink: hsla(286, 31%, 87%, 1);
--very-light-pink: hsla(286, 31%, 89%, 1);
--white: hsla(286, 27%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #170f19ff;
$dark: #1f1422ff;
$eggplant: #28172cff;
$aubergine: #311a37ff;
$dark-purple: #381c42ff;
$eggplant-purple: #431d4fff;
$deep-violet: #4a1f5aff;
$plum-purple: #551f67ff;
$darkish-purple: #601f75ff;
$royal-purple: #6e2180ff;
$purple: #771f8fff;
$barney-purple: #821da0ff;
$barney: #861cadff;
$lightish-purple: #9c1abcff;
$vibrant-purple: #9919cbff;
$hot-purple: #b215dcff;
$neon-purple: #c20ff0ff;
$heliotrope: #bd26e6ff;
$bright-lilac: #bd36e4ff;
$bright-lavender: #c445e2ff;
$pinkish-purple: #c753e2ff;
$light-purple: #be62e0ff;
$amethyst: #c074dbff;
$orchid: #c57fdeff;
$lavender: #cb8dddff;
$pale-purple: #ce9addff;
$light-violet: #d5a4e1ff;
$light-lilac: #d7b3dfff;
$pale-lavender: #d9bce4ff;
$very-light-purple: #e0c7e6ff;
$light-pink: #e3d3e8ff;
$very-light-pink: #e8dcecff;
$white: #eee5f0ff;

/* SCSS HSL */
$almost-black: hsla(286, 25%, 8%, 1);
$dark: hsla(286, 26%, 11%, 1);
$eggplant: hsla(286, 32%, 13%, 1);
$aubergine: hsla(286, 36%, 16%, 1);
$dark-purple: hsla(286, 40%, 18%, 1);
$eggplant-purple: hsla(286, 47%, 21%, 1);
$deep-violet: hsla(286, 48%, 24%, 1);
$plum-purple: hsla(286, 53%, 26%, 1);
$darkish-purple: hsla(286, 59%, 29%, 1);
$royal-purple: hsla(286, 59%, 32%, 1);
$purple: hsla(286, 64%, 34%, 1);
$barney-purple: hsla(286, 70%, 37%, 1);
$barney: hsla(286, 72%, 40%, 1);
$lightish-purple: hsla(286, 75%, 42%, 1);
$vibrant-purple: hsla(286, 78%, 45%, 1);
$hot-purple: hsla(286, 83%, 47%, 1);
$neon-purple: hsla(286, 88%, 50%, 1);
$heliotrope: hsla(286, 80%, 53%, 1);
$bright-lilac: hsla(286, 76%, 55%, 1);
$bright-lavender: hsla(286, 73%, 58%, 1);
$pinkish-purple: hsla(286, 71%, 60%, 1);
$light-purple: hsla(286, 67%, 63%, 1);
$amethyst: hsla(286, 59%, 66%, 1);
$orchid: hsla(286, 59%, 68%, 1);
$lavender: hsla(286, 54%, 71%, 1);
$pale-purple: hsla(286, 50%, 74%, 1);
$light-violet: hsla(286, 50%, 76%, 1);
$light-lilac: hsla(286, 41%, 79%, 1);
$pale-lavender: hsla(286, 43%, 82%, 1);
$very-light-purple: hsla(286, 38%, 84%, 1);
$light-pink: hsla(286, 31%, 87%, 1);
$very-light-pink: hsla(286, 31%, 89%, 1);
$white: hsla(286, 27%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(23, 15, 25, 1);
$dark: rgba(31, 20, 34, 1);
$eggplant: rgba(40, 23, 44, 1);
$aubergine: rgba(49, 26, 55, 1);
$dark-purple: rgba(56, 28, 66, 1);
$eggplant-purple: rgba(67, 29, 79, 1);
$deep-violet: rgba(74, 31, 90, 1);
$plum-purple: rgba(85, 31, 103, 1);
$darkish-purple: rgba(96, 31, 117, 1);
$royal-purple: rgba(110, 33, 128, 1);
$purple: rgba(119, 31, 143, 1);
$barney-purple: rgba(130, 29, 160, 1);
$barney: rgba(134, 28, 173, 1);
$lightish-purple: rgba(156, 26, 188, 1);
$vibrant-purple: rgba(153, 25, 203, 1);
$hot-purple: rgba(178, 21, 220, 1);
$neon-purple: rgba(194, 15, 240, 1);
$heliotrope: rgba(189, 38, 230, 1);
$bright-lilac: rgba(189, 54, 228, 1);
$bright-lavender: rgba(196, 69, 226, 1);
$pinkish-purple: rgba(199, 83, 226, 1);
$light-purple: rgba(190, 98, 224, 1);
$amethyst: rgba(192, 116, 219, 1);
$orchid: rgba(197, 127, 222, 1);
$lavender: rgba(203, 141, 221, 1);
$pale-purple: rgba(206, 154, 221, 1);
$light-violet: rgba(213, 164, 225, 1);
$light-lilac: rgba(215, 179, 223, 1);
$pale-lavender: rgba(217, 188, 228, 1);
$very-light-purple: rgba(224, 199, 230, 1);
$light-pink: rgba(227, 211, 232, 1);
$very-light-pink: rgba(232, 220, 236, 1);
$white: rgba(238, 229, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-right: linear-gradient(90deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-bottom: linear-gradient(180deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-left: linear-gradient(270deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-top-right: linear-gradient(45deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-bottom-right: linear-gradient(135deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-top-left: linear-gradient(225deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-bottom-left: linear-gradient(315deg, #170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);
$gradient-radial: radial-gradient(#170f19ff, #1f1422ff, #28172cff, #311a37ff, #381c42ff, #431d4fff, #4a1f5aff, #551f67ff, #601f75ff, #6e2180ff, #771f8fff, #821da0ff, #861cadff, #9c1abcff, #9919cbff, #b215dcff, #c20ff0ff, #bd26e6ff, #bd36e4ff, #c445e2ff, #c753e2ff, #be62e0ff, #c074dbff, #c57fdeff, #cb8dddff, #ce9addff, #d5a4e1ff, #d7b3dfff, #d9bce4ff, #e0c7e6ff, #e3d3e8ff, #e8dcecff, #eee5f0ff);

/* SCSS Map */
$violet-span-33-12-map: (
    "almost-black": #170f19ff,
    "dark": #1f1422ff,
    "eggplant": #28172cff,
    "aubergine": #311a37ff,
    "dark-purple": #381c42ff,
    "eggplant-purple": #431d4fff,
    "deep-violet": #4a1f5aff,
    "plum-purple": #551f67ff,
    "darkish-purple": #601f75ff,
    "royal-purple": #6e2180ff,
    "purple": #771f8fff,
    "barney-purple": #821da0ff,
    "barney": #861cadff,
    "lightish-purple": #9c1abcff,
    "vibrant-purple": #9919cbff,
    "hot-purple": #b215dcff,
    "neon-purple": #c20ff0ff,
    "heliotrope": #bd26e6ff,
    "bright-lilac": #bd36e4ff,
    "bright-lavender": #c445e2ff,
    "pinkish-purple": #c753e2ff,
    "light-purple": #be62e0ff,
    "amethyst": #c074dbff,
    "orchid": #c57fdeff,
    "lavender": #cb8dddff,
    "pale-purple": #ce9addff,
    "light-violet": #d5a4e1ff,
    "light-lilac": #d7b3dfff,
    "pale-lavender": #d9bce4ff,
    "very-light-purple": #e0c7e6ff,
    "light-pink": #e3d3e8ff,
    "very-light-pink": #e8dcecff,
    "white": #eee5f0ff
);
