/*---
id: cosmic-mountain-531
name: Cosmic Mountain
author: JaZeR-444
version: 1.0.0
category: Space & Cosmic
count: 34
tags:
  mood:
  - playful
  aesthetic:
  - Modern
  - Vintage
  - Space
intent: A vibrant 34-color palette inspired by Cosmic Mountain 531.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/d887cd-cc63a7-cc56bf-cb64b4-ca59a5-cc5391-c85a9e-cb5e9c-c85680-d05e8f
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--light-red: #d887cdff;
--lavender-day: #cc63a7ff;
--autumn-ruby: #cc56bfff;
--crystal-mauve: #cb64b4ff;
--sapphire-city: #ca59a5ff;
--glow-cream: #cc5391ff;
--jade-moon: #c85a9eff;
--cyan-river: #cb5e9cff;
--vintage-apricot: #c85680ff;
--royal-chartreuse: #d05e8fff;
--autumn-red: #cf5b78ff;
--yellow-city: #c2516fff;
--galactic-pink: #c6406bff;
--cyan-snow: #b33d53ff;
--electric-scarlet: #c74c43ff;
--teal-illusion: #c04648ff;
--muted-green: #ae3639ff;
--amber-dusk: #ae2c31ff;
--chartreuse-dawn: #ac4031ff;
--white-universe: #bf4930ff;
--summer-orange: #a54c2eff;
--turquoise-mountain: #b55039ff;
--cool-burgundy: #af5e2eff;
--industrial-gray: #936728ff;
--gold-road: #aa592eff;
--oceanic-teal: #9d5a28ff;
--summer-mauve: #886924ff;
--purple-illusion: #937b2bff;
--wine-adventure: #7f6820ff;
--warm-beige: #937a23ff;
--spring-mauve: #93872dff;
--vintage-gold: #81651eff;
--industrial-bronze: #7c6f1eff;
--blue-canyon: #8b851fff;

/* CSS HSL */
--light-red: hsla(308, 51%, 69%, 1);
--lavender-day: hsla(321, 51%, 60%, 1);
--autumn-ruby: hsla(306, 54%, 57%, 1);
--crystal-mauve: hsla(313, 50%, 60%, 1);
--sapphire-city: hsla(320, 52%, 57%, 1);
--glow-cream: hsla(330, 55%, 57%, 1);
--jade-moon: hsla(322, 50%, 57%, 1);
--cyan-river: hsla(326, 51%, 58%, 1);
--vintage-apricot: hsla(338, 51%, 56%, 1);
--royal-chartreuse: hsla(334, 55%, 59%, 1);
--autumn-red: hsla(345, 55%, 59%, 1);
--yellow-city: hsla(344, 48%, 54%, 1);
--galactic-pink: hsla(341, 54%, 52%, 1);
--cyan-snow: hsla(349, 49%, 47%, 1);
--electric-scarlet: hsla(4, 54%, 52%, 1);
--teal-illusion: hsla(359, 49%, 51%, 1);
--muted-green: hsla(358, 53%, 45%, 1);
--amber-dusk: hsla(358, 59%, 43%, 1);
--chartreuse-dawn: hsla(7, 55%, 44%, 1);
--white-universe: hsla(10, 59%, 47%, 1);
--summer-orange: hsla(15, 56%, 42%, 1);
--turquoise-mountain: hsla(11, 52%, 47%, 1);
--cool-burgundy: hsla(22, 58%, 44%, 1);
--industrial-gray: hsla(35, 57%, 37%, 1);
--gold-road: hsla(21, 57%, 43%, 1);
--oceanic-teal: hsla(26, 59%, 39%, 1);
--summer-mauve: hsla(42, 58%, 34%, 1);
--purple-illusion: hsla(47, 54%, 37%, 1);
--wine-adventure: hsla(45, 59%, 32%, 1);
--warm-beige: hsla(47, 62%, 36%, 1);
--spring-mauve: hsla(53, 53%, 38%, 1);
--vintage-gold: hsla(43, 61%, 31%, 1);
--industrial-bronze: hsla(51, 61%, 30%, 1);
--blue-canyon: hsla(57, 63%, 34%, 1);
}

/* SCSS HEX */
$light-red: #d887cdff;
$lavender-day: #cc63a7ff;
$autumn-ruby: #cc56bfff;
$crystal-mauve: #cb64b4ff;
$sapphire-city: #ca59a5ff;
$glow-cream: #cc5391ff;
$jade-moon: #c85a9eff;
$cyan-river: #cb5e9cff;
$vintage-apricot: #c85680ff;
$royal-chartreuse: #d05e8fff;
$autumn-red: #cf5b78ff;
$yellow-city: #c2516fff;
$galactic-pink: #c6406bff;
$cyan-snow: #b33d53ff;
$electric-scarlet: #c74c43ff;
$teal-illusion: #c04648ff;
$muted-green: #ae3639ff;
$amber-dusk: #ae2c31ff;
$chartreuse-dawn: #ac4031ff;
$white-universe: #bf4930ff;
$summer-orange: #a54c2eff;
$turquoise-mountain: #b55039ff;
$cool-burgundy: #af5e2eff;
$industrial-gray: #936728ff;
$gold-road: #aa592eff;
$oceanic-teal: #9d5a28ff;
$summer-mauve: #886924ff;
$purple-illusion: #937b2bff;
$wine-adventure: #7f6820ff;
$warm-beige: #937a23ff;
$spring-mauve: #93872dff;
$vintage-gold: #81651eff;
$industrial-bronze: #7c6f1eff;
$blue-canyon: #8b851fff;

/* SCSS HSL */
$light-red: hsla(308, 51%, 69%, 1);
$lavender-day: hsla(321, 51%, 60%, 1);
$autumn-ruby: hsla(306, 54%, 57%, 1);
$crystal-mauve: hsla(313, 50%, 60%, 1);
$sapphire-city: hsla(320, 52%, 57%, 1);
$glow-cream: hsla(330, 55%, 57%, 1);
$jade-moon: hsla(322, 50%, 57%, 1);
$cyan-river: hsla(326, 51%, 58%, 1);
$vintage-apricot: hsla(338, 51%, 56%, 1);
$royal-chartreuse: hsla(334, 55%, 59%, 1);
$autumn-red: hsla(345, 55%, 59%, 1);
$yellow-city: hsla(344, 48%, 54%, 1);
$galactic-pink: hsla(341, 54%, 52%, 1);
$cyan-snow: hsla(349, 49%, 47%, 1);
$electric-scarlet: hsla(4, 54%, 52%, 1);
$teal-illusion: hsla(359, 49%, 51%, 1);
$muted-green: hsla(358, 53%, 45%, 1);
$amber-dusk: hsla(358, 59%, 43%, 1);
$chartreuse-dawn: hsla(7, 55%, 44%, 1);
$white-universe: hsla(10, 59%, 47%, 1);
$summer-orange: hsla(15, 56%, 42%, 1);
$turquoise-mountain: hsla(11, 52%, 47%, 1);
$cool-burgundy: hsla(22, 58%, 44%, 1);
$industrial-gray: hsla(35, 57%, 37%, 1);
$gold-road: hsla(21, 57%, 43%, 1);
$oceanic-teal: hsla(26, 59%, 39%, 1);
$summer-mauve: hsla(42, 58%, 34%, 1);
$purple-illusion: hsla(47, 54%, 37%, 1);
$wine-adventure: hsla(45, 59%, 32%, 1);
$warm-beige: hsla(47, 62%, 36%, 1);
$spring-mauve: hsla(53, 53%, 38%, 1);
$vintage-gold: hsla(43, 61%, 31%, 1);
$industrial-bronze: hsla(51, 61%, 30%, 1);
$blue-canyon: hsla(57, 63%, 34%, 1);

/* SCSS RGB */
$light-red: rgba(216, 135, 205, 1);
$lavender-day: rgba(204, 99, 167, 1);
$autumn-ruby: rgba(204, 86, 191, 1);
$crystal-mauve: rgba(203, 100, 180, 1);
$sapphire-city: rgba(202, 89, 165, 1);
$glow-cream: rgba(204, 83, 145, 1);
$jade-moon: rgba(200, 90, 158, 1);
$cyan-river: rgba(203, 94, 156, 1);
$vintage-apricot: rgba(200, 86, 128, 1);
$royal-chartreuse: rgba(208, 94, 143, 1);
$autumn-red: rgba(207, 91, 120, 1);
$yellow-city: rgba(194, 81, 111, 1);
$galactic-pink: rgba(198, 64, 107, 1);
$cyan-snow: rgba(179, 61, 83, 1);
$electric-scarlet: rgba(199, 76, 67, 1);
$teal-illusion: rgba(192, 70, 72, 1);
$muted-green: rgba(174, 54, 57, 1);
$amber-dusk: rgba(174, 44, 49, 1);
$chartreuse-dawn: rgba(172, 64, 49, 1);
$white-universe: rgba(191, 73, 48, 1);
$summer-orange: rgba(165, 76, 46, 1);
$turquoise-mountain: rgba(181, 80, 57, 1);
$cool-burgundy: rgba(175, 94, 46, 1);
$industrial-gray: rgba(147, 103, 40, 1);
$gold-road: rgba(170, 89, 46, 1);
$oceanic-teal: rgba(157, 90, 40, 1);
$summer-mauve: rgba(136, 105, 36, 1);
$purple-illusion: rgba(147, 123, 43, 1);
$wine-adventure: rgba(127, 104, 32, 1);
$warm-beige: rgba(147, 122, 35, 1);
$spring-mauve: rgba(147, 135, 45, 1);
$vintage-gold: rgba(129, 101, 30, 1);
$industrial-bronze: rgba(124, 111, 30, 1);
$blue-canyon: rgba(139, 133, 31, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-right: linear-gradient(90deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-bottom: linear-gradient(180deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-left: linear-gradient(270deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-top-right: linear-gradient(45deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-bottom-right: linear-gradient(135deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-top-left: linear-gradient(225deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-bottom-left: linear-gradient(315deg, #d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);
$gradient-radial: radial-gradient(#d887cdff, #cc63a7ff, #cc56bfff, #cb64b4ff, #ca59a5ff, #cc5391ff, #c85a9eff, #cb5e9cff, #c85680ff, #d05e8fff, #cf5b78ff, #c2516fff, #c6406bff, #b33d53ff, #c74c43ff, #c04648ff, #ae3639ff, #ae2c31ff, #ac4031ff, #bf4930ff, #a54c2eff, #b55039ff, #af5e2eff, #936728ff, #aa592eff, #9d5a28ff, #886924ff, #937b2bff, #7f6820ff, #937a23ff, #93872dff, #81651eff, #7c6f1eff, #8b851fff);

/* SCSS Map */
$cosmic-mountain-531-map: (
    "light-red": #d887cdff,
    "lavender-day": #cc63a7ff,
    "autumn-ruby": #cc56bfff,
    "crystal-mauve": #cb64b4ff,
    "sapphire-city": #ca59a5ff,
    "glow-cream": #cc5391ff,
    "jade-moon": #c85a9eff,
    "cyan-river": #cb5e9cff,
    "vintage-apricot": #c85680ff,
    "royal-chartreuse": #d05e8fff,
    "autumn-red": #cf5b78ff,
    "yellow-city": #c2516fff,
    "galactic-pink": #c6406bff,
    "cyan-snow": #b33d53ff,
    "electric-scarlet": #c74c43ff,
    "teal-illusion": #c04648ff,
    "muted-green": #ae3639ff,
    "amber-dusk": #ae2c31ff,
    "chartreuse-dawn": #ac4031ff,
    "white-universe": #bf4930ff,
    "summer-orange": #a54c2eff,
    "turquoise-mountain": #b55039ff,
    "cool-burgundy": #af5e2eff,
    "industrial-gray": #936728ff,
    "gold-road": #aa592eff,
    "oceanic-teal": #9d5a28ff,
    "summer-mauve": #886924ff,
    "purple-illusion": #937b2bff,
    "wine-adventure": #7f6820ff,
    "warm-beige": #937a23ff,
    "spring-mauve": #93872dff,
    "vintage-gold": #81651eff,
    "industrial-bronze": #7c6f1eff,
    "blue-canyon": #8b851fff
);
