/*---
id: nebula-mosaic-34-02
name: Nebula Mosaic Grand
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 34
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 34-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--navy-blue: #27184eff;
--plum-purple: #50165aff;
--grape-purple: #67124fff;
--claret: #750e18ff;
--rust-brown: #843808ff;
--greenish-brown: #726a24ff;
--mossy-green: #52801fff;
--emerald-green: #199024ff;
--teal-green: #13a067ff;
--teal-blue: #0b8db1ff;
--denim-blue: #2f5d96ff;
--royal: #3928a7ff;
--barney: #9821b8ff;
--purpley-pink: #cb18aaff;
--lipstick: #de0e4cff;
--adobe: #bb663bff;
--muddy-yellow: #cdb832ff;
--slime-green: #9ada2fff;
--green-apple: #4de62cff;
--sea-green: #2bf197ff;
--topaz: #5bcbc9ff;
--cool-blue: #599bd7ff;
--warm-blue: #5758e1ff;
--lightish-purple: #b157ebff;
--candy-pink: #f458d5ff;
--muted-pink: #d77f97ff;
--pinkish-tan: #e0957fff;
--tan: #e9c280ff;
--pistachio: #ccf082ff;
--light-green: #98f785ff;
--light-teal: #a3e2b7ff;
--duck-egg-blue: #a6e9deff;
--cloudy-blue: #a9d3f0ff;
--pastel-blue: #adb4f5ff;

/* CSS HSL */
--navy-blue: hsla(256, 52%, 20%, 1);
--plum-purple: hsla(291, 61%, 22%, 1);
--grape-purple: hsla(317, 70%, 24%, 1);
--claret: hsla(354, 79%, 26%, 1);
--rust-brown: hsla(23, 88%, 28%, 1);
--greenish-brown: hsla(54, 52%, 29%, 1);
--mossy-green: hsla(89, 61%, 31%, 1);
--emerald-green: hsla(125, 70%, 33%, 1);
--teal-green: hsla(156, 79%, 35%, 1);
--teal-blue: hsla(193, 88%, 37%, 1);
--denim-blue: hsla(213, 52%, 39%, 1);
--royal: hsla(248, 61%, 41%, 1);
--barney: hsla(287, 70%, 43%, 1);
--purpley-pink: hsla(311, 79%, 44%, 1);
--lipstick: hsla(342, 88%, 46%, 1);
--adobe: hsla(20, 52%, 48%, 1);
--muddy-yellow: hsla(52, 61%, 50%, 1);
--slime-green: hsla(83, 70%, 52%, 1);
--green-apple: hsla(110, 79%, 54%, 1);
--sea-green: hsla(153, 88%, 56%, 1);
--topaz: hsla(179, 52%, 58%, 1);
--cool-blue: hsla(208, 61%, 59%, 1);
--warm-blue: hsla(240, 70%, 61%, 1);
--lightish-purple: hsla(277, 79%, 63%, 1);
--candy-pink: hsla(312, 88%, 65%, 1);
--muted-pink: hsla(343, 52%, 67%, 1);
--pinkish-tan: hsla(13, 61%, 69%, 1);
--tan: hsla(38, 70%, 71%, 1);
--pistachio: hsla(80, 79%, 73%, 1);
--light-green: hsla(110, 88%, 74%, 1);
--light-teal: hsla(139, 52%, 76%, 1);
--duck-egg-blue: hsla(170, 61%, 78%, 1);
--cloudy-blue: hsla(204, 70%, 80%, 1);
--pastel-blue: hsla(234, 79%, 82%, 1);
}

/* SCSS HEX */
$navy-blue: #27184eff;
$plum-purple: #50165aff;
$grape-purple: #67124fff;
$claret: #750e18ff;
$rust-brown: #843808ff;
$greenish-brown: #726a24ff;
$mossy-green: #52801fff;
$emerald-green: #199024ff;
$teal-green: #13a067ff;
$teal-blue: #0b8db1ff;
$denim-blue: #2f5d96ff;
$royal: #3928a7ff;
$barney: #9821b8ff;
$purpley-pink: #cb18aaff;
$lipstick: #de0e4cff;
$adobe: #bb663bff;
$muddy-yellow: #cdb832ff;
$slime-green: #9ada2fff;
$green-apple: #4de62cff;
$sea-green: #2bf197ff;
$topaz: #5bcbc9ff;
$cool-blue: #599bd7ff;
$warm-blue: #5758e1ff;
$lightish-purple: #b157ebff;
$candy-pink: #f458d5ff;
$muted-pink: #d77f97ff;
$pinkish-tan: #e0957fff;
$tan: #e9c280ff;
$pistachio: #ccf082ff;
$light-green: #98f785ff;
$light-teal: #a3e2b7ff;
$duck-egg-blue: #a6e9deff;
$cloudy-blue: #a9d3f0ff;
$pastel-blue: #adb4f5ff;

/* SCSS HSL */
$navy-blue: hsla(256, 52%, 20%, 1);
$plum-purple: hsla(291, 61%, 22%, 1);
$grape-purple: hsla(317, 70%, 24%, 1);
$claret: hsla(354, 79%, 26%, 1);
$rust-brown: hsla(23, 88%, 28%, 1);
$greenish-brown: hsla(54, 52%, 29%, 1);
$mossy-green: hsla(89, 61%, 31%, 1);
$emerald-green: hsla(125, 70%, 33%, 1);
$teal-green: hsla(156, 79%, 35%, 1);
$teal-blue: hsla(193, 88%, 37%, 1);
$denim-blue: hsla(213, 52%, 39%, 1);
$royal: hsla(248, 61%, 41%, 1);
$barney: hsla(287, 70%, 43%, 1);
$purpley-pink: hsla(311, 79%, 44%, 1);
$lipstick: hsla(342, 88%, 46%, 1);
$adobe: hsla(20, 52%, 48%, 1);
$muddy-yellow: hsla(52, 61%, 50%, 1);
$slime-green: hsla(83, 70%, 52%, 1);
$green-apple: hsla(110, 79%, 54%, 1);
$sea-green: hsla(153, 88%, 56%, 1);
$topaz: hsla(179, 52%, 58%, 1);
$cool-blue: hsla(208, 61%, 59%, 1);
$warm-blue: hsla(240, 70%, 61%, 1);
$lightish-purple: hsla(277, 79%, 63%, 1);
$candy-pink: hsla(312, 88%, 65%, 1);
$muted-pink: hsla(343, 52%, 67%, 1);
$pinkish-tan: hsla(13, 61%, 69%, 1);
$tan: hsla(38, 70%, 71%, 1);
$pistachio: hsla(80, 79%, 73%, 1);
$light-green: hsla(110, 88%, 74%, 1);
$light-teal: hsla(139, 52%, 76%, 1);
$duck-egg-blue: hsla(170, 61%, 78%, 1);
$cloudy-blue: hsla(204, 70%, 80%, 1);
$pastel-blue: hsla(234, 79%, 82%, 1);

/* SCSS RGB */
$navy-blue: rgba(39, 24, 78, 1);
$plum-purple: rgba(80, 22, 90, 1);
$grape-purple: rgba(103, 18, 79, 1);
$claret: rgba(117, 14, 24, 1);
$rust-brown: rgba(132, 56, 8, 1);
$greenish-brown: rgba(114, 106, 36, 1);
$mossy-green: rgba(82, 128, 31, 1);
$emerald-green: rgba(25, 144, 36, 1);
$teal-green: rgba(19, 160, 103, 1);
$teal-blue: rgba(11, 141, 177, 1);
$denim-blue: rgba(47, 93, 150, 1);
$royal: rgba(57, 40, 167, 1);
$barney: rgba(152, 33, 184, 1);
$purpley-pink: rgba(203, 24, 170, 1);
$lipstick: rgba(222, 14, 76, 1);
$adobe: rgba(187, 102, 59, 1);
$muddy-yellow: rgba(205, 184, 50, 1);
$slime-green: rgba(154, 218, 47, 1);
$green-apple: rgba(77, 230, 44, 1);
$sea-green: rgba(43, 241, 151, 1);
$topaz: rgba(91, 203, 201, 1);
$cool-blue: rgba(89, 155, 215, 1);
$warm-blue: rgba(87, 88, 225, 1);
$lightish-purple: rgba(177, 87, 235, 1);
$candy-pink: rgba(244, 88, 213, 1);
$muted-pink: rgba(215, 127, 151, 1);
$pinkish-tan: rgba(224, 149, 127, 1);
$tan: rgba(233, 194, 128, 1);
$pistachio: rgba(204, 240, 130, 1);
$light-green: rgba(152, 247, 133, 1);
$light-teal: rgba(163, 226, 183, 1);
$duck-egg-blue: rgba(166, 233, 222, 1);
$cloudy-blue: rgba(169, 211, 240, 1);
$pastel-blue: rgba(173, 180, 245, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-right: linear-gradient(90deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-bottom: linear-gradient(180deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-left: linear-gradient(270deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-top-right: linear-gradient(45deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-bottom-right: linear-gradient(135deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-top-left: linear-gradient(225deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-bottom-left: linear-gradient(315deg, #27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);
$gradient-radial: radial-gradient(#27184eff, #50165aff, #67124fff, #750e18ff, #843808ff, #726a24ff, #52801fff, #199024ff, #13a067ff, #0b8db1ff, #2f5d96ff, #3928a7ff, #9821b8ff, #cb18aaff, #de0e4cff, #bb663bff, #cdb832ff, #9ada2fff, #4de62cff, #2bf197ff, #5bcbc9ff, #599bd7ff, #5758e1ff, #b157ebff, #f458d5ff, #d77f97ff, #e0957fff, #e9c280ff, #ccf082ff, #98f785ff, #a3e2b7ff, #a6e9deff, #a9d3f0ff, #adb4f5ff);

/* SCSS Map */
$nebula-mosaic-34-02-map: (
    "navy-blue": #27184eff,
    "plum-purple": #50165aff,
    "grape-purple": #67124fff,
    "claret": #750e18ff,
    "rust-brown": #843808ff,
    "greenish-brown": #726a24ff,
    "mossy-green": #52801fff,
    "emerald-green": #199024ff,
    "teal-green": #13a067ff,
    "teal-blue": #0b8db1ff,
    "denim-blue": #2f5d96ff,
    "royal": #3928a7ff,
    "barney": #9821b8ff,
    "purpley-pink": #cb18aaff,
    "lipstick": #de0e4cff,
    "adobe": #bb663bff,
    "muddy-yellow": #cdb832ff,
    "slime-green": #9ada2fff,
    "green-apple": #4de62cff,
    "sea-green": #2bf197ff,
    "topaz": #5bcbc9ff,
    "cool-blue": #599bd7ff,
    "warm-blue": #5758e1ff,
    "lightish-purple": #b157ebff,
    "candy-pink": #f458d5ff,
    "muted-pink": #d77f97ff,
    "pinkish-tan": #e0957fff,
    "tan": #e9c280ff,
    "pistachio": #ccf082ff,
    "light-green": #98f785ff,
    "light-teal": #a3e2b7ff,
    "duck-egg-blue": #a6e9deff,
    "cloudy-blue": #a9d3f0ff,
    "pastel-blue": #adb4f5ff
);
