/*---
id: velvet-mosaic-34-08
name: Velvet Mosaic Extended
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 34
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 34-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--navy-blue: #23184eff;
--plum-purple: #51165aff;
--plum: #671243ff;
--claret: #750e1aff;
--medium-brown: #844908ff;
--brown-green: #727024ff;
--mossy-green: #4e801fff;
--emerald-green: #199023ff;
--jade-green: #13a05bff;
--turquoise-blue: #0ba7b1ff;
--cobalt: #2f5096ff;
--royal: #3228a7ff;
--purple: #7f21b8ff;
--magenta: #cb1898ff;
--cherry: #de0e3cff;
--clay-brown: #bb6c3bff;
--muddy-yellow: #cdb632ff;
--slime-green: #a1da2fff;
--vibrant-green: #2ee62cff;
--minty-green: #2bf174ff;
--aqua-blue: #5bc5cbff;
--water-blue: #5996d7ff;
--warm-blue: #6357e1ff;
--lightish-purple: #9f57ebff;
--light-magenta: #f458f3ff;
--dull-pink: #d77fa8ff;
--blush: #e0887fff;
--tan: #e9c280ff;
--manila: #e1f082ff;
--light-green: #96f785ff;
--light-teal: #a3e2bbff;
--pale-aqua: #a6e9daff;
--powder-blue: #a9d0f0ff;
--pastel-blue: #adb2f5ff;

/* CSS HSL */
--navy-blue: hsla(252, 52%, 20%, 1);
--plum-purple: hsla(292, 61%, 22%, 1);
--plum: hsla(325, 70%, 24%, 1);
--claret: hsla(353, 79%, 26%, 1);
--medium-brown: hsla(31, 88%, 28%, 1);
--brown-green: hsla(58, 52%, 29%, 1);
--mossy-green: hsla(91, 61%, 31%, 1);
--emerald-green: hsla(125, 70%, 33%, 1);
--jade-green: hsla(151, 79%, 35%, 1);
--turquoise-blue: hsla(184, 88%, 37%, 1);
--cobalt: hsla(221, 52%, 39%, 1);
--royal: hsla(245, 61%, 41%, 1);
--purple: hsla(277, 70%, 43%, 1);
--magenta: hsla(317, 79%, 44%, 1);
--cherry: hsla(347, 88%, 46%, 1);
--clay-brown: hsla(23, 52%, 48%, 1);
--muddy-yellow: hsla(51, 61%, 50%, 1);
--slime-green: hsla(80, 70%, 52%, 1);
--vibrant-green: hsla(120, 79%, 54%, 1);
--minty-green: hsla(142, 88%, 56%, 1);
--aqua-blue: hsla(183, 52%, 58%, 1);
--water-blue: hsla(211, 61%, 59%, 1);
--warm-blue: hsla(245, 70%, 61%, 1);
--lightish-purple: hsla(269, 79%, 63%, 1);
--light-magenta: hsla(300, 88%, 65%, 1);
--dull-pink: hsla(332, 52%, 67%, 1);
--blush: hsla(6, 61%, 69%, 1);
--tan: hsla(38, 70%, 71%, 1);
--manila: hsla(68, 79%, 73%, 1);
--light-green: hsla(111, 88%, 74%, 1);
--light-teal: hsla(143, 52%, 76%, 1);
--pale-aqua: hsla(167, 61%, 78%, 1);
--powder-blue: hsla(207, 70%, 80%, 1);
--pastel-blue: hsla(236, 79%, 82%, 1);
}

/* SCSS HEX */
$navy-blue: #23184eff;
$plum-purple: #51165aff;
$plum: #671243ff;
$claret: #750e1aff;
$medium-brown: #844908ff;
$brown-green: #727024ff;
$mossy-green: #4e801fff;
$emerald-green: #199023ff;
$jade-green: #13a05bff;
$turquoise-blue: #0ba7b1ff;
$cobalt: #2f5096ff;
$royal: #3228a7ff;
$purple: #7f21b8ff;
$magenta: #cb1898ff;
$cherry: #de0e3cff;
$clay-brown: #bb6c3bff;
$muddy-yellow: #cdb632ff;
$slime-green: #a1da2fff;
$vibrant-green: #2ee62cff;
$minty-green: #2bf174ff;
$aqua-blue: #5bc5cbff;
$water-blue: #5996d7ff;
$warm-blue: #6357e1ff;
$lightish-purple: #9f57ebff;
$light-magenta: #f458f3ff;
$dull-pink: #d77fa8ff;
$blush: #e0887fff;
$tan: #e9c280ff;
$manila: #e1f082ff;
$light-green: #96f785ff;
$light-teal: #a3e2bbff;
$pale-aqua: #a6e9daff;
$powder-blue: #a9d0f0ff;
$pastel-blue: #adb2f5ff;

/* SCSS HSL */
$navy-blue: hsla(252, 52%, 20%, 1);
$plum-purple: hsla(292, 61%, 22%, 1);
$plum: hsla(325, 70%, 24%, 1);
$claret: hsla(353, 79%, 26%, 1);
$medium-brown: hsla(31, 88%, 28%, 1);
$brown-green: hsla(58, 52%, 29%, 1);
$mossy-green: hsla(91, 61%, 31%, 1);
$emerald-green: hsla(125, 70%, 33%, 1);
$jade-green: hsla(151, 79%, 35%, 1);
$turquoise-blue: hsla(184, 88%, 37%, 1);
$cobalt: hsla(221, 52%, 39%, 1);
$royal: hsla(245, 61%, 41%, 1);
$purple: hsla(277, 70%, 43%, 1);
$magenta: hsla(317, 79%, 44%, 1);
$cherry: hsla(347, 88%, 46%, 1);
$clay-brown: hsla(23, 52%, 48%, 1);
$muddy-yellow: hsla(51, 61%, 50%, 1);
$slime-green: hsla(80, 70%, 52%, 1);
$vibrant-green: hsla(120, 79%, 54%, 1);
$minty-green: hsla(142, 88%, 56%, 1);
$aqua-blue: hsla(183, 52%, 58%, 1);
$water-blue: hsla(211, 61%, 59%, 1);
$warm-blue: hsla(245, 70%, 61%, 1);
$lightish-purple: hsla(269, 79%, 63%, 1);
$light-magenta: hsla(300, 88%, 65%, 1);
$dull-pink: hsla(332, 52%, 67%, 1);
$blush: hsla(6, 61%, 69%, 1);
$tan: hsla(38, 70%, 71%, 1);
$manila: hsla(68, 79%, 73%, 1);
$light-green: hsla(111, 88%, 74%, 1);
$light-teal: hsla(143, 52%, 76%, 1);
$pale-aqua: hsla(167, 61%, 78%, 1);
$powder-blue: hsla(207, 70%, 80%, 1);
$pastel-blue: hsla(236, 79%, 82%, 1);

/* SCSS RGB */
$navy-blue: rgba(35, 24, 78, 1);
$plum-purple: rgba(81, 22, 90, 1);
$plum: rgba(103, 18, 67, 1);
$claret: rgba(117, 14, 26, 1);
$medium-brown: rgba(132, 73, 8, 1);
$brown-green: rgba(114, 112, 36, 1);
$mossy-green: rgba(78, 128, 31, 1);
$emerald-green: rgba(25, 144, 35, 1);
$jade-green: rgba(19, 160, 91, 1);
$turquoise-blue: rgba(11, 167, 177, 1);
$cobalt: rgba(47, 80, 150, 1);
$royal: rgba(50, 40, 167, 1);
$purple: rgba(127, 33, 184, 1);
$magenta: rgba(203, 24, 152, 1);
$cherry: rgba(222, 14, 60, 1);
$clay-brown: rgba(187, 108, 59, 1);
$muddy-yellow: rgba(205, 182, 50, 1);
$slime-green: rgba(161, 218, 47, 1);
$vibrant-green: rgba(46, 230, 44, 1);
$minty-green: rgba(43, 241, 116, 1);
$aqua-blue: rgba(91, 197, 203, 1);
$water-blue: rgba(89, 150, 215, 1);
$warm-blue: rgba(99, 87, 225, 1);
$lightish-purple: rgba(159, 87, 235, 1);
$light-magenta: rgba(244, 88, 243, 1);
$dull-pink: rgba(215, 127, 168, 1);
$blush: rgba(224, 136, 127, 1);
$tan: rgba(233, 194, 128, 1);
$manila: rgba(225, 240, 130, 1);
$light-green: rgba(150, 247, 133, 1);
$light-teal: rgba(163, 226, 187, 1);
$pale-aqua: rgba(166, 233, 218, 1);
$powder-blue: rgba(169, 208, 240, 1);
$pastel-blue: rgba(173, 178, 245, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-right: linear-gradient(90deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-bottom: linear-gradient(180deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-left: linear-gradient(270deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-top-right: linear-gradient(45deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-bottom-right: linear-gradient(135deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-top-left: linear-gradient(225deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-bottom-left: linear-gradient(315deg, #23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);
$gradient-radial: radial-gradient(#23184eff, #51165aff, #671243ff, #750e1aff, #844908ff, #727024ff, #4e801fff, #199023ff, #13a05bff, #0ba7b1ff, #2f5096ff, #3228a7ff, #7f21b8ff, #cb1898ff, #de0e3cff, #bb6c3bff, #cdb632ff, #a1da2fff, #2ee62cff, #2bf174ff, #5bc5cbff, #5996d7ff, #6357e1ff, #9f57ebff, #f458f3ff, #d77fa8ff, #e0887fff, #e9c280ff, #e1f082ff, #96f785ff, #a3e2bbff, #a6e9daff, #a9d0f0ff, #adb2f5ff);

/* SCSS Map */
$velvet-mosaic-34-08-map: (
    "navy-blue": #23184eff,
    "plum-purple": #51165aff,
    "plum": #671243ff,
    "claret": #750e1aff,
    "medium-brown": #844908ff,
    "brown-green": #727024ff,
    "mossy-green": #4e801fff,
    "emerald-green": #199023ff,
    "jade-green": #13a05bff,
    "turquoise-blue": #0ba7b1ff,
    "cobalt": #2f5096ff,
    "royal": #3228a7ff,
    "purple": #7f21b8ff,
    "magenta": #cb1898ff,
    "cherry": #de0e3cff,
    "clay-brown": #bb6c3bff,
    "muddy-yellow": #cdb632ff,
    "slime-green": #a1da2fff,
    "vibrant-green": #2ee62cff,
    "minty-green": #2bf174ff,
    "aqua-blue": #5bc5cbff,
    "water-blue": #5996d7ff,
    "warm-blue": #6357e1ff,
    "lightish-purple": #9f57ebff,
    "light-magenta": #f458f3ff,
    "dull-pink": #d77fa8ff,
    "blush": #e0887fff,
    "tan": #e9c280ff,
    "manila": #e1f082ff,
    "light-green": #96f785ff,
    "light-teal": #a3e2bbff,
    "pale-aqua": #a6e9daff,
    "powder-blue": #a9d0f0ff,
    "pastel-blue": #adb2f5ff
);
