/*---
id: amber-span-35-14
name: Amber Span Extended
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 35
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 35-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #19140fff;
--very-dark-brown: #221a14ff;
--dark-brown: #2d2115ff;
--charcoal: #34271bff;
--chocolate: #3f2e1cff;
--chocolate-brown: #4a341eff;
--mud-brown: #55381fff;
--cocoa: #5f3f22ff;
--milk-chocolate: #6d4321ff;
--brown: #764924ff;
--sepia: #835124ff;
--earth: #915123ff;
--sienna: #a4561cff;
--raw-umber: #af691dff;
--brownish-orange: #bf6c1aff;
--orange-brown: #cb6f1bff;
--pumpkin: #e16e11ff;
--pumpkin-orange: #ec7713ff;
--dusty-orange: #eb8221ff;
--dull-orange: #e38736ff;
--faded-orange: #e48741ff;
--pale-orange: #e4994dff;
--peach: #e1985dff;
--apricot: #e09d6bff;
--fawn: #dea979ff;
--pinkish-tan: #dfac84ff;
--very-light-brown: #dfb392ff;
--putty: #dfbd9eff;
--light-peach: #dec2acff;
--mushroom: #e2c8b4ff;
--very-light-pink: #e4d0beff;
--off-white: #e6d6c9ff;
--white: #e9ded3ff;
--ice-blue: #ece4dcff;
--ice: #efebe6ff;

/* CSS HSL */
--almost-black: hsla(28, 24%, 8%, 1);
--very-dark-brown: hsla(28, 26%, 10%, 1);
--dark-brown: hsla(28, 35%, 13%, 1);
--charcoal: hsla(28, 32%, 15%, 1);
--chocolate: hsla(28, 38%, 18%, 1);
--chocolate-brown: hsla(28, 42%, 20%, 1);
--mud-brown: hsla(28, 47%, 23%, 1);
--cocoa: hsla(28, 47%, 25%, 1);
--milk-chocolate: hsla(28, 54%, 28%, 1);
--brown: hsla(28, 53%, 30%, 1);
--sepia: hsla(28, 57%, 33%, 1);
--earth: hsla(28, 61%, 35%, 1);
--sienna: hsla(28, 71%, 38%, 1);
--raw-umber: hsla(28, 71%, 40%, 1);
--brownish-orange: hsla(28, 76%, 43%, 1);
--orange-brown: hsla(28, 77%, 45%, 1);
--pumpkin: hsla(28, 86%, 48%, 1);
--pumpkin-orange: hsla(28, 85%, 50%, 1);
--dusty-orange: hsla(28, 83%, 52%, 1);
--dull-orange: hsla(28, 75%, 55%, 1);
--faded-orange: hsla(28, 75%, 57%, 1);
--pale-orange: hsla(28, 74%, 60%, 1);
--peach: hsla(28, 68%, 62%, 1);
--apricot: hsla(28, 65%, 65%, 1);
--fawn: hsla(28, 61%, 67%, 1);
--pinkish-tan: hsla(28, 59%, 70%, 1);
--very-light-brown: hsla(28, 54%, 72%, 1);
--putty: hsla(28, 51%, 75%, 1);
--light-peach: hsla(28, 43%, 77%, 1);
--mushroom: hsla(28, 44%, 80%, 1);
--very-light-pink: hsla(28, 42%, 82%, 1);
--off-white: hsla(28, 38%, 85%, 1);
--white: hsla(28, 34%, 87%, 1);
--ice-blue: hsla(28, 30%, 90%, 1);
--ice: hsla(28, 21%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #19140fff;
$very-dark-brown: #221a14ff;
$dark-brown: #2d2115ff;
$charcoal: #34271bff;
$chocolate: #3f2e1cff;
$chocolate-brown: #4a341eff;
$mud-brown: #55381fff;
$cocoa: #5f3f22ff;
$milk-chocolate: #6d4321ff;
$brown: #764924ff;
$sepia: #835124ff;
$earth: #915123ff;
$sienna: #a4561cff;
$raw-umber: #af691dff;
$brownish-orange: #bf6c1aff;
$orange-brown: #cb6f1bff;
$pumpkin: #e16e11ff;
$pumpkin-orange: #ec7713ff;
$dusty-orange: #eb8221ff;
$dull-orange: #e38736ff;
$faded-orange: #e48741ff;
$pale-orange: #e4994dff;
$peach: #e1985dff;
$apricot: #e09d6bff;
$fawn: #dea979ff;
$pinkish-tan: #dfac84ff;
$very-light-brown: #dfb392ff;
$putty: #dfbd9eff;
$light-peach: #dec2acff;
$mushroom: #e2c8b4ff;
$very-light-pink: #e4d0beff;
$off-white: #e6d6c9ff;
$white: #e9ded3ff;
$ice-blue: #ece4dcff;
$ice: #efebe6ff;

/* SCSS HSL */
$almost-black: hsla(28, 24%, 8%, 1);
$very-dark-brown: hsla(28, 26%, 10%, 1);
$dark-brown: hsla(28, 35%, 13%, 1);
$charcoal: hsla(28, 32%, 15%, 1);
$chocolate: hsla(28, 38%, 18%, 1);
$chocolate-brown: hsla(28, 42%, 20%, 1);
$mud-brown: hsla(28, 47%, 23%, 1);
$cocoa: hsla(28, 47%, 25%, 1);
$milk-chocolate: hsla(28, 54%, 28%, 1);
$brown: hsla(28, 53%, 30%, 1);
$sepia: hsla(28, 57%, 33%, 1);
$earth: hsla(28, 61%, 35%, 1);
$sienna: hsla(28, 71%, 38%, 1);
$raw-umber: hsla(28, 71%, 40%, 1);
$brownish-orange: hsla(28, 76%, 43%, 1);
$orange-brown: hsla(28, 77%, 45%, 1);
$pumpkin: hsla(28, 86%, 48%, 1);
$pumpkin-orange: hsla(28, 85%, 50%, 1);
$dusty-orange: hsla(28, 83%, 52%, 1);
$dull-orange: hsla(28, 75%, 55%, 1);
$faded-orange: hsla(28, 75%, 57%, 1);
$pale-orange: hsla(28, 74%, 60%, 1);
$peach: hsla(28, 68%, 62%, 1);
$apricot: hsla(28, 65%, 65%, 1);
$fawn: hsla(28, 61%, 67%, 1);
$pinkish-tan: hsla(28, 59%, 70%, 1);
$very-light-brown: hsla(28, 54%, 72%, 1);
$putty: hsla(28, 51%, 75%, 1);
$light-peach: hsla(28, 43%, 77%, 1);
$mushroom: hsla(28, 44%, 80%, 1);
$very-light-pink: hsla(28, 42%, 82%, 1);
$off-white: hsla(28, 38%, 85%, 1);
$white: hsla(28, 34%, 87%, 1);
$ice-blue: hsla(28, 30%, 90%, 1);
$ice: hsla(28, 21%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(25, 20, 15, 1);
$very-dark-brown: rgba(34, 26, 20, 1);
$dark-brown: rgba(45, 33, 21, 1);
$charcoal: rgba(52, 39, 27, 1);
$chocolate: rgba(63, 46, 28, 1);
$chocolate-brown: rgba(74, 52, 30, 1);
$mud-brown: rgba(85, 56, 31, 1);
$cocoa: rgba(95, 63, 34, 1);
$milk-chocolate: rgba(109, 67, 33, 1);
$brown: rgba(118, 73, 36, 1);
$sepia: rgba(131, 81, 36, 1);
$earth: rgba(145, 81, 35, 1);
$sienna: rgba(164, 86, 28, 1);
$raw-umber: rgba(175, 105, 29, 1);
$brownish-orange: rgba(191, 108, 26, 1);
$orange-brown: rgba(203, 111, 27, 1);
$pumpkin: rgba(225, 110, 17, 1);
$pumpkin-orange: rgba(236, 119, 19, 1);
$dusty-orange: rgba(235, 130, 33, 1);
$dull-orange: rgba(227, 135, 54, 1);
$faded-orange: rgba(228, 135, 65, 1);
$pale-orange: rgba(228, 153, 77, 1);
$peach: rgba(225, 152, 93, 1);
$apricot: rgba(224, 157, 107, 1);
$fawn: rgba(222, 169, 121, 1);
$pinkish-tan: rgba(223, 172, 132, 1);
$very-light-brown: rgba(223, 179, 146, 1);
$putty: rgba(223, 189, 158, 1);
$light-peach: rgba(222, 194, 172, 1);
$mushroom: rgba(226, 200, 180, 1);
$very-light-pink: rgba(228, 208, 190, 1);
$off-white: rgba(230, 214, 201, 1);
$white: rgba(233, 222, 211, 1);
$ice-blue: rgba(236, 228, 220, 1);
$ice: rgba(239, 235, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-right: linear-gradient(90deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-bottom: linear-gradient(180deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-left: linear-gradient(270deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-top-right: linear-gradient(45deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-bottom-right: linear-gradient(135deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-top-left: linear-gradient(225deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-bottom-left: linear-gradient(315deg, #19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);
$gradient-radial: radial-gradient(#19140fff, #221a14ff, #2d2115ff, #34271bff, #3f2e1cff, #4a341eff, #55381fff, #5f3f22ff, #6d4321ff, #764924ff, #835124ff, #915123ff, #a4561cff, #af691dff, #bf6c1aff, #cb6f1bff, #e16e11ff, #ec7713ff, #eb8221ff, #e38736ff, #e48741ff, #e4994dff, #e1985dff, #e09d6bff, #dea979ff, #dfac84ff, #dfb392ff, #dfbd9eff, #dec2acff, #e2c8b4ff, #e4d0beff, #e6d6c9ff, #e9ded3ff, #ece4dcff, #efebe6ff);

/* SCSS Map */
$amber-span-35-14-map: (
    "almost-black": #19140fff,
    "very-dark-brown": #221a14ff,
    "dark-brown": #2d2115ff,
    "charcoal": #34271bff,
    "chocolate": #3f2e1cff,
    "chocolate-brown": #4a341eff,
    "mud-brown": #55381fff,
    "cocoa": #5f3f22ff,
    "milk-chocolate": #6d4321ff,
    "brown": #764924ff,
    "sepia": #835124ff,
    "earth": #915123ff,
    "sienna": #a4561cff,
    "raw-umber": #af691dff,
    "brownish-orange": #bf6c1aff,
    "orange-brown": #cb6f1bff,
    "pumpkin": #e16e11ff,
    "pumpkin-orange": #ec7713ff,
    "dusty-orange": #eb8221ff,
    "dull-orange": #e38736ff,
    "faded-orange": #e48741ff,
    "pale-orange": #e4994dff,
    "peach": #e1985dff,
    "apricot": #e09d6bff,
    "fawn": #dea979ff,
    "pinkish-tan": #dfac84ff,
    "very-light-brown": #dfb392ff,
    "putty": #dfbd9eff,
    "light-peach": #dec2acff,
    "mushroom": #e2c8b4ff,
    "very-light-pink": #e4d0beff,
    "off-white": #e6d6c9ff,
    "white": #e9ded3ff,
    "ice-blue": #ece4dcff,
    "ice": #efebe6ff
);
