/*---
id: harbor-mosaic-35-03
name: Harbor Mosaic 35-03
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 35
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 35-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--tone-01: #4e1d18ff;
--tone-02: #5a3316ff;
--tone-03: #676112ff;
--tone-04: #52740eff;
--tone-05: #2e8308ff;
--tone-06: #24712bff;
--tone-07: #1f7f47ff;
--tone-08: #198e7aff;
--tone-09: #13709eff;
--tone-10: #0b4aafff;
--tone-11: #332f94ff;
--tone-12: #6c28a4ff;
--tone-13: #a720b6ff;
--tone-14: #c7178fff;
--tone-15: #da0e46ff;
--tone-16: #b83d3aff;
--tone-17: #ca7031ff;
--tone-18: #dab02bff;
--tone-19: #b3e628ff;
--tone-20: #5ef126ff;
--tone-21: #56ca64ff;
--tone-22: #54d688ff;
--tone-23: #52e0c7ff;
--tone-24: #51b5ebff;
--tone-25: #518ff4ff;
--tone-26: #7a7bd5ff;
--tone-27: #a079dfff;
--tone-28: #d97ae7ff;
--tone-29: #f07bcbff;
--tone-30: #f77da6ff;
--tone-31: #e0a39dff;
--tone-32: #e8c29fff;
--tone-33: #eee5a1ff;
--tone-34: #e5f4a5ff;
--tone-35: #cbf9a9ff;

/* CSS HSL */
--tone-01: hsla(5, 52%, 20%, 1);
--tone-02: hsla(26, 61%, 22%, 1);
--tone-03: hsla(56, 70%, 24%, 1);
--tone-04: hsla(80, 79%, 25%, 1);
--tone-05: hsla(102, 88%, 27%, 1);
--tone-06: hsla(125, 52%, 29%, 1);
--tone-07: hsla(145, 61%, 31%, 1);
--tone-08: hsla(170, 70%, 33%, 1);
--tone-09: hsla(200, 79%, 35%, 1);
--tone-10: hsla(217, 88%, 36%, 1);
--tone-11: hsla(242, 52%, 38%, 1);
--tone-12: hsla(273, 61%, 40%, 1);
--tone-13: hsla(294, 70%, 42%, 1);
--tone-14: hsla(319, 79%, 44%, 1);
--tone-15: hsla(343, 88%, 46%, 1);
--tone-16: hsla(2, 52%, 47%, 1);
--tone-17: hsla(25, 61%, 49%, 1);
--tone-18: hsla(46, 70%, 51%, 1);
--tone-19: hsla(76, 79%, 53%, 1);
--tone-20: hsla(103, 88%, 55%, 1);
--tone-21: hsla(127, 52%, 56%, 1);
--tone-22: hsla(144, 61%, 58%, 1);
--tone-23: hsla(169, 70%, 60%, 1);
--tone-24: hsla(201, 79%, 62%, 1);
--tone-25: hsla(217, 88%, 64%, 1);
--tone-26: hsla(239, 52%, 66%, 1);
--tone-27: hsla(263, 61%, 67%, 1);
--tone-28: hsla(292, 70%, 69%, 1);
--tone-29: hsla(319, 79%, 71%, 1);
--tone-30: hsla(340, 88%, 73%, 1);
--tone-31: hsla(5, 52%, 75%, 1);
--tone-32: hsla(29, 61%, 77%, 1);
--tone-33: hsla(53, 70%, 78%, 1);
--tone-34: hsla(71, 79%, 80%, 1);
--tone-35: hsla(95, 88%, 82%, 1);
}

/* SCSS HEX */
$tone-01: #4e1d18ff;
$tone-02: #5a3316ff;
$tone-03: #676112ff;
$tone-04: #52740eff;
$tone-05: #2e8308ff;
$tone-06: #24712bff;
$tone-07: #1f7f47ff;
$tone-08: #198e7aff;
$tone-09: #13709eff;
$tone-10: #0b4aafff;
$tone-11: #332f94ff;
$tone-12: #6c28a4ff;
$tone-13: #a720b6ff;
$tone-14: #c7178fff;
$tone-15: #da0e46ff;
$tone-16: #b83d3aff;
$tone-17: #ca7031ff;
$tone-18: #dab02bff;
$tone-19: #b3e628ff;
$tone-20: #5ef126ff;
$tone-21: #56ca64ff;
$tone-22: #54d688ff;
$tone-23: #52e0c7ff;
$tone-24: #51b5ebff;
$tone-25: #518ff4ff;
$tone-26: #7a7bd5ff;
$tone-27: #a079dfff;
$tone-28: #d97ae7ff;
$tone-29: #f07bcbff;
$tone-30: #f77da6ff;
$tone-31: #e0a39dff;
$tone-32: #e8c29fff;
$tone-33: #eee5a1ff;
$tone-34: #e5f4a5ff;
$tone-35: #cbf9a9ff;

/* SCSS HSL */
$tone-01: hsla(5, 52%, 20%, 1);
$tone-02: hsla(26, 61%, 22%, 1);
$tone-03: hsla(56, 70%, 24%, 1);
$tone-04: hsla(80, 79%, 25%, 1);
$tone-05: hsla(102, 88%, 27%, 1);
$tone-06: hsla(125, 52%, 29%, 1);
$tone-07: hsla(145, 61%, 31%, 1);
$tone-08: hsla(170, 70%, 33%, 1);
$tone-09: hsla(200, 79%, 35%, 1);
$tone-10: hsla(217, 88%, 36%, 1);
$tone-11: hsla(242, 52%, 38%, 1);
$tone-12: hsla(273, 61%, 40%, 1);
$tone-13: hsla(294, 70%, 42%, 1);
$tone-14: hsla(319, 79%, 44%, 1);
$tone-15: hsla(343, 88%, 46%, 1);
$tone-16: hsla(2, 52%, 47%, 1);
$tone-17: hsla(25, 61%, 49%, 1);
$tone-18: hsla(46, 70%, 51%, 1);
$tone-19: hsla(76, 79%, 53%, 1);
$tone-20: hsla(103, 88%, 55%, 1);
$tone-21: hsla(127, 52%, 56%, 1);
$tone-22: hsla(144, 61%, 58%, 1);
$tone-23: hsla(169, 70%, 60%, 1);
$tone-24: hsla(201, 79%, 62%, 1);
$tone-25: hsla(217, 88%, 64%, 1);
$tone-26: hsla(239, 52%, 66%, 1);
$tone-27: hsla(263, 61%, 67%, 1);
$tone-28: hsla(292, 70%, 69%, 1);
$tone-29: hsla(319, 79%, 71%, 1);
$tone-30: hsla(340, 88%, 73%, 1);
$tone-31: hsla(5, 52%, 75%, 1);
$tone-32: hsla(29, 61%, 77%, 1);
$tone-33: hsla(53, 70%, 78%, 1);
$tone-34: hsla(71, 79%, 80%, 1);
$tone-35: hsla(95, 88%, 82%, 1);

/* SCSS RGB */
$tone-01: rgba(78, 29, 24, 1);
$tone-02: rgba(90, 51, 22, 1);
$tone-03: rgba(103, 97, 18, 1);
$tone-04: rgba(82, 116, 14, 1);
$tone-05: rgba(46, 131, 8, 1);
$tone-06: rgba(36, 113, 43, 1);
$tone-07: rgba(31, 127, 71, 1);
$tone-08: rgba(25, 142, 122, 1);
$tone-09: rgba(19, 112, 158, 1);
$tone-10: rgba(11, 74, 175, 1);
$tone-11: rgba(51, 47, 148, 1);
$tone-12: rgba(108, 40, 164, 1);
$tone-13: rgba(167, 32, 182, 1);
$tone-14: rgba(199, 23, 143, 1);
$tone-15: rgba(218, 14, 70, 1);
$tone-16: rgba(184, 61, 58, 1);
$tone-17: rgba(202, 112, 49, 1);
$tone-18: rgba(218, 176, 43, 1);
$tone-19: rgba(179, 230, 40, 1);
$tone-20: rgba(94, 241, 38, 1);
$tone-21: rgba(86, 202, 100, 1);
$tone-22: rgba(84, 214, 136, 1);
$tone-23: rgba(82, 224, 199, 1);
$tone-24: rgba(81, 181, 235, 1);
$tone-25: rgba(81, 143, 244, 1);
$tone-26: rgba(122, 123, 213, 1);
$tone-27: rgba(160, 121, 223, 1);
$tone-28: rgba(217, 122, 231, 1);
$tone-29: rgba(240, 123, 203, 1);
$tone-30: rgba(247, 125, 166, 1);
$tone-31: rgba(224, 163, 157, 1);
$tone-32: rgba(232, 194, 159, 1);
$tone-33: rgba(238, 229, 161, 1);
$tone-34: rgba(229, 244, 165, 1);
$tone-35: rgba(203, 249, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-right: linear-gradient(90deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-bottom: linear-gradient(180deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-left: linear-gradient(270deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-top-right: linear-gradient(45deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-bottom-right: linear-gradient(135deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-top-left: linear-gradient(225deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-bottom-left: linear-gradient(315deg, #4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);
$gradient-radial: radial-gradient(#4e1d18ff, #5a3316ff, #676112ff, #52740eff, #2e8308ff, #24712bff, #1f7f47ff, #198e7aff, #13709eff, #0b4aafff, #332f94ff, #6c28a4ff, #a720b6ff, #c7178fff, #da0e46ff, #b83d3aff, #ca7031ff, #dab02bff, #b3e628ff, #5ef126ff, #56ca64ff, #54d688ff, #52e0c7ff, #51b5ebff, #518ff4ff, #7a7bd5ff, #a079dfff, #d97ae7ff, #f07bcbff, #f77da6ff, #e0a39dff, #e8c29fff, #eee5a1ff, #e5f4a5ff, #cbf9a9ff);

/* SCSS Map */
$harbor-mosaic-35-03-map: (
    "tone-01": #4e1d18ff,
    "tone-02": #5a3316ff,
    "tone-03": #676112ff,
    "tone-04": #52740eff,
    "tone-05": #2e8308ff,
    "tone-06": #24712bff,
    "tone-07": #1f7f47ff,
    "tone-08": #198e7aff,
    "tone-09": #13709eff,
    "tone-10": #0b4aafff,
    "tone-11": #332f94ff,
    "tone-12": #6c28a4ff,
    "tone-13": #a720b6ff,
    "tone-14": #c7178fff,
    "tone-15": #da0e46ff,
    "tone-16": #b83d3aff,
    "tone-17": #ca7031ff,
    "tone-18": #dab02bff,
    "tone-19": #b3e628ff,
    "tone-20": #5ef126ff,
    "tone-21": #56ca64ff,
    "tone-22": #54d688ff,
    "tone-23": #52e0c7ff,
    "tone-24": #51b5ebff,
    "tone-25": #518ff4ff,
    "tone-26": #7a7bd5ff,
    "tone-27": #a079dfff,
    "tone-28": #d97ae7ff,
    "tone-29": #f07bcbff,
    "tone-30": #f77da6ff,
    "tone-31": #e0a39dff,
    "tone-32": #e8c29fff,
    "tone-33": #eee5a1ff,
    "tone-34": #e5f4a5ff,
    "tone-35": #cbf9a9ff
);
