/*---
id: magenta-span-35-11
name: Magenta Span Grand
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 35
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 35-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--very-dark-brown: #1a0f17ff;
--dark: #23121eff;
--almost-black: #2c1626ff;
--eggplant: #351a2dff;
--aubergine: #411a36ff;
--dark-plum: #491f3eff;
--plum: #542046ff;
--grape: #5e234aff;
--grape-purple: #6d2056ff;
--velvet: #762461ff;
--rich-purple: #832466ff;
--red-violet: #922272ff;
--deep-magenta: #9f2175ff;
--magenta: #b21b87ff;
--purpley-pink: #bf1b94ff;
--barbie-pink: #cc1a95ff;
--bright-pink: #da18a2ff;
--hot-magenta: #f00fb6ff;
--shocking-pink: #e823b5ff;
--candy-pink: #eb2eb9ff;
--pinky-purple: #e73eb9ff;
--purplish-pink: #e24fb0ff;
--pale-magenta: #e05eb5ff;
--bubblegum-pink: #df6bc1ff;
--lavender-pink: #e077c2ff;
--orchid: #de86c0ff;
--pink: #e190c7ff;
--powder-pink: #dda0ccff;
--baby-pink: #dfabd1ff;
--very-light-purple: #e3b4d6ff;
--light-pink: #e4bfd9ff;
--pale-pink: #e6cadeff;
--very-light-pink: #e8d4e1ff;
--white: #ebdee7ff;
--ice-blue: #f0e6edff;

/* CSS HSL */
--very-dark-brown: hsla(318, 27%, 8%, 1);
--dark: hsla(318, 31%, 10%, 1);
--almost-black: hsla(318, 34%, 13%, 1);
--eggplant: hsla(318, 35%, 15%, 1);
--aubergine: hsla(318, 42%, 18%, 1);
--dark-plum: hsla(318, 41%, 20%, 1);
--plum: hsla(318, 45%, 23%, 1);
--grape: hsla(318, 46%, 25%, 1);
--grape-purple: hsla(318, 54%, 28%, 1);
--velvet: hsla(318, 53%, 30%, 1);
--rich-purple: hsla(318, 57%, 33%, 1);
--red-violet: hsla(318, 63%, 35%, 1);
--deep-magenta: hsla(318, 66%, 38%, 1);
--magenta: hsla(318, 74%, 40%, 1);
--purpley-pink: hsla(318, 75%, 43%, 1);
--barbie-pink: hsla(318, 78%, 45%, 1);
--bright-pink: hsla(318, 80%, 48%, 1);
--hot-magenta: hsla(318, 88%, 50%, 1);
--shocking-pink: hsla(318, 81%, 52%, 1);
--candy-pink: hsla(318, 82%, 55%, 1);
--pinky-purple: hsla(318, 78%, 57%, 1);
--purplish-pink: hsla(318, 72%, 60%, 1);
--pale-magenta: hsla(318, 67%, 62%, 1);
--bubblegum-pink: hsla(318, 65%, 65%, 1);
--lavender-pink: hsla(318, 63%, 67%, 1);
--orchid: hsla(318, 57%, 70%, 1);
--pink: hsla(318, 57%, 72%, 1);
--powder-pink: hsla(318, 47%, 75%, 1);
--baby-pink: hsla(318, 44%, 77%, 1);
--very-light-purple: hsla(318, 45%, 80%, 1);
--light-pink: hsla(318, 41%, 82%, 1);
--pale-pink: hsla(318, 36%, 85%, 1);
--very-light-pink: hsla(318, 30%, 87%, 1);
--white: hsla(318, 25%, 90%, 1);
--ice-blue: hsla(318, 24%, 92%, 1);
}

/* SCSS HEX */
$very-dark-brown: #1a0f17ff;
$dark: #23121eff;
$almost-black: #2c1626ff;
$eggplant: #351a2dff;
$aubergine: #411a36ff;
$dark-plum: #491f3eff;
$plum: #542046ff;
$grape: #5e234aff;
$grape-purple: #6d2056ff;
$velvet: #762461ff;
$rich-purple: #832466ff;
$red-violet: #922272ff;
$deep-magenta: #9f2175ff;
$magenta: #b21b87ff;
$purpley-pink: #bf1b94ff;
$barbie-pink: #cc1a95ff;
$bright-pink: #da18a2ff;
$hot-magenta: #f00fb6ff;
$shocking-pink: #e823b5ff;
$candy-pink: #eb2eb9ff;
$pinky-purple: #e73eb9ff;
$purplish-pink: #e24fb0ff;
$pale-magenta: #e05eb5ff;
$bubblegum-pink: #df6bc1ff;
$lavender-pink: #e077c2ff;
$orchid: #de86c0ff;
$pink: #e190c7ff;
$powder-pink: #dda0ccff;
$baby-pink: #dfabd1ff;
$very-light-purple: #e3b4d6ff;
$light-pink: #e4bfd9ff;
$pale-pink: #e6cadeff;
$very-light-pink: #e8d4e1ff;
$white: #ebdee7ff;
$ice-blue: #f0e6edff;

/* SCSS HSL */
$very-dark-brown: hsla(318, 27%, 8%, 1);
$dark: hsla(318, 31%, 10%, 1);
$almost-black: hsla(318, 34%, 13%, 1);
$eggplant: hsla(318, 35%, 15%, 1);
$aubergine: hsla(318, 42%, 18%, 1);
$dark-plum: hsla(318, 41%, 20%, 1);
$plum: hsla(318, 45%, 23%, 1);
$grape: hsla(318, 46%, 25%, 1);
$grape-purple: hsla(318, 54%, 28%, 1);
$velvet: hsla(318, 53%, 30%, 1);
$rich-purple: hsla(318, 57%, 33%, 1);
$red-violet: hsla(318, 63%, 35%, 1);
$deep-magenta: hsla(318, 66%, 38%, 1);
$magenta: hsla(318, 74%, 40%, 1);
$purpley-pink: hsla(318, 75%, 43%, 1);
$barbie-pink: hsla(318, 78%, 45%, 1);
$bright-pink: hsla(318, 80%, 48%, 1);
$hot-magenta: hsla(318, 88%, 50%, 1);
$shocking-pink: hsla(318, 81%, 52%, 1);
$candy-pink: hsla(318, 82%, 55%, 1);
$pinky-purple: hsla(318, 78%, 57%, 1);
$purplish-pink: hsla(318, 72%, 60%, 1);
$pale-magenta: hsla(318, 67%, 62%, 1);
$bubblegum-pink: hsla(318, 65%, 65%, 1);
$lavender-pink: hsla(318, 63%, 67%, 1);
$orchid: hsla(318, 57%, 70%, 1);
$pink: hsla(318, 57%, 72%, 1);
$powder-pink: hsla(318, 47%, 75%, 1);
$baby-pink: hsla(318, 44%, 77%, 1);
$very-light-purple: hsla(318, 45%, 80%, 1);
$light-pink: hsla(318, 41%, 82%, 1);
$pale-pink: hsla(318, 36%, 85%, 1);
$very-light-pink: hsla(318, 30%, 87%, 1);
$white: hsla(318, 25%, 90%, 1);
$ice-blue: hsla(318, 24%, 92%, 1);

/* SCSS RGB */
$very-dark-brown: rgba(26, 15, 23, 1);
$dark: rgba(35, 18, 30, 1);
$almost-black: rgba(44, 22, 38, 1);
$eggplant: rgba(53, 26, 45, 1);
$aubergine: rgba(65, 26, 54, 1);
$dark-plum: rgba(73, 31, 62, 1);
$plum: rgba(84, 32, 70, 1);
$grape: rgba(94, 35, 74, 1);
$grape-purple: rgba(109, 32, 86, 1);
$velvet: rgba(118, 36, 97, 1);
$rich-purple: rgba(131, 36, 102, 1);
$red-violet: rgba(146, 34, 114, 1);
$deep-magenta: rgba(159, 33, 117, 1);
$magenta: rgba(178, 27, 135, 1);
$purpley-pink: rgba(191, 27, 148, 1);
$barbie-pink: rgba(204, 26, 149, 1);
$bright-pink: rgba(218, 24, 162, 1);
$hot-magenta: rgba(240, 15, 182, 1);
$shocking-pink: rgba(232, 35, 181, 1);
$candy-pink: rgba(235, 46, 185, 1);
$pinky-purple: rgba(231, 62, 185, 1);
$purplish-pink: rgba(226, 79, 176, 1);
$pale-magenta: rgba(224, 94, 181, 1);
$bubblegum-pink: rgba(223, 107, 193, 1);
$lavender-pink: rgba(224, 119, 194, 1);
$orchid: rgba(222, 134, 192, 1);
$pink: rgba(225, 144, 199, 1);
$powder-pink: rgba(221, 160, 204, 1);
$baby-pink: rgba(223, 171, 209, 1);
$very-light-purple: rgba(227, 180, 214, 1);
$light-pink: rgba(228, 191, 217, 1);
$pale-pink: rgba(230, 202, 222, 1);
$very-light-pink: rgba(232, 212, 225, 1);
$white: rgba(235, 222, 231, 1);
$ice-blue: rgba(240, 230, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-right: linear-gradient(90deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-bottom: linear-gradient(180deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-left: linear-gradient(270deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-top-right: linear-gradient(45deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-bottom-right: linear-gradient(135deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-top-left: linear-gradient(225deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-bottom-left: linear-gradient(315deg, #1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);
$gradient-radial: radial-gradient(#1a0f17ff, #23121eff, #2c1626ff, #351a2dff, #411a36ff, #491f3eff, #542046ff, #5e234aff, #6d2056ff, #762461ff, #832466ff, #922272ff, #9f2175ff, #b21b87ff, #bf1b94ff, #cc1a95ff, #da18a2ff, #f00fb6ff, #e823b5ff, #eb2eb9ff, #e73eb9ff, #e24fb0ff, #e05eb5ff, #df6bc1ff, #e077c2ff, #de86c0ff, #e190c7ff, #dda0ccff, #dfabd1ff, #e3b4d6ff, #e4bfd9ff, #e6cadeff, #e8d4e1ff, #ebdee7ff, #f0e6edff);

/* SCSS Map */
$magenta-span-35-11-map: (
    "very-dark-brown": #1a0f17ff,
    "dark": #23121eff,
    "almost-black": #2c1626ff,
    "eggplant": #351a2dff,
    "aubergine": #411a36ff,
    "dark-plum": #491f3eff,
    "plum": #542046ff,
    "grape": #5e234aff,
    "grape-purple": #6d2056ff,
    "velvet": #762461ff,
    "rich-purple": #832466ff,
    "red-violet": #922272ff,
    "deep-magenta": #9f2175ff,
    "magenta": #b21b87ff,
    "purpley-pink": #bf1b94ff,
    "barbie-pink": #cc1a95ff,
    "bright-pink": #da18a2ff,
    "hot-magenta": #f00fb6ff,
    "shocking-pink": #e823b5ff,
    "candy-pink": #eb2eb9ff,
    "pinky-purple": #e73eb9ff,
    "purplish-pink": #e24fb0ff,
    "pale-magenta": #e05eb5ff,
    "bubblegum-pink": #df6bc1ff,
    "lavender-pink": #e077c2ff,
    "orchid": #de86c0ff,
    "pink": #e190c7ff,
    "powder-pink": #dda0ccff,
    "baby-pink": #dfabd1ff,
    "very-light-purple": #e3b4d6ff,
    "light-pink": #e4bfd9ff,
    "pale-pink": #e6cadeff,
    "very-light-pink": #e8d4e1ff,
    "white": #ebdee7ff,
    "ice-blue": #f0e6edff
);
