/*---
id: nebula-mosaic-35-01
name: Nebula Mosaic Full
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 35
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 35-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-plum: #4e1831ff;
--dried-blood: #5a1b16ff;
--mud-brown: #675112ff;
--olive-green: #52740eff;
--emerald-green: #118308ff;
--spruce: #247142ff;
--deep-aqua: #1f737fff;
--blueberry: #193a8eff;
--indigo-blue: #33139eff;
--barney: #980bafff;
--red-purple: #942f5eff;
--dull-red: #a42829ff;
--yellowy-brown: #b68d20ff;
--slime-green: #94c717ff;
--vibrant-green: #24da0eff;
--dark-mint: #3ab86bff;
--turquoise-blue: #31b2caff;
--warm-blue: #2b5cdaff;
--purple-blue: #6b28e6ff;
--hot-purple: #cc26f1ff;
--pale-magenta: #ca5693ff;
--pastel-red: #d65457ff;
--desert: #e0ab52ff;
--pear: #bfeb51ff;
--lighter-green: #6af451ff;
--light-teal: #7ad5aaff;
--robins-egg-blue: #79d4dfff;
--carolina-blue: #7aa3e7ff;
--periwinkle: #927bf0ff;
--light-purple: #dc7df7ff;
--powder-pink: #e09dc5ff;
--pinkish-tan: #e8a99fff;
--light-peach: #eed1a1ff;
--light-khaki: #e1f4a5ff;
--washed-out-green: #b8f9a9ff;

/* CSS HSL */
--dark-plum: hsla(332, 52%, 20%, 1);
--dried-blood: hsla(5, 61%, 22%, 1);
--mud-brown: hsla(45, 70%, 24%, 1);
--olive-green: hsla(80, 79%, 25%, 1);
--emerald-green: hsla(116, 88%, 27%, 1);
--spruce: hsla(144, 52%, 29%, 1);
--deep-aqua: hsla(187, 61%, 31%, 1);
--blueberry: hsla(223, 70%, 33%, 1);
--indigo-blue: hsla(254, 79%, 35%, 1);
--barney: hsla(292, 88%, 36%, 1);
--red-purple: hsla(332, 52%, 38%, 1);
--dull-red: hsla(359, 61%, 40%, 1);
--yellowy-brown: hsla(44, 70%, 42%, 1);
--slime-green: hsla(78, 79%, 44%, 1);
--vibrant-green: hsla(113, 88%, 46%, 1);
--dark-mint: hsla(144, 52%, 47%, 1);
--turquoise-blue: hsla(189, 61%, 49%, 1);
--warm-blue: hsla(223, 70%, 51%, 1);
--purple-blue: hsla(261, 79%, 53%, 1);
--hot-purple: hsla(289, 88%, 55%, 1);
--pale-magenta: hsla(328, 52%, 56%, 1);
--pastel-red: hsla(358, 61%, 58%, 1);
--desert: hsla(38, 70%, 60%, 1);
--pear: hsla(77, 79%, 62%, 1);
--lighter-green: hsla(111, 88%, 64%, 1);
--light-teal: hsla(152, 52%, 66%, 1);
--robins-egg-blue: hsla(186, 61%, 67%, 1);
--carolina-blue: hsla(217, 70%, 69%, 1);
--periwinkle: hsla(252, 79%, 71%, 1);
--light-purple: hsla(287, 88%, 73%, 1);
--powder-pink: hsla(324, 52%, 75%, 1);
--pinkish-tan: hsla(8, 61%, 77%, 1);
--light-peach: hsla(37, 70%, 78%, 1);
--light-khaki: hsla(74, 79%, 80%, 1);
--washed-out-green: hsla(109, 88%, 82%, 1);
}

/* SCSS HEX */
$dark-plum: #4e1831ff;
$dried-blood: #5a1b16ff;
$mud-brown: #675112ff;
$olive-green: #52740eff;
$emerald-green: #118308ff;
$spruce: #247142ff;
$deep-aqua: #1f737fff;
$blueberry: #193a8eff;
$indigo-blue: #33139eff;
$barney: #980bafff;
$red-purple: #942f5eff;
$dull-red: #a42829ff;
$yellowy-brown: #b68d20ff;
$slime-green: #94c717ff;
$vibrant-green: #24da0eff;
$dark-mint: #3ab86bff;
$turquoise-blue: #31b2caff;
$warm-blue: #2b5cdaff;
$purple-blue: #6b28e6ff;
$hot-purple: #cc26f1ff;
$pale-magenta: #ca5693ff;
$pastel-red: #d65457ff;
$desert: #e0ab52ff;
$pear: #bfeb51ff;
$lighter-green: #6af451ff;
$light-teal: #7ad5aaff;
$robins-egg-blue: #79d4dfff;
$carolina-blue: #7aa3e7ff;
$periwinkle: #927bf0ff;
$light-purple: #dc7df7ff;
$powder-pink: #e09dc5ff;
$pinkish-tan: #e8a99fff;
$light-peach: #eed1a1ff;
$light-khaki: #e1f4a5ff;
$washed-out-green: #b8f9a9ff;

/* SCSS HSL */
$dark-plum: hsla(332, 52%, 20%, 1);
$dried-blood: hsla(5, 61%, 22%, 1);
$mud-brown: hsla(45, 70%, 24%, 1);
$olive-green: hsla(80, 79%, 25%, 1);
$emerald-green: hsla(116, 88%, 27%, 1);
$spruce: hsla(144, 52%, 29%, 1);
$deep-aqua: hsla(187, 61%, 31%, 1);
$blueberry: hsla(223, 70%, 33%, 1);
$indigo-blue: hsla(254, 79%, 35%, 1);
$barney: hsla(292, 88%, 36%, 1);
$red-purple: hsla(332, 52%, 38%, 1);
$dull-red: hsla(359, 61%, 40%, 1);
$yellowy-brown: hsla(44, 70%, 42%, 1);
$slime-green: hsla(78, 79%, 44%, 1);
$vibrant-green: hsla(113, 88%, 46%, 1);
$dark-mint: hsla(144, 52%, 47%, 1);
$turquoise-blue: hsla(189, 61%, 49%, 1);
$warm-blue: hsla(223, 70%, 51%, 1);
$purple-blue: hsla(261, 79%, 53%, 1);
$hot-purple: hsla(289, 88%, 55%, 1);
$pale-magenta: hsla(328, 52%, 56%, 1);
$pastel-red: hsla(358, 61%, 58%, 1);
$desert: hsla(38, 70%, 60%, 1);
$pear: hsla(77, 79%, 62%, 1);
$lighter-green: hsla(111, 88%, 64%, 1);
$light-teal: hsla(152, 52%, 66%, 1);
$robins-egg-blue: hsla(186, 61%, 67%, 1);
$carolina-blue: hsla(217, 70%, 69%, 1);
$periwinkle: hsla(252, 79%, 71%, 1);
$light-purple: hsla(287, 88%, 73%, 1);
$powder-pink: hsla(324, 52%, 75%, 1);
$pinkish-tan: hsla(8, 61%, 77%, 1);
$light-peach: hsla(37, 70%, 78%, 1);
$light-khaki: hsla(74, 79%, 80%, 1);
$washed-out-green: hsla(109, 88%, 82%, 1);

/* SCSS RGB */
$dark-plum: rgba(78, 24, 49, 1);
$dried-blood: rgba(90, 27, 22, 1);
$mud-brown: rgba(103, 81, 18, 1);
$olive-green: rgba(82, 116, 14, 1);
$emerald-green: rgba(17, 131, 8, 1);
$spruce: rgba(36, 113, 66, 1);
$deep-aqua: rgba(31, 115, 127, 1);
$blueberry: rgba(25, 58, 142, 1);
$indigo-blue: rgba(51, 19, 158, 1);
$barney: rgba(152, 11, 175, 1);
$red-purple: rgba(148, 47, 94, 1);
$dull-red: rgba(164, 40, 41, 1);
$yellowy-brown: rgba(182, 141, 32, 1);
$slime-green: rgba(148, 199, 23, 1);
$vibrant-green: rgba(36, 218, 14, 1);
$dark-mint: rgba(58, 184, 107, 1);
$turquoise-blue: rgba(49, 178, 202, 1);
$warm-blue: rgba(43, 92, 218, 1);
$purple-blue: rgba(107, 40, 230, 1);
$hot-purple: rgba(204, 38, 241, 1);
$pale-magenta: rgba(202, 86, 147, 1);
$pastel-red: rgba(214, 84, 87, 1);
$desert: rgba(224, 171, 82, 1);
$pear: rgba(191, 235, 81, 1);
$lighter-green: rgba(106, 244, 81, 1);
$light-teal: rgba(122, 213, 170, 1);
$robins-egg-blue: rgba(121, 212, 223, 1);
$carolina-blue: rgba(122, 163, 231, 1);
$periwinkle: rgba(146, 123, 240, 1);
$light-purple: rgba(220, 125, 247, 1);
$powder-pink: rgba(224, 157, 197, 1);
$pinkish-tan: rgba(232, 169, 159, 1);
$light-peach: rgba(238, 209, 161, 1);
$light-khaki: rgba(225, 244, 165, 1);
$washed-out-green: rgba(184, 249, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-right: linear-gradient(90deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-bottom: linear-gradient(180deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-left: linear-gradient(270deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-top-right: linear-gradient(45deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-bottom-right: linear-gradient(135deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-top-left: linear-gradient(225deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-bottom-left: linear-gradient(315deg, #4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);
$gradient-radial: radial-gradient(#4e1831ff, #5a1b16ff, #675112ff, #52740eff, #118308ff, #247142ff, #1f737fff, #193a8eff, #33139eff, #980bafff, #942f5eff, #a42829ff, #b68d20ff, #94c717ff, #24da0eff, #3ab86bff, #31b2caff, #2b5cdaff, #6b28e6ff, #cc26f1ff, #ca5693ff, #d65457ff, #e0ab52ff, #bfeb51ff, #6af451ff, #7ad5aaff, #79d4dfff, #7aa3e7ff, #927bf0ff, #dc7df7ff, #e09dc5ff, #e8a99fff, #eed1a1ff, #e1f4a5ff, #b8f9a9ff);

/* SCSS Map */
$nebula-mosaic-35-01-map: (
    "dark-plum": #4e1831ff,
    "dried-blood": #5a1b16ff,
    "mud-brown": #675112ff,
    "olive-green": #52740eff,
    "emerald-green": #118308ff,
    "spruce": #247142ff,
    "deep-aqua": #1f737fff,
    "blueberry": #193a8eff,
    "indigo-blue": #33139eff,
    "barney": #980bafff,
    "red-purple": #942f5eff,
    "dull-red": #a42829ff,
    "yellowy-brown": #b68d20ff,
    "slime-green": #94c717ff,
    "vibrant-green": #24da0eff,
    "dark-mint": #3ab86bff,
    "turquoise-blue": #31b2caff,
    "warm-blue": #2b5cdaff,
    "purple-blue": #6b28e6ff,
    "hot-purple": #cc26f1ff,
    "pale-magenta": #ca5693ff,
    "pastel-red": #d65457ff,
    "desert": #e0ab52ff,
    "pear": #bfeb51ff,
    "lighter-green": #6af451ff,
    "light-teal": #7ad5aaff,
    "robins-egg-blue": #79d4dfff,
    "carolina-blue": #7aa3e7ff,
    "periwinkle": #927bf0ff,
    "light-purple": #dc7df7ff,
    "powder-pink": #e09dc5ff,
    "pinkish-tan": #e8a99fff,
    "light-peach": #eed1a1ff,
    "light-khaki": #e1f4a5ff,
    "washed-out-green": #b8f9a9ff
);
