/*---
id: aurora-mosaic-11-05
name: Aurora Mosaic Micro
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 11
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 11-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-slate-blue: #183c4eff;
--dark-indigo: #1a1f6cff;
--indigo: #55198cff;
--barney-purple: #b01597ff;
--cerise: #d70e5cff;
--terracota: #c36841ff;
--dull-yellow: #d4c44fff;
--pale-lime: #a7e360ff;
--baby-green: #74ef87ff;
--light-aqua: #8bf8d5ff;
--cloudy-blue: #b9d9e9ff;

/* CSS HSL */
--dark-slate-blue: hsla(200, 52%, 20%, 1);
--dark-indigo: hsla(236, 61%, 26%, 1);
--indigo: hsla(271, 70%, 32%, 1);
--barney-purple: hsla(310, 79%, 39%, 1);
--cerise: hsla(337, 88%, 45%, 1);
--terracota: hsla(18, 52%, 51%, 1);
--dull-yellow: hsla(53, 61%, 57%, 1);
--pale-lime: hsla(88, 70%, 63%, 1);
--baby-green: hsla(129, 79%, 70%, 1);
--light-aqua: hsla(161, 88%, 76%, 1);
--cloudy-blue: hsla(200, 52%, 82%, 1);
}

/* SCSS HEX */
$dark-slate-blue: #183c4eff;
$dark-indigo: #1a1f6cff;
$indigo: #55198cff;
$barney-purple: #b01597ff;
$cerise: #d70e5cff;
$terracota: #c36841ff;
$dull-yellow: #d4c44fff;
$pale-lime: #a7e360ff;
$baby-green: #74ef87ff;
$light-aqua: #8bf8d5ff;
$cloudy-blue: #b9d9e9ff;

/* SCSS HSL */
$dark-slate-blue: hsla(200, 52%, 20%, 1);
$dark-indigo: hsla(236, 61%, 26%, 1);
$indigo: hsla(271, 70%, 32%, 1);
$barney-purple: hsla(310, 79%, 39%, 1);
$cerise: hsla(337, 88%, 45%, 1);
$terracota: hsla(18, 52%, 51%, 1);
$dull-yellow: hsla(53, 61%, 57%, 1);
$pale-lime: hsla(88, 70%, 63%, 1);
$baby-green: hsla(129, 79%, 70%, 1);
$light-aqua: hsla(161, 88%, 76%, 1);
$cloudy-blue: hsla(200, 52%, 82%, 1);

/* SCSS RGB */
$dark-slate-blue: rgba(24, 60, 78, 1);
$dark-indigo: rgba(26, 31, 108, 1);
$indigo: rgba(85, 25, 140, 1);
$barney-purple: rgba(176, 21, 151, 1);
$cerise: rgba(215, 14, 92, 1);
$terracota: rgba(195, 104, 65, 1);
$dull-yellow: rgba(212, 196, 79, 1);
$pale-lime: rgba(167, 227, 96, 1);
$baby-green: rgba(116, 239, 135, 1);
$light-aqua: rgba(139, 248, 213, 1);
$cloudy-blue: rgba(185, 217, 233, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-right: linear-gradient(90deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-bottom: linear-gradient(180deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-left: linear-gradient(270deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-top-right: linear-gradient(45deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-bottom-right: linear-gradient(135deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-top-left: linear-gradient(225deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-bottom-left: linear-gradient(315deg, #183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);
$gradient-radial: radial-gradient(#183c4eff, #1a1f6cff, #55198cff, #b01597ff, #d70e5cff, #c36841ff, #d4c44fff, #a7e360ff, #74ef87ff, #8bf8d5ff, #b9d9e9ff);

/* SCSS Map */
$aurora-mosaic-11-05-map: (
    "dark-slate-blue": #183c4eff,
    "dark-indigo": #1a1f6cff,
    "indigo": #55198cff,
    "barney-purple": #b01597ff,
    "cerise": #d70e5cff,
    "terracota": #c36841ff,
    "dull-yellow": #d4c44fff,
    "pale-lime": #a7e360ff,
    "baby-green": #74ef87ff,
    "light-aqua": #8bf8d5ff,
    "cloudy-blue": #b9d9e9ff
);
