/*---
id: crimson-span-11-13
name: Crimson Span Micro
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 11
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 11-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #191210ff;
--dark-brown: #38221bff;
--chocolate-brown: #5e2f20ff;
--red-brown: #893321ff;
--rusty-red: #b43720ff;
--reddish-orange: #e94616ff;
--melon: #e46646ff;
--blush: #e08775ff;
--pinkish-tan: #e0ada0ff;
--pale-pink: #e5cac5ff;
--very-light-pink: #efe8e6ff;

/* CSS HSL */
--almost-black: hsla(12, 22%, 8%, 1);
--dark-brown: hsla(12, 35%, 16%, 1);
--chocolate-brown: hsla(12, 49%, 25%, 1);
--red-brown: hsla(12, 61%, 33%, 1);
--rusty-red: hsla(12, 70%, 42%, 1);
--reddish-orange: hsla(12, 83%, 50%, 1);
--melon: hsla(12, 74%, 58%, 1);
--blush: hsla(12, 63%, 67%, 1);
--pinkish-tan: hsla(12, 51%, 75%, 1);
--pale-pink: hsla(12, 39%, 84%, 1);
--very-light-pink: hsla(12, 23%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #191210ff;
$dark-brown: #38221bff;
$chocolate-brown: #5e2f20ff;
$red-brown: #893321ff;
$rusty-red: #b43720ff;
$reddish-orange: #e94616ff;
$melon: #e46646ff;
$blush: #e08775ff;
$pinkish-tan: #e0ada0ff;
$pale-pink: #e5cac5ff;
$very-light-pink: #efe8e6ff;

/* SCSS HSL */
$almost-black: hsla(12, 22%, 8%, 1);
$dark-brown: hsla(12, 35%, 16%, 1);
$chocolate-brown: hsla(12, 49%, 25%, 1);
$red-brown: hsla(12, 61%, 33%, 1);
$rusty-red: hsla(12, 70%, 42%, 1);
$reddish-orange: hsla(12, 83%, 50%, 1);
$melon: hsla(12, 74%, 58%, 1);
$blush: hsla(12, 63%, 67%, 1);
$pinkish-tan: hsla(12, 51%, 75%, 1);
$pale-pink: hsla(12, 39%, 84%, 1);
$very-light-pink: hsla(12, 23%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(25, 18, 16, 1);
$dark-brown: rgba(56, 34, 27, 1);
$chocolate-brown: rgba(94, 47, 32, 1);
$red-brown: rgba(137, 51, 33, 1);
$rusty-red: rgba(180, 55, 32, 1);
$reddish-orange: rgba(233, 70, 22, 1);
$melon: rgba(228, 102, 70, 1);
$blush: rgba(224, 135, 117, 1);
$pinkish-tan: rgba(224, 173, 160, 1);
$pale-pink: rgba(229, 202, 197, 1);
$very-light-pink: rgba(239, 232, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-right: linear-gradient(90deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-bottom: linear-gradient(180deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-left: linear-gradient(270deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-top-right: linear-gradient(45deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-bottom-right: linear-gradient(135deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-top-left: linear-gradient(225deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-bottom-left: linear-gradient(315deg, #191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);
$gradient-radial: radial-gradient(#191210ff, #38221bff, #5e2f20ff, #893321ff, #b43720ff, #e94616ff, #e46646ff, #e08775ff, #e0ada0ff, #e5cac5ff, #efe8e6ff);

/* SCSS Map */
$crimson-span-11-13-map: (
    "almost-black": #191210ff,
    "dark-brown": #38221bff,
    "chocolate-brown": #5e2f20ff,
    "red-brown": #893321ff,
    "rusty-red": #b43720ff,
    "reddish-orange": #e94616ff,
    "melon": #e46646ff,
    "blush": #e08775ff,
    "pinkish-tan": #e0ada0ff,
    "pale-pink": #e5cac5ff,
    "very-light-pink": #efe8e6ff
);
