/*---
id: rose-span-11-12
name: Rose Span Micro
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 11
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 11-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #191012ff;
--very-dark-brown: #3a191fff;
--purple-brown: #5c222dff;
--wine-red: #852430ff;
--rouge: #b61e3fff;
--pinkish-red: #ea1541ff;
--warm-pink: #e14865ff;
--pinkish: #e07582ff;
--faded-pink: #dfa1aaff;
--light-pink: #e3c7cdff;
--very-light-pink: #f0e5e7ff;

/* CSS HSL */
--almost-black: hsla(350, 22%, 8%, 1);
--very-dark-brown: hsla(350, 40%, 16%, 1);
--purple-brown: hsla(350, 46%, 25%, 1);
--wine-red: hsla(350, 57%, 33%, 1);
--rouge: hsla(350, 71%, 42%, 1);
--pinkish-red: hsla(350, 83%, 50%, 1);
--warm-pink: hsla(350, 72%, 58%, 1);
--pinkish: hsla(350, 63%, 67%, 1);
--faded-pink: hsla(350, 49%, 75%, 1);
--light-pink: hsla(350, 34%, 84%, 1);
--very-light-pink: hsla(350, 28%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #191012ff;
$very-dark-brown: #3a191fff;
$purple-brown: #5c222dff;
$wine-red: #852430ff;
$rouge: #b61e3fff;
$pinkish-red: #ea1541ff;
$warm-pink: #e14865ff;
$pinkish: #e07582ff;
$faded-pink: #dfa1aaff;
$light-pink: #e3c7cdff;
$very-light-pink: #f0e5e7ff;

/* SCSS HSL */
$almost-black: hsla(350, 22%, 8%, 1);
$very-dark-brown: hsla(350, 40%, 16%, 1);
$purple-brown: hsla(350, 46%, 25%, 1);
$wine-red: hsla(350, 57%, 33%, 1);
$rouge: hsla(350, 71%, 42%, 1);
$pinkish-red: hsla(350, 83%, 50%, 1);
$warm-pink: hsla(350, 72%, 58%, 1);
$pinkish: hsla(350, 63%, 67%, 1);
$faded-pink: hsla(350, 49%, 75%, 1);
$light-pink: hsla(350, 34%, 84%, 1);
$very-light-pink: hsla(350, 28%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(25, 16, 18, 1);
$very-dark-brown: rgba(58, 25, 31, 1);
$purple-brown: rgba(92, 34, 45, 1);
$wine-red: rgba(133, 36, 48, 1);
$rouge: rgba(182, 30, 63, 1);
$pinkish-red: rgba(234, 21, 65, 1);
$warm-pink: rgba(225, 72, 101, 1);
$pinkish: rgba(224, 117, 130, 1);
$faded-pink: rgba(223, 161, 170, 1);
$light-pink: rgba(227, 199, 205, 1);
$very-light-pink: rgba(240, 229, 231, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-right: linear-gradient(90deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-bottom: linear-gradient(180deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-left: linear-gradient(270deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-top-right: linear-gradient(45deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-bottom-right: linear-gradient(135deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-top-left: linear-gradient(225deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-bottom-left: linear-gradient(315deg, #191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);
$gradient-radial: radial-gradient(#191012ff, #3a191fff, #5c222dff, #852430ff, #b61e3fff, #ea1541ff, #e14865ff, #e07582ff, #dfa1aaff, #e3c7cdff, #f0e5e7ff);

/* SCSS Map */
$rose-span-11-12-map: (
    "almost-black": #191012ff,
    "very-dark-brown": #3a191fff,
    "purple-brown": #5c222dff,
    "wine-red": #852430ff,
    "rouge": #b61e3fff,
    "pinkish-red": #ea1541ff,
    "warm-pink": #e14865ff,
    "pinkish": #e07582ff,
    "faded-pink": #dfa1aaff,
    "light-pink": #e3c7cdff,
    "very-light-pink": #f0e5e7ff
);
