/*---
id: violet-span-11-10
name: Violet Span Micro
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 11
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 11-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #170f1aff;
--eggplant: #301c38ff;
--plum-purple: #4f205fff;
--purple: #6d2288ff;
--barney: #931abaff;
--vibrant-purple: #b314ebff;
--heliotrope: #c644e6ff;
--orchid: #c978dcff;
--pale-purple: #d2a3dcff;
--pale-lavender: #dec7e3ff;
--very-light-pink: #ede5f0ff;

/* CSS HSL */
--almost-black: hsla(286, 26%, 8%, 1);
--eggplant: hsla(286, 33%, 16%, 1);
--plum-purple: hsla(286, 50%, 25%, 1);
--purple: hsla(286, 60%, 33%, 1);
--barney: hsla(286, 76%, 42%, 1);
--vibrant-purple: hsla(286, 84%, 50%, 1);
--heliotrope: hsla(286, 77%, 58%, 1);
--orchid: hsla(286, 59%, 67%, 1);
--pale-purple: hsla(286, 45%, 75%, 1);
--pale-lavender: hsla(286, 33%, 84%, 1);
--very-light-pink: hsla(286, 26%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #170f1aff;
$eggplant: #301c38ff;
$plum-purple: #4f205fff;
$purple: #6d2288ff;
$barney: #931abaff;
$vibrant-purple: #b314ebff;
$heliotrope: #c644e6ff;
$orchid: #c978dcff;
$pale-purple: #d2a3dcff;
$pale-lavender: #dec7e3ff;
$very-light-pink: #ede5f0ff;

/* SCSS HSL */
$almost-black: hsla(286, 26%, 8%, 1);
$eggplant: hsla(286, 33%, 16%, 1);
$plum-purple: hsla(286, 50%, 25%, 1);
$purple: hsla(286, 60%, 33%, 1);
$barney: hsla(286, 76%, 42%, 1);
$vibrant-purple: hsla(286, 84%, 50%, 1);
$heliotrope: hsla(286, 77%, 58%, 1);
$orchid: hsla(286, 59%, 67%, 1);
$pale-purple: hsla(286, 45%, 75%, 1);
$pale-lavender: hsla(286, 33%, 84%, 1);
$very-light-pink: hsla(286, 26%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(23, 15, 26, 1);
$eggplant: rgba(48, 28, 56, 1);
$plum-purple: rgba(79, 32, 95, 1);
$purple: rgba(109, 34, 136, 1);
$barney: rgba(147, 26, 186, 1);
$vibrant-purple: rgba(179, 20, 235, 1);
$heliotrope: rgba(198, 68, 230, 1);
$orchid: rgba(201, 120, 220, 1);
$pale-purple: rgba(210, 163, 220, 1);
$pale-lavender: rgba(222, 199, 227, 1);
$very-light-pink: rgba(237, 229, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-right: linear-gradient(90deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-bottom: linear-gradient(180deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-left: linear-gradient(270deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-top-right: linear-gradient(45deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-bottom-right: linear-gradient(135deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-top-left: linear-gradient(225deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-bottom-left: linear-gradient(315deg, #170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);
$gradient-radial: radial-gradient(#170f1aff, #301c38ff, #4f205fff, #6d2288ff, #931abaff, #b314ebff, #c644e6ff, #c978dcff, #d2a3dcff, #dec7e3ff, #ede5f0ff);

/* SCSS Map */
$violet-span-11-10-map: (
    "almost-black": #170f1aff,
    "eggplant": #301c38ff,
    "plum-purple": #4f205fff,
    "purple": #6d2288ff,
    "barney": #931abaff,
    "vibrant-purple": #b314ebff,
    "heliotrope": #c644e6ff,
    "orchid": #c978dcff,
    "pale-purple": #d2a3dcff,
    "pale-lavender": #dec7e3ff,
    "very-light-pink": #ede5f0ff
);
