/*---
id: harbor-mosaic-17-05
name: Harbor Mosaic Mini
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 17
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 17-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-plum: #4e182cff;
--brown: #623318ff;
--browny-green: #787615ff;
--dark-grass-green: #499011ff;
--green: #0baa0cff;
--ocean-green: #309976ff;
--nice-blue: #2b81b2ff;
--blue: #2437ccff;
--purple-blue: #741fe5ff;
--hot-magenta: #f127d5ff;
--pinkish: #cd5f80ff;
--dark-peach: #da8666ff;
--sandy: #e5d86eff;
--light-yellowish-green: #acef78ff;
--easter-green: #84f787ff;
--pale-aqua: #aae4d4ff;
--pale-sky-blue: #b5dfedff;

/* CSS HSL */
--dark-plum: hsla(338, 52%, 20%, 1);
--brown: hsla(22, 61%, 24%, 1);
--browny-green: hsla(59, 70%, 28%, 1);
--dark-grass-green: hsla(94, 79%, 32%, 1);
--green: hsla(120, 88%, 36%, 1);
--ocean-green: hsla(160, 52%, 39%, 1);
--nice-blue: hsla(202, 61%, 43%, 1);
--blue: hsla(233, 70%, 47%, 1);
--purple-blue: hsla(266, 79%, 51%, 1);
--hot-magenta: hsla(308, 88%, 55%, 1);
--pinkish: hsla(342, 52%, 59%, 1);
--dark-peach: hsla(17, 61%, 63%, 1);
--sandy: hsla(53, 70%, 66%, 1);
--light-yellowish-green: hsla(94, 79%, 70%, 1);
--easter-green: hsla(122, 88%, 74%, 1);
--pale-aqua: hsla(163, 52%, 78%, 1);
--pale-sky-blue: hsla(195, 61%, 82%, 1);
}

/* SCSS HEX */
$dark-plum: #4e182cff;
$brown: #623318ff;
$browny-green: #787615ff;
$dark-grass-green: #499011ff;
$green: #0baa0cff;
$ocean-green: #309976ff;
$nice-blue: #2b81b2ff;
$blue: #2437ccff;
$purple-blue: #741fe5ff;
$hot-magenta: #f127d5ff;
$pinkish: #cd5f80ff;
$dark-peach: #da8666ff;
$sandy: #e5d86eff;
$light-yellowish-green: #acef78ff;
$easter-green: #84f787ff;
$pale-aqua: #aae4d4ff;
$pale-sky-blue: #b5dfedff;

/* SCSS HSL */
$dark-plum: hsla(338, 52%, 20%, 1);
$brown: hsla(22, 61%, 24%, 1);
$browny-green: hsla(59, 70%, 28%, 1);
$dark-grass-green: hsla(94, 79%, 32%, 1);
$green: hsla(120, 88%, 36%, 1);
$ocean-green: hsla(160, 52%, 39%, 1);
$nice-blue: hsla(202, 61%, 43%, 1);
$blue: hsla(233, 70%, 47%, 1);
$purple-blue: hsla(266, 79%, 51%, 1);
$hot-magenta: hsla(308, 88%, 55%, 1);
$pinkish: hsla(342, 52%, 59%, 1);
$dark-peach: hsla(17, 61%, 63%, 1);
$sandy: hsla(53, 70%, 66%, 1);
$light-yellowish-green: hsla(94, 79%, 70%, 1);
$easter-green: hsla(122, 88%, 74%, 1);
$pale-aqua: hsla(163, 52%, 78%, 1);
$pale-sky-blue: hsla(195, 61%, 82%, 1);

/* SCSS RGB */
$dark-plum: rgba(78, 24, 44, 1);
$brown: rgba(98, 51, 24, 1);
$browny-green: rgba(120, 118, 21, 1);
$dark-grass-green: rgba(73, 144, 17, 1);
$green: rgba(11, 170, 12, 1);
$ocean-green: rgba(48, 153, 118, 1);
$nice-blue: rgba(43, 129, 178, 1);
$blue: rgba(36, 55, 204, 1);
$purple-blue: rgba(116, 31, 229, 1);
$hot-magenta: rgba(241, 39, 213, 1);
$pinkish: rgba(205, 95, 128, 1);
$dark-peach: rgba(218, 134, 102, 1);
$sandy: rgba(229, 216, 110, 1);
$light-yellowish-green: rgba(172, 239, 120, 1);
$easter-green: rgba(132, 247, 135, 1);
$pale-aqua: rgba(170, 228, 212, 1);
$pale-sky-blue: rgba(181, 223, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-right: linear-gradient(90deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-bottom: linear-gradient(180deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-left: linear-gradient(270deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-top-right: linear-gradient(45deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-bottom-right: linear-gradient(135deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-top-left: linear-gradient(225deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-bottom-left: linear-gradient(315deg, #4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);
$gradient-radial: radial-gradient(#4e182cff, #623318ff, #787615ff, #499011ff, #0baa0cff, #309976ff, #2b81b2ff, #2437ccff, #741fe5ff, #f127d5ff, #cd5f80ff, #da8666ff, #e5d86eff, #acef78ff, #84f787ff, #aae4d4ff, #b5dfedff);

/* SCSS Map */
$harbor-mosaic-17-05-map: (
    "dark-plum": #4e182cff,
    "brown": #623318ff,
    "browny-green": #787615ff,
    "dark-grass-green": #499011ff,
    "green": #0baa0cff,
    "ocean-green": #309976ff,
    "nice-blue": #2b81b2ff,
    "blue": #2437ccff,
    "purple-blue": #741fe5ff,
    "hot-magenta": #f127d5ff,
    "pinkish": #cd5f80ff,
    "dark-peach": #da8666ff,
    "sandy": #e5d86eff,
    "light-yellowish-green": #acef78ff,
    "easter-green": #84f787ff,
    "pale-aqua": #aae4d4ff,
    "pale-sky-blue": #b5dfedff
);
