/*---
id: honey-span-17-09
name: Honey Span Mini
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 17
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 17-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #1a170fff;
--dark-brown: #2e2816ff;
--dark-olive: #433b1bff;
--mud-brown: #594d20ff;
--mud: #735f21ff;
--hazel: #8b7623ff;
--yellowy-brown: #ad871dff;
--yellow-ochre: #cea616ff;
--squash: #e8ae17ff;
--gold: #e9c031ff;
--light-mustard: #e1b854ff;
--sand: #dfbf71ff;
--very-light-brown: #ddc68dff;
--beige: #e1d2a4ff;
--off-white: #e1d7bfff;
--very-light-pink: #e9e2d1ff;
--white: #efede6ff;

/* CSS HSL */
--almost-black: hsla(45, 26%, 8%, 1);
--dark-brown: hsla(45, 36%, 13%, 1);
--dark-olive: hsla(45, 42%, 18%, 1);
--mud-brown: hsla(45, 48%, 24%, 1);
--mud: hsla(45, 55%, 29%, 1);
--hazel: hsla(45, 60%, 34%, 1);
--yellowy-brown: hsla(45, 72%, 40%, 1);
--yellow-ochre: hsla(45, 80%, 45%, 1);
--squash: hsla(45, 82%, 50%, 1);
--gold: hsla(45, 81%, 55%, 1);
--light-mustard: hsla(45, 70%, 60%, 1);
--sand: hsla(45, 63%, 66%, 1);
--very-light-brown: hsla(45, 55%, 71%, 1);
--beige: hsla(45, 50%, 76%, 1);
--off-white: hsla(45, 36%, 82%, 1);
--very-light-pink: hsla(45, 36%, 87%, 1);
--white: hsla(45, 21%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #1a170fff;
$dark-brown: #2e2816ff;
$dark-olive: #433b1bff;
$mud-brown: #594d20ff;
$mud: #735f21ff;
$hazel: #8b7623ff;
$yellowy-brown: #ad871dff;
$yellow-ochre: #cea616ff;
$squash: #e8ae17ff;
$gold: #e9c031ff;
$light-mustard: #e1b854ff;
$sand: #dfbf71ff;
$very-light-brown: #ddc68dff;
$beige: #e1d2a4ff;
$off-white: #e1d7bfff;
$very-light-pink: #e9e2d1ff;
$white: #efede6ff;

/* SCSS HSL */
$almost-black: hsla(45, 26%, 8%, 1);
$dark-brown: hsla(45, 36%, 13%, 1);
$dark-olive: hsla(45, 42%, 18%, 1);
$mud-brown: hsla(45, 48%, 24%, 1);
$mud: hsla(45, 55%, 29%, 1);
$hazel: hsla(45, 60%, 34%, 1);
$yellowy-brown: hsla(45, 72%, 40%, 1);
$yellow-ochre: hsla(45, 80%, 45%, 1);
$squash: hsla(45, 82%, 50%, 1);
$gold: hsla(45, 81%, 55%, 1);
$light-mustard: hsla(45, 70%, 60%, 1);
$sand: hsla(45, 63%, 66%, 1);
$very-light-brown: hsla(45, 55%, 71%, 1);
$beige: hsla(45, 50%, 76%, 1);
$off-white: hsla(45, 36%, 82%, 1);
$very-light-pink: hsla(45, 36%, 87%, 1);
$white: hsla(45, 21%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(26, 23, 15, 1);
$dark-brown: rgba(46, 40, 22, 1);
$dark-olive: rgba(67, 59, 27, 1);
$mud-brown: rgba(89, 77, 32, 1);
$mud: rgba(115, 95, 33, 1);
$hazel: rgba(139, 118, 35, 1);
$yellowy-brown: rgba(173, 135, 29, 1);
$yellow-ochre: rgba(206, 166, 22, 1);
$squash: rgba(232, 174, 23, 1);
$gold: rgba(233, 192, 49, 1);
$light-mustard: rgba(225, 184, 84, 1);
$sand: rgba(223, 191, 113, 1);
$very-light-brown: rgba(221, 198, 141, 1);
$beige: rgba(225, 210, 164, 1);
$off-white: rgba(225, 215, 191, 1);
$very-light-pink: rgba(233, 226, 209, 1);
$white: rgba(239, 237, 230, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-right: linear-gradient(90deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-bottom: linear-gradient(180deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-left: linear-gradient(270deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-top-right: linear-gradient(45deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-bottom-right: linear-gradient(135deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-top-left: linear-gradient(225deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-bottom-left: linear-gradient(315deg, #1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);
$gradient-radial: radial-gradient(#1a170fff, #2e2816ff, #433b1bff, #594d20ff, #735f21ff, #8b7623ff, #ad871dff, #cea616ff, #e8ae17ff, #e9c031ff, #e1b854ff, #dfbf71ff, #ddc68dff, #e1d2a4ff, #e1d7bfff, #e9e2d1ff, #efede6ff);

/* SCSS Map */
$honey-span-17-09-map: (
    "almost-black": #1a170fff,
    "dark-brown": #2e2816ff,
    "dark-olive": #433b1bff,
    "mud-brown": #594d20ff,
    "mud": #735f21ff,
    "hazel": #8b7623ff,
    "yellowy-brown": #ad871dff,
    "yellow-ochre": #cea616ff,
    "squash": #e8ae17ff,
    "gold": #e9c031ff,
    "light-mustard": #e1b854ff,
    "sand": #dfbf71ff,
    "very-light-brown": #ddc68dff,
    "beige": #e1d2a4ff,
    "off-white": #e1d7bfff,
    "very-light-pink": #e9e2d1ff,
    "white": #efede6ff
);
