/*---
id: sapphire-span-17-14
name: Sapphire Span Micro
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 17
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 17-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f111aff;
--dark: #161c2dff;
--dark-slate-blue: #1d2842ff;
--marine: #1e305bff;
--darkish-blue: #223872ff;
--blueberry: #1e3991ff;
--sapphire: #1a44afff;
--blue-blue: #1647ceff;
--azul: #1456ebff;
--cerulean-blue: #3568e4ff;
--cornflower-blue: #5479e1ff;
--dark-sky-blue: #708ee0ff;
--pastel-blue: #8ea4dcff;
--light-periwinkle: #a6b3dfff;
--cloudy-blue: #bdc8e3ff;
--very-light-pink: #d2d9e8ff;
--white: #e5e9f0ff;

/* CSS HSL */
--almost-black: hsla(224, 26%, 8%, 1);
--dark: hsla(224, 34%, 13%, 1);
--dark-slate-blue: hsla(224, 39%, 18%, 1);
--marine: hsla(224, 51%, 24%, 1);
--darkish-blue: hsla(224, 54%, 29%, 1);
--blueberry: hsla(224, 66%, 34%, 1);
--sapphire: hsla(224, 74%, 40%, 1);
--blue-blue: hsla(224, 81%, 45%, 1);
--azul: hsla(224, 84%, 50%, 1);
--cerulean-blue: hsla(224, 77%, 55%, 1);
--cornflower-blue: hsla(224, 70%, 60%, 1);
--dark-sky-blue: hsla(224, 64%, 66%, 1);
--pastel-blue: hsla(224, 52%, 71%, 1);
--light-periwinkle: hsla(224, 47%, 76%, 1);
--cloudy-blue: hsla(224, 40%, 82%, 1);
--very-light-pink: hsla(224, 32%, 87%, 1);
--white: hsla(224, 27%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f111aff;
$dark: #161c2dff;
$dark-slate-blue: #1d2842ff;
$marine: #1e305bff;
$darkish-blue: #223872ff;
$blueberry: #1e3991ff;
$sapphire: #1a44afff;
$blue-blue: #1647ceff;
$azul: #1456ebff;
$cerulean-blue: #3568e4ff;
$cornflower-blue: #5479e1ff;
$dark-sky-blue: #708ee0ff;
$pastel-blue: #8ea4dcff;
$light-periwinkle: #a6b3dfff;
$cloudy-blue: #bdc8e3ff;
$very-light-pink: #d2d9e8ff;
$white: #e5e9f0ff;

/* SCSS HSL */
$almost-black: hsla(224, 26%, 8%, 1);
$dark: hsla(224, 34%, 13%, 1);
$dark-slate-blue: hsla(224, 39%, 18%, 1);
$marine: hsla(224, 51%, 24%, 1);
$darkish-blue: hsla(224, 54%, 29%, 1);
$blueberry: hsla(224, 66%, 34%, 1);
$sapphire: hsla(224, 74%, 40%, 1);
$blue-blue: hsla(224, 81%, 45%, 1);
$azul: hsla(224, 84%, 50%, 1);
$cerulean-blue: hsla(224, 77%, 55%, 1);
$cornflower-blue: hsla(224, 70%, 60%, 1);
$dark-sky-blue: hsla(224, 64%, 66%, 1);
$pastel-blue: hsla(224, 52%, 71%, 1);
$light-periwinkle: hsla(224, 47%, 76%, 1);
$cloudy-blue: hsla(224, 40%, 82%, 1);
$very-light-pink: hsla(224, 32%, 87%, 1);
$white: hsla(224, 27%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 17, 26, 1);
$dark: rgba(22, 28, 45, 1);
$dark-slate-blue: rgba(29, 40, 66, 1);
$marine: rgba(30, 48, 91, 1);
$darkish-blue: rgba(34, 56, 114, 1);
$blueberry: rgba(30, 57, 145, 1);
$sapphire: rgba(26, 68, 175, 1);
$blue-blue: rgba(22, 71, 206, 1);
$azul: rgba(20, 86, 235, 1);
$cerulean-blue: rgba(53, 104, 228, 1);
$cornflower-blue: rgba(84, 121, 225, 1);
$dark-sky-blue: rgba(112, 142, 224, 1);
$pastel-blue: rgba(142, 164, 220, 1);
$light-periwinkle: rgba(166, 179, 223, 1);
$cloudy-blue: rgba(189, 200, 227, 1);
$very-light-pink: rgba(210, 217, 232, 1);
$white: rgba(229, 233, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-right: linear-gradient(90deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-bottom: linear-gradient(180deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-left: linear-gradient(270deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-top-right: linear-gradient(45deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-bottom-right: linear-gradient(135deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-top-left: linear-gradient(225deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-bottom-left: linear-gradient(315deg, #0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);
$gradient-radial: radial-gradient(#0f111aff, #161c2dff, #1d2842ff, #1e305bff, #223872ff, #1e3991ff, #1a44afff, #1647ceff, #1456ebff, #3568e4ff, #5479e1ff, #708ee0ff, #8ea4dcff, #a6b3dfff, #bdc8e3ff, #d2d9e8ff, #e5e9f0ff);

/* SCSS Map */
$sapphire-span-17-14-map: (
    "almost-black": #0f111aff,
    "dark": #161c2dff,
    "dark-slate-blue": #1d2842ff,
    "marine": #1e305bff,
    "darkish-blue": #223872ff,
    "blueberry": #1e3991ff,
    "sapphire": #1a44afff,
    "blue-blue": #1647ceff,
    "azul": #1456ebff,
    "cerulean-blue": #3568e4ff,
    "cornflower-blue": #5479e1ff,
    "dark-sky-blue": #708ee0ff,
    "pastel-blue": #8ea4dcff,
    "light-periwinkle": #a6b3dfff,
    "cloudy-blue": #bdc8e3ff,
    "very-light-pink": #d2d9e8ff,
    "white": #e5e9f0ff
);
