/*---
id: azure-span-21-09
name: Azure Span Medium
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 21
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 21-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #101619ff;
--dark: #152329ff;
--charcoal: #1a2f3aff;
--dark-slate-blue: #1c3c4dff;
--deep-teal: #224e5cff;
--denim: #215973ff;
--ocean-blue: #206689ff;
--sea-blue: #1c7ca2ff;
--nice-blue: #2089b4ff;
--water-blue: #1598d5ff;
--sky-blue: #0db0f2ff;
--bright-sky-blue: #31afe4ff;
--turquoise-blue: #4abbe0ff;
--sky: #5fb5e0ff;
--light-blue: #7abfdbff;
--cloudy-blue: #8cc2deff;
--powder-blue: #a0cde0ff;
--pale-sky-blue: #b6d1dfff;
--very-light-blue: #c4dbe6ff;
--white: #d6e4eaff;
--very-light-pink: #e6ecefff;

/* CSS HSL */
--almost-black: hsla(198, 22%, 8%, 1);
--dark: hsla(198, 31%, 12%, 1);
--charcoal: hsla(198, 38%, 16%, 1);
--dark-slate-blue: hsla(198, 46%, 21%, 1);
--deep-teal: hsla(198, 46%, 25%, 1);
--denim: hsla(198, 56%, 29%, 1);
--ocean-blue: hsla(198, 62%, 33%, 1);
--sea-blue: hsla(198, 70%, 37%, 1);
--nice-blue: hsla(198, 70%, 42%, 1);
--water-blue: hsla(198, 82%, 46%, 1);
--sky-blue: hsla(198, 90%, 50%, 1);
--bright-sky-blue: hsla(198, 77%, 54%, 1);
--turquoise-blue: hsla(198, 71%, 58%, 1);
--sky: hsla(198, 68%, 63%, 1);
--light-blue: hsla(198, 57%, 67%, 1);
--cloudy-blue: hsla(198, 56%, 71%, 1);
--powder-blue: hsla(198, 50%, 75%, 1);
--pale-sky-blue: hsla(198, 39%, 79%, 1);
--very-light-blue: hsla(198, 40%, 84%, 1);
--white: hsla(198, 31%, 88%, 1);
--very-light-pink: hsla(198, 23%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #101619ff;
$dark: #152329ff;
$charcoal: #1a2f3aff;
$dark-slate-blue: #1c3c4dff;
$deep-teal: #224e5cff;
$denim: #215973ff;
$ocean-blue: #206689ff;
$sea-blue: #1c7ca2ff;
$nice-blue: #2089b4ff;
$water-blue: #1598d5ff;
$sky-blue: #0db0f2ff;
$bright-sky-blue: #31afe4ff;
$turquoise-blue: #4abbe0ff;
$sky: #5fb5e0ff;
$light-blue: #7abfdbff;
$cloudy-blue: #8cc2deff;
$powder-blue: #a0cde0ff;
$pale-sky-blue: #b6d1dfff;
$very-light-blue: #c4dbe6ff;
$white: #d6e4eaff;
$very-light-pink: #e6ecefff;

/* SCSS HSL */
$almost-black: hsla(198, 22%, 8%, 1);
$dark: hsla(198, 31%, 12%, 1);
$charcoal: hsla(198, 38%, 16%, 1);
$dark-slate-blue: hsla(198, 46%, 21%, 1);
$deep-teal: hsla(198, 46%, 25%, 1);
$denim: hsla(198, 56%, 29%, 1);
$ocean-blue: hsla(198, 62%, 33%, 1);
$sea-blue: hsla(198, 70%, 37%, 1);
$nice-blue: hsla(198, 70%, 42%, 1);
$water-blue: hsla(198, 82%, 46%, 1);
$sky-blue: hsla(198, 90%, 50%, 1);
$bright-sky-blue: hsla(198, 77%, 54%, 1);
$turquoise-blue: hsla(198, 71%, 58%, 1);
$sky: hsla(198, 68%, 63%, 1);
$light-blue: hsla(198, 57%, 67%, 1);
$cloudy-blue: hsla(198, 56%, 71%, 1);
$powder-blue: hsla(198, 50%, 75%, 1);
$pale-sky-blue: hsla(198, 39%, 79%, 1);
$very-light-blue: hsla(198, 40%, 84%, 1);
$white: hsla(198, 31%, 88%, 1);
$very-light-pink: hsla(198, 23%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(16, 22, 25, 1);
$dark: rgba(21, 35, 41, 1);
$charcoal: rgba(26, 47, 58, 1);
$dark-slate-blue: rgba(28, 60, 77, 1);
$deep-teal: rgba(34, 78, 92, 1);
$denim: rgba(33, 89, 115, 1);
$ocean-blue: rgba(32, 102, 137, 1);
$sea-blue: rgba(28, 124, 162, 1);
$nice-blue: rgba(32, 137, 180, 1);
$water-blue: rgba(21, 152, 213, 1);
$sky-blue: rgba(13, 176, 242, 1);
$bright-sky-blue: rgba(49, 175, 228, 1);
$turquoise-blue: rgba(74, 187, 224, 1);
$sky: rgba(95, 181, 224, 1);
$light-blue: rgba(122, 191, 219, 1);
$cloudy-blue: rgba(140, 194, 222, 1);
$powder-blue: rgba(160, 205, 224, 1);
$pale-sky-blue: rgba(182, 209, 223, 1);
$very-light-blue: rgba(196, 219, 230, 1);
$white: rgba(214, 228, 234, 1);
$very-light-pink: rgba(230, 236, 239, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-right: linear-gradient(90deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-bottom: linear-gradient(180deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-left: linear-gradient(270deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-top-right: linear-gradient(45deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-bottom-right: linear-gradient(135deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-top-left: linear-gradient(225deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-bottom-left: linear-gradient(315deg, #101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);
$gradient-radial: radial-gradient(#101619ff, #152329ff, #1a2f3aff, #1c3c4dff, #224e5cff, #215973ff, #206689ff, #1c7ca2ff, #2089b4ff, #1598d5ff, #0db0f2ff, #31afe4ff, #4abbe0ff, #5fb5e0ff, #7abfdbff, #8cc2deff, #a0cde0ff, #b6d1dfff, #c4dbe6ff, #d6e4eaff, #e6ecefff);

/* SCSS Map */
$azure-span-21-09-map: (
    "almost-black": #101619ff,
    "dark": #152329ff,
    "charcoal": #1a2f3aff,
    "dark-slate-blue": #1c3c4dff,
    "deep-teal": #224e5cff,
    "denim": #215973ff,
    "ocean-blue": #206689ff,
    "sea-blue": #1c7ca2ff,
    "nice-blue": #2089b4ff,
    "water-blue": #1598d5ff,
    "sky-blue": #0db0f2ff,
    "bright-sky-blue": #31afe4ff,
    "turquoise-blue": #4abbe0ff,
    "sky": #5fb5e0ff,
    "light-blue": #7abfdbff,
    "cloudy-blue": #8cc2deff,
    "powder-blue": #a0cde0ff,
    "pale-sky-blue": #b6d1dfff,
    "very-light-blue": #c4dbe6ff,
    "white": #d6e4eaff,
    "very-light-pink": #e6ecefff
);
