/*---
id: copper-mosaic-21-07
name: Copper Mosaic Compact
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 21
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 21-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--dark-slate-blue: #183e4eff;
--marine: #172a5fff;
--royal-purple: #331472ff;
--purple: #6a1086ff;
--red-violet: #9b0a66ff;
--wine-red: #8a2b35ff;
--sepia: #9e5826ff;
--brown-yellow: #b5a220ff;
--apple-green: #79cc18ff;
--vibrant-green: #10e60fff;
--greenish-teal: #41c38fff;
--turquoise-blue: #43c6d1ff;
--dark-sky-blue: #458ddeff;
--blurple: #5d4aeaff;
--bright-lavender: #b650f4ff;
--orchid: #d67dc1ff;
--muted-pink: #e18294ff;
--pinkish-tan: #eaa389ff;
--dark-cream: #f2e091ff;
--celery: #d1f99aff;
--light-sage: #c1e9b9ff;

/* CSS HSL */
--dark-slate-blue: hsla(198, 52%, 20%, 1);
--marine: hsla(224, 61%, 23%, 1);
--royal-purple: hsla(260, 70%, 26%, 1);
--purple: hsla(286, 79%, 29%, 1);
--red-violet: hsla(322, 88%, 32%, 1);
--wine-red: hsla(354, 52%, 36%, 1);
--sepia: hsla(25, 61%, 39%, 1);
--brown-yellow: hsla(52, 70%, 42%, 1);
--apple-green: hsla(88, 79%, 45%, 1);
--vibrant-green: hsla(120, 88%, 48%, 1);
--greenish-teal: hsla(156, 52%, 51%, 1);
--turquoise-blue: hsla(185, 61%, 54%, 1);
--dark-sky-blue: hsla(212, 70%, 57%, 1);
--blurple: hsla(247, 79%, 60%, 1);
--bright-lavender: hsla(277, 88%, 63%, 1);
--orchid: hsla(314, 52%, 66%, 1);
--muted-pink: hsla(349, 61%, 70%, 1);
--pinkish-tan: hsla(16, 70%, 73%, 1);
--dark-cream: hsla(49, 79%, 76%, 1);
--celery: hsla(85, 88%, 79%, 1);
--light-sage: hsla(110, 52%, 82%, 1);
}

/* SCSS HEX */
$dark-slate-blue: #183e4eff;
$marine: #172a5fff;
$royal-purple: #331472ff;
$purple: #6a1086ff;
$red-violet: #9b0a66ff;
$wine-red: #8a2b35ff;
$sepia: #9e5826ff;
$brown-yellow: #b5a220ff;
$apple-green: #79cc18ff;
$vibrant-green: #10e60fff;
$greenish-teal: #41c38fff;
$turquoise-blue: #43c6d1ff;
$dark-sky-blue: #458ddeff;
$blurple: #5d4aeaff;
$bright-lavender: #b650f4ff;
$orchid: #d67dc1ff;
$muted-pink: #e18294ff;
$pinkish-tan: #eaa389ff;
$dark-cream: #f2e091ff;
$celery: #d1f99aff;
$light-sage: #c1e9b9ff;

/* SCSS HSL */
$dark-slate-blue: hsla(198, 52%, 20%, 1);
$marine: hsla(224, 61%, 23%, 1);
$royal-purple: hsla(260, 70%, 26%, 1);
$purple: hsla(286, 79%, 29%, 1);
$red-violet: hsla(322, 88%, 32%, 1);
$wine-red: hsla(354, 52%, 36%, 1);
$sepia: hsla(25, 61%, 39%, 1);
$brown-yellow: hsla(52, 70%, 42%, 1);
$apple-green: hsla(88, 79%, 45%, 1);
$vibrant-green: hsla(120, 88%, 48%, 1);
$greenish-teal: hsla(156, 52%, 51%, 1);
$turquoise-blue: hsla(185, 61%, 54%, 1);
$dark-sky-blue: hsla(212, 70%, 57%, 1);
$blurple: hsla(247, 79%, 60%, 1);
$bright-lavender: hsla(277, 88%, 63%, 1);
$orchid: hsla(314, 52%, 66%, 1);
$muted-pink: hsla(349, 61%, 70%, 1);
$pinkish-tan: hsla(16, 70%, 73%, 1);
$dark-cream: hsla(49, 79%, 76%, 1);
$celery: hsla(85, 88%, 79%, 1);
$light-sage: hsla(110, 52%, 82%, 1);

/* SCSS RGB */
$dark-slate-blue: rgba(24, 62, 78, 1);
$marine: rgba(23, 42, 95, 1);
$royal-purple: rgba(51, 20, 114, 1);
$purple: rgba(106, 16, 134, 1);
$red-violet: rgba(155, 10, 102, 1);
$wine-red: rgba(138, 43, 53, 1);
$sepia: rgba(158, 88, 38, 1);
$brown-yellow: rgba(181, 162, 32, 1);
$apple-green: rgba(121, 204, 24, 1);
$vibrant-green: rgba(16, 230, 15, 1);
$greenish-teal: rgba(65, 195, 143, 1);
$turquoise-blue: rgba(67, 198, 209, 1);
$dark-sky-blue: rgba(69, 141, 222, 1);
$blurple: rgba(93, 74, 234, 1);
$bright-lavender: rgba(182, 80, 244, 1);
$orchid: rgba(214, 125, 193, 1);
$muted-pink: rgba(225, 130, 148, 1);
$pinkish-tan: rgba(234, 163, 137, 1);
$dark-cream: rgba(242, 224, 145, 1);
$celery: rgba(209, 249, 154, 1);
$light-sage: rgba(193, 233, 185, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-right: linear-gradient(90deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-bottom: linear-gradient(180deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-left: linear-gradient(270deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-top-right: linear-gradient(45deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-bottom-right: linear-gradient(135deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-top-left: linear-gradient(225deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-bottom-left: linear-gradient(315deg, #183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);
$gradient-radial: radial-gradient(#183e4eff, #172a5fff, #331472ff, #6a1086ff, #9b0a66ff, #8a2b35ff, #9e5826ff, #b5a220ff, #79cc18ff, #10e60fff, #41c38fff, #43c6d1ff, #458ddeff, #5d4aeaff, #b650f4ff, #d67dc1ff, #e18294ff, #eaa389ff, #f2e091ff, #d1f99aff, #c1e9b9ff);

/* SCSS Map */
$copper-mosaic-21-07-map: (
    "dark-slate-blue": #183e4eff,
    "marine": #172a5fff,
    "royal-purple": #331472ff,
    "purple": #6a1086ff,
    "red-violet": #9b0a66ff,
    "wine-red": #8a2b35ff,
    "sepia": #9e5826ff,
    "brown-yellow": #b5a220ff,
    "apple-green": #79cc18ff,
    "vibrant-green": #10e60fff,
    "greenish-teal": #41c38fff,
    "turquoise-blue": #43c6d1ff,
    "dark-sky-blue": #458ddeff,
    "blurple": #5d4aeaff,
    "bright-lavender": #b650f4ff,
    "orchid": #d67dc1ff,
    "muted-pink": #e18294ff,
    "pinkish-tan": #eaa389ff,
    "dark-cream": #f2e091ff,
    "celery": #d1f99aff,
    "light-sage": #c1e9b9ff
);
