/*---
id: galactic-twilight-165
name: Galactic Twilight
author: JaZeR-444
version: 1.0.0
category: Vaporwave & Synthwave
count: 21
tags:
  mood:
  - dark
  - vibrant
  - soft
  aesthetic:
  - Vintage
  - Organic
  - Urban
intent: A vibrant 21-color palette inspired by Galactic Twilight 165.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/86b9d9-89bbdd-84abdb-93a3df-90a2e2-a6afec-9f93e4-ad88e5-a487e8-a584e9
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--autumn-olive: #86b9d9ff;
--wine-echo: #89bbddff;
--radiant-ruby: #84abdbff;
--white-journey: #93a3dfff;
--soft-gold: #90a2e2ff;
--wine-road: #a6afecff;
--classic-olive: #9f93e4ff;
--muted-rust: #ad88e5ff;
--winter-cyan: #a487e8ff;
--silver-copper: #a584e9ff;
--tan-fire: #cc90e7ff;
--vintage-beige: #dc83ecff;
--gray-path: #da9aecff;
--classic-copper: #e391f0ff;
--midnight-rust: #f29ce2ff;
--cool-blue: #f2aeecff;
--salmon-horizon: #f298ddff;
--muted-green: #f3a1cfff;
--glow-lime: #f59eb7ff;
--tropical-silver: #f19ab2ff;
--indigo-sands: #f79ab0ff;

/* CSS HSL */
--autumn-olive: hsla(203, 53%, 69%, 1);
--wine-echo: hsla(204, 56%, 70%, 1);
--radiant-ruby: hsla(214, 55%, 69%, 1);
--white-journey: hsla(227, 55%, 73%, 1);
--soft-gold: hsla(227, 59%, 73%, 1);
--wine-road: hsla(233, 65%, 79%, 1);
--classic-olive: hsla(248, 60%, 74%, 1);
--muted-rust: hsla(264, 64%, 72%, 1);
--winter-cyan: hsla(258, 69%, 72%, 1);
--silver-copper: hsla(260, 71%, 72%, 1);
--tan-fire: hsla(281, 65%, 74%, 1);
--vintage-beige: hsla(291, 74%, 72%, 1);
--gray-path: hsla(287, 69%, 77%, 1);
--classic-copper: hsla(292, 76%, 76%, 1);
--midnight-rust: hsla(312, 78%, 78%, 1);
--cool-blue: hsla(305, 73%, 82%, 1);
--salmon-horizon: hsla(314, 78%, 77%, 1);
--muted-green: hsla(327, 79%, 79%, 1);
--glow-lime: hsla(343, 83%, 79%, 1);
--tropical-silver: hsla(343, 76%, 78%, 1);
--indigo-sands: hsla(345, 86%, 79%, 1);
}

/* SCSS HEX */
$autumn-olive: #86b9d9ff;
$wine-echo: #89bbddff;
$radiant-ruby: #84abdbff;
$white-journey: #93a3dfff;
$soft-gold: #90a2e2ff;
$wine-road: #a6afecff;
$classic-olive: #9f93e4ff;
$muted-rust: #ad88e5ff;
$winter-cyan: #a487e8ff;
$silver-copper: #a584e9ff;
$tan-fire: #cc90e7ff;
$vintage-beige: #dc83ecff;
$gray-path: #da9aecff;
$classic-copper: #e391f0ff;
$midnight-rust: #f29ce2ff;
$cool-blue: #f2aeecff;
$salmon-horizon: #f298ddff;
$muted-green: #f3a1cfff;
$glow-lime: #f59eb7ff;
$tropical-silver: #f19ab2ff;
$indigo-sands: #f79ab0ff;

/* SCSS HSL */
$autumn-olive: hsla(203, 53%, 69%, 1);
$wine-echo: hsla(204, 56%, 70%, 1);
$radiant-ruby: hsla(214, 55%, 69%, 1);
$white-journey: hsla(227, 55%, 73%, 1);
$soft-gold: hsla(227, 59%, 73%, 1);
$wine-road: hsla(233, 65%, 79%, 1);
$classic-olive: hsla(248, 60%, 74%, 1);
$muted-rust: hsla(264, 64%, 72%, 1);
$winter-cyan: hsla(258, 69%, 72%, 1);
$silver-copper: hsla(260, 71%, 72%, 1);
$tan-fire: hsla(281, 65%, 74%, 1);
$vintage-beige: hsla(291, 74%, 72%, 1);
$gray-path: hsla(287, 69%, 77%, 1);
$classic-copper: hsla(292, 76%, 76%, 1);
$midnight-rust: hsla(312, 78%, 78%, 1);
$cool-blue: hsla(305, 73%, 82%, 1);
$salmon-horizon: hsla(314, 78%, 77%, 1);
$muted-green: hsla(327, 79%, 79%, 1);
$glow-lime: hsla(343, 83%, 79%, 1);
$tropical-silver: hsla(343, 76%, 78%, 1);
$indigo-sands: hsla(345, 86%, 79%, 1);

/* SCSS RGB */
$autumn-olive: rgba(134, 185, 217, 1);
$wine-echo: rgba(137, 187, 221, 1);
$radiant-ruby: rgba(132, 171, 219, 1);
$white-journey: rgba(147, 163, 223, 1);
$soft-gold: rgba(144, 162, 226, 1);
$wine-road: rgba(166, 175, 236, 1);
$classic-olive: rgba(159, 147, 228, 1);
$muted-rust: rgba(173, 136, 229, 1);
$winter-cyan: rgba(164, 135, 232, 1);
$silver-copper: rgba(165, 132, 233, 1);
$tan-fire: rgba(204, 144, 231, 1);
$vintage-beige: rgba(220, 131, 236, 1);
$gray-path: rgba(218, 154, 236, 1);
$classic-copper: rgba(227, 145, 240, 1);
$midnight-rust: rgba(242, 156, 226, 1);
$cool-blue: rgba(242, 174, 236, 1);
$salmon-horizon: rgba(242, 152, 221, 1);
$muted-green: rgba(243, 161, 207, 1);
$glow-lime: rgba(245, 158, 183, 1);
$tropical-silver: rgba(241, 154, 178, 1);
$indigo-sands: rgba(247, 154, 176, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-right: linear-gradient(90deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-bottom: linear-gradient(180deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-left: linear-gradient(270deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-top-right: linear-gradient(45deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-bottom-right: linear-gradient(135deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-top-left: linear-gradient(225deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-bottom-left: linear-gradient(315deg, #86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);
$gradient-radial: radial-gradient(#86b9d9ff, #89bbddff, #84abdbff, #93a3dfff, #90a2e2ff, #a6afecff, #9f93e4ff, #ad88e5ff, #a487e8ff, #a584e9ff, #cc90e7ff, #dc83ecff, #da9aecff, #e391f0ff, #f29ce2ff, #f2aeecff, #f298ddff, #f3a1cfff, #f59eb7ff, #f19ab2ff, #f79ab0ff);

/* SCSS Map */
$galactic-twilight-165-map: (
    "autumn-olive": #86b9d9ff,
    "wine-echo": #89bbddff,
    "radiant-ruby": #84abdbff,
    "white-journey": #93a3dfff,
    "soft-gold": #90a2e2ff,
    "wine-road": #a6afecff,
    "classic-olive": #9f93e4ff,
    "muted-rust": #ad88e5ff,
    "winter-cyan": #a487e8ff,
    "silver-copper": #a584e9ff,
    "tan-fire": #cc90e7ff,
    "vintage-beige": #dc83ecff,
    "gray-path": #da9aecff,
    "classic-copper": #e391f0ff,
    "midnight-rust": #f29ce2ff,
    "cool-blue": #f2aeecff,
    "salmon-horizon": #f298ddff,
    "muted-green": #f3a1cfff,
    "glow-lime": #f59eb7ff,
    "tropical-silver": #f19ab2ff,
    "indigo-sands": #f79ab0ff
);
