/*---
id: prairie-mosaic-21-02
name: Prairie Mosaic Medium
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 21
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 21-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--pine-green: #184e20ff;
--dark-turquoise: #175f5dff;
--twilight-blue: #144072ff;
--indigo: #391086ff;
--barney-purple: #9b0a97ff;
--light-burgundy: #8a2b41ff;
--sienna: #9e5326ff;
--mustard-green: #adb520ff;
--green-apple: #30cc18ff;
--tealish-green: #0fe687ff;
--dusty-blue: #419dc3ff;
--warm-blue: #434dd1ff;
--lightish-purple: #ad45deff;
--candy-pink: #ea4ac9ff;
--grapefruit: #f45053ff;
--sandstone: #d6b97dff;
--pale-olive-green: #b3e182ff;
--foam-green: #89ea97ff;
--tiffany-blue: #91f2e2ff;
--light-blue: #9ad2f9ff;
--light-periwinkle: #c1b9e9ff;

/* CSS HSL */
--pine-green: hsla(128, 52%, 20%, 1);
--dark-turquoise: hsla(179, 61%, 23%, 1);
--twilight-blue: hsla(212, 70%, 26%, 1);
--indigo: hsla(261, 79%, 29%, 1);
--barney-purple: hsla(302, 88%, 32%, 1);
--light-burgundy: hsla(346, 52%, 36%, 1);
--sienna: hsla(23, 61%, 39%, 1);
--mustard-green: hsla(63, 70%, 42%, 1);
--green-apple: hsla(112, 79%, 45%, 1);
--tealish-green: hsla(154, 88%, 48%, 1);
--dusty-blue: hsla(198, 52%, 51%, 1);
--warm-blue: hsla(235, 61%, 54%, 1);
--lightish-purple: hsla(281, 70%, 57%, 1);
--candy-pink: hsla(312, 79%, 60%, 1);
--grapefruit: hsla(359, 88%, 63%, 1);
--sandstone: hsla(40, 52%, 66%, 1);
--pale-olive-green: hsla(89, 61%, 70%, 1);
--foam-green: hsla(129, 70%, 73%, 1);
--tiffany-blue: hsla(170, 79%, 76%, 1);
--light-blue: hsla(205, 88%, 79%, 1);
--light-periwinkle: hsla(249, 52%, 82%, 1);
}

/* SCSS HEX */
$pine-green: #184e20ff;
$dark-turquoise: #175f5dff;
$twilight-blue: #144072ff;
$indigo: #391086ff;
$barney-purple: #9b0a97ff;
$light-burgundy: #8a2b41ff;
$sienna: #9e5326ff;
$mustard-green: #adb520ff;
$green-apple: #30cc18ff;
$tealish-green: #0fe687ff;
$dusty-blue: #419dc3ff;
$warm-blue: #434dd1ff;
$lightish-purple: #ad45deff;
$candy-pink: #ea4ac9ff;
$grapefruit: #f45053ff;
$sandstone: #d6b97dff;
$pale-olive-green: #b3e182ff;
$foam-green: #89ea97ff;
$tiffany-blue: #91f2e2ff;
$light-blue: #9ad2f9ff;
$light-periwinkle: #c1b9e9ff;

/* SCSS HSL */
$pine-green: hsla(128, 52%, 20%, 1);
$dark-turquoise: hsla(179, 61%, 23%, 1);
$twilight-blue: hsla(212, 70%, 26%, 1);
$indigo: hsla(261, 79%, 29%, 1);
$barney-purple: hsla(302, 88%, 32%, 1);
$light-burgundy: hsla(346, 52%, 36%, 1);
$sienna: hsla(23, 61%, 39%, 1);
$mustard-green: hsla(63, 70%, 42%, 1);
$green-apple: hsla(112, 79%, 45%, 1);
$tealish-green: hsla(154, 88%, 48%, 1);
$dusty-blue: hsla(198, 52%, 51%, 1);
$warm-blue: hsla(235, 61%, 54%, 1);
$lightish-purple: hsla(281, 70%, 57%, 1);
$candy-pink: hsla(312, 79%, 60%, 1);
$grapefruit: hsla(359, 88%, 63%, 1);
$sandstone: hsla(40, 52%, 66%, 1);
$pale-olive-green: hsla(89, 61%, 70%, 1);
$foam-green: hsla(129, 70%, 73%, 1);
$tiffany-blue: hsla(170, 79%, 76%, 1);
$light-blue: hsla(205, 88%, 79%, 1);
$light-periwinkle: hsla(249, 52%, 82%, 1);

/* SCSS RGB */
$pine-green: rgba(24, 78, 32, 1);
$dark-turquoise: rgba(23, 95, 93, 1);
$twilight-blue: rgba(20, 64, 114, 1);
$indigo: rgba(57, 16, 134, 1);
$barney-purple: rgba(155, 10, 151, 1);
$light-burgundy: rgba(138, 43, 65, 1);
$sienna: rgba(158, 83, 38, 1);
$mustard-green: rgba(173, 181, 32, 1);
$green-apple: rgba(48, 204, 24, 1);
$tealish-green: rgba(15, 230, 135, 1);
$dusty-blue: rgba(65, 157, 195, 1);
$warm-blue: rgba(67, 77, 209, 1);
$lightish-purple: rgba(173, 69, 222, 1);
$candy-pink: rgba(234, 74, 201, 1);
$grapefruit: rgba(244, 80, 83, 1);
$sandstone: rgba(214, 185, 125, 1);
$pale-olive-green: rgba(179, 225, 130, 1);
$foam-green: rgba(137, 234, 151, 1);
$tiffany-blue: rgba(145, 242, 226, 1);
$light-blue: rgba(154, 210, 249, 1);
$light-periwinkle: rgba(193, 185, 233, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-right: linear-gradient(90deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-bottom: linear-gradient(180deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-left: linear-gradient(270deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-top-right: linear-gradient(45deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-bottom-right: linear-gradient(135deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-top-left: linear-gradient(225deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-bottom-left: linear-gradient(315deg, #184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);
$gradient-radial: radial-gradient(#184e20ff, #175f5dff, #144072ff, #391086ff, #9b0a97ff, #8a2b41ff, #9e5326ff, #adb520ff, #30cc18ff, #0fe687ff, #419dc3ff, #434dd1ff, #ad45deff, #ea4ac9ff, #f45053ff, #d6b97dff, #b3e182ff, #89ea97ff, #91f2e2ff, #9ad2f9ff, #c1b9e9ff);

/* SCSS Map */
$prairie-mosaic-21-02-map: (
    "pine-green": #184e20ff,
    "dark-turquoise": #175f5dff,
    "twilight-blue": #144072ff,
    "indigo": #391086ff,
    "barney-purple": #9b0a97ff,
    "light-burgundy": #8a2b41ff,
    "sienna": #9e5326ff,
    "mustard-green": #adb520ff,
    "green-apple": #30cc18ff,
    "tealish-green": #0fe687ff,
    "dusty-blue": #419dc3ff,
    "warm-blue": #434dd1ff,
    "lightish-purple": #ad45deff,
    "candy-pink": #ea4ac9ff,
    "grapefruit": #f45053ff,
    "sandstone": #d6b97dff,
    "pale-olive-green": #b3e182ff,
    "foam-green": #89ea97ff,
    "tiffany-blue": #91f2e2ff,
    "light-blue": #9ad2f9ff,
    "light-periwinkle": #c1b9e9ff
);
