/*---
id: spectrum-10
name: Spectrum
author: JaZeR-444
version: 1.0.0
category: Thematic Collection
count: 10
tags:
  mood:
  - comprehensive
  aesthetic:
  - Thematic Collection
intent: A vibrant 10-color palette inspired by Spectrum 10.
suggested_use:
- Dashboard
- Social Media
- Landing Page
url: https://coolors.co/
created: '2026-05-18'
updated: '2026-05-18'
---*/

:root {
/* CSS HEX */
--red: #ff0000ff;
--orange: #ff8700ff;
--amber: #ffd300ff;
--yellow: #deff0aff;
--lime: #a1ff0aff;
--spring-green: #0aff99ff;
--cyan: #0aefffff;
--azure: #147df5ff;
--blue: #580affff;
--violet: #be0affff;

/* CSS HSL */
--red: hsla(0, 100%, 50%, 1);
--orange: hsla(32, 100%, 50%, 1);
--amber: hsla(50, 100%, 50%, 1);
--yellow: hsla(68, 100%, 52%, 1);
--lime: hsla(83, 100%, 52%, 1);
--spring-green: hsla(155, 100%, 52%, 1);
--cyan: hsla(184, 100%, 52%, 1);
--azure: hsla(212, 92%, 52%, 1);
--blue: hsla(259, 100%, 52%, 1);
--violet: hsla(284, 100%, 52%, 1);
}

/* SCSS HEX */
$red: #ff0000ff;
$orange: #ff8700ff;
$amber: #ffd300ff;
$yellow: #deff0aff;
$lime: #a1ff0aff;
$spring-green: #0aff99ff;
$cyan: #0aefffff;
$azure: #147df5ff;
$blue: #580affff;
$violet: #be0affff;

/* SCSS HSL */
$red: hsla(0, 100%, 50%, 1);
$orange: hsla(32, 100%, 50%, 1);
$amber: hsla(50, 100%, 50%, 1);
$yellow: hsla(68, 100%, 52%, 1);
$lime: hsla(83, 100%, 52%, 1);
$spring-green: hsla(155, 100%, 52%, 1);
$cyan: hsla(184, 100%, 52%, 1);
$azure: hsla(212, 92%, 52%, 1);
$blue: hsla(259, 100%, 52%, 1);
$violet: hsla(284, 100%, 52%, 1);

/* SCSS RGB */
$red: rgba(255, 0, 0, 1);
$orange: rgba(255, 135, 0, 1);
$amber: rgba(255, 211, 0, 1);
$yellow: rgba(222, 255, 10, 1);
$lime: rgba(161, 255, 10, 1);
$spring-green: rgba(10, 255, 153, 1);
$cyan: rgba(10, 239, 255, 1);
$azure: rgba(20, 125, 245, 1);
$blue: rgba(88, 10, 255, 1);
$violet: rgba(190, 10, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-right: linear-gradient(90deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-bottom: linear-gradient(180deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-left: linear-gradient(270deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-top-right: linear-gradient(45deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-bottom-right: linear-gradient(135deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-top-left: linear-gradient(225deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-bottom-left: linear-gradient(315deg, #ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);
$gradient-radial: radial-gradient(#ff0000ff, #ff8700ff, #ffd300ff, #deff0aff, #a1ff0aff, #0aff99ff, #0aefffff, #147df5ff, #580affff, #be0affff);

/* SCSS Map */
$spectrum-10-map: (
    "red": #ff0000ff,
    "orange": #ff8700ff,
    "amber": #ffd300ff,
    "yellow": #deff0aff,
    "lime": #a1ff0aff,
    "spring-green": #0aff99ff,
    "cyan": #0aefffff,
    "azure": #147df5ff,
    "blue": #580affff,
    "violet": #be0affff
);
