/*---
id: emerald-span-19-09
name: Emerald Span Slim
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 19
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 19-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--almost-black: #0f1912ff;
--charcoal: #18291bff;
--evergreen: #1d3b23ff;
--pine: #214f2cff;
--spruce: #206832ff;
--darkish-green: #237c36ff;
--kelley-green: #20983bff;
--kelly-green: #21af3bff;
--green: #1acd3dff;
--bright-light-green: #13ec43ff;
--light-bright-green: #2dea4dff;
--tealish-green: #4de270ff;
--baby-green: #65e283ff;
--soft-green: #83dc90ff;
--hospital-green: #96e0a3ff;
--light-teal: #ace1b5ff;
--duck-egg-blue: #c4e2c9ff;
--ice: #d5e9d8ff;
--white: #e6efe8ff;

/* CSS HSL */
--almost-black: hsla(132, 24%, 8%, 1);
--charcoal: hsla(132, 27%, 13%, 1);
--evergreen: hsla(132, 34%, 17%, 1);
--pine: hsla(132, 41%, 22%, 1);
--spruce: hsla(132, 53%, 27%, 1);
--darkish-green: hsla(132, 56%, 31%, 1);
--kelley-green: hsla(132, 65%, 36%, 1);
--kelly-green: hsla(132, 69%, 41%, 1);
--green: hsla(132, 78%, 45%, 1);
--bright-light-green: hsla(132, 85%, 50%, 1);
--light-bright-green: hsla(132, 81%, 55%, 1);
--tealish-green: hsla(132, 72%, 59%, 1);
--baby-green: hsla(132, 68%, 64%, 1);
--soft-green: hsla(132, 56%, 69%, 1);
--hospital-green: hsla(132, 54%, 73%, 1);
--light-teal: hsla(132, 47%, 78%, 1);
--duck-egg-blue: hsla(132, 34%, 83%, 1);
--ice: hsla(132, 31%, 87%, 1);
--white: hsla(132, 22%, 92%, 1);
}

/* SCSS HEX */
$almost-black: #0f1912ff;
$charcoal: #18291bff;
$evergreen: #1d3b23ff;
$pine: #214f2cff;
$spruce: #206832ff;
$darkish-green: #237c36ff;
$kelley-green: #20983bff;
$kelly-green: #21af3bff;
$green: #1acd3dff;
$bright-light-green: #13ec43ff;
$light-bright-green: #2dea4dff;
$tealish-green: #4de270ff;
$baby-green: #65e283ff;
$soft-green: #83dc90ff;
$hospital-green: #96e0a3ff;
$light-teal: #ace1b5ff;
$duck-egg-blue: #c4e2c9ff;
$ice: #d5e9d8ff;
$white: #e6efe8ff;

/* SCSS HSL */
$almost-black: hsla(132, 24%, 8%, 1);
$charcoal: hsla(132, 27%, 13%, 1);
$evergreen: hsla(132, 34%, 17%, 1);
$pine: hsla(132, 41%, 22%, 1);
$spruce: hsla(132, 53%, 27%, 1);
$darkish-green: hsla(132, 56%, 31%, 1);
$kelley-green: hsla(132, 65%, 36%, 1);
$kelly-green: hsla(132, 69%, 41%, 1);
$green: hsla(132, 78%, 45%, 1);
$bright-light-green: hsla(132, 85%, 50%, 1);
$light-bright-green: hsla(132, 81%, 55%, 1);
$tealish-green: hsla(132, 72%, 59%, 1);
$baby-green: hsla(132, 68%, 64%, 1);
$soft-green: hsla(132, 56%, 69%, 1);
$hospital-green: hsla(132, 54%, 73%, 1);
$light-teal: hsla(132, 47%, 78%, 1);
$duck-egg-blue: hsla(132, 34%, 83%, 1);
$ice: hsla(132, 31%, 87%, 1);
$white: hsla(132, 22%, 92%, 1);

/* SCSS RGB */
$almost-black: rgba(15, 25, 18, 1);
$charcoal: rgba(24, 41, 27, 1);
$evergreen: rgba(29, 59, 35, 1);
$pine: rgba(33, 79, 44, 1);
$spruce: rgba(32, 104, 50, 1);
$darkish-green: rgba(35, 124, 54, 1);
$kelley-green: rgba(32, 152, 59, 1);
$kelly-green: rgba(33, 175, 59, 1);
$green: rgba(26, 205, 61, 1);
$bright-light-green: rgba(19, 236, 67, 1);
$light-bright-green: rgba(45, 234, 77, 1);
$tealish-green: rgba(77, 226, 112, 1);
$baby-green: rgba(101, 226, 131, 1);
$soft-green: rgba(131, 220, 144, 1);
$hospital-green: rgba(150, 224, 163, 1);
$light-teal: rgba(172, 225, 181, 1);
$duck-egg-blue: rgba(196, 226, 201, 1);
$ice: rgba(213, 233, 216, 1);
$white: rgba(230, 239, 232, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-right: linear-gradient(90deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-bottom: linear-gradient(180deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-left: linear-gradient(270deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-top-right: linear-gradient(45deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-bottom-right: linear-gradient(135deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-top-left: linear-gradient(225deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-bottom-left: linear-gradient(315deg, #0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);
$gradient-radial: radial-gradient(#0f1912ff, #18291bff, #1d3b23ff, #214f2cff, #206832ff, #237c36ff, #20983bff, #21af3bff, #1acd3dff, #13ec43ff, #2dea4dff, #4de270ff, #65e283ff, #83dc90ff, #96e0a3ff, #ace1b5ff, #c4e2c9ff, #d5e9d8ff, #e6efe8ff);

/* SCSS Map */
$emerald-span-19-09-map: (
    "almost-black": #0f1912ff,
    "charcoal": #18291bff,
    "evergreen": #1d3b23ff,
    "pine": #214f2cff,
    "spruce": #206832ff,
    "darkish-green": #237c36ff,
    "kelley-green": #20983bff,
    "kelly-green": #21af3bff,
    "green": #1acd3dff,
    "bright-light-green": #13ec43ff,
    "light-bright-green": #2dea4dff,
    "tealish-green": #4de270ff,
    "baby-green": #65e283ff,
    "soft-green": #83dc90ff,
    "hospital-green": #96e0a3ff,
    "light-teal": #ace1b5ff,
    "duck-egg-blue": #c4e2c9ff,
    "ice": #d5e9d8ff,
    "white": #e6efe8ff
);
