/*---
id: imperial-velvet-quartet
name: Imperial Velvet Quartet
author: JaZeR-444
version: 1.0.0
category: Purple & Regal
count: 4
description: A regal purple palette with velvet shadows, saturated violet, and pale royal highlights.
tags:
  mood:
  - purple
  - regal
  aesthetic:
  - Luxury
  - Velvet
intent: A purple-focused 4-color palette designed for luxury ui, portfolio, brand accent.
suggested_use:
- Luxury UI
- Portfolio
- Brand Accent
url: https://coolors.co/0e061a-1f0b3d-37106b-5521a3
created: '2026-05-19'
updated: '2026-05-19'
---*/

:root {
/* CSS HEX */
--imperial-velvet-quartet-velvet-void: #0e061aff;
--imperial-velvet-quartet-imperial-shadow: #1f0b3dff;
--imperial-velvet-quartet-royal-plum: #37106bff;
--imperial-velvet-quartet-crown-violet: #5521a3ff;

/* CSS HSL */
--imperial-velvet-quartet-velvet-void: hsla(264, 63%, 6%, 1);
--imperial-velvet-quartet-imperial-shadow: hsla(264, 69%, 14%, 1);
--imperial-velvet-quartet-royal-plum: hsla(266, 74%, 24%, 1);
--imperial-velvet-quartet-crown-violet: hsla(264, 66%, 38%, 1);
}

/* SCSS HEX */
$imperial-velvet-quartet-velvet-void: #0e061aff;
$imperial-velvet-quartet-imperial-shadow: #1f0b3dff;
$imperial-velvet-quartet-royal-plum: #37106bff;
$imperial-velvet-quartet-crown-violet: #5521a3ff;

/* SCSS HSL */
$imperial-velvet-quartet-velvet-void: hsla(264, 63%, 6%, 1);
$imperial-velvet-quartet-imperial-shadow: hsla(264, 69%, 14%, 1);
$imperial-velvet-quartet-royal-plum: hsla(266, 74%, 24%, 1);
$imperial-velvet-quartet-crown-violet: hsla(264, 66%, 38%, 1);

/* SCSS RGB */
$imperial-velvet-quartet-velvet-void: rgba(14, 6, 26, 1);
$imperial-velvet-quartet-imperial-shadow: rgba(31, 11, 61, 1);
$imperial-velvet-quartet-royal-plum: rgba(55, 16, 107, 1);
$imperial-velvet-quartet-crown-violet: rgba(85, 33, 163, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-right: linear-gradient(90deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-bottom: linear-gradient(180deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-left: linear-gradient(270deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-top-right: linear-gradient(45deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-bottom-right: linear-gradient(135deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-top-left: linear-gradient(225deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-bottom-left: linear-gradient(315deg, #0e061aff, #1f0b3dff, #37106bff, #5521a3ff);
$gradient-radial: radial-gradient(#0e061aff, #1f0b3dff, #37106bff, #5521a3ff);

/* SCSS Map */
$imperial-velvet-quartet-map: (
    "imperial-velvet-quartet-velvet-void": #0e061aff,
    "imperial-velvet-quartet-imperial-shadow": #1f0b3dff,
    "imperial-velvet-quartet-royal-plum": #37106bff,
    "imperial-velvet-quartet-crown-violet": #5521a3ff
);
