/*---
id: ember-mosaic-27-04
name: Ember Mosaic Medium
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 27
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 27-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--forest-green: #1d4e18ff;
--spruce: #165c41ff;
--petrol: #13596bff;
--blueberry: #0f267cff;
--indigo: #32098eff;
--darkish-purple: #79277cff;
--red-purple: #8d2254ff;
--brick: #9f281cff;
--golden-brown: #b27b15ff;
--dark-lime-green: #8ac70dff;
--leafy-green: #41aa36ff;
--greenish-teal: #2ebe83ff;
--turquoise-blue: #25bfd3ff;
--azul: #1f5ce5ff;
--blue-violet: #6620f1ff;
--pinky-purple: #be54c9ff;
--pale-magenta: #d55394ff;
--pale-red: #e15d54ff;
--light-mustard: #ebcd56ff;
--pear: #baf459ff;
--soft-green: #8bd782ff;
--light-teal: #84e1b3ff;
--robins-egg-blue: #88d7eaff;
--carolina-blue: #8caef2ff;
--pastel-purple: #ac92f8ff;
--light-lavendar: #deb0e6ff;
--pastel-pink: #edb5caff;

/* CSS HSL */
--forest-green: hsla(115, 52%, 20%, 1);
--spruce: hsla(157, 61%, 22%, 1);
--petrol: hsla(193, 70%, 25%, 1);
--blueberry: hsla(227, 79%, 27%, 1);
--indigo: hsla(259, 88%, 30%, 1);
--darkish-purple: hsla(298, 52%, 32%, 1);
--red-purple: hsla(332, 61%, 34%, 1);
--brick: hsla(6, 70%, 37%, 1);
--golden-brown: hsla(39, 79%, 39%, 1);
--dark-lime-green: hsla(80, 88%, 41%, 1);
--leafy-green: hsla(114, 52%, 44%, 1);
--greenish-teal: hsla(155, 61%, 46%, 1);
--turquoise-blue: hsla(187, 70%, 49%, 1);
--azul: hsla(222, 79%, 51%, 1);
--blue-violet: hsla(260, 88%, 53%, 1);
--pinky-purple: hsla(294, 52%, 56%, 1);
--pale-magenta: hsla(330, 61%, 58%, 1);
--pale-red: hsla(4, 70%, 61%, 1);
--light-mustard: hsla(48, 79%, 63%, 1);
--pear: hsla(82, 88%, 65%, 1);
--soft-green: hsla(114, 52%, 68%, 1);
--light-teal: hsla(150, 61%, 70%, 1);
--robins-egg-blue: hsla(191, 70%, 72%, 1);
--carolina-blue: hsla(220, 79%, 75%, 1);
--pastel-purple: hsla(255, 88%, 77%, 1);
--light-lavendar: hsla(292, 52%, 80%, 1);
--pastel-pink: hsla(338, 61%, 82%, 1);
}

/* SCSS HEX */
$forest-green: #1d4e18ff;
$spruce: #165c41ff;
$petrol: #13596bff;
$blueberry: #0f267cff;
$indigo: #32098eff;
$darkish-purple: #79277cff;
$red-purple: #8d2254ff;
$brick: #9f281cff;
$golden-brown: #b27b15ff;
$dark-lime-green: #8ac70dff;
$leafy-green: #41aa36ff;
$greenish-teal: #2ebe83ff;
$turquoise-blue: #25bfd3ff;
$azul: #1f5ce5ff;
$blue-violet: #6620f1ff;
$pinky-purple: #be54c9ff;
$pale-magenta: #d55394ff;
$pale-red: #e15d54ff;
$light-mustard: #ebcd56ff;
$pear: #baf459ff;
$soft-green: #8bd782ff;
$light-teal: #84e1b3ff;
$robins-egg-blue: #88d7eaff;
$carolina-blue: #8caef2ff;
$pastel-purple: #ac92f8ff;
$light-lavendar: #deb0e6ff;
$pastel-pink: #edb5caff;

/* SCSS HSL */
$forest-green: hsla(115, 52%, 20%, 1);
$spruce: hsla(157, 61%, 22%, 1);
$petrol: hsla(193, 70%, 25%, 1);
$blueberry: hsla(227, 79%, 27%, 1);
$indigo: hsla(259, 88%, 30%, 1);
$darkish-purple: hsla(298, 52%, 32%, 1);
$red-purple: hsla(332, 61%, 34%, 1);
$brick: hsla(6, 70%, 37%, 1);
$golden-brown: hsla(39, 79%, 39%, 1);
$dark-lime-green: hsla(80, 88%, 41%, 1);
$leafy-green: hsla(114, 52%, 44%, 1);
$greenish-teal: hsla(155, 61%, 46%, 1);
$turquoise-blue: hsla(187, 70%, 49%, 1);
$azul: hsla(222, 79%, 51%, 1);
$blue-violet: hsla(260, 88%, 53%, 1);
$pinky-purple: hsla(294, 52%, 56%, 1);
$pale-magenta: hsla(330, 61%, 58%, 1);
$pale-red: hsla(4, 70%, 61%, 1);
$light-mustard: hsla(48, 79%, 63%, 1);
$pear: hsla(82, 88%, 65%, 1);
$soft-green: hsla(114, 52%, 68%, 1);
$light-teal: hsla(150, 61%, 70%, 1);
$robins-egg-blue: hsla(191, 70%, 72%, 1);
$carolina-blue: hsla(220, 79%, 75%, 1);
$pastel-purple: hsla(255, 88%, 77%, 1);
$light-lavendar: hsla(292, 52%, 80%, 1);
$pastel-pink: hsla(338, 61%, 82%, 1);

/* SCSS RGB */
$forest-green: rgba(29, 78, 24, 1);
$spruce: rgba(22, 92, 65, 1);
$petrol: rgba(19, 89, 107, 1);
$blueberry: rgba(15, 38, 124, 1);
$indigo: rgba(50, 9, 142, 1);
$darkish-purple: rgba(121, 39, 124, 1);
$red-purple: rgba(141, 34, 84, 1);
$brick: rgba(159, 40, 28, 1);
$golden-brown: rgba(178, 123, 21, 1);
$dark-lime-green: rgba(138, 199, 13, 1);
$leafy-green: rgba(65, 170, 54, 1);
$greenish-teal: rgba(46, 190, 131, 1);
$turquoise-blue: rgba(37, 191, 211, 1);
$azul: rgba(31, 92, 229, 1);
$blue-violet: rgba(102, 32, 241, 1);
$pinky-purple: rgba(190, 84, 201, 1);
$pale-magenta: rgba(213, 83, 148, 1);
$pale-red: rgba(225, 93, 84, 1);
$light-mustard: rgba(235, 205, 86, 1);
$pear: rgba(186, 244, 89, 1);
$soft-green: rgba(139, 215, 130, 1);
$light-teal: rgba(132, 225, 179, 1);
$robins-egg-blue: rgba(136, 215, 234, 1);
$carolina-blue: rgba(140, 174, 242, 1);
$pastel-purple: rgba(172, 146, 248, 1);
$light-lavendar: rgba(222, 176, 230, 1);
$pastel-pink: rgba(237, 181, 202, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-right: linear-gradient(90deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-bottom: linear-gradient(180deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-left: linear-gradient(270deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-top-right: linear-gradient(45deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-bottom-right: linear-gradient(135deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-top-left: linear-gradient(225deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-bottom-left: linear-gradient(315deg, #1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);
$gradient-radial: radial-gradient(#1d4e18ff, #165c41ff, #13596bff, #0f267cff, #32098eff, #79277cff, #8d2254ff, #9f281cff, #b27b15ff, #8ac70dff, #41aa36ff, #2ebe83ff, #25bfd3ff, #1f5ce5ff, #6620f1ff, #be54c9ff, #d55394ff, #e15d54ff, #ebcd56ff, #baf459ff, #8bd782ff, #84e1b3ff, #88d7eaff, #8caef2ff, #ac92f8ff, #deb0e6ff, #edb5caff);

/* SCSS Map */
$ember-mosaic-27-04-map: (
    "forest-green": #1d4e18ff,
    "spruce": #165c41ff,
    "petrol": #13596bff,
    "blueberry": #0f267cff,
    "indigo": #32098eff,
    "darkish-purple": #79277cff,
    "red-purple": #8d2254ff,
    "brick": #9f281cff,
    "golden-brown": #b27b15ff,
    "dark-lime-green": #8ac70dff,
    "leafy-green": #41aa36ff,
    "greenish-teal": #2ebe83ff,
    "turquoise-blue": #25bfd3ff,
    "azul": #1f5ce5ff,
    "blue-violet": #6620f1ff,
    "pinky-purple": #be54c9ff,
    "pale-magenta": #d55394ff,
    "pale-red": #e15d54ff,
    "light-mustard": #ebcd56ff,
    "pear": #baf459ff,
    "soft-green": #8bd782ff,
    "light-teal": #84e1b3ff,
    "robins-egg-blue": #88d7eaff,
    "carolina-blue": #8caef2ff,
    "pastel-purple": #ac92f8ff,
    "light-lavendar": #deb0e6ff,
    "pastel-pink": #edb5caff
);
