/*---
id: healthcare-interface-map-27-17
name: Healthcare Interface Map Grand
author: JaZeR-444
version: 1.0.0
category: Web Development System
count: 27
tags:
  mood:
  - semantic
  - product
  - ui
  aesthetic:
  - Web Design
intent: A semantic 27-color system mapped for web development roles, states, and surfaces.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--bg-canvas: #131416ff;
--bg-surface: #25272bff;
--bg-elevated: #363940ff;
--bg-overlay: #484b56ff;
--border-subtle: #585d6cff;
--border-strong: #687083ff;
--text-muted: #7a8698ff;
--text-base: #8f95aaff;
--text-strong: #a5afbcff;
--text-inverse: #bac0cdff;
--neutral-11: #d0d5deff;
--neutral-12: #e7eaeeff;
--primary: #295799ff;
--primary-hover: #8527c4ff;
--secondary: #31e3a8ff;
--secondary-hover: #f0c84cff;
--accent: #df9686ff;
--accent-soft: #207da2ff;
--success: #ce1c84ff;
--warning: #265fedff;
--danger: #a666d6ff;
--info: #7fe6bbff;
--link: #ab7817ff;
--focus-ring: #d93112ff;
--support-13: #46aaceff;
--support-14: #df5d93ff;
--support-15: #78a8edff;

/* CSS HSL */
--bg-canvas: hsla(222, 6%, 8%, 1);
--bg-surface: hsla(218, 7%, 16%, 1);
--bg-elevated: hsla(225, 8%, 23%, 1);
--bg-overlay: hsla(227, 9%, 31%, 1);
--border-subtle: hsla(226, 10%, 39%, 1);
--border-strong: hsla(223, 11%, 46%, 1);
--text-muted: hsla(217, 13%, 54%, 1);
--text-base: hsla(228, 14%, 61%, 1);
--text-strong: hsla(213, 15%, 69%, 1);
--text-inverse: hsla(223, 16%, 77%, 1);
--neutral-11: hsla(219, 17%, 84%, 1);
--neutral-12: hsla(214, 18%, 92%, 1);
--primary: hsla(215, 58%, 38%, 1);
--primary-hover: hsla(276, 67%, 46%, 1);
--secondary: hsla(160, 76%, 54%, 1);
--secondary-hover: hsla(45, 85%, 62%, 1);
--accent: hsla(11, 58%, 70%, 1);
--accent-soft: hsla(197, 67%, 38%, 1);
--success: hsla(325, 76%, 46%, 1);
--warning: hsla(223, 85%, 54%, 1);
--danger: hsla(274, 58%, 62%, 1);
--info: hsla(155, 67%, 70%, 1);
--link: hsla(39, 76%, 38%, 1);
--focus-ring: hsla(9, 85%, 46%, 1);
--support-13: hsla(196, 58%, 54%, 1);
--support-14: hsla(335, 67%, 62%, 1);
--support-15: hsla(215, 76%, 70%, 1);
}

/* SCSS HEX */
$bg-canvas: #131416ff;
$bg-surface: #25272bff;
$bg-elevated: #363940ff;
$bg-overlay: #484b56ff;
$border-subtle: #585d6cff;
$border-strong: #687083ff;
$text-muted: #7a8698ff;
$text-base: #8f95aaff;
$text-strong: #a5afbcff;
$text-inverse: #bac0cdff;
$neutral-11: #d0d5deff;
$neutral-12: #e7eaeeff;
$primary: #295799ff;
$primary-hover: #8527c4ff;
$secondary: #31e3a8ff;
$secondary-hover: #f0c84cff;
$accent: #df9686ff;
$accent-soft: #207da2ff;
$success: #ce1c84ff;
$warning: #265fedff;
$danger: #a666d6ff;
$info: #7fe6bbff;
$link: #ab7817ff;
$focus-ring: #d93112ff;
$support-13: #46aaceff;
$support-14: #df5d93ff;
$support-15: #78a8edff;

/* SCSS HSL */
$bg-canvas: hsla(222, 6%, 8%, 1);
$bg-surface: hsla(218, 7%, 16%, 1);
$bg-elevated: hsla(225, 8%, 23%, 1);
$bg-overlay: hsla(227, 9%, 31%, 1);
$border-subtle: hsla(226, 10%, 39%, 1);
$border-strong: hsla(223, 11%, 46%, 1);
$text-muted: hsla(217, 13%, 54%, 1);
$text-base: hsla(228, 14%, 61%, 1);
$text-strong: hsla(213, 15%, 69%, 1);
$text-inverse: hsla(223, 16%, 77%, 1);
$neutral-11: hsla(219, 17%, 84%, 1);
$neutral-12: hsla(214, 18%, 92%, 1);
$primary: hsla(215, 58%, 38%, 1);
$primary-hover: hsla(276, 67%, 46%, 1);
$secondary: hsla(160, 76%, 54%, 1);
$secondary-hover: hsla(45, 85%, 62%, 1);
$accent: hsla(11, 58%, 70%, 1);
$accent-soft: hsla(197, 67%, 38%, 1);
$success: hsla(325, 76%, 46%, 1);
$warning: hsla(223, 85%, 54%, 1);
$danger: hsla(274, 58%, 62%, 1);
$info: hsla(155, 67%, 70%, 1);
$link: hsla(39, 76%, 38%, 1);
$focus-ring: hsla(9, 85%, 46%, 1);
$support-13: hsla(196, 58%, 54%, 1);
$support-14: hsla(335, 67%, 62%, 1);
$support-15: hsla(215, 76%, 70%, 1);

/* SCSS RGB */
$bg-canvas: rgba(19, 20, 22, 1);
$bg-surface: rgba(37, 39, 43, 1);
$bg-elevated: rgba(54, 57, 64, 1);
$bg-overlay: rgba(72, 75, 86, 1);
$border-subtle: rgba(88, 93, 108, 1);
$border-strong: rgba(104, 112, 131, 1);
$text-muted: rgba(122, 134, 152, 1);
$text-base: rgba(143, 149, 170, 1);
$text-strong: rgba(165, 175, 188, 1);
$text-inverse: rgba(186, 192, 205, 1);
$neutral-11: rgba(208, 213, 222, 1);
$neutral-12: rgba(231, 234, 238, 1);
$primary: rgba(41, 87, 153, 1);
$primary-hover: rgba(133, 39, 196, 1);
$secondary: rgba(49, 227, 168, 1);
$secondary-hover: rgba(240, 200, 76, 1);
$accent: rgba(223, 150, 134, 1);
$accent-soft: rgba(32, 125, 162, 1);
$success: rgba(206, 28, 132, 1);
$warning: rgba(38, 95, 237, 1);
$danger: rgba(166, 102, 214, 1);
$info: rgba(127, 230, 187, 1);
$link: rgba(171, 120, 23, 1);
$focus-ring: rgba(217, 49, 18, 1);
$support-13: rgba(70, 170, 206, 1);
$support-14: rgba(223, 93, 147, 1);
$support-15: rgba(120, 168, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-right: linear-gradient(90deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-bottom: linear-gradient(180deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-left: linear-gradient(270deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-top-right: linear-gradient(45deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-bottom-right: linear-gradient(135deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-top-left: linear-gradient(225deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-bottom-left: linear-gradient(315deg, #131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);
$gradient-radial: radial-gradient(#131416ff, #25272bff, #363940ff, #484b56ff, #585d6cff, #687083ff, #7a8698ff, #8f95aaff, #a5afbcff, #bac0cdff, #d0d5deff, #e7eaeeff, #295799ff, #8527c4ff, #31e3a8ff, #f0c84cff, #df9686ff, #207da2ff, #ce1c84ff, #265fedff, #a666d6ff, #7fe6bbff, #ab7817ff, #d93112ff, #46aaceff, #df5d93ff, #78a8edff);

/* SCSS Map */
$healthcare-interface-map-27-17-map: (
    "bg-canvas": #131416ff,
    "bg-surface": #25272bff,
    "bg-elevated": #363940ff,
    "bg-overlay": #484b56ff,
    "border-subtle": #585d6cff,
    "border-strong": #687083ff,
    "text-muted": #7a8698ff,
    "text-base": #8f95aaff,
    "text-strong": #a5afbcff,
    "text-inverse": #bac0cdff,
    "neutral-11": #d0d5deff,
    "neutral-12": #e7eaeeff,
    "primary": #295799ff,
    "primary-hover": #8527c4ff,
    "secondary": #31e3a8ff,
    "secondary-hover": #f0c84cff,
    "accent": #df9686ff,
    "accent-soft": #207da2ff,
    "success": #ce1c84ff,
    "warning": #265fedff,
    "danger": #a666d6ff,
    "info": #7fe6bbff,
    "link": #ab7817ff,
    "focus-ring": #d93112ff,
    "support-13": #46aaceff,
    "support-14": #df5d93ff,
    "support-15": #78a8edff
);
