/*---
id: honey-span-27-11
name: Honey Span 27-11
author: JaZeR-444
version: 1.0.0
category: Singular Hue Span
count: 27
tags:
  mood:
  - focused
  - tonal
  - cohesive
  aesthetic:
  - Hue Span
intent: A single-hue 27-step span for systematic tonal design and theming.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--span-01: #191710ff;
--span-02: #252015ff;
--span-03: #322c18ff;
--span-04: #3f341bff;
--span-05: #4d401eff;
--span-06: #5b4f20ff;
--span-07: #695a23ff;
--span-08: #786724ff;
--span-09: #8b6c22ff;
--span-10: #9f791eff;
--span-11: #b38d1bff;
--span-12: #c89d16ff;
--span-13: #d59d19ff;
--span-14: #ecb813ff;
--span-15: #eab126ff;
--span-16: #e2b63eff;
--span-17: #e5ba4bff;
--span-18: #e1bc60ff;
--span-19: #e0c071ff;
--span-20: #dbc287ff;
--span-21: #dfcc94ff;
--span-22: #dfd0a4ff;
--span-23: #e1d4b2ff;
--span-24: #e4dcc0ff;
--span-25: #e7e2cdff;
--span-26: #eae6dbff;
--span-27: #f0ede5ff;

/* CSS HSL */
--span-01: hsla(45, 24%, 8%, 1);
--span-02: hsla(45, 27%, 11%, 1);
--span-03: hsla(45, 35%, 14%, 1);
--span-04: hsla(45, 40%, 18%, 1);
--span-05: hsla(45, 44%, 21%, 1);
--span-06: hsla(45, 48%, 24%, 1);
--span-07: hsla(45, 50%, 27%, 1);
--span-08: hsla(45, 53%, 31%, 1);
--span-09: hsla(45, 61%, 34%, 1);
--span-10: hsla(45, 68%, 37%, 1);
--span-11: hsla(45, 74%, 40%, 1);
--span-12: hsla(45, 80%, 44%, 1);
--span-13: hsla(45, 79%, 47%, 1);
--span-14: hsla(45, 85%, 50%, 1);
--span-15: hsla(45, 82%, 53%, 1);
--span-16: hsla(45, 74%, 56%, 1);
--span-17: hsla(45, 75%, 60%, 1);
--span-18: hsla(45, 68%, 63%, 1);
--span-19: hsla(45, 65%, 66%, 1);
--span-20: hsla(45, 54%, 69%, 1);
--span-21: hsla(45, 54%, 73%, 1);
--span-22: hsla(45, 48%, 76%, 1);
--span-23: hsla(45, 44%, 79%, 1);
--span-24: hsla(45, 40%, 82%, 1);
--span-25: hsla(45, 36%, 86%, 1);
--span-26: hsla(45, 25%, 89%, 1);
--span-27: hsla(45, 25%, 92%, 1);
}

/* SCSS HEX */
$span-01: #191710ff;
$span-02: #252015ff;
$span-03: #322c18ff;
$span-04: #3f341bff;
$span-05: #4d401eff;
$span-06: #5b4f20ff;
$span-07: #695a23ff;
$span-08: #786724ff;
$span-09: #8b6c22ff;
$span-10: #9f791eff;
$span-11: #b38d1bff;
$span-12: #c89d16ff;
$span-13: #d59d19ff;
$span-14: #ecb813ff;
$span-15: #eab126ff;
$span-16: #e2b63eff;
$span-17: #e5ba4bff;
$span-18: #e1bc60ff;
$span-19: #e0c071ff;
$span-20: #dbc287ff;
$span-21: #dfcc94ff;
$span-22: #dfd0a4ff;
$span-23: #e1d4b2ff;
$span-24: #e4dcc0ff;
$span-25: #e7e2cdff;
$span-26: #eae6dbff;
$span-27: #f0ede5ff;

/* SCSS HSL */
$span-01: hsla(45, 24%, 8%, 1);
$span-02: hsla(45, 27%, 11%, 1);
$span-03: hsla(45, 35%, 14%, 1);
$span-04: hsla(45, 40%, 18%, 1);
$span-05: hsla(45, 44%, 21%, 1);
$span-06: hsla(45, 48%, 24%, 1);
$span-07: hsla(45, 50%, 27%, 1);
$span-08: hsla(45, 53%, 31%, 1);
$span-09: hsla(45, 61%, 34%, 1);
$span-10: hsla(45, 68%, 37%, 1);
$span-11: hsla(45, 74%, 40%, 1);
$span-12: hsla(45, 80%, 44%, 1);
$span-13: hsla(45, 79%, 47%, 1);
$span-14: hsla(45, 85%, 50%, 1);
$span-15: hsla(45, 82%, 53%, 1);
$span-16: hsla(45, 74%, 56%, 1);
$span-17: hsla(45, 75%, 60%, 1);
$span-18: hsla(45, 68%, 63%, 1);
$span-19: hsla(45, 65%, 66%, 1);
$span-20: hsla(45, 54%, 69%, 1);
$span-21: hsla(45, 54%, 73%, 1);
$span-22: hsla(45, 48%, 76%, 1);
$span-23: hsla(45, 44%, 79%, 1);
$span-24: hsla(45, 40%, 82%, 1);
$span-25: hsla(45, 36%, 86%, 1);
$span-26: hsla(45, 25%, 89%, 1);
$span-27: hsla(45, 25%, 92%, 1);

/* SCSS RGB */
$span-01: rgba(25, 23, 16, 1);
$span-02: rgba(37, 32, 21, 1);
$span-03: rgba(50, 44, 24, 1);
$span-04: rgba(63, 52, 27, 1);
$span-05: rgba(77, 64, 30, 1);
$span-06: rgba(91, 79, 32, 1);
$span-07: rgba(105, 90, 35, 1);
$span-08: rgba(120, 103, 36, 1);
$span-09: rgba(139, 108, 34, 1);
$span-10: rgba(159, 121, 30, 1);
$span-11: rgba(179, 141, 27, 1);
$span-12: rgba(200, 157, 22, 1);
$span-13: rgba(213, 157, 25, 1);
$span-14: rgba(236, 184, 19, 1);
$span-15: rgba(234, 177, 38, 1);
$span-16: rgba(226, 182, 62, 1);
$span-17: rgba(229, 186, 75, 1);
$span-18: rgba(225, 188, 96, 1);
$span-19: rgba(224, 192, 113, 1);
$span-20: rgba(219, 194, 135, 1);
$span-21: rgba(223, 204, 148, 1);
$span-22: rgba(223, 208, 164, 1);
$span-23: rgba(225, 212, 178, 1);
$span-24: rgba(228, 220, 192, 1);
$span-25: rgba(231, 226, 205, 1);
$span-26: rgba(234, 230, 219, 1);
$span-27: rgba(240, 237, 229, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-right: linear-gradient(90deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-bottom: linear-gradient(180deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-left: linear-gradient(270deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-top-right: linear-gradient(45deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-bottom-right: linear-gradient(135deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-top-left: linear-gradient(225deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-bottom-left: linear-gradient(315deg, #191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);
$gradient-radial: radial-gradient(#191710ff, #252015ff, #322c18ff, #3f341bff, #4d401eff, #5b4f20ff, #695a23ff, #786724ff, #8b6c22ff, #9f791eff, #b38d1bff, #c89d16ff, #d59d19ff, #ecb813ff, #eab126ff, #e2b63eff, #e5ba4bff, #e1bc60ff, #e0c071ff, #dbc287ff, #dfcc94ff, #dfd0a4ff, #e1d4b2ff, #e4dcc0ff, #e7e2cdff, #eae6dbff, #f0ede5ff);

/* SCSS Map */
$honey-span-27-11-map: (
    "span-01": #191710ff,
    "span-02": #252015ff,
    "span-03": #322c18ff,
    "span-04": #3f341bff,
    "span-05": #4d401eff,
    "span-06": #5b4f20ff,
    "span-07": #695a23ff,
    "span-08": #786724ff,
    "span-09": #8b6c22ff,
    "span-10": #9f791eff,
    "span-11": #b38d1bff,
    "span-12": #c89d16ff,
    "span-13": #d59d19ff,
    "span-14": #ecb813ff,
    "span-15": #eab126ff,
    "span-16": #e2b63eff,
    "span-17": #e5ba4bff,
    "span-18": #e1bc60ff,
    "span-19": #e0c071ff,
    "span-20": #dbc287ff,
    "span-21": #dfcc94ff,
    "span-22": #dfd0a4ff,
    "span-23": #e1d4b2ff,
    "span-24": #e4dcc0ff,
    "span-25": #e7e2cdff,
    "span-26": #eae6dbff,
    "span-27": #f0ede5ff
);
