/*---
id: indigo-mosaic-27-03
name: Indigo Mosaic Wide
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 27
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 27-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--mud-brown: #4e3918ff;
--army-green: #485c16ff;
--tree-green: #166b13ff;
--dark-sea-green: #0f7c50ff;
--deep-sea-blue: #095c8eff;
--blueberry: #2f277cff;
--purple: #71228dff;
--dark-fuchsia: #9f1c5fff;
--rusty-red: #b23815ff;
--brownish-yellow: #c7a90dff;
--leaf: #65aa36ff;
--shamrock: #2ebe5eff;
--aqua-blue: #25ced3ff;
--azul: #1f57e5ff;
--blue-violet: #7320f1ff;
--pinky-purple: #c854c9ff;
--deep-rose: #d5536cff;
--faded-orange: #e18e54ff;
--pear: #d5eb56ff;
--lighter-green: #5ff459ff;
--light-teal: #82d7b2ff;
--light-blue: #84c2e1ff;
--periwinkle-blue: #8888eaff;
--lavender-pink: #dc8cf2ff;
--pink: #f892cdff;
--pale-rose: #e6b7b0ff;
--beige: #eddeb5ff;

/* CSS HSL */
--mud-brown: hsla(37, 52%, 20%, 1);
--army-green: hsla(77, 61%, 22%, 1);
--tree-green: hsla(118, 70%, 25%, 1);
--dark-sea-green: hsla(156, 79%, 27%, 1);
--deep-sea-blue: hsla(202, 88%, 30%, 1);
--blueberry: hsla(246, 52%, 32%, 1);
--purple: hsla(284, 61%, 34%, 1);
--dark-fuchsia: hsla(329, 70%, 37%, 1);
--rusty-red: hsla(13, 79%, 39%, 1);
--brownish-yellow: hsla(50, 88%, 41%, 1);
--leaf: hsla(96, 52%, 44%, 1);
--shamrock: hsla(140, 61%, 46%, 1);
--aqua-blue: hsla(182, 70%, 49%, 1);
--azul: hsla(223, 79%, 51%, 1);
--blue-violet: hsla(264, 88%, 53%, 1);
--pinky-purple: hsla(300, 52%, 56%, 1);
--deep-rose: hsla(348, 61%, 58%, 1);
--faded-orange: hsla(25, 70%, 61%, 1);
--pear: hsla(69, 79%, 63%, 1);
--lighter-green: hsla(117, 88%, 65%, 1);
--light-teal: hsla(154, 52%, 68%, 1);
--light-blue: hsla(200, 61%, 70%, 1);
--periwinkle-blue: hsla(240, 70%, 72%, 1);
--lavender-pink: hsla(287, 79%, 75%, 1);
--pink: hsla(325, 88%, 77%, 1);
--pale-rose: hsla(7, 52%, 80%, 1);
--beige: hsla(44, 61%, 82%, 1);
}

/* SCSS HEX */
$mud-brown: #4e3918ff;
$army-green: #485c16ff;
$tree-green: #166b13ff;
$dark-sea-green: #0f7c50ff;
$deep-sea-blue: #095c8eff;
$blueberry: #2f277cff;
$purple: #71228dff;
$dark-fuchsia: #9f1c5fff;
$rusty-red: #b23815ff;
$brownish-yellow: #c7a90dff;
$leaf: #65aa36ff;
$shamrock: #2ebe5eff;
$aqua-blue: #25ced3ff;
$azul: #1f57e5ff;
$blue-violet: #7320f1ff;
$pinky-purple: #c854c9ff;
$deep-rose: #d5536cff;
$faded-orange: #e18e54ff;
$pear: #d5eb56ff;
$lighter-green: #5ff459ff;
$light-teal: #82d7b2ff;
$light-blue: #84c2e1ff;
$periwinkle-blue: #8888eaff;
$lavender-pink: #dc8cf2ff;
$pink: #f892cdff;
$pale-rose: #e6b7b0ff;
$beige: #eddeb5ff;

/* SCSS HSL */
$mud-brown: hsla(37, 52%, 20%, 1);
$army-green: hsla(77, 61%, 22%, 1);
$tree-green: hsla(118, 70%, 25%, 1);
$dark-sea-green: hsla(156, 79%, 27%, 1);
$deep-sea-blue: hsla(202, 88%, 30%, 1);
$blueberry: hsla(246, 52%, 32%, 1);
$purple: hsla(284, 61%, 34%, 1);
$dark-fuchsia: hsla(329, 70%, 37%, 1);
$rusty-red: hsla(13, 79%, 39%, 1);
$brownish-yellow: hsla(50, 88%, 41%, 1);
$leaf: hsla(96, 52%, 44%, 1);
$shamrock: hsla(140, 61%, 46%, 1);
$aqua-blue: hsla(182, 70%, 49%, 1);
$azul: hsla(223, 79%, 51%, 1);
$blue-violet: hsla(264, 88%, 53%, 1);
$pinky-purple: hsla(300, 52%, 56%, 1);
$deep-rose: hsla(348, 61%, 58%, 1);
$faded-orange: hsla(25, 70%, 61%, 1);
$pear: hsla(69, 79%, 63%, 1);
$lighter-green: hsla(117, 88%, 65%, 1);
$light-teal: hsla(154, 52%, 68%, 1);
$light-blue: hsla(200, 61%, 70%, 1);
$periwinkle-blue: hsla(240, 70%, 72%, 1);
$lavender-pink: hsla(287, 79%, 75%, 1);
$pink: hsla(325, 88%, 77%, 1);
$pale-rose: hsla(7, 52%, 80%, 1);
$beige: hsla(44, 61%, 82%, 1);

/* SCSS RGB */
$mud-brown: rgba(78, 57, 24, 1);
$army-green: rgba(72, 92, 22, 1);
$tree-green: rgba(22, 107, 19, 1);
$dark-sea-green: rgba(15, 124, 80, 1);
$deep-sea-blue: rgba(9, 92, 142, 1);
$blueberry: rgba(47, 39, 124, 1);
$purple: rgba(113, 34, 141, 1);
$dark-fuchsia: rgba(159, 28, 95, 1);
$rusty-red: rgba(178, 56, 21, 1);
$brownish-yellow: rgba(199, 169, 13, 1);
$leaf: rgba(101, 170, 54, 1);
$shamrock: rgba(46, 190, 94, 1);
$aqua-blue: rgba(37, 206, 211, 1);
$azul: rgba(31, 87, 229, 1);
$blue-violet: rgba(115, 32, 241, 1);
$pinky-purple: rgba(200, 84, 201, 1);
$deep-rose: rgba(213, 83, 108, 1);
$faded-orange: rgba(225, 142, 84, 1);
$pear: rgba(213, 235, 86, 1);
$lighter-green: rgba(95, 244, 89, 1);
$light-teal: rgba(130, 215, 178, 1);
$light-blue: rgba(132, 194, 225, 1);
$periwinkle-blue: rgba(136, 136, 234, 1);
$lavender-pink: rgba(220, 140, 242, 1);
$pink: rgba(248, 146, 205, 1);
$pale-rose: rgba(230, 183, 176, 1);
$beige: rgba(237, 222, 181, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-right: linear-gradient(90deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-bottom: linear-gradient(180deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-left: linear-gradient(270deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-top-right: linear-gradient(45deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-bottom-right: linear-gradient(135deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-top-left: linear-gradient(225deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-bottom-left: linear-gradient(315deg, #4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);
$gradient-radial: radial-gradient(#4e3918ff, #485c16ff, #166b13ff, #0f7c50ff, #095c8eff, #2f277cff, #71228dff, #9f1c5fff, #b23815ff, #c7a90dff, #65aa36ff, #2ebe5eff, #25ced3ff, #1f57e5ff, #7320f1ff, #c854c9ff, #d5536cff, #e18e54ff, #d5eb56ff, #5ff459ff, #82d7b2ff, #84c2e1ff, #8888eaff, #dc8cf2ff, #f892cdff, #e6b7b0ff, #eddeb5ff);

/* SCSS Map */
$indigo-mosaic-27-03-map: (
    "mud-brown": #4e3918ff,
    "army-green": #485c16ff,
    "tree-green": #166b13ff,
    "dark-sea-green": #0f7c50ff,
    "deep-sea-blue": #095c8eff,
    "blueberry": #2f277cff,
    "purple": #71228dff,
    "dark-fuchsia": #9f1c5fff,
    "rusty-red": #b23815ff,
    "brownish-yellow": #c7a90dff,
    "leaf": #65aa36ff,
    "shamrock": #2ebe5eff,
    "aqua-blue": #25ced3ff,
    "azul": #1f57e5ff,
    "blue-violet": #7320f1ff,
    "pinky-purple": #c854c9ff,
    "deep-rose": #d5536cff,
    "faded-orange": #e18e54ff,
    "pear": #d5eb56ff,
    "lighter-green": #5ff459ff,
    "light-teal": #82d7b2ff,
    "light-blue": #84c2e1ff,
    "periwinkle-blue": #8888eaff,
    "lavender-pink": #dc8cf2ff,
    "pink": #f892cdff,
    "pale-rose": #e6b7b0ff,
    "beige": #eddeb5ff
);
