/*---
id: lagoon-mosaic-27-07
name: Lagoon Mosaic Standard
author: JaZeR-444
version: 1.0.0
category: Multi Color Composition
count: 27
tags:
  mood:
  - multi-color
  - vibrant
  - exploratory
  aesthetic:
  - Mosaic
intent: A diverse 27-color composition for broad creative and UI exploration.
url: https://coolors.co/
created: '2026-07-04'
updated: '2026-07-04'
---*/

:root {
/* CSS HEX */
--mud-brown: #4e3e18ff;
--army-green: #505c16ff;
--forest: #396b13ff;
--tree-green: #217c0fff;
--kelley-green: #098e3aff;
--blue-green: #277c63ff;
--ocean: #227e8dff;
--cobalt: #1c529fff;
--cobalt-blue: #1515b2ff;
--violet-blue: #3b0dc7ff;
--purple: #8336aaff;
--purpley-pink: #be2eabff;
--deep-pink: #d3256dff;
--pinkish-red: #e51f41ff;
--reddish-orange: #f15020ff;
--desert: #c9af54ff;
--sick-green: #bad553ff;
--light-grass-green: #91e154ff;
--lighter-green: #5deb56ff;
--turquoise-green: #59f485ff;
--seafoam-blue: #82d7c5ff;
--robins-egg-blue: #84d4e1ff;
--light-blue: #88c1eaff;
--periwinkle-blue: #8c96f2ff;
--pastel-purple: #b692f8ff;
--light-lavender: #d2b0e6ff;
--light-lavendar: #edb5e8ff;

/* CSS HSL */
--mud-brown: hsla(42, 52%, 20%, 1);
--army-green: hsla(70, 61%, 22%, 1);
--forest: hsla(94, 70%, 25%, 1);
--tree-green: hsla(110, 79%, 27%, 1);
--kelley-green: hsla(142, 88%, 30%, 1);
--blue-green: hsla(162, 52%, 32%, 1);
--ocean: hsla(188, 61%, 34%, 1);
--cobalt: hsla(215, 70%, 37%, 1);
--cobalt-blue: hsla(240, 79%, 39%, 1);
--violet-blue: hsla(255, 88%, 41%, 1);
--purple: hsla(280, 52%, 44%, 1);
--purpley-pink: hsla(308, 61%, 46%, 1);
--deep-pink: hsla(335, 70%, 49%, 1);
--pinkish-red: hsla(350, 79%, 51%, 1);
--reddish-orange: hsla(14, 88%, 53%, 1);
--desert: hsla(47, 52%, 56%, 1);
--sick-green: hsla(73, 61%, 58%, 1);
--light-grass-green: hsla(94, 70%, 61%, 1);
--lighter-green: hsla(117, 79%, 63%, 1);
--turquoise-green: hsla(137, 88%, 65%, 1);
--seafoam-blue: hsla(167, 52%, 68%, 1);
--robins-egg-blue: hsla(188, 61%, 70%, 1);
--light-blue: hsla(205, 70%, 72%, 1);
--periwinkle-blue: hsla(234, 79%, 75%, 1);
--pastel-purple: hsla(261, 88%, 77%, 1);
--light-lavender: hsla(277, 52%, 80%, 1);
--light-lavendar: hsla(305, 61%, 82%, 1);
}

/* SCSS HEX */
$mud-brown: #4e3e18ff;
$army-green: #505c16ff;
$forest: #396b13ff;
$tree-green: #217c0fff;
$kelley-green: #098e3aff;
$blue-green: #277c63ff;
$ocean: #227e8dff;
$cobalt: #1c529fff;
$cobalt-blue: #1515b2ff;
$violet-blue: #3b0dc7ff;
$purple: #8336aaff;
$purpley-pink: #be2eabff;
$deep-pink: #d3256dff;
$pinkish-red: #e51f41ff;
$reddish-orange: #f15020ff;
$desert: #c9af54ff;
$sick-green: #bad553ff;
$light-grass-green: #91e154ff;
$lighter-green: #5deb56ff;
$turquoise-green: #59f485ff;
$seafoam-blue: #82d7c5ff;
$robins-egg-blue: #84d4e1ff;
$light-blue: #88c1eaff;
$periwinkle-blue: #8c96f2ff;
$pastel-purple: #b692f8ff;
$light-lavender: #d2b0e6ff;
$light-lavendar: #edb5e8ff;

/* SCSS HSL */
$mud-brown: hsla(42, 52%, 20%, 1);
$army-green: hsla(70, 61%, 22%, 1);
$forest: hsla(94, 70%, 25%, 1);
$tree-green: hsla(110, 79%, 27%, 1);
$kelley-green: hsla(142, 88%, 30%, 1);
$blue-green: hsla(162, 52%, 32%, 1);
$ocean: hsla(188, 61%, 34%, 1);
$cobalt: hsla(215, 70%, 37%, 1);
$cobalt-blue: hsla(240, 79%, 39%, 1);
$violet-blue: hsla(255, 88%, 41%, 1);
$purple: hsla(280, 52%, 44%, 1);
$purpley-pink: hsla(308, 61%, 46%, 1);
$deep-pink: hsla(335, 70%, 49%, 1);
$pinkish-red: hsla(350, 79%, 51%, 1);
$reddish-orange: hsla(14, 88%, 53%, 1);
$desert: hsla(47, 52%, 56%, 1);
$sick-green: hsla(73, 61%, 58%, 1);
$light-grass-green: hsla(94, 70%, 61%, 1);
$lighter-green: hsla(117, 79%, 63%, 1);
$turquoise-green: hsla(137, 88%, 65%, 1);
$seafoam-blue: hsla(167, 52%, 68%, 1);
$robins-egg-blue: hsla(188, 61%, 70%, 1);
$light-blue: hsla(205, 70%, 72%, 1);
$periwinkle-blue: hsla(234, 79%, 75%, 1);
$pastel-purple: hsla(261, 88%, 77%, 1);
$light-lavender: hsla(277, 52%, 80%, 1);
$light-lavendar: hsla(305, 61%, 82%, 1);

/* SCSS RGB */
$mud-brown: rgba(78, 62, 24, 1);
$army-green: rgba(80, 92, 22, 1);
$forest: rgba(57, 107, 19, 1);
$tree-green: rgba(33, 124, 15, 1);
$kelley-green: rgba(9, 142, 58, 1);
$blue-green: rgba(39, 124, 99, 1);
$ocean: rgba(34, 126, 141, 1);
$cobalt: rgba(28, 82, 159, 1);
$cobalt-blue: rgba(21, 21, 178, 1);
$violet-blue: rgba(59, 13, 199, 1);
$purple: rgba(131, 54, 170, 1);
$purpley-pink: rgba(190, 46, 171, 1);
$deep-pink: rgba(211, 37, 109, 1);
$pinkish-red: rgba(229, 31, 65, 1);
$reddish-orange: rgba(241, 80, 32, 1);
$desert: rgba(201, 175, 84, 1);
$sick-green: rgba(186, 213, 83, 1);
$light-grass-green: rgba(145, 225, 84, 1);
$lighter-green: rgba(93, 235, 86, 1);
$turquoise-green: rgba(89, 244, 133, 1);
$seafoam-blue: rgba(130, 215, 197, 1);
$robins-egg-blue: rgba(132, 212, 225, 1);
$light-blue: rgba(136, 193, 234, 1);
$periwinkle-blue: rgba(140, 150, 242, 1);
$pastel-purple: rgba(182, 146, 248, 1);
$light-lavender: rgba(210, 176, 230, 1);
$light-lavendar: rgba(237, 181, 232, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-right: linear-gradient(90deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-bottom: linear-gradient(180deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-left: linear-gradient(270deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-top-right: linear-gradient(45deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-bottom-right: linear-gradient(135deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-top-left: linear-gradient(225deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-bottom-left: linear-gradient(315deg, #4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);
$gradient-radial: radial-gradient(#4e3e18ff, #505c16ff, #396b13ff, #217c0fff, #098e3aff, #277c63ff, #227e8dff, #1c529fff, #1515b2ff, #3b0dc7ff, #8336aaff, #be2eabff, #d3256dff, #e51f41ff, #f15020ff, #c9af54ff, #bad553ff, #91e154ff, #5deb56ff, #59f485ff, #82d7c5ff, #84d4e1ff, #88c1eaff, #8c96f2ff, #b692f8ff, #d2b0e6ff, #edb5e8ff);

/* SCSS Map */
$lagoon-mosaic-27-07-map: (
    "mud-brown": #4e3e18ff,
    "army-green": #505c16ff,
    "forest": #396b13ff,
    "tree-green": #217c0fff,
    "kelley-green": #098e3aff,
    "blue-green": #277c63ff,
    "ocean": #227e8dff,
    "cobalt": #1c529fff,
    "cobalt-blue": #1515b2ff,
    "violet-blue": #3b0dc7ff,
    "purple": #8336aaff,
    "purpley-pink": #be2eabff,
    "deep-pink": #d3256dff,
    "pinkish-red": #e51f41ff,
    "reddish-orange": #f15020ff,
    "desert": #c9af54ff,
    "sick-green": #bad553ff,
    "light-grass-green": #91e154ff,
    "lighter-green": #5deb56ff,
    "turquoise-green": #59f485ff,
    "seafoam-blue": #82d7c5ff,
    "robins-egg-blue": #84d4e1ff,
    "light-blue": #88c1eaff,
    "periwinkle-blue": #8c96f2ff,
    "pastel-purple": #b692f8ff,
    "light-lavender": #d2b0e6ff,
    "light-lavendar": #edb5e8ff
);
